@import "../../../../styles/variables";
@import "../../../../styles/mixins";
@import "../../../../styles/variables";

#detailsHeader {
    .social-link {
        display: inline-block;
        margin-right: 20px;
    }

    .public-text,
    .not-public-text {
        margin-left: 6px;
    }

    .user-header {
        margin-top: -20px;

        .user-img {
            display: block;
        }

        .username {
            color: $gray-3;
            font-weight: 300;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        :host {
            display: block;
        }

        .not-current-user {
            .public-text,
            .not-public-text {
                display: none;
            }
        }
    }
}

#profileCover {
    ::ng-deep .cover {
        height: 150px;

        img {
            border-radius: 4px;
        }
    }
}

@media (max-width: 576px) {
    #detailsHeader {
        .user-header {
            margin-top: -16px;
        }
    }
}
