@import "../../../../styles/variables";
@import "../../../../styles/mixins";

#detailsHeader {
    .user-header {
        .user-img {
            margin-top: -32px;
            display: block;
        }

        .username {
            color: $gray-3;
            font-weight: 300;
        }

        .social-link {
            display: inline-block;
            margin-right: 1em;
        }

        :host {
            display: block;
        }

        .user-bio {
            margin-top: 1em;
        }

        .not-current-user {
            .public-text,
            .not-public-text {
                display: none;
            }
        }
    }
}

#profileCover {
    ::ng-deep .cover {
        height: 150px;

        img {
            border-radius: 4px;
        }
    }
}
