/node_modules
.DS_Store
dist
pkg
pkg*
src/generated
test/integration/registry-client.ts
!*.datapm.json
*.datapm.json
*.datapm.state.json
!*.LICENSE.md
*.LICENSE.md
!*.README.md
*.README.md
datapm-state.json
*state.json
countries*
*.csv
test/credentials
temp
signing-certificiate.*
temp
*.msix
*.p12
*.pfx
windows-installers
*.crt
*.cert
*.pkg
*.deb

installers/macos/macOS-x64/application
installers/debian/build
installers/redhat/build
installers/windows/dist
