@import "../../../styles/variables";
@import "../../../styles/colors";

#inviteInput {
    ::ng-deep .mat-form-field-infix {
        border-top: none;
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: $text-font;
        line-height: 18px;
        padding: 0.5em 0;
    }

    input {
        height: 30px;

        &::placeholder {
            font-size: $small-font;
            font-family: $family-roboto;
            letter-spacing: 0.5px;
            font-weight: $weight-300;
            color: var(--gray-4-color);
        }
    }


    .mat-icon {
        height: 20px;
        font-size: $title-font;
        width: 22px;
        color: var(--info-color);
    }

}
