<div class="content">
    <div class="title-bar">
        <div class="mat-dialog-title">{{ title }}</div>
        <button mat-button mat-dialog-close class="dialog-close">close</button>
    </div>


    <div class="content-scroll">
        <span *ngIf="state === State.STARTING"> <mat-spinner [diameter]="15" class="spinner"></mat-spinner>Connecting...</span>
        <span [innerHTML]="printLog | sanitizeWithStyle"></span>
        <div class="task-content">
            <mat-spinner [diameter]="15" class="spinner" *ngIf="state === State.CONNECTED"></mat-spinner>
            <span [innerHTML]="taskContent2 | sanitizeWithStyle"></span>
        </div>
    </div>
    <div class="prompt" *ngIf="state === State.AWAITING_INPUT">

        <div>{{currentParameter.message }} </div>

        <span *ngIf="currentParameter.type == ParameterType.Text">
            <input type="text" #textControl (keyup.enter)="onInput(input.value)" />
            <button mat-button (click)="onInput(input.value)">Send</button>
        </span>

        <span *ngIf="currentParameter.type == ParameterType.Select">

            <form [formGroup]="selectForm">
                <mat-form-field>
                    <mat-select formControlName="selectControl" (selectionChange)="onInput(selectForm.value.selectControl)">
                        <mat-option *ngFor="let option of currentParameter.options" [value]="option.value">{{option.title}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="ml-2 modal-submit-btn" (click)="selectValidateAndNext()">Submit</button>

            </form>
        </span>

    </div>
    


</div>
