<form [formGroup]="form" (submit)="submit($event)">
    <div class="dpm-text-title" mat-dialog-title>Add User</div>
    <div mat-dialog-content class="py-4">
        <div class="d-flex input-row">
            <div class="input-control">
                <app-input
                    placeholder="username or email address"
                    [group]="form"
                    [control]="usernameControl"
                    controlName="username"
                    inputStyle="flat"
                    [matAutocomplete]="auto"
                    [error]="form | inputError: 'username' | async"
                ></app-input>
                <mat-autocomplete
                    #auto="matAutocomplete"
                    class="search-autocomplete"
                    (optionSelected)="autoCompleteOptionSelected($event)"
                >
                    <mat-option *ngIf="!autoCompleteResult && usernameControl.value.length > 1">Loading...</mat-option>
                    <ng-container *ngIf="autoCompleteResult">
                        <mat-option *ngFor="let option of autoCompleteResult.users" [value]="option.username">
                            <div class="autocomplete-title">{{ option.username }}</div>
                            <div *ngIf="option.emailAddress != null" class="autocomplete-description">
                                {{ option.emailAddress }}
                            </div>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </div>
        </div>
        <div class="text-danger mt-3" *ngIf="state === 'ERROR'">
            <ng-container [ngSwitch]="error">
                <ng-container *ngSwitchCase="'CANNOT_SET_PACKAGE_CREATOR_PERMISSIONS'">
                    You can not change the permissions of the package owner.
                </ng-container>
                <ng-container *ngSwitchCase="'USER_NOT_FOUND'">
                    There is no user with that username on this registry.
                </ng-container>
                <ng-container *ngSwitchDefault>
                    Error occured while adding a user permission to the collection
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-end">
        <button type="submit" class="ml-auto app-raised-button" [disabled]="form.invalid">
            <span>Add</span>
        </button>
    </div>
</form>
