<form [formGroup]="form" (submit)="submit($event)" id="addUser">
    <div mat-dialog-title id="contentTitle">Share {{ userPackage.displayName }}</div>
    <div mat-dialog-content id="contentBorder">
        <div class="bd-highlight py-4 shadow-div">
            <div class="bd-highlight w-100">
                <mat-form-field class="w-100">
                    <mat-label>Usernames or Email Addresses</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip
                            *ngFor="let userChip of usersChips"
                            [selectable]="false"
                            [removable]="true"
                            (removed)="removeFromSelection(userChip)"
                        >
                            <ng-container [ngSwitch]="userChip.state">
                                <ng-container *ngSwitchCase="ChipState.SUCCESS"
                                    ><mat-icon>check_circle</mat-icon></ng-container
                                >
                                <ng-container *ngSwitchCase="ChipState.WARNING"
                                    ><mat-icon>warning_amber</mat-icon></ng-container
                                >
                                <ng-container *ngSwitchCase="ChipState.ERROR"> <mat-icon>error</mat-icon></ng-container>
                            </ng-container>
                            {{ userChip.usernameOrEmailAddress }}
                            <mat-icon matChipRemove>remove</mat-icon>
                        </mat-chip>

                        <input
                            matInput
                            #usernameInput
                            class="flat-input-parent"
                            controlName="username"
                            inputStyle="flat"
                            [disabled]="validatingUsername"
                            [formControl]="usernameControl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="CHIP_SEPARATOR_KEY_CODES"
                            (matChipInputTokenEnd)="add($event)"
                        />

                        <mat-autocomplete
                            #auto="matAutocomplete"
                            class="search-autocomplete"
                            (optionSelected)="selected($event)"
                        >
                            <ng-container *ngIf="!skipAutoCompleteSearch && !validatingUsername">
                                <mat-option *ngIf="!autoCompleteResult && usernameControl.value?.length > 1"
                                    >Loading...</mat-option
                                >
                                <ng-container *ngIf="autoCompleteResult">
                                    <mat-option
                                        *ngFor="let option of autoCompleteResult.users"
                                        [value]="option.username"
                                    >
                                        <div class="autocomplete-title">{{ option.username }}</div>
                                        <div *ngIf="option.emailAddress != null" class="autocomplete-description">
                                            {{ option.emailAddress }}
                                        </div>
                                    </mat-option>
                                </ng-container>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-chip-list>
                </mat-form-field>

                <div class="text-danger mt-3" *ngIf="state === 'ERROR'">
                    <ng-container [ngSwitch]="error">
                        <ng-container *ngSwitchCase="'CANNOT_SET_PACKAGE_CREATOR_PERMISSIONS'">
                            You can not change the permissions of the package owner.
                        </ng-container>
                        <ng-container *ngSwitchCase="'USER_NOT_FOUND'">
                            There is no user with that username on this registry.
                        </ng-container>
                        <ng-container *ngSwitchCase="'INVALID_EMAIL_ADDRESS'">
                            Invalid email address used as an input.
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            Error occured while adding a user permission to the collection
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div>
                <mat-form-field class="w-100">
                    <mat-label>Message</mat-label>
                    <textarea [formControl]="messageControl" matInput></textarea>
                </mat-form-field>
            </div>
            <div>
                <select (change)="updateSelectedPermission($event.target.value)">
                    <option value="VIEW">View</option>
                    <option value="EDIT">Edit</option>
                    <option value="MANAGE">Manage</option>
                </select>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="text-right pb-3">
        <button mat-button type="submit" class="ml-auto save-btn" [disabled]="form.invalid || validatingUsername">
            <span>add</span>
        </button>
    </div>
</form>
