<div [ngSwitch]="state">
    <ng-container *ngSwitchCase="'ERROR'">
        There was a problem loading this page. Please try again, checkback later, or contact support.
    </ng-container>
    <ng-container *ngSwitchCase="'NO_SAMPLES'">
        This package contains no samples. Use the client to fetch data for samples.
    </ng-container>
    <ng-container *ngSwitchCase="'LOADED'">
        <div class="samples" *ngIf="schema">
            <div>
                <div class="d-flex">
                    <div class="text-dark-gray">
                        {{ schema.sampleRecords?.length }} {{ schema.unit || "" }} sample records
                    </div>

                    <div class="ml-auto text-dark-gray">
                        <a (click)="showSchemaFullScreen(schema)">view full screen</a>
                    </div>
                </div>
            </div>

            <app-schema-samples [schema]="schema"></app-schema-samples>
        </div>
    </ng-container>
</div>
