@import "../../../../styles/variables";
@import "../../../../styles/colors";

.samples {
    width: 100%;
    height: 331px;
    display: block;
    border-radius: 4px;
}

.subtitle {
    margin-bottom: 10px;
}

a {
    color: var(--info-color) !important;
    cursor: pointer;
}
