@import "../../../../styles/variables";

.dialog-wrapper {
    width: 100%;
    height: 100%;
}

.dialog-close-wrapper {
    left: 0px !important;
}

@media (max-width: 576px) {
    .dialog-close-wrapper {
        font-size: $small-font;
    }
    .dialog-close {
        bottom: 10px;
    }
}
