.dialog-wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.dialog-close-wrapper {
    display: flex;
    position: relative;
    top: -8px;
    /* margin-bottom: 10px; */
    justify-content: flex-end;

    .dialog-close {
        padding: 4px 8px;
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        line-height: 18px;
        letter-spacing: -0.28px;
        color: #828282;
        outline: transparent solid 0px;
    }
}
