<cdk-virtual-scroll-viewport tvsItemSize="48" headerHeight="50" style="height: 400px" class="table-wrapper w-100">
    <table
        mat-table
        [dataSource]="dataSource"
        id="sampleTable"
        aria-labelledby="samples"
        style="table-layout: fixed; margin-bottom: 20px"
    >
        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
        <ng-container [matColumnDef]="column" *ngFor="let column of columns; let i = index">
            <th mat-header-cell scope="col" *matHeaderCellDef style="min-width: 130px">
                {{ column }}
                {{ columnsUnits[i] }}
            </th>
            <td [ngClass]="{ oddRow: element._oddEven == 'odd' }" mat-cell *matCellDef="let element">
                {{ element[column] }}
            </td>
        </ng-container>
    </table>
</cdk-virtual-scroll-viewport>
