@import "../../../../styles/variables";
@import "../../../../styles/colors";

.table-wrapper {
    height: 99%;
    box-shadow: none;
    border: 1px solid $gray-9-color;
}

#sampleTable {
    width: 100%;

    tbody {
        overflow-y: scroll;
    }
}

.mat-table {
    overflow: scroll;
    border-left: 1px solid $gray-9-color;
}

.mat-header-cell {
    padding: 8px 8px 8px 8px;
    border-right: 1px solid $gray-4-color;
    border-top: -1px solid $gray-9-color;
    max-height: 40px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: $gray-5-color;
}

.mat-cell {
    padding: 8px 8px 8px 8px;
    border-right: 1px solid $gray-9-color;
    max-height: 40px;
    height: 40px;
    font-family: $family-roboto;
    font-weight: $weight-400;
    font-size: $small-font;
    letter-spacing: 0.4px;
    color: $gray-2-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.oddRow {
    background-color: $white-color;
}

tr.mat-header-row {
    height: 40px !important;
    background-color: $gray-5-color;
}

::ng-deep .my-second-custom-dialog {
    .mat-dialog-container {
        padding: 40px 25px 30px 25px !important;
        .mat-table thead {
            opacity: 1;
            color: $white-color;
            background-color: $gray-5-color;
        }
    }
}

@media (max-width: 576px) {
    ::ng-deep .my-second-custom-dialog {
        .mat-dialog-container {
            padding: 40px 25px 3px 25px !important;
        }
    }
}
