<cdk-virtual-scroll-viewport tvsItemSize="75" class="table-wrapper mat-elevation-z2">
    <table mat-table [dataSource]="dataSource" id="sampleTable">
        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
        <tr stye="background-color: red" mat-row *matRowDef="let row; columns: columns"></tr>
        <ng-container [matColumnDef]="column" *ngFor="let column of columns; let i = index">
            <th mat-header-cell *matHeaderCellDef>
                {{ column }}
                <br />
                {{ columnsUnits[i] }}
            </th>
            <td [ngClass]="{ oddRow: element._oddEven == 'odd' }" mat-cell *matCellDef="let element">
                {{ element[column] }}
            </td>
        </ng-container>
    </table>
</cdk-virtual-scroll-viewport>
