table {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 4px;
}

.mat-table {
    overflow: scroll;
    border-left: 1px solid #ddd;
}

.mat-header-cell {
    padding: 8px 8px 8px 8px;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.mat-cell {
    padding: 8px 8px 8px 8px;
    border-right: 1px solid #ddd;
}

.mat-row:nth-child(even) {
    background-color: white;
}

.mat-row:nth-child(odd) {
    background-color: #eee;
}
