@import "../../../../styles/variables";
@import "../../../../styles/colors";

.dialog-wrapper {
    width: 100%;
    height: 100%;
}

.dialog-close-wrapper {
    bottom: 26px;
    left: 0px !important;
}

#samples {
    ::ng-deep {
        table {
            table-layout: unset !important;
            width: 100%;
            th {
                min-width: 250px !important;
            }
        }
        .table-wrapper {
            height: 100% !important;
        }
    }
}

@media (max-width: 992px) {
    #samples {
        ::ng-deep {
            table {
                th {
                    min-width: 130px !important;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .dialog-close-wrapper {
        span {
            font-size: $small-font;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .dialog-close {
        font-size: 12px;
        bottom: 5px !important;
        position: relative;
    }
}
