@import "../../../../styles/variables";
@import "../../../../styles/colors";

.table-wrapper {
    height: 100%;
    box-shadow: none;
    border: 1px solid var(--gray-9-color);
}

#sampleTable {
    border-collapse: unset;
    tbody {
        overflow-y: scroll;
    }
}

.mat-table {
    overflow: scroll;
    // border-left: 1px solid var(--gray-9-color);
}

.mat-header-cell {
    padding: 6px 6px;
    color: var(--gray-2-color);
    background-color: var(--custom-th-color);
    border-right: 1px solid var(--gray-4-color);
    border-top: -1px solid var(--gray-9-color);
    border-bottom: 1px solid var(--gray-9-color);

    &:last-child {
        border-right: none;
    }
}

.mat-cell {
    border-right: 1px solid var(--gray-9-color);
    border-bottom: 1px solid var(--gray-9-color);
    padding: 0px 6px;
    font-family: $family-roboto;
    font-weight: $weight-400;
    font-size: $small-font;
    letter-spacing: 0.4px;
    color: var(--gray-2-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;

    &:last-child {
        border-right: none;
    }
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
    padding-left: 6px;
}

.oddRow {
    background-color: var(--custom-secondary-color);
}

tr.mat-header-row {
    height: unset !important;
    background-color: var(--custom-th-color);
}

::ng-deep .my-second-custom-dialog {
    .mat-dialog-container {
        padding: 40px 25px 30px 25px !important;
        .mat-table thead {
            opacity: 1;
            color: var(--secondary-color);
            background-color: var(--gray-5-color);
        }
    }
}

@media (max-width: 576px) {
    ::ng-deep .my-second-custom-dialog {
        .mat-dialog-container {
            padding: 40px 25px 3px 25px !important;
        }
    }
}
