@import "../../../styles/variables";

#editCollection {
    min-width: 700px;
    position: relative;
    top: -24px;

    .app-raised-button {
        width: 100px;
    }

    .mat-dialog-actions {
        display: flex;
        justify-content: flex-end;
    }

    .mat-dialog-content {
        max-height: calc(100vh - 130px);
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;

        app-cover {
            display: block;
            height: 150px;

            ::ng-deep > div {
                height: 100%;
            }
        }

        .form-field {
            box-shadow: $outer-shadow-1;

            .label {
                font-family: $family-roboto-mono;
                font-style: $style-normal;
                font-weight: $weight-400;
                font-size: $text-font;
                line-height: 18px;
                letter-spacing: -0.28px;
                color: $gray-2;
                width: 275px;
            }

            app-input {
                input {
                    height: 35px;
                    border: none !important;
                    font-family: $family-roboto-mono;
                    font-style: $style-normal;
                    font-weight: $weight-400;
                    font-size: $text-font;
                    line-height: 18px;
                    display: flex;
                    align-items: flex-end;
                    letter-spacing: -0.28px;
                    color: $color-info;
                    box-shadow: none;
                    padding-left: 0.5rem;
                }

                .text-danger {
                    font-size: $xsmall-font;
                    line-height: 12px;
                }
            }
        }
    }
}
