@import "../../../styles/variables";
@import "../../../styles/colors";

#editCollection {
    min-width: 500px;
    position: relative;

    .mat-dialog-content {
        border-top: none !important;

        app-cover {
            display: block;
            height: 150px;

            ::ng-deep > div {
                height: 100%;

                img {
                    min-width: 100%;
                    width: unset;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #editCollection {
        min-width: 400px;
        .mat-dialog-content {
            app-cover {
                ::ng-deep > div {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #editCollection {
        min-width: 260px;
        button.save-btn {
            top: 0px !important;
        }
    }
}
