.footer-bg {
    background: #f2f2f247;
    padding: 15px 15px 25px 15px;
    width: 100%;
}

.footer-title {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
    color: #4f4f4f;
    margin-bottom: 8px;
}

.footer-subtitle {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.28px;
    a {
        color: #4f4f4f;
    }
}

.main-col-footer {
    padding: 0px 30px;
}

@media (max-width: 992px) {
    .main-col-footer {
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .main-col-footer {
        margin-bottom: 15px;
        padding: 10px 5px 0px 3px;
        .flex-row {
            flex-direction: column !important;
        }
    }
    .footer-bg {
        padding: 0px;
    }
}
