@import "../../../styles/variables";
@import "../../../styles/colors";

.footer-bg {
    padding: 20px 15px 20px 15px;
    width: 100%;
    border-top: 1px solid var(--gray-4-color);
    background: var(--footer-bg);

    &:first-child {
        border-top: 1px solid var(--tranparent-border);
    }

    .darkmode-div {
        cursor: pointer;
        text-align: right;
        align-self: flex-end;
    }

    .display-mobile {
        display: none;
    }
}

@media (max-width: 992px) {
    .main-col-footer {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-bg {
        .darkmode-div {
            text-align: left;
            align-self: flex-start;
            .display-desktop {
                display: none;
            }
            .display-mobile {
                display: inline !important;
            }
        }
    }
}
