<div class="footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 main-col-footer no-pd-mobile">
                <div class="footer-title px-2">help</div>
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight pr-5 mr-2">
                        <div class="d-flex flex-column bd-highlight">
                            <div class="px-2 py-1 bd-highlight footer-subtitle">documentation</div>
                            <div class="px-2 py-1 bd-highlight footer-subtitle">community</div>
                            <div class="px-2 py-1 bd-highlight footer-subtitle">case studies</div>
                          </div>
                    </div>
                    <div class="bd-highlight">
                        <div class="d-flex flex-column bd-highlight">
                            <div class="px-2 py-1 bd-highlight footer-subtitle">advisories</div>
                            <div class="px-2 py-1 bd-highlight footer-subtitle">status</div>
                            <div class="px-2 py-1 bd-highlight footer-subtitle">contact</div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 main-col-footer no-pd-mobile">
                <div class="footer-title px-2">about</div>
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight pr-5 mr-2">
                        <div class="d-flex flex-column bd-highlight">
                            <div class="px-2 py-1 bd-highlight footer-subtitle">company</div>
                            <div class="px-2 py-1 bd-highlight footer-subtitle">blog</div>
                            <div class="px-2 py-1 bd-highlight footer-subtitle">careers</div>
                          </div>
                    </div>
                    <div class="bd-highlight">
                        <div class="d-flex flex-column bd-highlight">
                            <div class="px-2 py-1 bd-highlight footer-subtitle">webinars</div>
                            <div class="px-2 py-1 bd-highlight footer-subtitle">press</div>
                            <div class="px-2 py-1 bd-highlight footer-subtitle">newsletter</div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 main-col-footer no-pd-mobile">
                <div class="footer-title px-2">terms and policies</div>
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight pr-5 mr-2">
                        <div class="d-flex flex-column bd-highlight">
                            <div class="px-2 py-1 bd-highlight footer-subtitle">policies</div>
                            <div class="px-2 py-1 bd-highlight footer-subtitle">terms of use</div>
                          </div>
                    </div>
                    <div class="bd-highlight">
                        <div class="d-flex flex-column bd-highlight">
                            <div class="px-2 py-1 bd-highlight footer-subtitle">code of conduct</div>
                            <div class="px-2 py-1 bd-highlight footer-subtitle">privacy</div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
