<div class="footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 main-col-footer">
                <div class="footer-title px-2">about</div>
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight pr-5 mr-2">
                        <div class="d-flex flex-column bd-highlight">
                            <div class="px-2 py-1 bd-highlight footer-subtitle">
                                <a href="/docs">documentation</a>
                            </div>
                            <div class="px-2 py-1 bd-highlight footer-subtitle">
                                <a href="/contact">contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 main-col-footer">
                <div class="footer-title px-2">terms and policies</div>
                <div class="d-flex flex-row bd-highlight">
                    <div class="bd-highlight pr-5 mr-2">
                        <div class="d-flex flex-column bd-highlight">
                            <div class="px-2 py-1 bd-highlight footer-subtitle">
                                <a href="/terms">terms of use</a>
                            </div>
                            <div class="px-2 py-1 bd-highlight footer-subtitle">
                                <a href="/privacy">privacy policy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 col-xs-6 main-col-footer darkmode-div">
                <a aria-label="Angular on twitter" title="Dark theme" (click)="toggleTheme()">
                    <span class="footer-subtitle px-2">Try the night mode! </span>
                    <svg
                        enable-background="new 0 0 507.992 507.992"
                        height="24"
                        id="dark-mode"
                        viewBox="0 0 507.992 507.992"
                        width="24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <g>
                            <circle cx="253.992" cy="254" fill="#000" r="244" />
                            <path
                                d="m324.992 403c-121.503 0-220-98.497-220-220 0-62.682 26.215-119.24 68.279-159.312-95.085 33.325-163.279 123.847-163.279 230.312 0 134.758 109.243 244 244 244 106.465 0 196.987-68.194 230.312-163.279-40.072 42.064-96.63 68.279-159.312 68.279z"
                                fill="#fff"
                            />
                            <path
                                d="m88.42 419.368c3.903 3.903 3.904 10.232 0 14.135-3.903 3.903-10.232 3.903-14.135 0s-3.903-10.232 0-14.135c3.903-3.904 10.231-3.904 14.135 0zm345.177 14.237c-87.984 87.984-224.451 97.914-323.394 29.814-10.805-7.438.529-23.902 11.334-16.463l.001-.017c91.151 62.728 216.865 53.577 297.917-27.476 14.545-14.545 26.765-30.532 36.679-47.496-13.797 9.649-60.732 41.033-131.123 41.033h-.02c-123.032 0-230-98.968-230-230 0-70.258 32.14-118.29 40.74-130.73.096-.139.196-.274.293-.412-16.964 9.915-32.951 22.134-47.496 36.679-80.982 80.983-90.185 206.55-27.634 297.682l-.013.01c7.551 10.995-8.923 22.31-16.474 11.314-67.915-98.923-57.932-235.237 29.98-323.149 99.193-99.193 260.017-99.193 359.21 0 99.193 99.194 99.193 260.018 0 359.211zm41.969-104.255c27.716-81.705 9.023-175.679-56.111-240.813-65.145-65.144-159.14-83.833-240.854-56.098-41.013 39.897-63.61 93.367-63.61 150.561 0 117.226 96 210 210 210 57.296 0 110.68-22.597 150.575-63.65z"
                            />
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
