@import "../../../styles/variables";
@import "../../../styles/colors";

.footer-bg {
    padding: 20px 15px 20px 15px;
    width: 100%;
}

.darkmode-div {
    cursor: pointer;
    text-align: right;
}

@media (max-width: 992px) {
    .darkmode-div {
        text-align: right;
    }
    .main-col-footer {
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .darkmode-div {
        text-align: left;
        align-self: flex-start;
    }
}
