<div class="container mt-5" id="platformSettings">
    <div class="px-4">
        <h1>Builder IO</h1>
        <div>
            <h3 class="text-dark-gray ml-1">API Key</h3>
            <app-input [control]="builderIOApiKeyControl" placeholder="Input 1" class="platform-input"></app-input>
        </div>
        <div class="mt-3">
            <h3>Templates</h3>
            <div *ngFor="let template of templates">
                <label class="text-dark-gray ml-1">{{ template.key }}</label>
                <app-input [control]="template.entryFormControl" placeholder="Entry" class="platform-input"></app-input>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-2">
            <button (click)="saveBuilderIOSettings()" class="app-outlined-button" style="width: 120px; height: 30px">
                Save
            </button>
        </div>
    </div>
</div>
