

<div *ngIf="state != State.SUCCESS">
    <form [formGroup]="signUpForm" (ngSubmit)="formSubmit()">
        <input type="text" placeholder="Email Address" name="emailAddress" formControlName="emailAddress" autocomplete="email" email minlength="5">
        <input type="text" placeholder="Username" name="username" formControlName="username" autocomplete="username">
        <input type="password" placeholder="Password" name="password" formControlName="password" autocomplete="new-password" minlength="8">
        <input type="submit" value="Sign Up" [disabled]="!signUpForm.valid">
    </form>
    
    <div class="alert-warn" *ngIf="signUpForm.get('username').errors?.INVALID_CHARACTERS">
        Username must contain only numbers, letters, and hyphens, and may not start or end with a hyphen.
    </div>
    <div class="alert-warn" *ngIf="signUpForm.get('username').errors?.TOO_LONG">
        Username must be less than 40 characters long.
    </div>
    <div class="alert-warn" *ngIf="signUpForm.get('username').errors?.NOT_AVAILABLE">
        That username is not available. Try a different username.
    </div>
    <div class="alert-warn" *ngIf="signUpForm.get('emailAddress').errors?.INVALID_FORMAT">
        Username must contain only numbers, letters, and hyphens, and may not start or end with a hyphen.
    </div>
    <div class="alert-warn" *ngIf="signUpForm.get('emailAddress').errors?.TOO_LONG">
        Email address must be less than 100 characters long.
    </div>
    <div class="alert-warn" *ngIf="signUpForm.get('emailAddress').errors?.NOT_AVAILABLE">
        That email address already has an account. Please use the forgot password feature on the login page.
    </div>
    
    <div class="alert-warn" *ngIf="state == State.REJECTED">
        The server rejected the request.
    </div>
    <div class="alert-error" *ngIf="state == State.ERROR">
        There was a problem communicating or with the server. Please try again, or contact support.
    </div>
    <div class="alert-error" *ngIf="state == State.ERROR_AFTER_SIGNUP">
        Your account has been created, but there was a problem logging immediately after.
    </div>
</div>

<div class="alert-info" *ngIf="state == State.SUCCESS">
    Sign up complete! Please check your email for next steps.
</div>

