<div class="container">
    <div class="row">
        <div class="col-md-12 p-0" id="deleteCatalog">
            <div mat-dialog-title id="contentTitle">Delete Catalog</div>
            <div mat-dialog-content id="contentBorder">
                <div>
                    <p>All packages in this catalog will be lost. This action is permanent and can not be undone.</p>
                </div>

                <div>
                    Type <span class="slug">{{ data.catalogSlug }}</span> here
                </div>

                <div class="oneline-input py-3">
                    <input matInput [(ngModel)]="confirmVal" autocomplete="off" />
                </div>
            </div>

            <div mat-dialog-actions class="d-flex justify-content-between mb-12">
                <button mat-button mat-dialog-close class="btn-close">Cancel</button>
                <button mat-button class="btn-delete" (click)="confirm()" [disabled]="confirmVal !== data.catalogSlug">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
