<div mat-dialog-title>
    <h1>Delete Catalog</h1>
    <p>All packages in this catalog will be lost. This action is permanent and can not be undone.</p>
</div>

<div mat-dialog-content>
    <div>
        Type <span class="slug">{{ data.catalogSlug }}</span> here
    </div>
    <mat-form-field>
        <input matInput [(ngModel)]="confirmVal" autocomplete="off" />
    </mat-form-field>
</div>

<div mat-dialog-actions class="d-flex justify-content-between">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button color="accent" (click)="confirm()" [disabled]="confirmVal !== data.catalogSlug">
        Delete Catalog Now
    </button>
</div>
