@import "../../../../styles/variables";
@import "../../../../styles/colors";

.dialog-wrapper-account {
    .dialog-subtile {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: $small-font + 1;
        line-height: 18px;
        margin-bottom: 0px;
        letter-spacing: 0.4px;
        color: var(--gray-3-color);
    }

    .div-with-errors {
        max-width: 360px;
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        padding-left: 10px;
        font-size: $small-font;
        letter-spacing: 0.4px;
        color: var(--gray-1-color);
        line-height: 20px;

        .alert-danger {
            color: var(--danger-color);
        }
    }

    .app-raised-button {
        min-width: 200px;
    }
}

@media (max-width: 576px) {
    .dialog-wrapper-account {
        .dialog-subtile {
            margin-bottom: 0px;
            padding-top: 18px;
        }
    }
}
