@import '../../../../styles/variables';

.dialog-forgot-pass {
    padding: 20px 30px;

    .dialog-subtile {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: $small-font + 1;
        line-height: 18px;
        padding-left: 10px;
        padding-bottom: 5px;
        letter-spacing: -0.28px;
        color: $gray-3;
    }

    app-input {
        display: block;
        min-width: 348px;
        max-width: 380px;
    }

    .app-raised-button {
        min-width: 200px;
    }
}

@media (max-width: 576px) {
    .dialog-forgot-pass {
        padding: 0px;
        .dialog-subtile {
            margin-bottom: 0px;
            padding-top: 18px;
        }
        app-input {
            min-width: 208px;
         }
    }
}
