.dialog-wrapper-signup {
    padding: 20px 30px;

    .dialog-close-wrapper {
        display: flex;
        position: relative;
        bottom: 30px;
        left: 40px;
        margin-bottom: -26px;
        justify-content: flex-end;

        .dialog-close {
            padding: 4px 8px;
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            line-height: 18px;
            letter-spacing: -0.28px;
            color: #828282;
            outline: transparent solid 0px;
        }
    }

    .dialog-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 55px;
        text-align: center;
        margin: 10px 0 30px;
        color: #333333;
        text-shadow: 0px -4px 4px rgba(255, 255, 255, 0.25), -4px 0px 4px rgba(255, 255, 255, 0.25),
            4px 0px 4px rgba(183, 183, 183, 0.25), 0px 4px 4px rgba(183, 183, 183, 0.25);
    }

    .dialog-subtile {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 18px;
        padding-left: 10px;
        padding-bottom: 5px;
        letter-spacing: -0.28px;
        color: #828282;
    }

    app-input {
        display: block;
        min-width: 348px;
        max-width: 380px;
    }
}

@media (max-width: 576px) {
    ::ng-deep.mat-dialog-container {
        max-height: calc(100vh - 43px);
        #signUp {
            padding: 0px;
            .dialog-close-wrapper {
                bottom: 19px;
                left: 22px;
                .dialog-close {
                    font-size: 12px;
                }
            }
            .dialog-title {
                font-size: 34px;
                line-height: 40px;
                margin: 0px 0 15px;
            }
            .dialog-subtile {
                margin-bottom: 0px;
                padding-top: 18px;
            }

            app-input {
                min-width: 208px;
            }
        }
    }
}
