.dialog-wrapper-signup {
    padding: 20px 30px;

    .dialog-close-wrapper {
        display: flex;
        position: relative;
        bottom: 30px;
        left: 40px;
        margin-bottom: -26px;
        justify-content: flex-end;

        .dialog-close {
            padding: 4px 8px;
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            line-height: 18px;
            letter-spacing: -0.28px;
            color: #828282;
            outline: transparent solid 0px;
        }
    }

    .dialog-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 55px;
        text-align: center;
        margin: 10px 0 30px;
        color: #333333;
        text-shadow: 0px -4px 4px rgba(255, 255, 255, 0.25), -4px 0px 4px rgba(255, 255, 255, 0.25),
            4px 0px 4px rgba(183, 183, 183, 0.25), 0px 4px 4px rgba(183, 183, 183, 0.25);
    }

    .dialog-subtile {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 18px;
        padding-left: 10px;
        padding-bottom: 5px;
        letter-spacing: -0.28px;
        color: #828282;
    }

    .rounded-input {
        min-width: 348px;
        max-width: 380px;
        border: none;
        cursor: pointer;
        border-radius: 24px;
        padding: 15px 15px;
        font-family: Roboto Mono;
        font-size: 13px;
        background-color: #fff;
        outline: solid transparent 0px;
        -webkit-appearance: none;
        box-shadow: inset -4px 0px 4px rgba(255, 255, 255, 0.25), inset 0px -4px 4px rgba(255, 255, 255, 0.25),
            inset 0px 4px 4px rgba(189, 189, 189, 0.25), inset 4px 0px 4px rgba(189, 189, 189, 0.25);

        &::placeholder {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            color: #bdbdbd;
            margin-top: -0.6em !important;
        }
    }

    .disabled {
        background-color: #cccccc85 !important;
        pointer-events: none;
        opacity: 0.6;
        .btn-text {
            color: #82828273;
        }
    }

    .div-with-errors {
        max-width: 346px;
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 400;
        padding-left: 10px;
        font-size: 10px;
        margin-top: 5px;
        color: #f44336;
        line-height: 12px;

        .alert-info {
            font-size: 14px;
            padding-left: 0px;
            line-height: 21px;
        }

        .close-btn {
            background-color: #fff;
            outline: #fff solid 0px;
            box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.5), 0px -4px 4px rgba(255, 255, 255, 0.25),
                0px 4px 4px rgba(183, 183, 183, 0.25), 4px 0px 4px rgba(183, 183, 183, 0.25);
            border-radius: 24px;
            min-width: 200px;
            height: 36px;
            margin-top: 15px;
            border: none;

            .close-text {
                font-family: Roboto Mono;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                align-items: center;
                text-align: center;
                color: #828282;
            }
        }
    }

    .hint-txt {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 18px;
        padding-left: 13px;
        padding-top: 4px;
        margin-bottom: 0px;
        letter-spacing: -0.3px;
        color: #3a80cabf;
    }

    .button-dialog-div {
        display: block;
        margin-bottom: 10px;
        margin-top: 15px;

        button {
            background-color: #fff;
            outline: #fff solid 0px;
            box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.5), 0px -4px 4px rgba(255, 255, 255, 0.25),
                0px 4px 4px rgba(183, 183, 183, 0.25), 4px 0px 4px rgba(183, 183, 183, 0.25);
            border-radius: 24px;
            min-width: 200px;
            height: 36px;
            margin-top: 15px;
            border: none;

            .btn-text {
                font-family: Roboto Mono;
                font-style: normal;
                font-weight: 300;
                font-size: 17px;
                align-items: center;
                text-align: center;
                color: #828282;
            }
        }
    }
}

.first-dialog-div {
    padding-bottom: 30px;
}

.forgot-password {
    margin: 0 4px;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 576px) {
    ::ng-deep.mat-dialog-container {
        max-height: calc(100vh - 43px);
        #signUp {
            padding: 0px;
            .dialog-close-wrapper {
                bottom: 19px;
                left: 22px;
                .dialog-close {
                    font-size: 12px;
                }
            }
            .dialog-title {
                font-size: 34px;
                line-height: 40px;
                margin: 0px 0 15px;
            }
            .dialog-subtile {
                margin-bottom: 0px;
                padding-top: 18px;
            }
            .rounded-input {
                min-width: 225px;
                max-width: 280px;
                padding: 9px 12px;
                font-family: Roboto Mono;
                font-size: 12px;

                &::placeholder {
                    font-size: 11px;
                }
            }
            .hint-txt {
                font-size: 8px;
                padding-left: 5px;
                padding-top: 0px;
                margin-bottom: 0px;
            }
            .first-dialog-div {
                padding-bottom: 0px;
            }
            .button-dialog-div {
                button {
                    .btn-text {
                        font-weight: 300;
                        font-size: 14px;
                    }
                }
            }
            .div-with-errors {
                padding-left: 4px;
                font-size: 8px;
                margin-top: 5px;
                line-height: 10px;
            }
        }
    }
}
