<div class="dialog-wrapper-signup" id="signUp">
    <div class="dialog-close-wrapper">
        <button mat-button mat-dialog-close class="dialog-close">close</button>
    </div>
    <h1 class="dialog-title">datapm</h1>

    <div *ngIf="state != State.SUCCESS">
        <form [formGroup]="form" (ngSubmit)="formSubmit()">
            <div class="first-dialog-div">
                <p class="dialog-subtile">forgot password</p>

                <input
                    type="text"
                    placeholder="email"
                    name="emailAddress"
                    formControlName="emailAddress"
                    autocomplete="email"
                    email
                    minlength="5"
                    class="rounded-input"
                />
                <div class="div-with-errors">
                    <div class="alert-warn" *ngIf="form.get('emailAddress').errors?.REQUIRED">Email is required.</div>
                    <div class="alert-warn" *ngIf="form.get('emailAddress').errors?.email">Invalid format.</div>
                    <div class="alert-warn" *ngIf="form.get('emailAddress').errors?.NOT_AVAILABLE">
                        <span>That email address does not exist. Please use correct email.</span>
                    </div>
                </div>
            </div>

            <div class="button-dialog-div text-center">
                <button type="submit" [class.disabled]="!form.valid">
                    <span class="btn-text">send email</span>
                </button>
            </div>
        </form>
    </div>

    <div class="div-with-errors" *ngIf="state == State.SUCCESS">
        <div class="alert-info" style="margin: 35px 0px">
            Email sent successfully! <br />
            Please check your email for next steps.
        </div>
        <div class="text-center">
            <button mat-dialog-close class="close-btn">
                <span class="close-text">Back to browse</span>
            </button>
        </div>
    </div>
</div>
