<div class="container">
    <div class="title">Reset password</div>
    <ng-container [ngSwitch]="state">
        <ng-container *ngSwitchDefault>
            <div class="label">Enter new password</div>
            <app-input
                inputType="password"
                [control]="password"
                placeholder="New Password *"
                [error]="
                    password
                        | inputError
                            : ''
                            : {
                                  required: 'Password is required',
                                  minLength: 'Password must contain more than 8 characters'
                              }
                        | async
                "
            ></app-input>
            <app-button class="submit-btn" [disabled]="password.invalid" type="raised" (buttonClick)="submit()">
                <span *ngIf="state !== 'LOADING'">Reset Password</span>
                <mat-spinner [diameter]="20" *ngIf="state === 'LOADING'"></mat-spinner>
            </app-button>
        </ng-container>
        <ng-container *ngSwitchCase="'ERROR'">
            <div class="label text-danger">{{ error }}</div>
        </ng-container>
        <ng-container *ngSwitchCase="'SUCCESS'">
            <div class="label text-success">Password was reset successfully. Please login!</div>
        </ng-container>
    </ng-container>
</div>
