@import "../../../styles/variables";
@import "../../../styles/colors";

#resetPassword {
    max-width: 400px;
    margin: 50px auto;

    .app-raised-button {
        width: 100%;
    }

    .label {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: $text-font;
        text-align: left;
        line-height: 18px;
        letter-spacing: 0.6px;
        color: var(--gray-3-color);
        margin-bottom: 12px;
    }

    .title {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: ($dialog-font - 6);
        line-height: 55px;
        text-align: left;
        margin: 10px 0 30px;
        color: var(--gray-1-color);
        letter-spacing: 0.6px;
        text-shadow: var(--outer-shadow-1);
    }
}
