@import "../../../styles/variables";

#createCatalog {
    position: relative;
    min-width: 500px;

    .catalog-avatar {
        display: block;
        margin-left: 30px;
        margin-bottom: 20px;
        width: 100px;
        height: 55px;
        transform: translateY(-45px);
    }
}

@media (max-width: 768px) {
    #createCatalog {
        min-width: 400px;
    }
}

@media (max-width: 576px) {
    #createCatalog {
        min-width: 260px;
    }
}
