@import "../../../styles/variables";

#createCatalog {
    position: relative;
    min-width: 500px;

    .mat-dialog-actions {
        padding: 0px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    #createCatalog {
        min-width: 400px;
    }
}

@media (max-width: 576px) {
    #createCatalog {
        min-width: 260px;
    }
}
