<!--
<h1 class="title" routerLink="/">datapm</h1>
<strong>Less Wrangling, More Data</strong>
<br/>

<span *ngIf="!currentUser">
    <a *ngIf="!currentUser && router.url != '/login'" routerLink="/login">Log In</a>
&nbsp;&nbsp;<a *ngIf="!currentUser && router.url != '/signup'" routerLink="/signup">Sign Up</a>
</span>

<span *ngIf="currentUser">Welcome <a routerLink="/me">{{getWelcomeString(this.currentUser)}}</a></span>

<form [formGroup]="searchFormGroup" (ngSubmit)="search()">
    <input type="text" placeholder="Search" name="search" formControlName="search" minlength="1" autocomplete="off">
</form> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
