.container-fluid {
    overflow-x: hidden;
}

@media (min-width: 576px) {
    .container,
    .container-sm {
        max-width: 570px !important;
    }
}

@media (max-width: 576px) {
    .content {
        padding-bottom: 50px !important;
    }
}

.content {
    min-height: 500px;
}
