<!--
<h1 class="title" routerLink="/">datapm</h1>
<h3 class="slogan">Less Wrangling, More Data</h3>
<a routerLink="/" *ngIf="router.url != '/'">Search</a>
&nbsp;&nbsp;<a *ngIf="!currentUser && router.url != '/login'" routerLink="/login">Log In</a>
&nbsp;&nbsp;<a *ngIf="!currentUser && router.url != '/signup'" routerLink="/signup">Sign Up</a>
&nbsp;&nbsp;<span *ngIf="currentUser">Welcome <a routerLink="/me">{{getWelcomeString(this.currentUser)}}</a></span>
<hr/>
<br/> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>