# TODO Needs Linting
frontend
docs

# Has its own linting
client

# Never Lint
node_modules
dist
lib/node_modules
lib/dist

client-lib/node_modules
client-lib/dist
client-lib/src/generated
client-lib/test/integration/registry-client.ts

backend/dist
backend/src/generated
backend/tmp-*
backend/node_modules
backend/test/integration/registry-client.ts
backend/gulpfile.js