node_modules
dist

backend/node_modules
backend/dist
backend/src/generated
backend/test/integration/registry-client.ts

frontend/node_modules
frontend/dist
frontend/src/generated

lib/node_modules
lib/dist

docs/website/node_modules
docs/website/build