# TODO Needs Linting
backend
frontend
docs

# Has its own linting
client

# Never Lint
node_modules
dist
lib/node_modules
lib/dist

client-lib/node_modules
client-lib/dist
client-lib/src/generated
client-lib/test/integration/registry-client.ts
