dist
node_modules/
**/src/generated/
.serverless/
.terraform/
terraform.tfstate*
terraform.tfstate
terraform.tfvars*

client-installers/

.DS_Store

backend/test/integration/registry-client.ts
.idea
gc.json

backend/tmp-registry-server-storage
backend/tmp-registry-server-storage-*