dist
dist-client
build
node_modules/
**/src/generated/
.serverless/
.terraform/
terraform.tfstate*
terraform.tfstate
terraform.tfvars*

client-installers/

# Build files from pkg 

.DS_Store

backend/test/integration/registry-client.ts
.idea
gc.json

backend/tmp-registry-server-storage
backend/tmp-registry-server-storage-*

*.p12
*.avro

lib/src/DataPMVersion.ts