test/registry-client.ts
.terraform
dist

backend/dist
backend/node_modules
backend/src/generated/graphql.ts
backend/test/integration/registry-client.ts

frontend/node_modules
frontend/dist
frontend/src/generated/graphql.ts

docs/website/build
docs/website/node_modules

client/dist
client/pkg
client/node_modules
client/*.datapm.json
client/*.LICENSE.md
client/*.README.md
client/src/generated/graphql.ts
client/test/integration/registry-client.ts
client/test/integration/test-standard-out-sink.ts