@import '../../../../styles/variables';

.mat-table {
    width: 100%;
}

.mat-header-row {
    background-color: transparent;
}

select {
    background-color: transparent;
    border: none;
    outline: none;
}
