@import "../../../styles/variables";
@import "../../../styles/colors";

.mat-dialog-content {
    max-width: 500px;
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $text-font;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: var(--gray-2-color);
}
