@import "../../../styles/variables";

.mat-dialog-content {
    max-width: 500px;
    font-family: $family-roboto-mono;
    font-style: $style-normal;
    font-weight: $weight-500;
    font-size: $text-font;
    line-height: 26px;
    letter-spacing: -0.28px;
    color: $gray-1;
}
