@import "../../../../styles/variables";
@import "../../../../styles/colors";

.title {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-size: ($title-font + 4);
    font-weight: $weight-400;
    margin-bottom: 15px;
    color: var(--gray-1-color);
    letter-spacing: 0.6px;
}

.ul-data {
    list-style: none;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding-left: 0px !important;
    li {
        padding: 8px 12px;
        border-bottom: 1px solid #e6e6e6;
        &:last-child {
            border-bottom: none !important;
        }
    }
    .ul-links {
        color: $color-info;
        cursor: pointer;
        font-size: $text-font;
    }
}

markdown ::ng-deep {
    p {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: ($text-font - 1);
        letter-spacing: 0.4px;
        color: var(--gray-2-color);
    }

    h1 {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-size: ($title-font + 2);
        font-weight: $weight-400;
        margin-bottom: 0px !important;
        color: var(--gray-1-color);
        letter-spacing: 0.6px;
    }
}

.limitTextHeight {
    height: 120px;
    overflow: hidden;
}

.fade-out {
    background: linear-gradient(to bottom, rgb(100 100 100 / 0%) 0%, #f5f5f5c9 75%);
    height: 48px;
    margin-top: -48px;
    position: relative;
}
