<div class="package-dark-gray pb-4">
    <div class="package-details-title">{{ packageFile?.displayName }}</div>
    <h3 class="mb-0">Description</h3>
    <div
        [class.limitTextHeight]="shouldShowMoreDescriptionButton && !isShowingMoreDescriptionText"
        class="package-dark-gray"
    >
        {{ package?.description }}
    </div>
    <div class="fade-out" [class.d-none]="!shouldShowMoreDescriptionButton || isShowingMoreDescriptionText"></div>
    <p class="text-center mt-3" *ngIf="shouldShowMoreDescriptionButton">
        <a class="app-outlined-button" (click)="toggleShowMoreDescriptionText()">
            {{ isShowingMoreDescriptionText ? "Show Less" : "Show More" }}
        </a>
    </p>
</div>

<div *ngIf="packageFile?.readmeMarkdown" class="pb-4">
    <h3 class="mb-0">Read me</h3>
    <div [class.limitTextHeight]="shouldShowMoreReadMeButton && !isShowingMoreReadMeText">
        <markdown [data]="packageFile?.readmeMarkdown"></markdown>
    </div>
    <div class="fade-out" [class.d-none]="!shouldShowMoreReadMeButton || isShowingMoreReadMeText"></div>
    <p class="text-center mt-3" *ngIf="shouldShowMoreReadMeButton">
        <a class="app-outlined-button" (click)="toggleShowMoreReadMeText()">
            {{ isShowingMoreReadMeText ? "Show Less" : "Show More" }}
        </a>
    </p>
</div>

<div *ngIf="packageFile?.licenseMarkdown" class="pb-4">
    <h3 class="mb-0">License</h3>
    <div [class.limitTextHeight]="shouldShowMoreLicenseButton && !isShowingMoreLicenseText">
        <markdown [data]="packageFile?.licenseMarkdown"></markdown>
    </div>
    <div class="fade-out" [class.d-none]="!shouldShowMoreLicenseButton || isShowingMoreLicenseText"></div>
    <p class="text-center mt-3" *ngIf="shouldShowMoreLicenseButton">
        <a class="app-outlined-button" (click)="toggleShowMoreLicenseText()">
            {{ isShowingMoreLicenseText ? "Show Less" : "Show More" }}
        </a>
    </p>
</div>

<div *ngIf="schemas.length > 1">
    <mat-select (selectionChange)="selectSchema($event.value)" [value]="selectedSchema">
        <mat-option *ngFor="let schema of schemas" [value]="schema">
            {{ schema.title }}
        </mat-option>
    </mat-select>
</div>

<ng-container *ngIf="packageFile">
    <div class="package-details-title mt-4 mb-1">Samples</div>
    <samples [package]="package" [schema]="selectedSchema"></samples>
</ng-container>

<ng-container *ngIf="packageFile">
    <div class="package-details-title mt-4 mb-1">Schema</div>
    <schema [schema]="selectedSchema"></schema>
</ng-container>

<ng-container *ngIf="collections.length">
    <div class="package-details-title mt-5">Related data</div>
    <ul class="ul-data">
        <li *ngFor="let collection of collections">
            <a class="package-dark-gray ul-links">{{ collection.name }}</a>
            <p class="package-light-gray">{{ collection.description }}</p>
        </li>
    </ul>
</ng-container>
