@import "../../../../styles/variables";
@import "../../../../styles/colors";

.title {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-size: ($title-font + 4);
    font-weight: $weight-400;
    margin-bottom: 15px;
    color: $gray-1-color;
    letter-spacing: 0.6px;
}

markdown ::ng-deep {
    p {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: ($text-font - 1);
        letter-spacing: 0.4px;
        color: $gray-2-color;
    }

    h1 {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-size: ($title-font + 2);
        font-weight: $weight-400;
        margin-bottom: 0px !important;
        color: $gray-1-color;
        letter-spacing: 0.6px;
    }
}
