@import "../../../../styles/variables";
@import "../../../../styles/colors";

.title {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-size: ($title-font + 4);
    font-weight: $weight-400;
    margin-bottom: 15px;
    color: var(--gray-1-color);
    letter-spacing: 0.6px;
}

.ul-data {
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 13px 13px;
    background-color: var(--gray-10-color);

    li {
        display: inline-block;
        cursor: pointer;
        margin-right: 10px;
        border: 1px solid var(--tranparent-border);
        background-color: var(--gray-7-color);
        padding: 10px;
        border-radius: 6px;
        font-family: $family-roboto;
        font-weight: 400;
        letter-spacing: 0.6px;
        font-size: $small-font;
        color: var(--gray-1-color);

        .p-width {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 100px;
        }
    }
    .ul-links {
        color: var(--info-color);
        cursor: pointer;
        font-size: $text-font;
    }
}

.related-data-div {
    border-top: 1px solid var(--gray-9-color);
}

markdown ::ng-deep {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: ($text-font - 1);
    letter-spacing: 0.4px;
    color: var(--gray-2-color);
    margin-bottom: 0px !important;
    h1 {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-size: ($title-font + 2);
        font-weight: $weight-400;
        margin-bottom: 0px !important;
        color: var(--gray-1-color);
        letter-spacing: 0.6px;
    }
}

h1 {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-size: ($title-font + 2);
    font-weight: $weight-400;
    margin-bottom: 0px !important;
    color: var(--gray-1-color);
    letter-spacing: 0.6px;
}

.limitTextHeight {
    height: 128px;
    overflow: hidden;
}

.fade-out {
    background: var(--fade-out-shadow);
    height: 48px;
    margin-top: -48px;
    position: relative;
    pointer-events: none;
}

.loading {
    margin: 25px auto 100px;
}
