<div class="package-dark-gray">
    <div class="title">{{ packageFile?.displayName }}</div>

    <div [class.limitTextHeight]="!isShowingMoreDescriptionText">
        <h3>Description</h3>
        {{ package?.description }}
    </div>
    <div class="fade-out" [class.d-none]="shouldShowMoreDescriptionButton && isShowingMoreDescriptionText"></div>
    <p class="text-center mt-2" *ngIf="shouldShowMoreDescriptionButton">
        <a class="app-outlined-button" (click)="toggleShowMoreDescriptionText()">
            {{ isShowingMoreDescriptionText ? "Show Less" : "Show More" }}
        </a>
    </p>
</div>

<div *ngIf="packageFile?.readmeMarkdown">
    <div [class.limitTextHeight]="!isShowingMoreReadMeText">
        <markdown [data]="packageFile?.readmeMarkdown"></markdown>
    </div>
    <div class="fade-out" [class.d-none]="!shouldShowMoreReadMeButton || isShowingMoreReadMeText"></div>
    <p class="text-center mt-2" *ngIf="shouldShowMoreReadMeButton">
        <a class="app-outlined-button" (click)="toggleShowMoreReadMeText()">
            {{ isShowingMoreReadMeText ? "Show Less" : "Show More" }}
        </a>
    </p>
</div>

<div *ngIf="packageFile?.licenseMarkdown">
    <div [class.limitTextHeight]="!isShowingMoreLicenseText">
        <markdown [data]="packageFile?.licenseMarkdown"></markdown>
    </div>
    <div class="fade-out" [class.d-none]="!shouldShowMoreLicenseButton || isShowingMoreLicenseText"></div>
    <p class="text-center mt-2" *ngIf="shouldShowMoreLicenseButton">
        <a class="app-outlined-button" (click)="toggleShowMoreLicenseText()">
            {{ isShowingMoreLicenseText ? "Show Less" : "Show More" }}
        </a>
    </p>
</div>

<!-- <div *ngIf="package.description" class="mt-5">
    <div [class.limitTextHeight]="!isShowingMoreReadMeText">
        <h3>License</h3>
        {{ package?.description }}
    </div>
    <div class="fade-out" [class.d-none]="shouldShowMoreReadMeButton && isShowingMoreReadMeText"></div>
    <p class="text-center mt-2" *ngIf="shouldShowMoreReadMeButton">
        <a class="app-outlined-button" (click)="toggleShowMoreReadMeText()">
            {{ isShowingMoreReadMeText ? "Show Less" : "Show More" }}
        </a>
    </p>
</div>

<div *ngIf="package.description" class="mt-5">
    <div [class.limitTextHeight]="!isShowingMoreLicenseText">
        <h3>Read Me</h3>
        {{ package?.description }}
    </div>
    <div class="fade-out" [class.d-none]="shouldShowMoreLicenseButton && isShowingMoreLicenseText"></div>
    <p class="text-center mt-2" *ngIf="shouldShowMoreLicenseButton">
        <a class="app-outlined-button" (click)="toggleShowMoreLicenseText()">
            {{ isShowingMoreLicenseText ? "Show Less" : "Show More" }}
        </a>
    </p>
</div> -->

<div>
    <mat-select (selectionChange)="selectSchema($event.value)" [value]="selectedSchema">
        <mat-option *ngFor="let schema of schemas" [value]="schema">
            {{ schema.title }}
        </mat-option>
    </mat-select>
</div>

<ng-container *ngIf="packageFile" class="mt-5">
    <h3>Samples</h3>
    <samples [package]="package" [schema]="selectedSchema"></samples>
</ng-container>

<div class="pt-5"></div>
<div class="mt-5"></div>

<ng-container *ngIf="packageFile" class="mt-5">
    <h3>Schema</h3>
    <schema [schema]="selectedSchema"></schema>
</ng-container>

<ng-container *ngIf="collections.length">
    <h3>Related data</h3>
    <ul>
        <li *ngFor="let collection of collections">
            <p>{{ collection.name }}</p>
            <p>{{ collection.description }}</p>
        </li>
    </ul>
</ng-container>
