<ng-container *ngIf="state === State.LOADED">
    <div *ngIf="packageFile?.readmeMarkdown" class="pb-4">
        <div class="text-dark-gray" *ngIf="canEdit()">
            <a class="color-info cursor-pointer" (click)="editReadme()">edit readme</a>
        </div>
        <div [class.limitTextHeight]="shouldShowMoreReadMeButton && !isShowingMoreReadMeText">
            <markdown [data]="packageFile?.readmeMarkdown"></markdown>
        </div>
        <div class="fade-out" [class.d-none]="!shouldShowMoreReadMeButton || isShowingMoreReadMeText"></div>
        <p class="text-center mt-3" *ngIf="shouldShowMoreReadMeButton">
            <a class="app-outlined-button" (click)="toggleShowMoreReadMeText()">
                {{ isShowingMoreReadMeText ? "Show Less" : "Show More" }}
            </a>
        </p>
    </div>

    <div *ngIf="packageFile?.licenseMarkdown" class="pb-4">
        <div class="text-dark-gray" *ngIf="canEdit()">
            <a class="color-info cursor-pointer" (click)="editLicense()">edit license</a>
        </div>
        <div [class.limitTextHeight]="shouldShowMoreLicenseButton && !isShowingMoreLicenseText">
            <markdown [data]="packageFile?.licenseMarkdown"></markdown>
        </div>
        <div class="fade-out" [class.d-none]="!shouldShowMoreLicenseButton || isShowingMoreLicenseText"></div>
        <p class="text-center mt-3" *ngIf="shouldShowMoreLicenseButton">
            <a class="app-outlined-button" (click)="toggleShowMoreLicenseText()">
                {{ isShowingMoreLicenseText ? "Show Less" : "Show More" }}
            </a>
        </p>
    </div>
    <h1>Preview</h1>

    <div *ngIf="schemas?.length > 1" class="mb-2">
        <mat-select (selectionChange)="selectSchema($event.value)" [value]="selectedSchema">
            <mat-option *ngFor="let schema of schemas" [value]="schema">
                {{ schema.title }}
            </mat-option>
        </mat-select>
    </div>

    <ng-container *ngIf="packageFile">
        <div class="mb-150">
            <samples [package]="package" [schema]="selectedSchema"></samples>
        </div>
    </ng-container>

    <ng-container *ngIf="packageFile">
        <div class="mt-4 py-2">
            <div class="text-main-title mb-1">Schema</div>
            <div *ngIf="schemas?.length > 1" class="mb-2">
                <mat-select (selectionChange)="selectSchema($event.value)" [value]="selectedSchema">
                    <mat-option *ngFor="let schema of schemas" [value]="schema">
                        {{ schema.title }}
                    </mat-option>
                </mat-select>
            </div>
            <schema [package]="package" [schema]="selectedSchema" [packageFile]="packageFile"></schema>
        </div>
    </ng-container>


    <ng-container *ngIf="collections?.length">
        <div class="related-data-div mt-5">
            <div class="text-main-title mt-4 pt-2 mb-2">Related Collections</div>
            <div class="text-dark-gray">Other collections related to this package</div>
            <app-collections-horizontal-list [collections]="collections"></app-collections-horizontal-list>

            <div *ngIf="relatedPackages.length">
                <div class="text-main-title text-left no-pd-mobile">Related Packages</div>
                <div class="text-dark-gray">Other data packages related to this package</div>
                <div *ngFor="let package of relatedPackages">
                    <app-package-item [item]="package"></app-package-item>
                </div>

                <div *ngIf="hasMorePackages" class="container text-center">
                    <button
                        class="app-outlined-button ctaButton"
                        [class.disabled]="loadingPackages"
                        (click)="requestMorePackages()"
                    >
                        Show More
                    </button>
                </div>
            </div>
        </div>
    </ng-container>

</ng-container>

<ng-container  *ngIf="state === State.LOADING">
    <div >
        <mat-spinner class="loading" [diameter]="60"></mat-spinner>
    </div>
    
</ng-container>

<ng-container *ngIf="state === State.ERROR_LOADING_PACKAGE">
    <p class="text-dark-gray">There was an error finding the package file.</p>
    <p class="text-dark-gray">
        Please <a href="/contact">contact support</a
        ><span *ngIf="hasEditPackagePermissions"> or publish a new package file</span>.
    </p>
</ng-container>
