/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./variables.scss";
@import "./typography";

html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: $gray-12;
}

a {
    color: $color-info;
}

body {
    margin: 0;
    font-family: $family-roboto !important;
}

.color-info {
    color: $color-info;

    &:hover {
        text-decoration: none;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.mat-spinner circle {
    stroke: $gray-3 !important;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-table,
.cdk-overlay-pane,
.mat-expansion-panel,
.mat-stepper-horizontal,
.mat-card {
    background-color: inherit;
}

table.gray-table {
    width: 100%;
    border: 1px solid #d9d9d9;

    .mat-column-name {
        width: 35%;
    }

    tr.mat-row,
    tr.mat-footer-row {
        height: 42px;
        cursor: pointer;
    }

    .mat-header-row {
        height: 40px !important;
        background-color: #ededed;
    }

    th {
        font-family: $family-roboto;
        font-size: $text-font;
        font-weight: $weight-500;
        letter-spacing: 0.4px;
        color: $gray-1;
    }

    td {
        font-family: $family-roboto;
        letter-spacing: 0.4px;
        color: $gray-2;
        font-size: $text-font;
        font-weight: $weight-400;
    }
}

.gray-paginator {
    height: 58px !important;
    background-color: #ededed;
    border: 1px solid #d9d9d9;
    border-top: 0px;
    font-weight: $weight-400;
    color: $gray-1;

    .mat-paginator-icon {
        width: 22px;
    }

    .mat-icon-button {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}

.cdk-global-scrollblock {
    position: static !important;
    width: initial !important;
    overflow-y: inherit !important;
}

.mat-dialog-container {
    background-color: $gray-11;
}

.loading-pane {
    min-height: 250px;
    padding-top: 50px;
}

.mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mat-menu-content {
    button.mat-menu-item {
        border-bottom: 1px solid rgb(0 0 0 / 5%) !important;
        @include text("body");
        color: $gray-2;
        &:last-child {
            border-bottom: none !important;
        }
    }
}

.notification-error {
    background-color: $color-danger;
    color: $white;
}

.notification-success {
    background-color: $color-success;
    color: $white;
}

.submit-btn {
    background-color: inherit;
    transition: background-color ease 0.5s;

    &:hover {
        background-color: $gray-6;
        transition: background-color ease 0.5s;
    }

    &:focus {
        background-color: $gray-5;
    }

    .disabled {
        background-color: $gray-4;
        pointer-events: none;
        opacity: 0.6;
        .btn-text {
            color: $gray-3;
        }
    }
}

.text-overflow-elipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {
    html {
        touch-action: none;
        body {
            touch-action: none;
        }
    }
}

.app-slide-toggle.mat-checked {
    .mat-slide-toggle-bar,
    .mat-ripple-element {
        background-color: $color-1;
    }
    .mat-slide-toggle-thumb {
        background-color: $white;
    }
}

.rounded-input {
    .dpm-input-square {
        border-radius: 6px;
        padding: 10px 15px;
        width: 100%;
        height: 44px;
        box-shadow: none;
        font-size: $text-font;
        border: 1px solid $gray-5;
        outline: none;
        letter-spacing: 1px;
        font-family: $family-roboto;
        background-color: #fbfbfb;
        transition: background-color ease 0.5s;

        &:hover {
            background-color: $white;
            transition: background-color ease 0.5s;
        }

        &::placeholder {
            font-family: $family-roboto;
            font-style: $style-normal;
            font-weight: $weight-300;
            font-size: ($small-font + 1);
            line-height: 18px;
            display: flex;
            align-items: flex-end;
            letter-spacing: 0.4px;
            color: $gray-4;
        }
    }
}

.rounded-input.search-input {
    .dpm-input-square {
        &::placeholder {
            font-size: ($small-font + 2);
        }
    }
}

mat-select {
    background-color: $gray-7;
    padding: 10px 16px;
    letter-spacing: 0.7px;
    font-family: $family-roboto;

    &::placeholder {
        font-family: $family-roboto;
        letter-spacing: 0.7px;
        font-weight: $weight-300 !important;
        font-size: $text-font;
    }
}

.dpm-input-flat {
    border-radius: 4px;
    padding: 10px 16px;
    width: 100%;
    height: 44px;
    border: none;
    outline: none;
    letter-spacing: 0.7px;
    background-color: $gray-7;
    font-family: $family-roboto;
    transition: background-color ease 0.5s;

    &:hover {
        background-color: $white;
        transition: background-color ease 0.5s;
    }

    &::placeholder {
        font-family: $family-roboto;
        letter-spacing: 0.7px;
        font-weight: $weight-300;
        font-size: $text-font;
    }
}

.app-raised-button {
    outline: none !important;
    border-radius: 6px;
    border: none;
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $default-font;
    align-items: center;
    text-align: center;
    padding: 8px 15px;
    color: #fff;
    background-color: $color-info;
    transition: background-color ease 0.5s;

    &:hover {
        background-color: #017fb9c7;
        transition: background-color ease 0.5s;
    }

    &:active {
        box-shadow: none !important;
    }

    &:disabled {
        background-color: $gray-5;
        pointer-events: none;
        opacity: 0.6;
    }
}

.raised {
    box-shadow: $outer-shadow-1 !important;
}

.app-fab-button.app-fab-button {
    width: 40px;
    height: 40px;
    background: $white;
    box-shadow: $outer-shadow-1 !important;

    &:focus {
        outline: none !important;
    }

    .mat-button-wrapper {
        padding: 0 !important;

        .mat-icon {
            color: $gray-3;
            font-size: ($title-font + 6);
            width: unset;
            height: 32px;

            &:focus {
                outline: transparent solid 0px !important;
            }
        }
    }
}

.info-txt {
    color: $color-info;
}

.app-outlined-button {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: ($text-font - 1);
    background: $white-1;
    line-height: 13px;
    color: $color-info;
    border: 1px solid $gray-9;
    padding: 6px 15px;
    border-radius: 4px;
    cursor: pointer;

    &.block {
        display: block;
        text-align: center;
    }

    &:hover {
        color: $color-info;
        text-decoration: none;
        background-color: $white;
    }

    .delete-txt {
        color: $color-danger-dark;
    }
}

.create-div {
    color: $color-1;
    padding: 8px 15px;

    &:hover {
        color: $color-1;
        text-decoration: none;
        background-color: $white;
    }
}

.dpm-page-loading {
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dpm-no-data {
    @include text("body");
    color: $gray-2;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        text-align: center;
    }

    a {
        font-size: ($text-font - 1);
    }
}

.search-autocomplete {
    border-radius: 4px;
    margin-top: 2px;
}

.public-text {
    @include text("small");
    color: $color-1;
    line-height: 8px;
    margin-left: 0px;
}

.not-public-text {
    @include text("small");
    line-height: 8px;
    color: $gray-3;
    margin-left: 0px;
}

.autocomplete-contents {
    padding-left: 15px;
}

.autocomplete-title {
    line-height: 24px;
    font-family: $family-roboto;
    letter-spacing: 0.7px;
    font-size: $text-font;
}

.autocomplete-description {
    line-height: 12px;
    font-size: $small-font;
    color: $gray-3;
    font-weight: $weight-300;
}

.mat-option {
    border-bottom: 1px solid $gray-6;
}

.header-border {
    border-bottom: none;
    position: relative;
    top: 0.5rem;
    height: 14px;
    border: 0;
    margin: 6px 0px;
    box-shadow: 0px 0 0px rgb(255 255 255), 0 0px 0px rgb(255 255 255 / 25%), 0 4px 4px rgb(191 187 187 / 25%),
        4px 0 4px rgb(247 247 247 / 25%);
}

.d-none {
    display: none !important;
}

div {
    .dialog-close-wrapper {
        display: flex;
        position: relative;
        bottom: 30px;
        left: 40px;
        margin-bottom: -26px;
        justify-content: flex-end;

        .dialog-close {
            padding: 4px 8px;
            font-family: $family-roboto-mono;
            font-style: $style-normal;
            font-weight: $weight-300;
            font-size: $text-font;
            text-align: center;
            line-height: 18px;
            letter-spacing: -0.28px;
            color: $gray-3;
            outline: transparent solid 0px;
        }
    }

    .dialog-title {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: $dialog-font;
        line-height: 55px;
        text-align: center;
        margin: 20px 0 10px;
        color: $gray-1;
        text-shadow: $text-shadow;
    }
}

textarea.flat-input,
.flat-input-parent textarea {
    height: 75px !important;
    padding: 8px 15px !important;
}

.flat-input,
.flat-input-parent input,
.flat-input-parent textarea {
    height: 35px;
    width: 100%;
    border-radius: 6px;
    padding: 0px 15px;
    border: none !important;
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $text-font;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.7px;
    color: $gray-1;

    &:focus {
        outline: transparent solid 0px;
        box-shadow: none;
    }

    &::placeholder {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: ($text-font - 1);
        line-height: 18px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.7px;
        color: $gray-4;
    }
}

button.save-btn {
    color: $gray-3;
    position: relative;
    top: 4px;
    text-align: center;
    width: 80px;
    height: 32px;
    padding: 2px 15px;
    font-weight: $weight-400;
    border-radius: 6px;
    letter-spacing: 0.4px;
    background-color: transparent;
    box-shadow: $outer-shadow-1;
    border-color: transparent;
    font-family: $family-roboto;
    font-style: $style-normal;
    font-size: $text-font;
    line-height: unset;

    .mat-spinner {
        margin: 0 auto;
    }
}

button:focus {
    outline: transparent solid 0px;
    box-shadow: none;
}

.disabled,
button:disabled {
    background-color: $gray-color-8;
    pointer-events: none;
    opacity: 0.6;

    .btn-text {
        color: $gray-color-3;
    }
}

.mat-button.mat-primary[disabled],
.mat-button.mat-accent[disabled],
.mat-button.mat-warn[disabled],
.mat-button[disabled][disabled],
.mat-icon-button.mat-primary[disabled],
.mat-icon-button.mat-accent[disabled],
.mat-icon-button.mat-warn[disabled],
.mat-icon-button[disabled][disabled],
.mat-stroked-button.mat-primary[disabled],
.mat-stroked-button.mat-accent[disabled],
.mat-stroked-button.mat-warn[disabled],
.mat-stroked-button[disabled][disabled] {
    background-color: $gray-color-8;
    pointer-events: none;
    opacity: 0.6;

    span {
        color: $gray-color-3;
    }
}

#contentTitle {
    font-family: $family-roboto;
    font-style: $style-normal;
    letter-spacing: 0.7px;
    line-height: 21px;
    font-weight: $weight-400;
    font-size: $title-font;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#contentBorder {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-height: calc(100vh - 130px);
    padding: 10px 0px 5px 0px;
    border-top: 1px solid #ddddddad;
    border-bottom: 1px solid #dddddd7a;
}

.div-question {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $text-font;
    line-height: 18px;
    letter-spacing: 0.7px;
    color: $gray-2;
    width: 230px;
}

.div-answer {
    width: 100%;
}

.l-15 {
    left: 15px;
}

.flex-1 {
    flex: 1;
}

.mb-12 {
    margin-bottom: -12px !important;
}

.long-txt {
    width: 300px;
}

.text-danger {
    margin-top: 3px !important;
    font-size: 12px;
    line-height: 15px;
    color: $color-danger !important;
}

#addUser {
    position: relative;
    min-width: 500px;
}

.mat-dialog-without-padding {
    .mat-dialog-container {
        padding: 0;
    }
}

.dialog-wrapper-account {
    padding: 20px 30px;
    app-input {
        display: block;
        min-width: 348px;
        margin-top: 20px;
    }
}

.disabled-tooltip {
    min-width: 270px;
    font-size: 10px;
}

.search-user {
    width: 200px;
    margin-bottom: 10px;

    .mat-form-field-infix {
        font-family: $family-roboto;
        font-weight: $weight-400;
        font-style: $style-normal;
        font-size: ($default-font - 1);
    }

    .mat-form-field-label {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: $text-font;
        letter-spacing: 0.4px;
        color: rgb(0 0 0 / 35%);
    }

    .mat-form-field-ripple {
        background-color: $color-info !important;
    }
}

.mat-focused .mat-form-field-label {
    color: $color-info !important;
}

.slug {
    color: $color-danger;
}

.border-none {
    border: none;
}

.font-22 {
    font-size: 22px !important;
}

#deleteCollection,
#deleteCatalog,
#deletePackage,
#deleteUser {
    .btn-delete {
        color: $color-danger;
        position: relative;
        top: 4px;
        text-align: center;
        width: 80px;
        height: 32px;
        padding: 0px 15px;
        font-weight: $weight-400;
        border-radius: 6px;
        box-shadow: $outer-shadow-1;
        border-color: transparent;
        font-family: $family-roboto;
        font-style: $style-normal;
        font-size: $text-font;
        line-height: 30px;

        .mat-spinner {
            margin: 0 auto;
        }
    }
}

.copy-wrapper {
    &:hover {
        border-radius: 6px;
        opacity: 0.9;
    }

    .copy-input {
        border: 1px solid rgb(0 0 0 / 10%);
        padding: 6px 10px;
        background: $white;
        width: 100%;
        height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        font-family: $family-roboto;

        .copy-txt {
            font-weight: $weight-400 !important;
            font-size: ($text-font - 1) !important;
            color: $gray-1 !important;
            letter-spacing: 0.1px !important;
        }
    }

    .copy-btn {
        background: #7d7d7de8;
        border: none;
        height: 36px;
        padding: 6px 15px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;

        a {
            font-size: $text-font !important;
            color: $white !important;
        }
    }
}

.permission-div {
    mat-select {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: $text-font;
        letter-spacing: unset;
        color: $gray-2;
        padding: 10px;
    }

    .mat-form-field-underline {
        display: none;
        &::before {
            height: 0px;
        }
    }

    .mat-select-arrow-wrapper {
        position: relative;
        top: 7px;
    }

    .mat-form-field-wrapper {
        padding: 10px 0px !important;
    }

    .mat-form-field-flex {
        padding: 0px !important;
    }

    .mat-form-field-infix {
        border-top: 0px;
        padding: 0px;
    }
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $color-info;
}

.package-light-gray {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-300;
    font-size: $small-font;
    letter-spacing: 0.4px;
    color: $gray-3;
    margin-bottom: 0px !important;
}

.package-dark-gray {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: ($text-font - 1);
    letter-spacing: 0.4px;
    color: $gray-2;
    margin-bottom: 5px !important;
}

.package-details-title {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-size: $title-font;
    font-weight: $weight-400;
    margin-bottom: 15px;
    color: $gray-1;
    letter-spacing: 0.6px;
}

::ng-deep #tinymce.mce-content-body {
    color: red !important;
}

#homeRoutes {
    list-style-type: none;
    margin-bottom: 0px;
    display: flex;

    li {
        a {
            font-family: $family-roboto;
            font-style: $style-normal;
            font-weight: $weight-300;
            font-size: ($default-font - 1);
            letter-spacing: 0.6px;
            line-height: 24px;
            text-align: center;
            color: $gray-3;
            text-decoration: none;
            padding: 0px 10px 4px 10px;
            margin: 0px 10px;
            position: relative;
            cursor: pointer;
            bottom: 25px;
        }

        &:first-child {
            a {
                margin-left: 0px;
            }
        }
    }

    .active {
        opacity: 1;
        color: $gray-1 !important;
        border-bottom: 2px solid $gray-1;
    }
}

@media (max-width: 768px) {
    .permission-div {
        mat-select {
            font-size: $small-font;
        }
    }
    #contentBorder {
        padding: 10px 0px 0px;
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .shadow-div {
        display: grid !important;
        margin-top: 0px !important;
    }
    .div-question {
        width: 100%;
    }
    #addUser {
        min-width: 400px;
    }
    .gray-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 576px) {
    #deleteCollection,
    #deleteCatalog,
    #deletePackage,
    #deleteUser {
        .btn-delete {
            font-size: $small-font;
            line-height: 26px;
            top: 0px;
        }
        .btn-close {
            font-size: ($small-font + 1);
            line-height: 26px;
        }
        .mat-dialog-actions {
            min-height: 40px;
        }
    }
    .font-22 {
        font-size: $title-font !important;
    }
    #addUser {
        min-width: 260px;
    }
    #contentTitle {
        font-size: $default-font;
        margin-bottom: 10px !important;
    }
    .div-question {
        font-size: $small-font;
    }
    .div-answer {
        font-size: $small-font;
    }
    button.save-btn {
        padding: 2px 24px;
        top: 0px;
        span {
            font-size: $small-font;
        }
    }
    table.gray-table {
        .mat-column-name {
            width: 44% !important;
        }
        th {
            font-size: $small-font;
        }

        td {
            font-size: $small-font;
        }
    }
    .flat-input,
    .flat-input-parent input,
    .flat-input-parent textarea {
        font-size: $small-font;

        &::placeholder {
            font-size: $small-font;
        }
    }
    .m-0-mobile {
        margin-bottom: 0px !important;
    }
    .text-danger {
        font-size: $xsmall-font;
        max-width: 240px !important;
    }
    .rounded-input {
        .dpm-input-square {
            height: 38px;
            &::placeholder {
                font-size: $small-font !important;
            }
        }
    }
    .app-raised-button {
        margin-top: 0px !important;
        font-size: $text-font;
        width: 100%;
    }
    .dialog-wrapper-account {
        padding: 0px;
        min-width: 236px;
        app-input {
            min-width: 208px;
        }
    }
    .app-outlined-button {
        padding: 6px 6px;
        font-size: $small-font;
    }
    .dpm-input-flat {
        &::placeholder {
            font-size: $small-font;
        }
    }
    div {
        .dialog-description {
            font-size: $small-font !important;
            margin-bottom: 0px !important;
        }
        .dialog-close-wrapper {
            bottom: 10px;
            left: 22px;
            .dialog-close {
                font-size: $small-font;
            }
        }
        .dialog-title {
            font-size: ($logo-font);
            line-height: 40px;
            margin: 15px 0 5px;
        }
    }
    .header-border {
        top: 0.83rem;
        height: 9px;
        margin: 3px;
    }
    .mat-dialog-container {
        padding: 12px 15px 15px 15px !important;
    }
    #homeRoutes {
        li {
            a {
                font-size: $text-font;
                padding: 0px 4px 4px 4px;
                margin: 0px 6px;
                bottom: 16px;
            }
        }
    }
}
