/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./variables.scss";
@import "./typography";

html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: $gray-11;
}

a {
    color: $color-info;
}
body {
    margin: 0;
    font-family: $family-roboto !important;
}

.cursor-pointer {
    cursor: pointer;
}

.mat-spinner circle {
    stroke: $gray-3 !important;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-table,
.cdk-overlay-pane,
.mat-expansion-panel,
.mat-stepper-horizontal,
.mat-card {
    background-color: inherit;
}

.cdk-global-scrollblock {
    position: static !important;
    width: initial !important;
    overflow-y: inherit !important;
}

.mat-dialog-container {
    background-color: $gray-11;
}

.mat-header-row {
    background-color: $white;
}

.loading-pane {
    min-height: 250px;
    padding-top: 50px;
}

.mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mat-menu-content {
    button.mat-menu-item {
        border-bottom: 1px solid rgb(0 0 0 / 5%) !important;
        @include text("body");
        color: $gray-2;
        &:last-child {
            border-bottom: none !important;
        }
    }
}

.notification-error {
    background-color: $color-danger;
    color: $white;
}

.notification-success {
    background-color: $color-success;
    color: $white;
}

.submit-btn {
    background-color: inherit;
    transition: background-color ease 0.5s;

    &:hover {
        background-color: $gray-6;
        transition: background-color ease 0.5s;
    }

    &:focus {
        background-color: $gray-5;
    }

    .disabled {
        background-color: $gray-4;
        pointer-events: none;
        opacity: 0.6;
        .btn-text {
            color: $gray-3;
        }
    }
}

.text-overflow-elipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {
    html {
        touch-action: none;
        body {
            touch-action: none;
        }
    }
}

.app-slide-toggle.mat-checked {
    .mat-slide-toggle-bar,
    .mat-ripple-element {
        background-color: $color-1;
    }
    .mat-slide-toggle-thumb {
        background-color: $white;
    }
}

.rounded-input {
    .dpm-input-square {
        border-radius: 6px;
        padding: 10px 15px;
        width: 100%;
        height: 44px;
        font-size: $text-font;
        border: 1px solid $gray-5;
        outline: none;
        letter-spacing: 1px;
        font-family: $family-roboto;
        background-color: $gray-7;
        transition: background-color ease 0.5s;

        &:hover {
            background-color: $white;
            transition: background-color ease 0.5s;
        }

        &::placeholder {
            font-family: $family-roboto-mono;
            font-style: $style-normal;
            font-weight: $weight-300;
            font-size: ($small-font + 1);
            line-height: 18px;
            display: flex;
            align-items: flex-end;
            letter-spacing: -0.28px;
            color: $gray-4;
        }
    }
}

.rounded-input.search-input {
    .dpm-input-square {
        &::placeholder {
            font-size: ($small-font + 2);
        }
    }
}

mat-select {
    background-color: $gray-7;
    padding: 10px 16px;
}

.dpm-input-flat {
    border-radius: 4px;
    padding: 10px 16px;
    width: 100%;
    height: 44px;
    border: none;
    outline: none;
    background-color: $gray-7;
    transition: background-color ease 0.5s;

    &:hover {
        background-color: $white;
        transition: background-color ease 0.5s;
    }

    &::placeholder {
        @include text("body");
        color: $gray-4;
    }
}

.app-raised-button {
    outline: none !important;
    border-radius: 6px;
    border: none;
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $default-font;
    align-items: center;
    text-align: center;
    padding: 8px 15px;
    color: #fff;
    background-color: $color-info;
    transition: background-color ease 0.5s;

    &:hover {
        color: $color-info;
        background-color: $color-info-lighter;
        transition: background-color ease 0.5s;
    }

    &:active {
        box-shadow: none !important;
    }

    &:disabled {
        background-color: $gray-5;
        pointer-events: none;
        opacity: 0.6;
    }
}

.raised {
    box-shadow: $outer-shadow-1 !important;
}

.app-fab-button.app-fab-button {
    width: 40px;
    height: 40px;
    background: $white;
    box-shadow: $outer-shadow-1 !important;

    &:focus {
        outline: none !important;
    }

    .mat-button-wrapper {
        padding: 0 !important;

        .mat-icon {
            color: $gray-3;
            font-size: ($title-font + 6);
            width: unset;
            height: 32px;

            &:focus {
                outline: transparent solid 0px !important;
            }
        }
    }
}

.app-outlined-button {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: ($text-font - 1);
    background: $white-1;
    line-height: 13px;
    color: $color-info;
    border: 1px solid $gray-9;
    padding: 6px 15px;
    border-radius: 4px;
    cursor: pointer;

    &.block {
        display: block;
        text-align: center;
    }

    &:hover {
        color: $color-info;
        text-decoration: none;
        background-color: $white;
    }

    .delete-txt {
        color: $color-danger-dark;
    }
}

.create-div {
    color: $color-1;
    padding: 8px 15px;

    &:hover {
        color: $color-1;
        text-decoration: none;
        background-color: $white;
    }
}

.dpm-page-loading {
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dpm-no-data {
    @include text("body");
    color: $gray-2;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-family: $family-roboto-mono;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $title-font;
    line-height: 26px;
    letter-spacing: -0.28px;
    color: $gray-1;
    padding: 0px 24px 14px 0px;
}

.search-autocomplete {
    border-radius: 4px;
    margin-top: 2px;
}

.public-text {
    @include text("small");
    color: $color-1;
    margin-left: 6px;
}

.not-public-text {
    @include text("small");
    color: $gray-3;
    margin-left: 6px;
}

.autocomplete-contents {
    padding-left: 15px;
}

.autocomplete-title {
    line-height: 24px;
    font-family: $family-roboto;
    letter-spacing: 0.7px;
    font-size: $text-font;
}

.autocomplete-description {
    line-height: 12px;
    font-size: $small-font;
    color: $gray-3;
    font-weight: $weight-300;
}

.mat-option {
    border-bottom: 1px solid $gray-6;
}

.header-border {
    border-bottom: none;
    position: relative;
    top: 0.5rem;
    height: 14px;
    border: 0;
    margin: 6px 0px;
    box-shadow: 0px 0 0px rgb(255 255 255), 0 0px 0px rgb(255 255 255 / 25%), 0 4px 4px rgb(191 187 187 / 25%),
        4px 0 4px rgb(247 247 247 / 25%);
}

.d-none {
    display: none !important;
}

div {
    .dialog-close-wrapper {
        display: flex;
        position: relative;
        bottom: 30px;
        left: 40px;
        margin-bottom: -26px;
        justify-content: flex-end;

        .dialog-close {
            padding: 4px 8px;
            font-family: $family-roboto-mono;
            font-style: $style-normal;
            font-weight: $weight-300;
            font-size: $text-font;
            text-align: center;
            line-height: 18px;
            letter-spacing: -0.28px;
            color: $gray-3;
            outline: transparent solid 0px;
        }
    }

    .dialog-title {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: $dialog-font;
        line-height: 55px;
        text-align: center;
        margin: 20px 0 10px;
        color: $gray-1;
        text-shadow: $text-shadow;
    }
}

textarea.flat-input,
.flat-input-parent textarea {
    height: 75px !important;
    padding: 8px 15px !important;
}

.flat-input,
.flat-input-parent input,
.flat-input-parent textarea {
    height: 35px;
    width: 100%;
    border-radius: 6px;
    padding: 0px 15px;
    border: none !important;
    font-family: $family-roboto-mono;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $text-font;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.28px;
    color: $color-info;

    &:focus {
        outline: transparent solid 0px;
        box-shadow: none;
    }

    &::placeholder {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: ($text-font - 1);
        line-height: 18px;
        display: flex;
        align-items: flex-end;
        letter-spacing: -0.28px;
        color: $gray-4;
    }
}

button.save-btn {
    position: relative;
    top: 4px;
    padding: 4px 24px;
    box-shadow: $outer-shadow-1;
    border-radius: 24px;
    border-color: transparent;

    span {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: $default-font;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.28px;
        color: $gray-3;
    }
}

button:focus {
    outline: transparent solid 0px;
    box-shadow: none;
}

.disabled,
button:disabled {
    background-color: $gray-color-8;
    pointer-events: none;
    opacity: 0.6;

    .btn-text {
        color: $gray-color-3;
    }
}

.mat-button.mat-primary[disabled],
.mat-button.mat-accent[disabled],
.mat-button.mat-warn[disabled],
.mat-button[disabled][disabled],
.mat-icon-button.mat-primary[disabled],
.mat-icon-button.mat-accent[disabled],
.mat-icon-button.mat-warn[disabled],
.mat-icon-button[disabled][disabled],
.mat-stroked-button.mat-primary[disabled],
.mat-stroked-button.mat-accent[disabled],
.mat-stroked-button.mat-warn[disabled],
.mat-stroked-button[disabled][disabled] {
    background-color: $gray-color-8;
    pointer-events: none;
    opacity: 0.6;

    span {
        color: $gray-color-3;
    }
}

#contentTitle {
    font-family: $family-roboto-mono;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $title-font;
}

#contentBorder {
    width: 100%;
    margin: 0 auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-height: calc(100vh - 130px);
    padding: 10px 0px 5px 0px;
    border-top: 1px solid #ddddddad;
    border-bottom: 1px solid #dddddd7a;
}

.div-question {
    font-family: $family-roboto-mono;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $text-font;
    line-height: 18px;
    letter-spacing: -0.28px;
    color: $gray-2;
    width: 230px;
}

.div-answer {
    width: 100%;
}

.l-15 {
    left: 15px;
}

.flex-1 {
    flex: 1;
}

.mb-12 {
    margin-bottom: -12px !important;
}

.long-txt {
    width: 300px;
}

.text-danger {
    margin-top: 3px !important;
    font-size: 12px;
    line-height: 15px;
    color: $color-danger !important;
}

#addUser {
    position: relative;
    min-width: 500px;
}

.mat-dialog-without-padding {
    .mat-dialog-container {
        padding: 0;
    }
}

.dialog-wrapper-account {
    padding: 20px 30px;
    app-input {
        display: block;
        min-width: 348px;
        margin-top: 20px;
    }
}

#homeRoutes {
    list-style-type: none;
    margin-bottom: 0px;
    display: flex;

    li {
        a {
            font-family: $family-roboto;
            font-style: $style-normal;
            font-weight: $weight-300;
            font-size: $default-font;
            letter-spacing: 0.6px;
            line-height: 24px;
            text-align: center;
            color: $gray-3;
            text-decoration: none;
            padding: 0px 10px 4px 10px;
            margin: 0px 10px;
            position: relative;
            cursor: pointer;
            bottom: 25px;
        }

        &:first-child {
            a {
                margin-left: 0px;
            }
        }
    }

    .active {
        opacity: 1;
        color: $gray-1 !important;
        border-bottom: 2px solid $gray-1;
    }
}

@media (max-width: 768px) {
    #contentBorder {
        padding: 0px;
        overflow: hidden;
    }
    .shadow-div {
        display: block !important;
    }
    .div-question {
        width: 100%;
    }
    #addUser {
        min-width: 400px;
    }
}

@media (max-width: 576px) {
    #addUser {
        min-width: 260px;
    }
    #contentTitle {
        font-size: $default-font;
    }
    .div-question {
        font-size: $small-font;
    }
    .div-answer {
        font-size: $small-font;
    }
    #contentBorder {
        padding: 0px;
    }
    button.save-btn span {
        font-size: $text-font;
    }
    .flat-input,
    .flat-input-parent input,
    .flat-input-parent textarea {
        font-size: $small-font;

        &::placeholder {
            font-size: $small-font;
        }
    }
    .text-danger {
        font-size: $xsmall-font;
        max-width: 240px !important;
    }
    .rounded-input {
        .dpm-input-square {
            height: 38px;
            &::placeholder {
                font-size: $small-font !important;
            }
        }
    }
    .app-raised-button {
        margin-top: 0px !important;
        font-size: $text-font;
        width: 100%;
    }
    .dialog-wrapper-account {
        padding: 0px;
        min-width: 236px;
        app-input {
            min-width: 208px;
        }
    }
    .app-outlined-button {
        padding: 6px 10px;
    }
    div {
        .dialog-description {
            font-size: $small-font !important;
            margin-bottom: 0px !important;
        }
        .dialog-close-wrapper {
            bottom: 19px;
            left: 22px;
            .dialog-close {
                font-size: $small-font;
            }
        }
        .dialog-title {
            font-size: ($logo-font);
            line-height: 40px;
            margin: 15px 0 5px;
        }
    }
    .header-border {
        top: 0.83rem;
        height: 9px;
        margin: 3px;
    }
    #homeRoutes {
        li {
            a {
                font-size: $text-font;
                padding: 0px 4px 4px 4px;
                margin: 0px 2px;
                bottom: 16px;
            }
        }
    }
}
