/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./variables.scss";
@import "./typography";

html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: $gray-6;
}

a {
    @include text("small");
    color: $color-info;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-spinner circle {
    stroke: $gray-3 !important;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-table,
.cdk-overlay-pane,
.mat-expansion-panel,
.mat-stepper-horizontal,
.mat-card {
    background-color: inherit;
}
.mat-dialog-container {
    background-color: $gray-6;
}
.mat-header-row {
    background-color: $white;
}

.loading-pane {
    min-height: 500px;
    padding-top: 50px;
}

.mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mat-menu-content {
    button.mat-menu-item {
        border-bottom: 1px solid rgb(0 0 0 / 5%) !important;
        @include text("body");
        color: $gray-2;
        &:last-child {
            border-bottom: none !important;
        }
    }
}

.notification-error {
    background-color: $color-danger;
    color: $white;
}

.notification-success {
    background-color: $color-success;
    color: $white;
}

.submit-btn {
    background-color: inherit;
    transition: background-color ease 0.5s;

    &:hover {
        background-color: $gray-6;
        transition: background-color ease 0.5s;
    }

    &:focus {
        background-color: $gray-5;
    }

    .disabled {
        background-color: $gray-4;
        pointer-events: none;
        opacity: 0.6;
        .btn-text {
            color: $gray-3;
        }
    }
}

.text-overflow-elipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {
    html {
        touch-action: none;
        body {
            touch-action: none;
        }
    }
}

.app-slide-toggle.mat-checked {
    .mat-slide-toggle-bar,
    .mat-ripple-element {
        background-color: $color-1;
    }
    .mat-slide-toggle-thumb {
        background-color: $white;
    }
}

.app-input-round {
    border-radius: 24px;
    padding: 10px 23px;
    width: 100%;
    height: 44px;
    border: none;
    outline: none;
    background-color: $gray-6;
    box-shadow: $inner-shadow-1;
    transition: background-color ease 0.5s;
    &:hover {
        background-color: $white;
        transition: background-color ease 0.5s;
    }
    &::placeholder {
        @include text("body");
        color: $gray-4;
    }
}

.app-raised-button {
    outline: none;
    box-shadow: $outer-shadow-1;
    border-radius: 24px;
    height: 36px;
    border: none;
    background: $white;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    align-items: center;
    text-align: center;
    color: $gray-3;
    padding: 0 1.5em;

    &:hover {
        background-color: $gray-5;
    }

    &:disabled {
        background-color: $gray-4;
        pointer-events: none;
        opacity: 0.6;
    }
}

.app-fab-button.app-fab-button {
    width: 40px;
    height: 40px;
    box-shadow: 0px 1px 7px 4px rgb(90 88 88 / 25%);
    background: $white;

    &:focus {
        outline: transparent solid 0px !important;
    }

    .mat-button-wrapper {
        padding: 0 !important;

        .mat-icon {
            color: $gray-3;
            font-size: 26px;
            width: unset;
            height: 32px;

            &:focus {
                outline: transparent solid 0px !important;
            }
        }
    }
}

.app-outlined-button {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.28px;
    color: #017fb9;
    border: 1px solid #ddd;
    padding: 3px 15px;
    border-radius: 4px;
    cursor: pointer;

    &.block {
        display: block;
        text-align: center;
    }

    &:hover {
        text-decoration: none;
        background-color: rgba(240, 240, 240, 0.783);
    }
}

.dpm-page-loading {
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dpm-no-data {
    @include text("body");
    color: $gray-2;
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}
