/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./variables.scss";
@import "./colors.scss";
@import "./typography";
@import "./theme";
@import "~swiper/swiper-bundle";

html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: var(--gray-11-color);
}

a {
    color: var(--info-color);
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    letter-spacing: 0.4px;

    &:hover {
        color: var(--info-hover-color);
    }
}

body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: $family-roboto !important;
}

h1,
.logo-div {
    &:focus {
        outline: none;
    }
}

h3 {
    color: var(--gray-1-color);
}

.gray-txt {
    color: var(--gray-2-color);
}

.color-info {
    color: var(--info-color) !important;

    &:hover {
        text-decoration: none;
    }
}

.text-light-gray {
    margin-bottom: 0px !important;
}

.alert-warn,
.alert-error {
    font-size: $small-font;
    letter-spacing: 0.4px;
    color: var(--danger-color) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.mat-spinner circle {
    stroke: var(--gray-3-color) !important;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-table,
.cdk-overlay-pane,
.mat-expansion-panel,
.mat-stepper-horizontal,
.mat-card {
    background-color: inherit;
}

.cdk-overlay-dark-backdrop {
    background: var(--cdk-overlay-background);
    backdrop-filter: blur(2px);
}

table.gray-table {
    width: 100%;
    border: 1px solid var(--gray-5-color);

    .mat-column-name {
        width: 35%;
    }

    tr.mat-row,
    tr.mat-footer-row {
        height: 42px;
    }

    .mat-header-row {
        height: 40px !important;
        background-color: var(--custom-table-color);
    }

    th {
        font-family: $family-roboto;
        font-size: $text-font;
        font-weight: $weight-500;
        letter-spacing: 0.4px;
        color: var(--gray-1-color);
        border-bottom: 1px solid var(--gray-5-color);
    }

    td {
        font-family: $family-roboto;
        letter-spacing: 0.4px;
        color: var(--gray-2-color);
        font-size: $text-font;
        font-weight: $weight-400;
        border-bottom: 1px solid var(--gray-5-color);
    }
}

.swiper-container-multirow-column > .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: row !important;
}

.gray-paginator {
    height: 58px !important;
    background-color: var(--custom-table-color);
    border: 1px solid var(--gray-5-color);
    border-top: 0px;
    font-weight: $weight-400;
    color: var(--gray-1-color);

    .mat-paginator-icon {
        width: 22px;
    }

    .mat-icon-button {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}
.dpm-text-logo {
    color: var(--gray-1-color);
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

.theme-color {
    color: var(--primary-color);
}

.weight-500 {
    font-weight: 500 !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-14 {
    font-size: 14px !important;
}

.doc-link {
    font-size: $small-font + 1;
    cursor: pointer;
    line-height: 18px;
    font-weight: $weight-400;
    color: var(--info-color);

    &:hover {
        text-decoration: none;
    }
}

.mat-menu-panel,
.mat-select-panel {
    border-radius: 0px !important;
}

.cdk-global-scrollblock {
    position: static !important;
    width: initial !important;
    overflow-y: inherit !important;
}

.mat-dialog-container {
    background-color: var(--gray-11-color);
}

.loading-pane {
    min-height: 250px;
    padding-top: 50px;
}

.mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mat-menu-content {
    button.mat-menu-item {
        border-bottom: 1px solid var(--gray-5-color) !important;
        @include text("body");
        border-radius: 0px;
        background: var(--custom-secondary-color);
        color: var(--gray-2-color);
        &:last-child {
            border-bottom: none !important;
        }
        &:hover {
            background-color: var(--gray-12-color);
        }
    }
}

.notification-error {
    background-color: var(--danger-color);
    color: $secondary-color;
}

.notification-success {
    background-color: $success-color;
    color: $secondary-color;
}

.text-overflow-elipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {
    html {
        touch-action: none;
        body {
            touch-action: none;
        }
    }
}

@media (hover: none) {
    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
        background: var(--gray-11-color);
    }
}

.app-slide-toggle.mat-checked {
    .mat-slide-toggle-bar,
    .mat-ripple-element {
        background-color: var(--green-1-color);
    }
    .mat-slide-toggle-thumb {
        background-color: $secondary-color;
    }
}

.mat-slide-toggle-bar {
    background-color: var(--gray-4-color);
}

.footer-slide-toggle {
    .mat-slide-toggle-thumb-container {
        left: -3px;
    }
    .mat-slide-toggle-thumb {
        background-color: #000;
        height: 18px;
        width: 18px;
    }
    .mat-slide-toggle-bar {
        width: 28px;
        height: 13px;
    }
}

.footer-slide-toggle.mat-checked {
    .mat-slide-toggle-thumb {
        background-color: #fff;
    }
    .mat-slide-toggle-bar {
        background-color: #bdbdbd;
    }
}

.form-input {
    border-radius: 4px;
    padding: 7px 10px;
    width: 100%;
    box-shadow: none;
    font-size: $text-font - 1;
    border: 1px solid var(--gray-5-color);
    outline: none;
    letter-spacing: 0.5px;
    color: var(--gray-1-color);
    border-color: var(--gray-5-color) !important;
    font-family: $family-roboto;
    background-color: var(--gray-7-color) !important;

    &::placeholder {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-size: $text-font - 1;
        font-weight: $weight-300;
        line-height: 18px;
        letter-spacing: 0.5px;
        opacity: 0.6;
        color: var(--gray-3-color);
    }
}

.rounded-input {
    .dpm-input-square {
        border-radius: 4px;
        padding: 10px 15px;
        width: 100%;
        height: 44px;
        box-shadow: none;
        font-size: $text-font;
        border: 1px solid var(--gray-5-color);
        outline: none;
        letter-spacing: 0.5px;
        color: var(--gray-1-color);
        font-family: $family-roboto;
        background-color: var(--gray-7-color) !important;
        transition: background-color ease 0.5s;
        border-color: var(--gray-5-color) !important;

        &:hover {
            background-color: var(--custom-secondary-color) !important;
            transition: background-color ease 0.5s;
        }

        &::placeholder {
            font-family: $family-roboto;
            font-style: $style-normal;
            font-size: $text-font;
            font-weight: $weight-300;
            line-height: 18px;
            display: flex;
            align-items: flex-end;
            letter-spacing: 0.5px;
            opacity: 0.9;
            color: var(--gray-3-color);
        }
    }
}

.rounded-input.search-input {
    .dpm-input-square {
        &::placeholder {
            font-size: ($small-font + 2);
        }
    }
}

mat-select {
    background-color: var(--custom-secondary-color);
    padding: 10px 16px;
    letter-spacing: 0.4px;
    border-radius: 4px;
    font-family: $family-roboto;

    &::placeholder {
        font-family: $family-roboto;
        letter-spacing: 0.4px;
        font-weight: $weight-300 !important;
        font-size: $text-font;
    }

    span {
        color: var(--gray-1-color);
    }
}

.dpm-input-flat {
    border-radius: 4px;
    padding: 10px 16px;
    width: 100%;
    height: 44px;
    border: none;
    outline: none;
    letter-spacing: 0.5px;
    background-color: var(--custom-secondary-color);
    font-family: $family-roboto;
    color: var(--gray-1-color);
    transition: background-color ease 0.5s;

    &:hover {
        background-color: var(--custom-secondary-color);
        transition: background-color ease 0.5s;
    }

    &::placeholder {
        font-family: $family-roboto;
        letter-spacing: 0.5px;
        opacity: 0.9;
        color: var(--gray-3-color);
        font-weight: $weight-300;
        font-size: $text-font;
    }
}

.modal-close-btn {
    outline: none !important;
    border-radius: 4px;
    min-width: 77px;
    border: 1px solid var(--custom-gray-9-color);
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    letter-spacing: 0.4px;
    font-size: $text-font;
    align-items: center;
    text-align: center;
    padding: 6px 17px;
    color: var(--gray-2-color);
    background-color: var(--secondary-color);
    transition: background-color ease 0.5s;
}

.modal-submit-btn {
    outline: none !important;
    border-radius: 4px;
    min-width: 77px;
    border: 1px solid var(--info-color);
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    letter-spacing: 0.4px;
    font-size: $text-font;
    align-items: center;
    text-align: center;
    padding: 6px 17px;
    color: $secondary-color;
    background-color: var(--info-color);
    transition: background-color ease 0.5s;

    .mat-spinner {
        margin: 0 auto;
    }

    &:hover {
        background-color: var(--info-hover-color) !important;
        border: 1px solid var(--info-hover-color);
        transition: background-color ease 0.5s;
    }

    &:active {
        box-shadow: none !important;
    }
}

/** 
Hero Builder Section
*/

.hero-section {
    p:first-of-type {
        margin-bottom: 12px !important;
    }
}

.hero-blue-btn {
    outline: none !important;
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: ($text-font - 1);
    color: $secondary-color !important;
    background-color: var(--info-color) !important;
    transition: background-color ease 0.5s;

    &:hover {
        text-decoration: none;
    }
}

.hero-white-btn {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: ($text-font - 1);
    background: var(--custom-secondary-color) !important;
    line-height: 14px;
    color: var(--info-color) !important;
    border: 1px solid var(--gray-9-color) !important;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.box-line {
    cursor: pointer;
    padding: 8px 10px !important;
    box-shadow: var(--outer-shadow-1) !important;
    background-color: var(--gray-7-color);
    transition: background-color 0.5s ease !important;

    &:hover {
        background-color: var(--custom-secondary-color);
        transition: background-color 0.5s ease;
    }

    .box-name {
        font-family: $family-roboto;
        font-size: ($default-font - 1);
        color: var(--info-color);
        margin-bottom: 2px !important;
    }
}

.app-raised-button {
    outline: none !important;
    border-radius: 4px;
    border: 1px solid var(--tranparent-border);
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: ($text-font - 1);
    align-items: center;
    text-align: center;
    padding: 8px 15px;
    color: $secondary-color;
    background-color: var(--info-color);
    transition: background-color ease 0.5s;

    &:hover {
        background-color: var(--info-hover-color);
        border: 1px solid var(--info-hover-color);
        transition: background-color ease 0.5s;
        color: $secondary-color;
    }

    &:active {
        box-shadow: none !important;
    }
}

.app-raised-button.follow-btn {
    padding: 8px 8px;
    width: 100px;
    line-height: 13px;
    border-radius: 4px;
    border: 1px solid var(--info-color);
    background-color: var(--info-color);

    em {
        margin-right: 4px;
    }
}

.raised {
    box-shadow: var(--outer-shadow-1) !important;
}

.app-fab-button.app-fab-button {
    width: 40px;
    height: 40px;
    background: var(--secondary-color);
    box-shadow: none;
    border: 1px solid var(--gray-5-color);

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    &:hover {
        background: var(--custom-secondary-hover-color);
    }

    .mat-button-wrapper {
        padding: 0 !important;

        .mat-icon {
            color: var(--gray-3-color);
            font-size: ($title-font + 6);
            width: unset;
            height: 32px;

            &:focus {
                outline: transparent solid 0px !important;
            }
        }
    }
}

.contact-wrapper {
    .text-main-title {
        p {
            color: var(--gray-1-color);
        }
    }
}

.icon-wrapper {
    .fas {
        color: var(--gray-1-color);
    }
}

.info-txt {
    color: var(--info-color);
}

.app-outlined-button {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: ($text-font - 1);
    background: var(--custom-secondary-color);
    line-height: 14px;
    color: var(--info-color);
    border: 1px solid var(--gray-9-color);
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;

    &.block {
        display: block;
        text-align: center;
    }

    &:hover {
        color: var(--info-color);
        text-decoration: none;
        background: var(--custom-secondary-hover-color);
    }

    .delete-txt {
        color: var(--danger-darker-color);
    }
}

.create-div {
    color: $green-1-color;
    padding: 8px 15px;

    &:hover {
        color: $green-1-color;
        text-decoration: none;
        background-color: $secondary-color;
    }
}

.dpm-page-loading {
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dpm-no-data {
    @include text("body");
    color: var(--gray-2-color);
    min-height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        text-align: center;
    }

    a {
        font-size: ($text-font - 1);
    }
}

.search-autocomplete {
    border-radius: 4px;
    margin-top: 2px;
}

.public-text {
    @include text("small");
    color: var(--green-1-color);
    line-height: 8px;
    margin-left: 0px;
}

.not-public-text {
    @include text("small");
    line-height: 8px;
    color: var(--gray-3-color);
    margin-left: 0px;
}

.autocomplete-contents {
    padding-left: 15px;
}

.autocomplete-title {
    line-height: 24px;
    font-family: $family-roboto;
    letter-spacing: 0.7px;
    font-size: $text-font;
    color: var(--gray-1-color);
}

.autocomplete-description {
    line-height: 12px;
    font-size: $small-font;
    color: var(--gray-3-color);
    font-weight: $weight-300;
}

.mat-option {
    letter-spacing: 0.4px;
    font-family: $family-roboto;
    font-style: $style-normal;
    font-size: $text-font;
    line-height: 18px;
    color: var(--gray-1-color);
    border-radius: 0px !important;
    background-color: var(--custom-secondary-color) !important;
    border-bottom: 1px solid var(--gray-5-color) !important;

    &:hover {
        background-color: var(--gray-12-color) !important;
    }

    .mat-select-arrow {
        color: var(--gray-1-color);
    }
}

.mat-option.mat-active {
    color: var(--gray-1-color) !important;
    background-color: var(--active-option) !important;
}

.header-border {
    border-bottom: 1px solid var(--gray-5-color);
    position: relative;
    top: 0.5rem;
    border-top: 0px;
    height: 14px;
    margin: 6px 0px;
}

.header-line {
    box-shadow: var(--box-shadow);
}

.d-none {
    display: none !important;
}

div {
    .dialog-close-wrapper {
        display: flex;
        position: relative;
        bottom: 30px;
        left: 40px;
        margin-bottom: -26px;
        justify-content: flex-end;

        .dialog-close {
            padding: 4px 8px;
            font-family: $family-roboto;
            font-style: $style-normal;
            font-weight: $weight-300;
            font-size: $text-font;
            text-align: center;
            line-height: 18px;
            letter-spacing: 0.4px;
            color: var(--gray-3-color);
            outline: transparent solid 0px;
        }
    }

    .dialog-title {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: $dialog-font;
        line-height: 46px;
        text-align: center;
        margin: 20px 0 20px;
        color: var(--gray-1-color);
        text-shadow: var(--text-shadow);
    }
}

textarea.flat-input,
.flat-input-parent textarea {
    height: 75px !important;
    padding: 8px 15px !important;
}

.flat-input,
.flat-input-parent input,
.flat-input-parent textarea {
    height: 35px;
    width: 100%;
    border-radius: 4px;
    padding: 0px 15px;
    border: none !important;
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $text-font;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.7px;
    color: var(--gray-1-color);
    background-color: var(--custom-secondary-color);

    &:focus {
        outline: transparent solid 0px;
        box-shadow: none;
    }

    &::placeholder {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: ($text-font - 1);
        line-height: 18px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.7px;
        opacity: 0.8;
        color: var(--gray-3-color);
    }
}

button.save-btn {
    color: var(--gray-2-color);
    position: relative;
    top: 2px;
    text-align: center;
    width: 80px;
    height: 32px;
    padding: 2px 15px;
    font-weight: $weight-400;
    border-radius: 6px;
    letter-spacing: 0.4px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: var(--outer-shadow-1);
    border-color: transparent;
    font-family: $family-roboto;
    font-style: $style-normal;
    font-size: $text-font;
    line-height: unset;

    &:hover {
        background-color: var(--gray-10-color);
    }

    .mat-spinner {
        margin: 0 auto;
    }
}

button:focus {
    outline: transparent solid 0px;
    box-shadow: none;
}

.disabled,
button:disabled {
    background-color: var(--gray-5-color) !important;
    border: 1px solid var(--gray-5-color) !important;
    color: var(--gray-3-color) !important;
    pointer-events: none;
    opacity: 0.5;
}

.mat-button.mat-primary[disabled],
.mat-button.mat-accent[disabled],
.mat-button.mat-warn[disabled],
.mat-button[disabled][disabled],
.mat-icon-button.mat-primary[disabled],
.mat-icon-button.mat-accent[disabled],
.mat-icon-button.mat-warn[disabled],
.mat-icon-button[disabled][disabled],
.mat-stroked-button.mat-primary[disabled],
.mat-stroked-button.mat-accent[disabled],
.mat-stroked-button.mat-warn[disabled],
.mat-stroked-button[disabled][disabled] {
    background-color: var(--gray-5-color);
    pointer-events: none;
    opacity: 0.6;

    span {
        color: var(--custom-gray-3-color);
    }
}

#contentTitle {
    font-family: $family-roboto;
    font-style: $style-normal;
    letter-spacing: 0.7px;
    line-height: 21px;
    font-weight: $weight-400;
    font-size: $title-font;
    color: var(--primary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#contentBorder {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-height: calc(100vh - 130px);
    padding: 15px 0px 5px 0px;
    color: var(--gray-2-color);
    border-top: 1px solid var(--custom-gray-9-color);
    border-bottom: 1px solid var(--custom-gray-9-color);

    p {
        color: var(--gray-1-color);
        margin-bottom: 5px !important;
        letter-spacing: 0.4px;
    }
}

.div-question {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $text-font;
    line-height: 18px;
    letter-spacing: 0.7px;
    color: var(--gray-2-color);
    width: 230px;
}

.div-answer {
    width: 100%;
}

.l-15 {
    left: 15px;
}

.flex-1 {
    flex: 1;
}

.mb-12 {
    margin-bottom: -12px !important;
}

.mb-150 {
    margin-bottom: 150px !important;
}

.long-txt {
    width: 300px;
}

.text-danger {
    margin-top: 3px !important;
    font-size: 12px;
    line-height: 15px;
    color: var(--danger-color) !important;
}

#addUser {
    position: relative;
    min-width: 500px;
}

.close-dialog {
    color: var(--gray-2-color);
}

.mat-dialog-without-padding {
    .mat-dialog-container {
        padding: 0;
    }
}

.dialog-wrapper-account {
    padding: 20px 30px;
    app-input {
        display: block;
        min-width: 348px;
        margin-top: 12px;
    }
}

.disabled-tooltip {
    min-width: 270px;
    font-size: 10px;
}

.search-user {
    width: 200px;
    margin-bottom: 10px;

    .mat-form-field-infix {
        font-family: $family-roboto;
        font-weight: $weight-400;
        font-style: $style-normal;
        font-size: ($default-font - 1);
    }

    .mat-form-field-label {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: $text-font;
        letter-spacing: 0.4px;
        color: rgb(0 0 0 / 35%);
    }

    .mat-form-field-ripple {
        background-color: var(--info-color) !important;
    }
}

.mat-focused .mat-form-field-label {
    color: var(--info-color) !important;
}

.slug {
    color: var(--danger-color);
    font-size: $text-font;
}

.border-none {
    border: none;
}

.font-22 {
    font-size: 22px !important;
}

#deleteCollection,
#deleteCatalog,
#deletePackage,
#deleteGroup,
#deleteUser {
    .btn-delete {
        color: $secondary-color;
        text-align: center;
        min-width: 77px;
        padding: 6px 17px;
        font-weight: $weight-400;
        border-radius: 4px;
        letter-spacing: 0.4px;
        border: 1px solid var(--danger-color);
        background-color: var(--danger-color);
        font-family: $family-roboto;
        font-style: $style-normal;
        font-size: $text-font;

        .mat-spinner {
            margin: 0 auto;
        }
    }
}

.copy-wrapper {
    &:hover {
        border-radius: 6px;
        opacity: 0.9;
    }

    .copy-input {
        border: 1px solid rgb(0 0 0 / 10%);
        padding: 6px 10px;
        color: var(--gray-1-color) !important;
        background: var(--custom-secondary-color);
        width: 100%;
        height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        font-family: $family-roboto;

        .copy-txt {
            font-weight: $weight-400 !important;
            font-size: ($text-font - 1) !important;
            color: var(--gray-1-color) !important;
            letter-spacing: 0.1px !important;
        }
    }

    .copy-btn {
        background: var(--gray-3-color);
        border: none;
        height: 36px;
        padding: 6px 15px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;

        a {
            font-size: $text-font !important;
            color: var(--custom-secondary-color) !important;
        }
    }
}

.mat-select-arrow-wrapper {
    .mat-select-arrow {
        color: var(--gray-1-color);
    }
}

.permission-div.modal-select {
    mat-select {
        color: var(--gray-2-color);
        padding: 10px;
    }

    .mat-form-field-wrapper {
        padding: 0px 0px 10px 0px !important;
    }
}

mat-select {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $text-font;
    border: 1px solid var(--gray-9-color);
    letter-spacing: 0.5px;
    border-radius: 4px;
    color: var(--gray-2-color);
    padding: 10px;
}

.permission-div {
    

    .mat-form-field-underline {
        display: none;
        &::before {
            height: 0px;
        }
    }

    .mat-select-arrow-wrapper {
        position: relative;
        top: 7px;
    }

    .mat-form-field-wrapper {
        padding: 10px 0px 10px 0px !important;
    }

    .mat-form-field-flex {
        padding: 0px !important;
    }

    .mat-form-field-infix {
        border-top: 0px;
        padding: 0px;
    }
}

.mat-dialog-actions {
    .mat-spinner circle {
        stroke: $secondary-color !important;
    }

    button {
        &:hover {
            background-color: var(--gray-10-color);
        }
    }
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--info-color);
}

.text-light-gray {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-300;
    font-size: $small-font;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: var(--gray-3-color);
    margin-bottom: 0px;
}

.text-dark-gray {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: ($text-font - 1);
    letter-spacing: 0.4px;
    color: var(--gray-2-color) !important;
    margin-bottom: 5px !important;
}

.text-main-title {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-size: $title-font;
    font-weight: $weight-400;
    margin-bottom: 15px;
    color: var(--gray-1-color);
    letter-spacing: 0.6px;
}

::ng-deep #tinymce.mce-content-body {
    color: red !important;
}

.round-20 {
    width: 20px;
    height: 20px;
    bottom: 0px !important;
}

.span-nr {
    font-size: $small-font - 1;
    padding: 3px 7px;
    font-weight: $weight-500;
    color: var(--gray-2-color);
    position: relative;
    bottom: 1px;
    border-radius: 50%;
    background-color: var(--gray-5-color);
}

#homeRoutes {
    list-style-type: none;
    margin-bottom: 0px;
    display: flex;

    li {
        a {
            font-family: $family-roboto;
            font-style: $style-normal;
            font-weight: $weight-300;
            font-size: ($default-font - 1);
            letter-spacing: 0.6px;
            line-height: 24px;
            text-align: center;
            color: var(--gray-3-color);
            text-decoration: none;
            padding: 0px 10px 4px 10px;
            margin: 0px 10px;
            position: relative;
            cursor: pointer;
            bottom: 25px;
        }

        &:first-child {
            a {
                margin-left: 0px;
            }
        }
    }

    .active {
        opacity: 1;
        color: var(--gray-1-color) !important;
        border-bottom: 2px solid var(--gray-1-color);
    }
}

@media (max-width: 768px) {
    .dpm-text-logo {
        font-size: ($title-font + 8);
        line-height: 31px;
        margin-bottom: 0px;
    }
    .modal-submit-btn,
    .modal-close-btn {
        min-width: 70px;
        font-size: $small-font;
        padding: 4px 15px;
    }
    #deleteCollection,
    #deleteCatalog,
    #deletePackage,
    #deleteUser {
        .btn-delete {
            min-width: 70px;
            font-size: $small-font;
            padding: 4px 15px;
        }
        .btn-close {
            font-size: ($small-font + 1);
            line-height: 26px;
        }
    }
    .permission-div {
        mat-select {
            font-size: $small-font;
        }
    }
    #contentBorder {
        padding: 10px 0px 0px;
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .shadow-div {
        display: grid !important;
        margin-top: 0px !important;
    }
    .div-question {
        width: 100%;
    }
    #addUser {
        min-width: 400px;
    }
    .gray-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .app-raised-button.follow-btn {
        padding: 5px;
        width: 80px;
        line-height: 10px;
        font-size: $small-font;
    }
}

@media (max-width: 576px) {
    .text-light-gray,
    .text-dark-gray {
        line-height: 17px;
    }
    .font-22 {
        font-size: $title-font !important;
    }
    #addUser {
        min-width: 260px;
    }
    #contentTitle {
        font-size: $default-font;
        margin-bottom: 10px !important;
    }
    .div-question {
        font-size: $small-font;
    }
    .div-answer {
        font-size: $small-font;
    }
    button.save-btn {
        padding: 2px 24px;
        top: 0px;
        span {
            font-size: $small-font;
        }
    }
    .no-mt-mobile {
        margin-top: 10px !important;
    }
    .no-pd-mobile {
        padding-left: 0px;
        padding-right: 0px;
    }
    table.gray-table {
        .mat-column-name {
            width: 39% !important;
        }
        th {
            font-size: $small-font + 1;
        }

        td {
            font-size: $small-font + 1;
        }
    }
    .flat-input,
    .flat-input-parent input,
    .flat-input-parent textarea {
        font-size: $small-font;

        &::placeholder {
            font-size: $small-font;
            font-weight: $weight-400;
        }
    }
    .m-0-mobile {
        margin-bottom: 0px !important;
    }
    .text-danger {
        margin-top: 1px !important;
        font-size: $xsmall-font;
        max-width: 240px !important;
    }
    .rounded-input {
        .dpm-input-square {
            &::placeholder {
                font-weight: $weight-400;
                font-size: $small-font + 1 !important;
            }
        }
    }
    .app-raised-button {
        margin-top: 0px !important;
        font-size: $text-font;
        width: 100%;
    }
    .dialog-wrapper-account {
        padding: 10px 30px 20px 30px;
        min-width: 236px;
        app-input {
            min-width: 208px;
        }
    }
    .app-outlined-button {
        padding: 7px 13px;
        font-size: $small-font;
    }
    .dpm-input-flat {
        &::placeholder {
            font-size: $small-font;
            font-weight: $weight-400;
        }
    }
    div {
        .dialog-description {
            font-size: $small-font !important;
            margin-bottom: 0px !important;
        }
        .dialog-close-wrapper {
            bottom: 10px;
            left: 42px;
            .dialog-close {
                font-size: $small-font;
            }
        }
        .dialog-title {
            font-size: ($logo-font);
            line-height: 40px;
            margin: 15px 0 5px;
        }
    }
    .header-border {
        top: 0.83rem;
        height: 9px;
        margin: 3px;
    }
    .mat-dialog-container {
        padding: 12px 16px 24px 16px !important;
    }
    #contentBorder {
        p,
        .slug {
            font-size: $small-font + 1;
        }
    }
    .span-nr {
        font-size: 9px;
        padding: 3px 5px;
    }
    #homeRoutes {
        li {
            a {
                font-size: $small-font;
                padding: 0px 8px 5px 8px;
                margin: 0px 4px;
                bottom: 16px;
            }
        }
    }
}

@media (max-width: 380px) {
    #homeRoutes {
        li {
            a {
                padding: 0px 4px 5px 4px;
            }
        }
    }
}

.animate-colors-transition {
    transition: color 0.5s, background 0.5s;
}

blockquote {
    color: var(--gray-3-color);
    border-left: 2px solid var(--gray-5-color);
    padding-left: 10px;
}

.mat-form-field-infix {
    border-top: none;
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $small-font;
    line-height: 18px;
    padding: 0.15em 0;
}

.mat-form-field-flex {
    border-radius: 4px;
}

.mat-form-field-wrapper {
    padding-bottom: 0px;
}

.mat-chip {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $small-font;
    min-height: 24px;
    letter-spacing: 0.5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 7px;
}

.mat-standard-chip {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
}

.mat-chip.mat-chip-small {
    font-size: $xsmall-font;
    color: var(--gray-3-color);
    background-color: var(--gray-10-color);
    padding: 8px 6px;
    position:inherit;
    min-height: 12px;
    margin-right: 4px;
}

.mat-chip.public-chip {
    color: var(--green-1-color);
    background-color: var(--green-6-color);
}

.mat-chip-remove {
    color: $gray-1-color;
    margin-left: 2px;
    opacity: 1;
}

.mat-form-field-outline {
    color: transparent !important;
    height: 0px !important;
    border: 0;
}


.command-modal .mat-dialog-container {
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(0.5) blur(10px);
}