:host {
    display: flex;
    min-height: 300px;
    align-items: center;
    justify-content: center;
}

.page-content {
    width: 100%;
}

.box-shadow {
    height: 18px;
    box-shadow: 0 6px 6px -4px #3333331f;
}
