<div class="page-content" *ngIf="state === 'SUCCESS'">
    <app-user-details-page *ngIf="pageType == PageType.USER" [user]="user"></app-user-details-page>
    <app-catalog-details
        (onCatalogUpdate)="updateCatalog($event)"
        *ngIf="pageType == PageType.CATALOG"
        [catalog]="catalog"
    ></app-catalog-details>
    <app-builder-io
        *ngIf="pageType == PageType.BUILDER_IO_TEMPLATE"
        [apiKey]="builderIOApiKey"
        [entry]="builderIOPageEntry"
    >
        <div class="container">Failed to load page</div>
    </app-builder-io>
</div>
<div class="dpm-no-data" *ngIf="state === 'ERROR'">
    <app-builder-io [apiKey]="builderIOApiKey" [entryKey]="NOT_FOUND_BUILDER_IO_ENTRY_KEY">
        <div class="container">Failed to load page</div>
    </app-builder-io>
</div>
<ng-template *ngIf="state === 'LOADING'">
    <mat-spinner [diameter]="32"></mat-spinner>
</ng-template>
