@import "../../../../styles/variables";

#myCollections {
    margin-top: 30px;

    table {
        width: 100%;
        th {
            font-family: $family-roboto;
            font-size: $text-font;
            font-weight: $weight-500;
            color: $gray-1;
        }
    }

    .mat-header-row {
        height: 40px;
        background-color: #ededed;
    }

    .mat-column-name {
        width: 30%;

        a {
            font-family: $family-roboto;
            color: $gray-2;
            font-size: $text-font;
            font-weight: $weight-400;
        }
    }

    .mat-column-actions app-button {
        margin-right: 10px;
    }

    .loading-container {
        display: flex;
        justify-content: center;
        padding: 20px 0 40px;
        width: 100%;
    }

    .mat-column-actions app-button {
        display: inline-block;
        width: 80px;
        margin-right: 10px;
    }

    .create-button {
        width: 180px;
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .collection-div {
        margin-bottom: 0px !important;
        .flex-row {
            flex-direction: column !important;
            div {
                width: 100% !important;
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
        }
        .collection-chips {
            .mat-chip {
                margin: 4px 4px !important;
            }
        }
    }
}

@media (max-width: 480px) {
    .collection-actions {
        .d-flex {
            flex-direction: column !important;
            div {
                padding: 4px 0px !important;
            }
        }
    }
}
