@import "../../../../styles/variables";
@import "../../../../styles/colors";

#myCollections {
    margin-top: 30px;

    .loading-container {
        display: flex;
        justify-content: center;
        padding: 20px 0 40px;
        width: 100%;
    }

    .action-div {
        align-self: center;
        min-width: 140px;
    }
}

@media (max-width: 767px) {
    .action-div {
        display: flex;
        flex-direction: column;
        button {
            width: 112px;
            margin-bottom: 6px;
            align-self: center;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

@media (max-width: 576px) {
    #myCollections {
        margin-top: 15px;
        .container {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}
