<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="myCollections" class="big-div-collection">
                <div class="mb-3 ml-0 mr-0">
                    <div *ngIf="state === State.SUCCESS">
                        <div class="section-title col-md-12 col-lg-12">
                            {{ isCurrentUser ? "My Collections" : "Collections" }}
                        </div>
                        <ng-container *ngIf="collections.length === 0">
                            <div class="col-md-12 col-lg-12">
                                <span *ngIf="isCurrentUser"
                                    >Create collections to organize and share data sets you discover.</span
                                >
                                <span *ngIf="!isCurrentUser"
                                    >Either {{ username }} has not created a collection, or you do not have permission
                                    to view of any of the collections they have created.
                                </span>

                                <a target="_blank" href="/docs/concepts/collections">Learn more about collections</a>
                            </div>
                            <div class="col-md-12 col-lg-12 text-center pt-4 pb-5" *ngIf="isCurrentUser">
                                <a class="app-outlined-button create-button" (click)="createCollection()"
                                    >Create A Collection</a
                                >
                            </div>
                        </ng-container>

                        <div *ngIf="collections.length > 0">
                            <div class="pr-4 mb-4">
                                <p>
                                    <span *ngIf="isCurrentUser" class="section-description">
                                        Create collections to organize and share data sets you discover.
                                    </span>
                                    <span *ngIf="!isCurrentUser" class="section-description">
                                        Collections of data created by {{ username }}.
                                    </span>
                                    <a target="_blank" href="/docs/concepts/collections"
                                        >Learn more about collections</a
                                    >
                                </p>
                            </div>

                            <div class="mt-4 mb-4" *ngIf="state !== State.LOADING && isCurrentUser">
                                <a class="app-outlined-button" (click)="createCollection()">Create A Collection</a>
                            </div>

                            <!-- Package without thumbnail -->
                            <table
                                *ngIf="collections && collections.length > 0"
                                mat-table
                                class="gray-table"
                                [dataSource]="collections"
                                aria-describedby="collectionsTable"
                            >
                                <!-- Label column -->
                                <ng-container matColumnDef="name">
                                    <th scope="col" mat-header-cell *matHeaderCellDef>Name</th>
                                    <td class="table-content" mat-cell *matCellDef="let collection">
                                        <a [routerLink]="['/collection/' + collection.identifier.collectionSlug]">{{
                                            collection.name
                                        }}</a>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="public">
                                    <th scope="col" mat-header-cell *matHeaderCellDef>Public</th>
                                    <td class="table-content" mat-cell *matCellDef="let collection">
                                        <mat-slide-toggle
                                            class="app-slide-toggle"
                                            [(ngModel)]="collection.isPublic"
                                            (change)="updateCollectionVisibility(collection, $event.checked)"
                                        >
                                        </mat-slide-toggle>
                                    </td>
                                </ng-container>

                                <!-- Actions column -->
                                <ng-container matColumnDef="actions">
                                    <th scope="col" mat-header-cell *matHeaderCellDef>Actions</th>
                                    <td mat-cell *matCellDef="let collection">
                                        <a class="app-outlined-button mr-3" (click)="editCollection(collection)"
                                            >Edit</a
                                        >
                                        <a class="app-outlined-button" (click)="deleteCollection(collection)"
                                            ><span class="delete-txt">Delete</span></a
                                        >
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
                            </table>
                        </div>
                    </div>

                    <div class="loading-container" *ngIf="state === State.LOADING">
                        <mat-spinner [diameter]="40"></mat-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
