<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="myCollections" class="big-div-collection">
                <div class="mb-3">
                    <div *ngIf="state === State.SUCCESS">
                        <div class="package-details-title pl-3">
                            {{ isCurrentUser ? "My Collections" : "Collections" }}
                        </div>
                        <ng-container *ngIf="collections.length === 0">
                            <div class="col-lg-8">
                                <span *ngIf="isCurrentUser" class="package-dark-gray"
                                    >Create collections to organize and share data sets you discover.
                                </span>
                                <span *ngIf="!isCurrentUser" class="package-dark-gray"
                                    >Either <span style="font-weight: 500;">{{ username }}</span> has not created a
                                    collection, or you do not have permission to view of any of the collections they
                                    have created.
                                </span>

                                <a target="_blank" href="/docs/concepts/collections">
                                    <span style="font-size: 13px;">Learn more about collections.</span>
                                </a>
                            </div>
                            <div class="col-md-12 col-lg-12 my-3" *ngIf="isCurrentUser">
                                <a class="app-outlined-button" (click)="createCollection()">Create A Collection</a>
                            </div>
                        </ng-container>

                        <div *ngIf="collections.length > 0">
                            <div class="pr-4 mb-3 col-lg-8">
                                <p>
                                    <span *ngIf="isCurrentUser" class="package-dark-gray">
                                        Create collections to organize and share data sets you discover.
                                    </span>
                                    <span *ngIf="!isCurrentUser" class="package-dark-gray">
                                        Collections of data created by
                                        <span style="font-weight: 500;">{{ username }}</span
                                        >.
                                    </span>
                                    <a target="_blank" href="/docs/concepts/collections">
                                        <span style="font-size: 13px;"> Learn more about collections.</span>
                                    </a>
                                </p>
                            </div>

                            <div class="ml-3 mb-4" *ngIf="state !== State.LOADING && isCurrentUser">
                                <a class="app-outlined-button" (click)="createCollection()">Create A Collection</a>
                            </div>

                            <div class="container">
                                <!-- Package without thumbnail -->
                                <table
                                    *ngIf="collections && collections.length > 0"
                                    mat-table
                                    class="gray-table"
                                    [dataSource]="collections"
                                    aria-describedby="collectionsTable"
                                >
                                    <!-- Label column -->
                                    <ng-container matColumnDef="name">
                                        <th scope="col" mat-header-cell *matHeaderCellDef>Name</th>
                                        <td class="table-content" mat-cell *matCellDef="let collection">
                                            <a
                                                class="color-info"
                                                [routerLink]="['/collection/' + collection.identifier.collectionSlug]"
                                                >{{ collection.name }}</a
                                            >
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="public">
                                        <th scope="col" mat-header-cell *matHeaderCellDef>Public</th>
                                        <td class="table-content" mat-cell *matCellDef="let collection">
                                            <mat-slide-toggle
                                                class="app-slide-toggle"
                                                [(ngModel)]="collection.isPublic"
                                                (change)="updateCollectionVisibility(collection, $event.checked)"
                                            >
                                            </mat-slide-toggle>
                                        </td>
                                    </ng-container>

                                    <!-- Actions column -->
                                    <ng-container matColumnDef="actions">
                                        <th scope="col" mat-header-cell *matHeaderCellDef>Actions</th>
                                        <td mat-cell *matCellDef="let collection">
                                            <a class="app-outlined-button mr-3" (click)="editCollection(collection)"
                                                >Edit</a
                                            >
                                            <a class="app-outlined-button" (click)="deleteCollection(collection)"
                                                ><span class="delete-txt">Delete</span></a
                                            >
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="loading-container" *ngIf="state === State.LOADING">
                        <mat-spinner [diameter]="40"></mat-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
