@import "../../../styles/variables";

.collection-item {
    cursor: pointer;
    box-shadow: $outer-shadow-1;

    .collection-identifier {
        font-family: $family-roboto-mono;
        font-weight: $weight-500;
        font-size: ($title-font + 2);
        line-height: 26px;
        color: $gray-1;
        letter-spacing: -0.28px;
    }

    .collection-description {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: $text-font;
        line-height: 18px;
        letter-spacing: -0.28px;
        color: $gray-2;
        max-height: 111px;
        overflow: hidden;
    }

    .collection-image {
        width: 100%;
        max-height: 150px;
        object-fit: cover;
    }

    .collection-creator {
        .collections-public {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 10px;
            margin-left: 5px;
            font-family: $family-roboto-mono;
            font-style: $style-normal;
            font-weight: $weight-400;
            font-size: $xsmall-font;
            line-height: 13px;
            letter-spacing: -0.28px;

            .public-text {
                color: $color-1;
            }
            .not-public-text {
                color: $gray-3;
            }
        }

        .name {
            font-family: $family-roboto-mono;
            font-style: $style-normal;
            letter-spacing: -0.28px;
            font-weight: $weight-300;
            font-size: $text-font;
            line-height: 18px;
            color: $gray-3;
            padding: 4px 10px;
            margin-bottom: 0 !important;
        }

        .photo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

    .collection-actions {
        .edit-button {
            font-family: $family-roboto-mono;
            font-style: $style-normal;
            font-weight: $weight-400;
            font-size: $small-font;
            line-height: 13px;
            letter-spacing: -0.28px;
            color: $color-info;
            border: 1px solid $gray-9;
            padding: 3px 15px;
            border-radius: 4px;
            cursor: pointer;
            &:hover {
                text-decoration: none;
                background-color: $gray-9;
            }
        }
    }
}
