@import "../../../styles/variables";

#createCollection {
    position: relative;
    min-width: 500px;

    .div-with-errors {
        max-width: 346px;
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-400;
        padding-left: 2px;
        padding-top: 3px;
        font-size: $xsmall-font;
        color: $color-danger;
        line-height: 12px;
    }

    // .mat-dialog-actions {
    //     padding: 0px;
    //     margin: 0;
    // }
}

@media (max-width: 768px) {
    #createCollection {
        min-width: 400px;
    }
}

@media (max-width: 576px) {
    #createCollection {
        min-width: 260px;
    }
}
