@import "./src/styles/variables.scss";
@import "./src/styles/colors.scss";

#deleteUser {
    .white-border {
        background: $white-color;
        padding: 15px 10px;
        margin-bottom: 10px;

        p {
            margin-bottom: 0px !important;
        }
    }

    .one-line-input {
        ::ng-deep input.mat-input-element {
            width: unset;
            border-radius: 0px;
            border-color: transparent;
            border-bottom: 2px solid var(--danger-color);
            background: transparent;
            outline: transparent solid 0px;
        }
    }

    .btn-delete {
        width: unset !important;
    }
}

@media (max-width: 576px) {
    #deleteUser {
        min-width: 260px;
    }
}
