@import "./src/styles/variables.scss";

#deleteUser {
    .description {
        padding: 20px 0;
        background: $white;
        border-radius: 4px;
        position: relative;
        h4 {
            font-size: 14px;
            margin: 0px 20px;
        }

        &:before {
            content: "";
            position: absolute;
            width: 114%;
            height: 1px;
            background: $gray-3;
            top: 0px;
            left: -24px;
        }

        &:after {
            content: "";
            position: absolute;
            width: 114%;
            height: 1px;
            background: $gray-4;
            bottom: 0px;
            left: -24px;
        }
    }

    .one-line-input {
        ::ng-deep input.mat-input-element {
            width: unset;
            border-radius: 0px;
            border-color: transparent;
            border-bottom: 2px solid $color-danger;
            background: transparent;
            outline: transparent solid 0px;
        }
    }

    p {
        font-size: $text-font;
        margin-bottom: 0;
        color: $gray-1;
    }
}

@media (max-width: 576px) {
    #deleteUser {
        min-width: 260px;
    }
}
