<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="detailsPage" class="big-div-package pl-2">
                <div class="package-div panel-div">
                    <div class="text-main-title">Actions</div>
                    <div class="d-flex flex-row bd-highlight">
                        <div class="mb-3">
                            <a class="app-outlined-button mr-3" (click)="openEditDialog()">Edit My Profile</a>
                            <a class="app-outlined-button" (click)="openPasswordDialog()">Change My Password</a>
                        </div>
                    </div>
                </div>

                <div class="package-div panel-div">
                    <div class="text-main-title">Options</div>
                    <div class="d-flex flex-row bd-highlight">
                        <div class="mb-3 text-dark-gray">
                            <mat-slide-toggle
                                class="app-slide-toggle"
                                [checked]="currentUser.user.uiDarkModeEnabled"
                                (change)="toggleDarkMode()"
                                >Dark mode</mat-slide-toggle
                            >
                        </div>
                    </div>
                </div>

                <div class="mt-4 mb-4 pb-2" *ngIf="catalog">
                    <div class="text-main-title">Public Package Access</div>
                    <p class="text-dark-gray col-md-12 p-0">
                        Enabling public access here allows you to enable public access for packages in your personal
                        catalog.
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center public-toggle">
                            <div class="ml-auto pr-2 pb-1 slide-right">
                                <mat-slide-toggle
                                    class="app-slide-toggle"
                                    [checked]="isCatalogPublic"
                                    (change)="updatePublic($event)"
                                    [disabled]="!catalog.myPermissions.includes(Permission.MANAGE)"
                                ></mat-slide-toggle>
                            </div>
                            <div class="pr-2 text-dark-gray" style="margin-bottom: 0px !important">
                                <span class="public-text" *ngIf="isCatalogPublic">Public</span>
                                <span class="not-public-text" *ngIf="!isCatalogPublic">Not Public</span>
                            </div>
                        </div>
                        <div *ngIf="publicAccessSavingError">
                            Error occurred when saving public access. Please refresh the page and try again.
                        </div>
                    </div>
                </div>

                <div class="package-div panel-div">
                    <div *ngIf="myAPIKeys && myAPIKeys.length > 0" class="text-main-title">My API Keys</div>
                    <div *ngIf="myAPIKeys && myAPIKeys.length === 0" class="text-main-title api-keys-title">
                        Create your first API Key
                    </div>
                    <div class="text-dark-gray">
                        API Keys are for authenticating your
                        <a class="color-info" href="/docs/command-line-client/">DataPM Command Line Client</a>, and
                        custom software development projects using the
                        <a class="color-info" href="/docs/registry-api/">DataPM Registry API</a>.
                    </div>

                    <div class="api-key-form">
                        <form [formGroup]="createAPIKeyForm">
                            <div class="bd-highlight div-answer">
                                <input
                                    type="text"
                                    class="px-2"
                                    placeholder="API Key Label"
                                    name="label"
                                    formControlName="label"
                                    minlength="1"
                                    autocomplete="off"
                                />

                                <div [class.disabled]="!createAPIKeyForm.valid">
                                    <a class="app-outlined-button py-2 ml-3" (click)="createAPIKey()">
                                        <span *ngIf="createAPIKeyState != State.LOADING">Create API Key</span>
                                        <span *ngIf="createAPIKeyState == State.LOADING" class="loading-spinner">
                                            <mat-spinner diameter="15"></mat-spinner>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </form>
                        <div class="div-with-errors">
                            <div *ngIf="createAPIKeyState == State.ERROR_NOT_UNIQUE">
                                You already have a key with that label, please choose a different label.
                            </div>
                            <div *ngIf="createAPIKeyState == State.ERROR_NO_LABEL">A label is required.</div>
                            <div *ngIf="createAPIKeyState == State.ERROR">
                                There was a problem communicating with the server. Please try again.
                            </div>
                        </div>
                        <div
                            *ngIf="createAPIKeyState == State.SUCCESS && apiKeysState === State.SUCCESS"
                            class="div-with-key-command mt-4"
                        >
                            <p class="text-dark-gray">
                                Click to copy the command below. Paste it into your terminal after
                                <a href="/docs/command-line-client/#install-the-datapm-command-line-client"
                                    >installing the command line client</a
                                >.
                                <br />
                            </p>
                            <div
                                class="d-flex bd-highlight copy-wrapper"
                                (click)="copyKeyToClipboard()"
                                style="cursor: pointer"
                            >
                                <div class="bd-highlight copy-input">
                                    <span class="copy-txt"> {{ apiKeyCommandString() }}</span>
                                </div>
                                <div class="ml-auto bd-highlight">
                                    <button class="copy-btn">
                                        <a><em class="far fa-copy"></em></a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table
                        *ngIf="myAPIKeys && myAPIKeys.length > 0"
                        mat-table
                        class="gray-table"
                        [dataSource]="myAPIKeys"
                        aria-describedby="apiTable"
                    >
                        <ng-container matColumnDef="label">
                            <th scope="col" mat-header-cell *matHeaderCellDef>Label</th>
                            <td class="table-content" mat-cell *matCellDef="let apiKey">{{ apiKey.label }}</td>
                        </ng-container>
                        <ng-container matColumnDef="created">
                            <th scope="col" mat-header-cell *matHeaderCellDef>Created</th>
                            <td mat-cell *matCellDef="let apiKey">
                                {{ getMoment(apiKey.createdAt) }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="lastUsed">
                            <th scope="col" mat-header-cell *matHeaderCellDef>Last Used</th>
                            <td mat-cell *matCellDef="let apiKey">
                                {{ getMoment(apiKey.lastUsed) }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th scope="col" mat-header-cell *matHeaderCellDef>Actions</th>
                            <td mat-cell *matCellDef="let apiKey">
                                <a
                                    [class.disabled]="deletionStatusByApiKeyId.get(apiKey.id)"
                                    class="app-outlined-button"
                                    (click)="deleteApiKey(apiKey.id)"
                                >
                                    <span class="delete-txt">Delete</span>
                                </a>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
                    </table>
                    <span *ngIf="apiKeysState == State.LOADING" class="loading-spinner pl-4 pt-1">
                        <mat-spinner diameter="25"></mat-spinner>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
