@import "../../../../styles/variables";

#detailsPage {
    min-height: 350px;
    margin-top: 30px;

    .no-keys-div {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-500;
        font-size: $text-font;
        line-height: 26px;
        letter-spacing: -0.28px;
        color: $gray-1;
        padding: 24px;
        padding-bottom: 0;
    }

    .api-key-form {
        padding: 0px 24px 24px 0px;

        .div-with-errors {
            max-width: 346px;
            font-family: $family-roboto;
            font-style: $style-normal;
            font-weight: $weight-400;
            padding-left: 2px;
            font-size: $xsmall-font;
            line-height: 12px;
            margin-top: 5px;
            color: $color-danger;
        }
    }

    .command-container {
        padding: 8px;
        border-radius: 4px;
        background-color: $white;

        &:hover {
            cursor: pointer;
            background-color: $gray-9;
        }

        &:active {
            background-color: $gray-8;
        }
    }

    .loading-spinner {
        display: inline-block;
        position: relative;
        top: 2px;
    }

    .panel-div {
        width: 100%;
        margin-top: 20px;

        .div-answer {
            width: 100%;
            display: flex;
            flex-direction: row;
            height: auto;
            align-items: center;

            input {
                border: 1px solid $gray-5;
                line-height: 23px;
                height: 33px;
                display: flex;
                width: 230px;
                box-shadow: none;
                font-size: $text-font;
                align-items: flex-end;
                letter-spacing: -0.28px;

                &:focus {
                    outline: transparent solid 0px;
                    box-shadow: none;
                }

                &::placeholder {
                    font-family: $family-roboto;
                    font-style: $style-normal;
                    font-weight: $weight-300;
                    font-size: $text-font;
                    display: flex;
                    align-items: flex-end;
                    letter-spacing: -0.28px;
                    color: $gray-4;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .div-answer {
        flex-direction: column;
        input {
            width: 190px !important;
        }
    }
}
