@import '../../../../styles/variables';

#detailsPage {
    .mat-header-row {
        background-color: inherit;
    }

    .no-keys-div {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-500;
        font-size: $text-font;
        line-height: 26px;
        letter-spacing: -0.28px;
        color: $gray-1;
        padding: 24px;
        padding-bottom: 0;
    }

    .api-keys-title {
        padding-bottom: 0;
    }

    .api-key-form {
        padding: 24px;

        .div-with-errors {
            max-width: 346px;
            font-family: $family-roboto-mono;
            font-style: $style-normal;
            font-weight: $weight-400;
            padding-left: 2px;
            font-size: $xsmall-font;
            margin-top: 5px;
            color: $color-danger;
        }
    }

    .command-container {
        padding: 8px;
        border-radius: 4px;
        background-color: $white;

        &:hover {
            cursor: pointer;
            background-color: $gray-9;
        }

        &:active {
            background-color: $gray-8;
        }
    }

    .loading-spinner {
        display: inline-block;
        position: relative;
        top: 2px;
    }

    .section-description {
        padding: 24px;
        width: 66%;
    }

    table {
        width: 100%;

        th {
            font-family: $family-roboto-mono;
        }

        td {
            font-family: $family-roboto;
        }
    }

    .panel-div {
        width: 100%;
        margin-top: 30px;

        .div-answer {
            width: 100%;
            display: flex;
            flex-direction: row;
            height: auto;
            align-items: center;

            input {
                height: 35px;
                border: 0.5px solid $gray-5;
                line-height: 18px;
                display: flex;
                align-items: flex-end;
                letter-spacing: -0.28px;

                &:focus {
                    outline: transparent solid 0px;
                    box-shadow: none;
                }

                &::placeholder {
                    font-family: $family-roboto-mono;
                    font-style: $style-normal;
                    font-weight: $weight-500;
                    font-size: $text-font;
                    line-height: 18px;
                    display: flex;
                    align-items: flex-end;
                    letter-spacing: -0.28px;
                    color: $gray-3;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #detailsPage {
        .section-description {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .div-answer {
        flex-direction: column;
        input {
            width: 100%;
        }
    }
}
