<div class="avatar raised" [style.width]="size + 'px'" [style.height]="size + 'px'" [style.fontSize]="size + 'px'">
    <span *ngIf="state != State.LOADED"></span>
    <span *ngIf="state == State.LOADED">
        <img [src]="imgData" alt="avatar" *ngIf="imgData" />
        <div class="letter" *ngIf="!imgData" [style.background]="userBackgroundColor">{{ letter }}</div>
        <button class="add-image-btn" (click)="uploadFile()" *ngIf="editable">
            <mat-icon>add_a_photo</mat-icon>
            <span class="helper-text">click to change</span>
        </button>
    </span>
</div>
