@import "../../../styles/variables";
@import "../../../styles/colors";

.avatar {
    background-size: contain;
    background-position: center;

    box-shadow: 1px 0px 4px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(255, 255, 255, 0.25),
        0px 4px 4px rgba(189, 189, 189, 0.25), 4px 0px 4px rgba(189, 189, 189, 0.25);
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        max-height: 150px;
        object-fit: cover;
    }
}

.avatar-circle {
    border-radius: 50%;
}

.add-image-btn {
    border: none;
    background: var(--custom-gray-3-color);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;

    span {
        font-size: 10px;
        margin-bottom: -20px;
    }
}

.letter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.5em;
}

@media (max-width: 576px) {
    .add-image-btn {
        mat-icon {
            height: ($title-font - 2);
            font-size: ($title-font - 2);
        }
        span {
            font-size: 8px;
            margin-bottom: -8px;
        }
    }
}
