<div class="pb-5" id="packageVersion">
    <div class="package-details-title">package version history</div>
    <div class="package-light-gray mt-3" *ngIf="displayedVersions.length > 1">
        <a href="javascript::void(0)" style="font-weight: 400" (click)="openVersionComparisonModal()"
            >Select versions to compare</a
        >
    </div>
    <table style="width: 100%">
        <tbody>
            <ng-container *ngFor="let version of displayedVersions">
                <tr>
                    <td class="package-dark-gray pt-3">
                        <strong>{{ version.identifier | version }}</strong>
                    </td>
                    <td class="package-light-gray text-right pt-3">{{ version.createdAt | timeAgo }}</td>
                </tr>
                <tr class="second-tr">
                    <td colspan="2">
                        <ul>
                            <li *ngFor="let change of version.changes" class="package-dark-gray">
                                {{ change.changeLabel }}
                                <span *ngIf="change.changeFieldName">"{{ change.changeFieldName }}"</span>
                            </li>
                        </ul>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <a href="javascript::void(0)" *ngIf="hasMoreDifferences" style="font-weight: 400" (click)="displayMoreDifferences()"
        >display more</a
    >
</div>
