.right-div {
    padding-top: 80px;
}

.left-div {
    padding-right: 86px;
}

.package-details {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.28px;
    color: #828282;
}

.package-privacy {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.28px;
    color: #00a896;
}

.package-title {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.28px;
    color: #4f4f4f;
    margin-bottom: 10px;
}

.package-light-gray {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
    color: #828282;
    margin-bottom: 5px;
}

.package-dark-gray {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
    color: #4f4f4f;
    margin-bottom: 5px;
}

.version-table {
    table {
        thead {
            box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.25), 0px -4px 4px rgba(255, 255, 255, 0.25),
                0px 4px 4px rgba(189, 189, 189, 0.25), 4px 0px 4px rgba(189, 189, 189, 0.25);
            th {
                padding: 10px 15px;
            }
        }
        tbody {
            box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.25), 0px -4px 4px rgba(255, 255, 255, 0.25),
                0px 4px 4px rgba(189, 189, 189, 0.25), 4px 0px 4px rgba(189, 189, 189, 0.25);
            td {
                padding: 15px 15px;
            }
        }
    }
}

.rounded-div {
    box-shadow: inset 0px -4px 4px rgba(255, 255, 255, 0.25), inset -4px 0px 4px rgba(255, 255, 255, 0.25),
        inset 4px 0px 4px rgba(183, 183, 183, 0.25), inset 0px 4px 4px rgba(183, 183, 183, 0.25);
    background-color: #fff;
    border-radius: 24px;
    padding: 8px 15px;

    .install-txt {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.28px;
        color: #333333;
    }
}

.package-actions {
    .content-nr {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        text-transform: uppercase;
        color: #828282;
    }

    button {
        width: 32px;
        height: 32px;
        background-color: #fff;
        box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.25), 0px -4px 4px rgba(255, 255, 255, 0.25),
            0px 4px 4px rgba(189, 189, 189, 0.25), 4px 0px 4px rgba(189, 189, 189, 0.25);

        &:focus {
            outline: #fff auto 0px !important;
        }

        ::ng-deep .mat-button-wrapper {
            padding: 0px 0;
            line-height: 20px;

            .mat-icon {
                height: 30px;
                color: #828282;

                &:focus {
                    outline: #fff auto 0px !important;
                }
            }
        }
    }
}
.margin-30 {
    margin-right: 30px;
}
