@import "../../../../styles/variables";

table {
    .history-ul {
        margin-bottom: 0px !important;
    }
    .second-tr {
        border-bottom: 1px solid var(--gray-9-color);
        padding: 15px 0px 0px 0px;
        &:last-child {
            border: none;
        }
    }
}
