<div class="container mt-4 pt-2">
    <div class="mb-4 pb-4">
        <div class="package-details-title">Public Access</div>
        <p class="package-dark-gray">
            Enabling public access allows all users, including anonymous users, to view these catalog details. Users
            must have access to each individual package to view them. Packages in this catalog can not be set public
            until this catalog is public.
        </p>
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center public-toggle">
                <div class="package-dark-gray">Make this catalog public</div>
                <div class="ml-auto px-2 pb-1 slide-right">
                    <mat-slide-toggle
                        class="app-slide-toggle"
                        [checked]="isCatalogPublic"
                        (change)="updatePublic($event)"
                    ></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>

    <div class="package-details-title">Manage This Catalog</div>
    <a class="app-outlined-button mr-3" (click)="editCatalog()">Edit Catalog Details</a>
    <a class="app-outlined-button mr-3" (click)="deleteCatalog()">Delete This Catalog</a>

    <div class="mt-4 py-4" *ngIf="users?.length">
        <div class="package-details-title">Users With Access</div>
        <p class="package-dark-gray">The following users have individual permission this catalog.</p>
        <button class="app-outlined-button" (click)="addUser()" *ngIf="users.length > 0">Add User</button>
    </div>

    <!-- Package without thumbnail -->
    <table mat-table [dataSource]="users" *ngIf="users.length > 0" class="gray-table">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef scope="col">Name</th>
            <td class="table-content" mat-cell *matCellDef="let user">
                <div style="display: flex; justify-content: start; align-content: center">
                    <a class="ml-2" [routerLink]="'/' + user.username"
                        ><app-avatar [user]="user" [size]="24"></app-avatar
                    ></a>

                    <a class="ml-2" [routerLink]="'/' + user.username">{{ user.name }}</a>
                    <span *ngIf="user.pendingInvitationAcceptance"> &nbsp;(pending invite acceptance)</span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="permission">
            <th mat-header-cell *matHeaderCellDef scope="col">Permission</th>
            <td class="table-content" mat-cell *matCellDef="let user">
                <mat-form-field appearance="fill" class="permission-div">
                    <mat-select
                        [value]="user.permission"
                        (selectionChange)="updatePermission(user.username, $event.target.value)"
                    >
                        <mat-option value="VIEW">View </mat-option>
                        <mat-option value="EDIT">Edit </mat-option>
                        <mat-option value="MANAGE">Manage </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Actions column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef scope="col">Actions</th>
            <td mat-cell *matCellDef="let user">
                <a class="app-outlined-button mr-3" (click)="removeUser(user.username)">Remove</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>

    <div class="dpm-no-data" *ngIf="!users.length">
        <p>There are no users who have permissions to this catalog.</p>
        <a class="app-outlined-button mt-3" (click)="addUser()">Add a user</a>
    </div>
</div>
