<div class="container mt-4 pt-2">
    <div class="mb-4 pb-2">
        <div class="text-main-title">Public Access</div>
        <p class="text-dark-gray col-md-8 p-0">
            Enabling public access allows all users, including anonymous users, to view these catalog details. Users
            must have access to each individual package to view them. Packages in this catalog can not be set public
            until this catalog is public.
        </p>
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center public-toggle">
                <div class="ml-auto pr-2 pb-1 slide-right">
                    <mat-slide-toggle
                        class="app-slide-toggle"
                        [checked]="isCatalogPublic"
                        (change)="updatePublic($event)"
                        [disabled]="!catalog.myPermissions.includes(Permission.MANAGE)"
                    ></mat-slide-toggle>
                </div>
                <div class="pr-2 text-dark-gray" style="margin-bottom: 0px !important">
                    <span class="public-text" *ngIf="isCatalogPublic">Public</span>
                    <span class="not-public-text" *ngIf="!isCatalogPublic">Not Public</span>
                </div>
            </div>
            <div *ngIf="hasCatalogPublicErrors">
                Error occurred when saving Catalog. Please refresh the page and try again.
            </div>
        </div>
    </div>

    <div class="mb-2 pb-4" *ngIf="currentUser?.isAdmin">
        <div class="text-main-title">Unclaimed</div>
        <p class="text-dark-gray col-md-8 p-0">
            An unclaimed catalog is managed by any administrator, and is intended for the use case where the data
            originator has not claimed an account on this registry.
        </p>
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center public-toggle">
                <div class="ml-auto pr-2 pb-1 slide-right">
                    <mat-slide-toggle
                        class="app-slide-toggle"
                        [checked]="isCatalogUnclaimed"
                        (change)="updateUnclaimed($event)"
                    ></mat-slide-toggle>
                </div>
                <div class="pr-2 text-dark-gray" style="margin-bottom: 0px !important">
                    <span class="public-text" *ngIf="isCatalogUnclaimed">Unclaimed</span>
                    <span class="not-public-text" *ngIf="!isCatalogUnclaimed">Claimed</span>
                </div>
            </div>
            <div *ngIf="hasCatalogUnclaimedErrors">
                Error occurred when saving Catalog. Please refresh the page and try again.
            </div>
        </div>
    </div>

    <div class="text-main-title">Manage This Catalog</div>
    <a class="app-outlined-button mr-3" (click)="editCatalog()">Edit Catalog Details</a>
    <a
        class="app-outlined-button mr-3"
        (click)="deleteCatalog()"
        *ngIf="catalog.myPermissions.includes(Permission.MANAGE)"
        >Delete This Catalog</a
    >

    <div class="mt-4 py-4" *ngIf="users?.length">
        <div class="text-main-title">Users With Access</div>
        <p class="text-dark-gray">The following users have individual permission this catalog.</p>
        <button
            class="app-outlined-button"
            (click)="addUser()"
            *ngIf="users.length > 0 && catalog.myPermissions.includes(Permission.MANAGE)"
        >
            Add User
        </button>
    </div>

    <!-- Package without thumbnail -->
    <table mat-table [dataSource]="users" *ngIf="users.length > 0" class="gray-table" aria-labelledby="permissions">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef scope="col">Name</th>
            <td class="table-content" mat-cell *matCellDef="let userPermission">
                <div style="display: flex; justify-content: start; align-content: center">
                    <a class="ml-2" [routerLink]="'/' + userPermission.user.username"
                        ><app-avatar [user]="userPermission.user" [size]="24"></app-avatar
                    ></a>

                    <a class="color-info ml-2" [routerLink]="'/' + userPermission.user.username">{{
                        userPermission.user.displayName
                    }}</a>
                    <span *ngIf="userPermission.user.status === 'PENDING_SIGN_UP'">
                        &nbsp;(pending invite acceptance)</span
                    >
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="permission">
            <th mat-header-cell *matHeaderCellDef scope="col">Permission</th>
            <td class="table-content" mat-cell *matCellDef="let userPermission">
                <mat-form-field
                    appearance="fill"
                    class="permission-div"
                    *ngIf="catalog.myPermissions.includes(Permission.MANAGE)"
                >
                    <mat-select
                        [value]="userPermission.permission"
                        (selectionChange)="
                            updatePermission(
                                userPermission.user.username,
                                $event.value,
                                userPermission.packagePermission
                            )
                        "
                    >
                        <mat-option value="VIEW">View</mat-option>
                        <mat-option value="EDIT">Edit</mat-option>
                        <mat-option value="MANAGE">Manage</mat-option>
                    </mat-select>
                </mat-form-field>
                <span *ngIf="!catalog.myPermissions.includes(Permission.MANAGE)">{{
                    myCatalogPermission(userPermission.user.permission)
                }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="packagePermission">
            <th mat-header-cell *matHeaderCellDef scope="col">Package Permission</th>
            <td class="table-content" mat-cell *matCellDef="let userPermission">
                <mat-form-field
                    appearance="fill"
                    class="permission-div"
                    *ngIf="catalog.myPermissions.includes(Permission.MANAGE)"
                >
                    <mat-select
                        [value]="userPermission.packagePermission"
                        (selectionChange)="
                            updatePermission(userPermission.user.username, userPermission.permission, $event.value)
                        "
                    >
                        <mat-option value="NONE">None</mat-option>
                        <mat-option value="VIEW">View</mat-option>
                        <mat-option value="EDIT">Edit</mat-option>
                        <mat-option value="MANAGE">Manage</mat-option>
                    </mat-select>
                </mat-form-field>
                <span *ngIf="!catalog.myPermissions.includes(Permission.MANAGE)">{{
                    myCatalogPermission(user.permission)
                }}</span>
            </td>
        </ng-container>

        <!-- Actions column -->
        <ng-container matColumnDef="actions" *ngIf="catalog.myPermissions.includes(Permission.MANAGE)">
            <th mat-header-cell *matHeaderCellDef scope="col">Actions</th>
            <td mat-cell *matCellDef="let user">
                <a class="app-outlined-button mr-3" (click)="removeUser(user)">Remove</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>

    <div class="container p-0 mb-3" id="packagePermission">
        <div class="text-main-title mt-4 pt-3">Groups With Access</div>
        <p class="text-dark-gray" *ngIf="groupPermissions.length > 0">
            The following groups have permission to access this package.
        </p>
        <p class="text-dark-gray" *ngIf="groupPermissions.length == 0">
            There are no groups with access to this package.
        </p>
        <button class="app-outlined-button mt-2" (click)="addGroup()">Add Group</button>
    </div>

    <table
        mat-table
        [dataSource]="groupPermissions"
        *ngIf="groupPermissions?.length > 0"
        class="gray-table"
        aria-describedby="groupsTable"
    >
        <!-- Label column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef scope="col">Group</th>
            <td class="table-content" mat-cell *matCellDef="let groupPermission">
                <div style="display: flex; justify-content: start; align-content: center">
                    <a class="color-info ml-2" [routerLink]="'/group/' + groupPermission.group.slug">{{
                        groupPermission.group.name
                    }}</a>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="permission">
            <th mat-header-cell *matHeaderCellDef scope="col">Permission</th>
            <td class="table-content" mat-cell *matCellDef="let groupPermission">
                <mat-form-field appearance="fill" class="permission-div">
                    <mat-select
                        [value]="groupPermission.permission"
                        (selectionChange)="
                            updateGroupPermissions(
                                groupPermission.group,
                                $event.value,
                                groupPermission.packagePermission
                            )
                        "
                    >
                        <mat-option value="VIEW">View </mat-option>
                        <mat-option value="EDIT">Edit </mat-option>
                        <mat-option value="MANAGE">Manage </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="packagePermission">
            <th mat-header-cell *matHeaderCellDef scope="col">Package Permission</th>
            <td class="table-content" mat-cell *matCellDef="let groupPermission">
                <mat-form-field appearance="fill" class="permission-div">
                    <mat-select
                        [value]="groupPermission.packagePermission"
                        (selectionChange)="
                            updateGroupPermissions(groupPermission.group, groupPermission.permission, $event.value)
                        "
                    >
                        <mat-option value="NONE">None</mat-option>
                        <mat-option value="VIEW">View </mat-option>
                        <mat-option value="EDIT">Edit </mat-option>
                        <mat-option value="MANAGE">Manage </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Actions column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef scope="col">Actions</th>
            <td mat-cell *matCellDef="let groupPermission">
                <a class="app-outlined-button" (click)="removeGroup(groupPermission.group)">Remove</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
</div>
