<div class="container my-3" id="adminGroups">
    <div class="row">
        <div class="col-12">
            <h1>Groups</h1>
            <p>
                Create groups, add users as members of those groups, and then set permissions for the group. This allows
                you to control permissions more easily for large numbers of users.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-2">
            <mat-form-field class="mr-2" appearance="fill">
                <input
                    matInput
                    type="text"
                    [(ngModel)]="searchValue"
                    (ngModelChange)="searchGroups()"
                    placeholder="Search for groups.."
                />
                <button
                    mat-button
                    *ngIf="searchValue"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearGroupSearch()"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <a class="app-outlined-button" (click)="createGroup()">Create A Group</a>
        </div>

        <div class="col-md-12">
            <div class="col-md-12 p-0">
                <div class="loading-shade" *ngIf="loading">
                    <mat-spinner diameter="50"></mat-spinner>
                </div>

                <div class="table-responsive">
                    <table
                        mat-table
                        [dataSource]="displayedGroups"
                        class="gray-table gray-responsive"
                        aria-describedby="groupAdmin"
                    >
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef scope="col">Name</th>
                            <td mat-cell *matCellDef="let element">
                                <a [routerLink]="['/group/' + element.slug]"> {{ element.name }} </a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="isAdmin">
                            <th scope="col" mat-header-cell *matHeaderCellDef>Admin</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-slide-toggle
                                    class="app-slide-toggle"
                                    [checked]="element.isAdmin"
                                    (change)="updateAdmin($event, element)"
                                    [disabled]="disabled"
                                >
                                </mat-slide-toggle>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef scope="col">Actions</th>
                            <td mat-cell *matCellDef="let element" class="btn-wrapper">
                                <button
                                    (click)="openDeleteGroupConfirmationDialog(element)"
                                    class="app-outlined-button"
                                >
                                    <span class="delete-txt">Delete</span>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="DISPLAYED_COLUMNS"></tr>
                        <tr mat-row *matRowDef="let row; columns: DISPLAYED_COLUMNS"></tr>
                    </table>
                </div>

                <mat-paginator [pageSize]="GROUPS_PER_PAGE" [disabled]="loading" class="gray-paginator"></mat-paginator>
            </div>
        </div>
    </div>
</div>
