<div class="container">
    <div class="row">
        <div class="col-md-12 p-0" id="downloadPackage">
            <div mat-dialog-title id="contentTitle">Download {{ userPackage.displayName }}</div>
            <div mat-dialog-content id="contentBorder">
                <div class="row m-0">
                    <mat-horizontal-stepper labelPosition="bottom" #stepper>
                        <mat-step>
                            <div class="mat-content">
                                <div class="format-category" *ngIf="showRawFileButton">
                                    <div class="stepper-content">Download the original raw file</div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="download-btn w-100" (click)="move(1)">
                                                <a
                                                    ><img
                                                        src="../../../../../assets/images/sources/raw_file.png"
                                                        alt="csv img"
                                                        style="width: 20px; height: 20px"
                                                /></a>
                                                Download raw file
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="format-category">
                                    <div class="row">
                                        <div class="col-12 mt-2 mb-2">
                                            <span>
                                                The DataPM command line client can download this data directly to the
                                                following databases and file systems. Click any option below to learn
                                                how to quickly load and use this data in your work flows.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="stepper-content">Database Options</div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2" *ngFor="let source of databaseSources">
                                            <button class="download-btn w-100" (click)="openClientWizard()">
                                                <a
                                                    ><img
                                                        src="../../../../../assets/images/sources/{{ source.slug }}.svg"
                                                        alt="{{ source.slug }} img"
                                                        style="width: 20px; height: 20px"
                                                /></a>
                                                {{ source.name }}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="format-category">
                                    <div class="stepper-content">File Repository Options</div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2" *ngFor="let source of fileRepositorySources">
                                            <button class="download-btn w-100" (click)="openClientWizard()">
                                                <a
                                                    ><img
                                                        src="../../../../../assets/images/sources/{{ source.slug }}.svg"
                                                        alt="{{ source.slug }} img"
                                                        style="width: 20px; height: 20px"
                                                /></a>
                                                {{ source.name }}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="format-category">
                                    <div class="stepper-content">File Format Options</div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2" *ngFor="let source of fileSources">
                                            <button class="download-btn w-100" (click)="openClientWizard()">
                                                <a
                                                    ><img
                                                        src="../../../../../assets/images/sources/{{ source.slug }}.svg"
                                                        alt="{{ source.slug }} img"
                                                        style="width: 20px; height: 20px"
                                                /></a>
                                                {{ source.name }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step optional>
                            <div class="mat-content">
                                <div class="stepper-content">
                                    <span>Schemas</span>
                                    <div class="white-div" *ngFor="let source of packageSources">
                                        <a *ngFor="let uri of source.uris" [href]="uri" target="_blank">
                                            {{ uri }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </div>

            <div mat-dialog-actions class="d-flex justify-content-end">
                <button (click)="move(0)" *ngIf="currentIndex == 1" class="modal-close-btn mr-3">Back</button>
                <button mat-dialog-close class="modal-close-btn">Close</button>
            </div>
        </div>
    </div>
</div>
