@import "../../../../../styles/variables";
@import "../../../../../styles/colors";

#downloadPackage {
    #contentBorder {
        padding: 0px;
    }

    .stepper-content {
        margin-bottom: 6px !important;
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: ($text-font - 1);
        line-height: 18px;
        letter-spacing: 0.4px;
        color: var(--gray-3-color);
    }

    .white-div {
        background-color: var(--secondary-color);
        margin-top: 10px;
        border-radius: 6px;
        padding: 10px 15px;

        a {
            color: var(--info-color);
            line-height: 24px;
            font-size: ($text-font - 1);
            cursor: pointer;
            font-weight: $weight-400;
        }
    }

    .download-btn {
        border-radius: 4px;
        text-align: left;
        width: 100%;
        border: none;
        padding: 6px 12px 6px 0px;
        background: var(--custom-secondary-color);
        color: var(--gray-1-color);
        border: 1px solid #33333326;
        font-weight: $weight-400;
        letter-spacing: 0.8px;
        font-size: $small-font;
        font-family: $family-roboto;

        a {
            padding: 10px 7px;
            margin-right: 7px;
            border-right: 1px solid var(--gray-9-color);
        }

        &:hover {
            text-decoration: none;
        }
    }

    .mat-content {
        display: block;
        padding-top: 10px;
    }

    .format-category {
        width: 100%;
        margin-bottom: 10px;
    }

    .form-check {
        label {
            margin-bottom: 0px !important;
            font-family: $family-roboto;
            font-style: $style-normal;
            font-weight: $weight-300;
            font-size: ($text-font - 2);
            line-height: 18px;
            letter-spacing: 0.4px;
            color: var(--gray-2-color);
        }
    }

    ::ng-deep .mat-horizontal-stepper-header-container {
        display: none;
    }

    ::ng-deep .mat-horizontal-content-container {
        padding: 0px;
    }

    .back-btn {
        color: var(--gray-1-color);
    }
}
