<div class="container">
    <div class="row">
        <div class="col-md-12 p-0" id="downloadPackage">
            <div mat-dialog-title id="contentTitle">Download {{ userPackage.displayName }}</div>
            <div mat-dialog-content id="contentBorder">
                <div class="row m-0">
                    <mat-horizontal-stepper labelPosition="bottom" #stepper>
                        <mat-step>
                            <div class="mat-content">
                                <div class="format-category" *ngIf="showRawFileButton">
                                    <div class="stepper-content">Download the original raw file</div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="download-btn w-100" (click)="move(1)">
                                                <a
                                                    ><img
                                                        src="../../../../../assets/images/sources/raw_file.png"
                                                        alt="csv img"
                                                        style="width: 20px; height: 20px"
                                                /></a>
                                                Download raw file
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="format-category">
                                    <div class="row">
                                        <div class="col-12 mt-2 mb-2">
                                            <span>
                                                Load data directly into these databases and cloud tools. 
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-2" *ngFor="let connector of connectors">
                                            <button class="download-btn w-100" (click)="connectorSelected(connector)">
                                                <a
                                                    >
                                                    <!-- <img
                                                        src="../../../../../assets/images/sources/{{ connector.connectorType }}.svg"
                                                        alt="{{ connector.displayName }} img"
                                                        style="width: 20px; height: 20px"
                                                /> --></a>
                                                {{ connector.displayName }}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!--
                                    <div class="format-category">
                                        <div class="stepper-content">File Format Options</div>
                                        <div class="row">
                                            <div class="col-md-6 mb-2" *ngFor="let source of fileSources">
                                                <button class="download-btn w-100" (click)="openClientWizard()">
                                                    <a
                                                        ><img
                                                            src="../../../../../assets/images/sources/{{ source.slug }}.svg"
                                                            alt="{{ source.slug }} img"
                                                            style="width: 20px; height: 20px"
                                                    /></a>
                                                    {{ source.name }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                -->
                            </div>
                        </mat-step>
                        <mat-step optional>
                            <div class="mat-content">
                                <div class="stepper-content">
                                    <span>Schemas</span>
                                    <div class="white-div" *ngFor="let source of packageSources">
                                        <a *ngFor="let uri of source.uris" [href]="uri" target="_blank">
                                            {{ uri }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step>
                            <div class="mat-content">
                                <div class="stepper-content">
                                   
                                    <p class="mb-3">You can load this data directly into {{ selectedConnector?.displayName }} either by using the <a href="/docs/command-line-client/">DataPM Command Line tool</a>, or by using this website - which requires entering credentials into this website.</p>

                                    <button class="app-outlined-button mb-3" (click)="openClientWizard()">
                                        Download with Command Line Tool
                                    </button>

                                    <button class="app-raised-button btn-default mb-3" (click)="openFetchModal(selectedConnector.connectorType)">
                                        Load Directly From This Website
                                    </button>


                                </div>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </div>

            <div mat-dialog-actions class="d-flex justify-content-end">
                <button (click)="move(0)" *ngIf="currentIndex == 1" class="modal-close-btn mr-3">Back</button>
                <button mat-dialog-close class="modal-close-btn">Close</button>
            </div>
        </div>
    </div>
</div>
