<div class="d-flex bd-highlight public-toggle mt-5 mb-3">
    <div class="px-4 py-2 bd-highlight label">Make this collection public</div>
    <div class="ml-auto px-4 py-2 bd-highlight slide-right">
        <mat-slide-toggle
            class="app-slide-toggle"
            [checked]="collection?.isPublic"
            (change)="updatePublic($event)"
        ></mat-slide-toggle>
    </div>
</div>

<!-- Package without thumbnail -->
<table mat-table [dataSource]="users">
    <!-- Label column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td class="table-content" mat-cell *matCellDef="let user">
            <a>{{ user.name }}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="permission">
        <th mat-header-cell *matHeaderCellDef>Permission</th>
        <td class="table-content" mat-cell *matCellDef="let user">
            <select [value]="user.permission">
                <option>None</option>
                <option value="VIEW">View</option>
                <option value="EDIT">Edit</option>
                <option value="MANAGE">Manage</option>
            </select>
        </td>
    </ng-container>

    <!-- Actions column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let collection">
            <a class="app-outlined-button mr-3">Remove</a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
