<div class="container mt-4 pt-2">
    <div class="mb-4 pb-3">
        <div class="text-main-title">Public Access</div>
        <p class="text-dark-gray col-md-8 p-0">
            Enabling public access allows all users, including anonymous users, to view the name, description, and
            packages in this collection. Users must have access to each individual package to view them.
        </p>

        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center public-toggle">
                <div class="ml-auto pr-2 pb-1 slide-right">
                    <mat-slide-toggle
                        class="app-slide-toggle"
                        [checked]="collection?.isPublic"
                        (change)="updatePublic($event)"
                        [disabled]="!collection.myPermissions.includes(Permission.MANAGE)"
                    ></mat-slide-toggle>
                </div>
                <div class="pr-2 text-dark-gray" style="margin-bottom: 0px !important">
                    <span class="public-text" *ngIf="collection?.isPublic">Public</span>
                    <span class="not-public-text" *ngIf="!collection?.isPublic">Not Public</span>
                </div>
            </div>
        </div>
    </div>

    <div class="text-main-title">Manage Collection</div>
    <button class="app-outlined-button mr-2" (click)="editCollection()">Edit Collection Details</button>
    <button
        class="app-outlined-button"
        *ngIf="collection.myPermissions.includes(Permission.MANAGE)"
        (click)="deleteCollection()"
    >
        Delete This Collection
    </button>

    <div class="mt-4 py-3">
        <div class="text-main-title">Users With Access</div>
        <p class="text-dark-gray" *ngIf="userPermissions?.length">
            The following users have individual permission this collection.
        </p>
        <p class="text-dark-gray" *ngIf="userPermissions?.length == 0">
            There are no other users who have permissions to this collection.
        </p>

        <button
            class="app-outlined-button"
            (click)="addUser()"
            *ngIf="collection.myPermissions.includes(Permission.MANAGE)"
        >
            Add User
        </button>
    </div>

    <!-- Package without thupmbnail -->
    <table
        mat-table
        [dataSource]="userPermissions"
        *ngIf="userPermissions.length > 0"
        class="gray-table"
        aria-labelledby="permissions"
    >
        <!-- Label column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef scope="col">User</th>
            <td class="table-content" mat-cell *matCellDef="let userPermission">
                <div style="display: flex; justify-content: start; align-content: center">
                    <a class="ml-2" [routerLink]="'/' + userPermission.user.username"
                        ><app-avatar [user]="userPermission.user" [size]="24"></app-avatar
                    ></a>
                    <a class="color-info ml-2" [routerLink]="'/' + userPermission.user.username">{{
                        userPermission.user.displayName
                    }}</a>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="permission">
            <th mat-header-cell *matHeaderCellDef scope="col">Permission</th>
            <td class="table-content" mat-cell *matCellDef="let userPermission">
                <mat-form-field
                    appearance="fill"
                    class="permission-div"
                    *ngIf="collection.myPermissions.includes(Permission.MANAGE)"
                >
                    <mat-select
                        [value]="userPermission.permission"
                        (selectionChange)="updatePermission(userPermission.user.username, $event.target.value)"
                    >
                        <mat-option value="VIEW">View </mat-option>
                        <mat-option value="EDIT">Edit </mat-option>
                        <mat-option value="MANAGE">Manage </mat-option>
                    </mat-select>
                </mat-form-field>
                <span *ngIf="!collection.myPermissions.includes(Permission.MANAGE)">{{
                    permissionString(userPermission.permission)
                }}</span>
            </td>
        </ng-container>

        <!-- Actions column -->
        <ng-container matColumnDef="actions" *ngIf="collection.myPermissions.includes(Permission.MANAGE)">
            <th mat-header-cell *matHeaderCellDef scope="col">Actions</th>
            <td mat-cell *matCellDef="let userPermission">
                <a class="app-outlined-button mr-3" (click)="removeUser(userPermission.user.username)">Remove</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>

    <div class="container p-0 mb-3" id="packagePermission">
        <div class="text-main-title mt-4 pt-3">Groups With Access</div>
        <p class="text-dark-gray" *ngIf="groupPermissions.length > 0">
            The following groups have permission to access this package.
        </p>
        <p class="text-dark-gray" *ngIf="groupPermissions.length == 0">
            There are no groups with access to this package.
        </p>
        <button class="app-outlined-button mt-2" (click)="addGroup()">Add Group</button>
    </div>

    <table
        mat-table
        [dataSource]="groupPermissions"
        *ngIf="groupPermissions?.length > 0"
        class="gray-table"
        aria-describedby="groupsTable"
    >
        <!-- Label column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef scope="col">Group</th>
            <td class="table-content" mat-cell *matCellDef="let groupPermission">
                <div style="display: flex; justify-content: start; align-content: center">
                    <a class="color-info ml-2" [routerLink]="'/group/' + groupPermission.group.slug">{{
                        groupPermission.group.name
                    }}</a>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="permission">
            <th mat-header-cell *matHeaderCellDef scope="col">Permission</th>
            <td class="table-content" mat-cell *matCellDef="let groupPermission">
                <mat-form-field appearance="fill" class="permission-div">
                    <mat-select
                        [value]="groupPermission.permission"
                        (selectionChange)="setGroupPermissions(groupPermission.group, $event.value)"
                    >
                        <mat-option value="VIEW">View </mat-option>
                        <mat-option value="EDIT">Edit </mat-option>
                        <mat-option value="MANAGE">Manage </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>

        <!-- Actions column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef scope="col">Actions</th>
            <td mat-cell *matCellDef="let groupPermission">
                <a class="app-outlined-button" (click)="removeGroupPermissions(groupPermission.group)">Remove</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
</div>
