.public-toggle {
    max-width: 400px;
}

.mat-table {
    width: 100%;
}

.mat-header-row {
    background-color: transparent;
}

select {
    background-color: transparent;
    border: none;
    outline: none;
}
