<div class="dialog-wrapper" id="signUp">
    <h1 mat-dialog-title class="dialog-title">datapm</h1>
    <div mat-dialog-content>
        <div class="first-dialog-div">
            <p class="dialog-subtile">sign up with email</p>
            <mat-form-field appearance="fill" class="outline-input">
                <mat-label>email</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="outline-input">
                <mat-label>password</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="second-dialog-div">
            <p class="dialog-subtile">new account information</p>
            <mat-form-field appearance="fill" class="outline-input">
                <mat-label>full name</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="outline-input">
                <mat-label>user name</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="outline-input">
                <mat-label>public email</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="button-wrapper text-center">
      <button mat-button mat-dialog-close><span class="btn-text">create</span></button>
    </div>
</div>