<div class="dialog-wrapper-signup" id="signUp">
    <div class="dialog-close-wrapper">
        <button mat-button mat-dialog-close class="dialog-close">close</button>
    </div>
    <h1 class="dialog-title">datapm</h1>

    <div *ngIf="state != State.SUCCESS">
        <form [formGroup]="signUpForm" (ngSubmit)="formSubmit()">
            <div class="first-dialog-div">
                <p class="dialog-subtile">sign up with email</p>

                <input
                    type="text"
                    placeholder="email"
                    name="emailAddress"
                    formControlName="emailAddress"
                    autocomplete="email"
                    email
                    minlength="5"
                    class="rounded-input"
                    (input)="clearError('emailAddress')"
                />
                <div class="div-with-errors">
                    <div class="alert-warn" *ngIf="signUpForm.get('emailAddress').errors?.INVALID_FORMAT">
                        Username must contain only numbers, letters, and hyphens, and may not start or end with a
                        hyphen.
                    </div>
                    <div class="alert-warn" *ngIf="signUpForm.get('emailAddress').errors?.TOO_LONG">
                        Email address must be less than 100 characters long.
                    </div>
                    <div class="alert-warn" *ngIf="signUpForm.get('emailAddress').errors?.NOT_AVAILABLE">
                        <span>That email address already has an account. Please use the</span>
                        <span class="forgot-password" (click)="openForgotPassword()">forgot password</span>
                        <span>feature on the login page.</span>
                    </div>
                </div>
                <br />

                <input
                    type="password"
                    placeholder="password"
                    name="password"
                    formControlName="password"
                    autocomplete="new-password"
                    minlength="8"
                    class="rounded-input"
                />
                <p class="hint-txt">Password must contain more than 8 characters.</p>
            </div>

            <div class="second-dialog-div">
                <p class="dialog-subtile">new account information</p>

                <input
                    type="text"
                    placeholder="username"
                    name="username"
                    formControlName="username"
                    autocomplete="username"
                    class="rounded-input"
                    (input)="clearError('username')"
                />
                <div class="div-with-errors">
                    <div class="alert-warn" *ngIf="signUpForm.get('username').errors?.INVALID_CHARACTERS">
                        Username must contain only numbers, letters, and hyphens, and may not start or end with a
                        hyphen.
                    </div>
                    <div class="alert-warn" *ngIf="signUpForm.get('username').errors?.TOO_LONG">
                        Username must be less than 40 characters long.
                    </div>
                    <div class="alert-warn" *ngIf="signUpForm.get('username').errors?.NOT_AVAILABLE">
                        That username is not available. Try a different username.
                    </div>
                </div>
            </div>

            <div class="div-with-errors">
                <div class="alert-warn" *ngIf="state == State.REJECTED">The server rejected the request.</div>
                <div class="alert-error" *ngIf="state == State.ERROR">
                    There was a problem communicating or with the server. Please try again, or contact support.
                </div>
                <div class="alert-error" *ngIf="state == State.ERROR_AFTER_SIGNUP">
                    Your account has been created, but there was a problem logging immediately after.
                </div>
            </div>

            <div class="button-dialog-div text-center">
                <button type="submit" [class.disabled]="!signUpForm.valid">
                    <span class="btn-text">sign up</span>
                </button>
            </div>
        </form>
    </div>

    <div class="div-with-errors" *ngIf="state == State.SUCCESS">
        <div class="alert-info" style="margin: 35px 0px">
            Sign up complete! <br />
            Please check your email for next steps.
        </div>
        <div class="text-center">
            <button mat-dialog-close class="close-btn">
                <span class="close-text">Back to browse</span>
            </button>
        </div>
    </div>
</div>
