@import "../../../../styles/variables";
@import "../../../../styles/colors";

.dialog-wrapper-account {
    .dialog-subtile {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: ($small-font + 1);
        line-height: 12px;
        letter-spacing: 0.4px;
        color: var(--gray-2-color);
    }

    .div-with-errors {
        max-width: 346px;
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        padding-left: 10px;
        font-size: $small-font;
        letter-spacing: 0.4px;
        color: var(--gray-1-color);
        line-height: 12px;

        .alert-info {
            font-size: $text-font;
            padding-left: 0px;
            line-height: 21px;
        }
    }

    ::ng-deep.text-danger {
        max-width: 336px !important;
    }

    .app-raised-button {
        min-width: 200px;
    }
}

@media (max-width: 576px) {
    .dialog-wrapper-account {
        .dialog-subtile {
            margin-bottom: 7px;
            padding-top: 0px;
        }
    }
}
