@import "../../../../styles/variables";

.dialog-wrapper-signup {
    padding: 20px 30px;

    .dialog-subtile {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: ($small-font + 1);
        line-height: 18px;
        padding-left: 10px;
        padding-bottom: 5px;
        letter-spacing: -0.28px;
        color: $gray-3;
    }

    .div-with-errors {
        max-width: 346px;
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-400;
        padding-left: 10px;
        font-size: $xsmall-font;
        margin-top: 5px;
        color: $color-danger;
        line-height: 12px;

        .alert-info {
            font-size: $text-font;
            padding-left: 0px;
            line-height: 21px;
        }
    }

    .app-raised-button {
        min-width: 200px;
    }

    app-input {
        display: block;
        min-width: 348px;
        max-width: 380px;

        ::ng-deep.text-danger {
            font-size: ($small-font - 1);
            max-width: 324px;
            line-height: 13px;
        }
    }
}

@media (max-width: 576px) {
    .dialog-wrapper-signup {
        padding: 0px;
        .dialog-subtile {
            margin-bottom: 0px;
            padding-top: 18px;
        }
        app-input {
            min-width: 208px;
            ::ng-deep.text-danger {
                font-size: $xsmall-font;
            }
        }
    }
}
