#catalogsPage {
    .catalogs-div {
        margin-top: 30px;

        .content-text {
            margin-bottom: 15px;
        }
    }

    .panel-div {
        width: 100%;

        table {
            width: 100%;
        }
    }

    .section-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.28px;
        color: #333333;
        padding: 24px;
    }

    ::ng-deep.mat-checked {
        .mat-slide-toggle-bar {
            background-color: #00a896;
        }

        .mat-slide-toggle-thumb {
            background-color: #fff;
        }
    }

    .edit-button {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: -0.28px;
        color: #017fb9;
        border: 1px solid #ddd;
        padding: 3px 15px;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            background-color: rgba(240, 240, 240, 0.783);
        }
    }
}
