#catalogsPage {
    .catalogs-div {
        margin-top: 30px;

        .content-text {
            margin-bottom: 15px;
        }
    }

    .panel-div {
        width: 100%;

        table {
            width: 100%;
        }
    }

    .section-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.28px;
        color: #333333;
        padding: 24px;
    }

    .loading-container {
        display: flex;
        justify-content: center;
        padding: 20px 0 40px;
        width: 100%;
    }

    .mat-column-actions app-button {
        display: inline-block;
        width: 80px;
        margin-right: 10px;
    }
}
