<div id="catalogsPage">
    <div class="catalogs-div panel-div">
        <div *ngIf="myCatalogs && myCatalogs.length > 0" class="section-title">My Catalogs</div>
        <mat-card *ngFor="let catalog of myCatalogs">
            <a routerLink="/{{ catalog.identifier.catalogSlug }}">
                {{ catalog.displayName || catalog.identifier.catalogSlug }}
            </a>
            <mat-card-description class="content-description">{{ catalog.description }}</mat-card-description>
        </mat-card>
    </div>
</div>
