<div class="container">
    <div class="row">
        <div class="col-md-12 p-0" id="movePackage">
            <div mat-dialog-title id="contentTitle">Move Package</div>
            <div mat-dialog-content id="contentBorder">
                <div>
                    <p>lorem ipsum.</p>
                </div>
            </div>

            <div mat-dialog-actions class="d-flex justify-content-between">
                <button mat-dialog-close class="modal-close-btn">Cancel</button>
                <button class="modal-submit-btn">
                    <span>Confirm Move</span>
                </button>
            </div>
        </div>
    </div>
</div>
