<input
    [ngClass]="'dpm-input-' + inputStyle"
    [type]="inputType"
    autocomplete="off"
    [placeholder]="placeholder"
    [formControl]="formControl"
    (change)="handleInputChange($event)"
    (keyup)="handleKeyUp($event)"
    (focus)="focus.emit($event)"
    (blur)="blur.emit($event)"
    cdkFocusInitial
    *ngIf="autoFocus && !multiline"
/>
<input
    [ngClass]="'dpm-input-' + inputStyle"
    [type]="inputType"
    autocomplete="off"
    [placeholder]="placeholder"
    [formControl]="formControl"
    (change)="handleInputChange($event)"
    (keyup)="handleKeyUp($event)"
    (focus)="focus.emit($event)"
    (blur)="blur.emit($event)"
    *ngIf="!autoFocus && !multiline"
/>
<textarea
    [ngClass]="'dpm-input-' + inputStyle"
    autocomplete="off"
    [placeholder]="placeholder"
    [formControl]="formControl"
    (change)="handleInputChange($event)"
    (keyup)="handleKeyUp($event)"
    (focus)="focus.emit($event)"
    (blur)="blur.emit($event)"
    cdkFocusInitial
    *ngIf="autoFocus && multiline"
></textarea>
<textarea
    [ngClass]="'dpm-input-' + inputStyle"
    autocomplete="off"
    [placeholder]="placeholder"
    [formControl]="formControl"
    (change)="handleInputChange($event)"
    (keyup)="handleKeyUp($event)"
    (focus)="focus.emit($event)"
    (blur)="blur.emit($event)"
    *ngIf="!autoFocus && multiline"
></textarea>
<div class="text-danger mt-1 ml-2" *ngIf="error">{{ error }}</div>
