<app-cover [username]="currentUser.username"></app-cover>

<div class="container" id="userProfile">
    <div class="row top-row">
        <div *ngIf="currentUser" class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 profile-div">
            <div class="row my-account-header">
                <div class="col-7">
                    <div class="d-flex bd-highlight user-header" style="height: 80px">
                        <div class="p-2 bd-highlight">
                            <app-avatar class="user-img" [user]="currentUser" [size]="100"> </app-avatar>
                        </div>
                        <div class="p-2 bd-highlight">
                            <span *ngIf="currentUser.firstName && currentUser.lastName">
                                <span class="user-fullname">
                                    {{ currentUser | username }}
                                </span>
                                &nbsp;
                                <span *ngIf="currentUser.nameIsPublic" class="public-text">public</span>
                                <span *ngIf="!currentUser.nameIsPublic" class="not-public-text">not public</span><br />
                            </span>
                            <span class="user-name-only">{{ "@" + currentUser.username }}</span>
                            &nbsp;
                            <span class="public-text">public</span>
                        </div>
                        <div class="p-2 bd-highlight"></div>
                    </div>
                    <p class="user-bio pl-3">
                        {{ currentUser.description }}
                    </p>
                </div>
                <div class="col-5 contact-info">
                    <h3>Contact Info</h3>
                    <p>
                        <a target="_blank" href="mailto:{{ currentUser.emailAddress }}">{{
                            currentUser.emailAddress
                        }}</a
                        >&nbsp;
                        <span *ngIf="currentUser.emailAddressIsPublic" class="public-text">public</span>
                        <span *ngIf="!currentUser.emailAddressIsPublic" class="not-public-text">not public</span>
                    </p>
                    <p *ngIf="currentUser.twitterHandle">
                        <a target="_blank" href="https://twitter.com/{{ currentUser.twitterHandle }}"
                            >@{{ currentUser.twitterHandle }} on Twitter</a
                        >&nbsp;
                        <span *ngIf="currentUser.twitterHandleIsPublic" class="public-text">public</span>
                        <span *ngIf="!currentUser.twitterHandleIsPublic" class="not-public-text">not public</span>
                    </p>
                    <p *ngIf="currentUser.gitHubHandle">
                        <a target="_blank" href="https://github.com/{{ currentUser.gitHubHandle }}"
                            >@{{ currentUser.gitHubHandle }} on GitHub</a
                        >&nbsp;
                        <span *ngIf="currentUser.gitHubHandleIsPublic" class="public-text">public</span>
                        <span *ngIf="!currentUser.gitHubHandleIsPublic" class="not-public-text">not public</span>
                    </p>
                </div>
            </div>

            <div class="user-menu">
                <ul class="p-0" id="homeRoutes">
                    <li *ngFor="let route of routes; let i = index" class="list-names" (click)="selectTab(i)">
                        <a class="cursor-pointer" [class.active]="i == selectedTab">
                            {{ route.linkName }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 p-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
