<div class="container" id="userProfile">
    <div class="top-row">
        <div *ngIf="currentUser" class="profile-div">
            <app-user-details-header [user]="currentUser"></app-user-details-header>

            <ul class="p-0 tabs">
                <li *ngFor="let tab of tabs; let i = index" class="list-names" (click)="selectTab(tab.value)">
                    <a class="cursor-pointer" [class.active]="tab.value == selectedTab">
                        {{ tab.name }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="p-0" [ngSwitch]="selectedTab">
            <app-user-packages
                [isCurrentUser]="true"
                [username]="currentUser?.username"
                *ngSwitchCase="'packages'"
            ></app-user-packages>
            <app-user-collections
                [isCurrentUser]="true"
                [username]="currentUser?.username"
                *ngSwitchCase="'collections'"
            ></app-user-collections>
            <app-user-catalogs
                [isCurrentUser]="true"
                [username]="currentUser?.username"
                *ngSwitchCase="'catalogs'"
            ></app-user-catalogs>
            <app-user-details
                [isCurrentUser]="true"
                [username]="currentUser?.username"
                *ngSwitchDefault
            ></app-user-details>
        </div>
    </div>
</div>
