.tabs {
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 3px;
    display: flex;

    li {
        a {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: -0.28px;
            text-transform: uppercase;
            color: #828282;
            cursor: pointer;
            text-decoration: none;
            padding: 0px 10px 4px 10px;
            margin: 0px 40px 0px 10px;
        }
    }

    .active {
        opacity: 1;
        color: #333333 !important;
        border-bottom: 2px solid #333333;
    }
}
.public-text {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.28px;
    color: #00a896;
}
.not-public-text {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.28px;
    color: #828282;
}
