<hr style="width: 100%" class="header-border" />

<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 mt-5 py-2">
            <div class="row big-div-latest mb-3">
                <div class="col-md-12 col-lg-12 pb-2 mb-4">
                    <app-package-and-collection
                        [title]="'Search results'"
                        [packagesQuery]="packagesQuery"
                        [collectionsQuery]="collectionsQuery"
                        (onLoadPackagesClick)="updatePackageFetchingQuery($event)"
                        (onLoadCollectionsClick)="updateCollectionsFetchingQuery($event)"
                    >
                        <div packagesEmptyState>
                            <p><span class="material-icons">search</span></p>
                            <br />
                            <p>We couldn’t find any packages matching '{{ query }}'</p>
                            <p class="small-txt">Please search another name</p>
                        </div>

                        <div packagesErrorState>
                            <p><span class="material-icons">error</span></p>
                            <br />
                            <p>
                                Could not search packages. Reload the page and if the issue persists please contact
                                support.
                            </p>
                        </div>
                    </app-package-and-collection>
                </div>
            </div>
        </div>
    </div>
</div>
