<hr style="width: 100%" class="header-border" />

<div class="container padding-desktop">
  <div class="row">
    <div class="col-md-12 col-lg-3 col-sm-12">
      <div class="d-flex flex-column bd-highlight sorting-mat">
        <mat-radio-group
          aria-label="Select an option"
          [(ngModel)]="selectedFilter"
        >
          <div class="p-2 bd-highlight">
            <mat-radio-button [value]="Filter.PACKAGES"
              >Packages</mat-radio-button
            >
          </div>
          <div class="p-2 bd-highlight">
            <mat-radio-button [value]="Filter.COLLECTIONS"
              >Collections</mat-radio-button
            >
          </div>
          <!-- <div class="p-2 bd-highlight"><mat-radio-button [value]="Filter.USERS">Users</mat-radio-button></div> -->
        </mat-radio-group>
      </div>
      <!-- <div class="d-flex flex-column bd-highlight sorting-mat" [class.disabledDiv]="!isPackageSelected">
          <div class="p-2 bd-highlight"><mat-checkbox class="example-margin" value="batch">batch</mat-checkbox></div>
          <div class="p-2 bd-highlight"><mat-checkbox class="example-margin" value="streaming">streaming</mat-checkbox></div>
          <div class="p-2 bd-highlight"><mat-checkbox class="example-margin" value="free">free</mat-checkbox></div>
          <div class="p-2 bd-highlight"><mat-checkbox class="example-margin" value="premium">premium</mat-checkbox></div>
        </div> -->
    </div>
    <div class="col-md-12 col-lg-9 col-sm-12">
      <!-- <div id="searchUser" *ngIf="isUserSelected">
        <mat-list>
          <div class="search-title">
            Your search results for <span>Bleona</span>
          </div>
          <mat-list-item>
            <div class="d-flex bd-highlight" style="width: 100%">
              <div class="py-2 bd-highlight d-flex align-items-center">
                <img
                  src="../../assets/images/user-female.jpg"
                  class="user-image"
                  alt="User image"
                />
              </div>
              <div class="py-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight user-name">Sarah Ray</div>
                  <div class="bd-highlight user-location">
                    San Francisco, CA
                  </div>
                </div>
              </div>
              <div class="ml-auto py-2 bd-highlight">
                <a class="star-btn">
                  <mat-icon class="material-icons star-icon"
                    >star_rate</mat-icon
                  >
                  <span class="star-txt">26</span>
                </a>
                <span style="margin: 0px 10px; color: #bfbfbf">|</span>
                <button mat-raised-button class="follow-btn">
                  <mat-icon class="material-icons follow-icon">add</mat-icon>
                  <span class="follow-txt">Follow</span>
                </button>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="d-flex bd-highlight" style="width: 100%">
              <div class="py-2 bd-highlight d-flex align-items-center">
                <img
                  src="../../assets/images/user-male.jpg"
                  class="user-image"
                  alt="User image"
                />
              </div>
              <div class="py-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight user-name">John Doe</div>
                  <div class="bd-highlight user-location">Miami</div>
                </div>
              </div>
              <div class="ml-auto py-2 bd-highlight">
                <a class="star-btn">
                  <mat-icon class="material-icons star-icon"
                    >star_rate</mat-icon
                  >
                  <span class="star-txt">54</span>
                </a>
                <span style="margin: 0px 10px; color: #bfbfbf">|</span>
                <button mat-raised-button class="follow-btn">
                  <mat-icon class="material-icons follow-icon">add</mat-icon>
                  <span class="follow-txt">Follow</span>
                </button>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="d-flex bd-highlight" style="width: 100%">
              <div class="py-2 bd-highlight d-flex align-items-center">
                <img
                  src="../../assets/images/user-male2.png"
                  class="user-image"
                  alt="User image"
                />
              </div>
              <div class="py-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight user-name">James Otto</div>
                  <div class="bd-highlight user-location">England</div>
                </div>
              </div>
              <div class="ml-auto py-2 bd-highlight">
                <a class="star-btn">
                  <mat-icon class="material-icons star-icon"
                    >star_rate</mat-icon
                  >
                  <span class="star-txt">87</span>
                </a>
                <span style="margin: 0px 10px; color: #bfbfbf">|</span>
                <button mat-raised-button class="follow-btn">
                  <mat-icon class="material-icons follow-icon">add</mat-icon>
                  <span class="follow-txt">Follow</span>
                </button>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="d-flex bd-highlight" style="width: 100%">
              <div class="py-2 bd-highlight d-flex align-items-center">
                <img
                  src="../../assets/images/user-female.jpg"
                  class="user-image"
                  alt="User image"
                />
              </div>
              <div class="py-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight user-name">Sarah Ray</div>
                  <div class="bd-highlight user-location">
                    San Francisco, CA
                  </div>
                </div>
              </div>
              <div class="ml-auto py-2 bd-highlight">
                <a class="star-btn">
                  <mat-icon class="material-icons star-icon"
                    >star_rate</mat-icon
                  >
                  <span class="star-txt">102</span>
                </a>
                <span style="margin: 0px 10px; color: #bfbfbf">|</span>
                <button mat-raised-button class="follow-btn">
                  <mat-icon class="material-icons follow-icon">add</mat-icon>
                  <span class="follow-txt">Follow</span>
                </button>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="d-flex bd-highlight" style="width: 100%">
              <div class="py-2 bd-highlight d-flex align-items-center">
                <img
                  src="../../assets/images/user-male.jpg"
                  class="user-image"
                  alt="User image"
                />
              </div>
              <div class="py-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight user-name">John Doe</div>
                  <div class="bd-highlight user-location">Miami</div>
                </div>
              </div>
              <div class="ml-auto py-2 bd-highlight">
                <a class="star-btn">
                  <mat-icon class="material-icons star-icon"
                    >star_rate</mat-icon
                  >
                  <span class="star-txt">234</span>
                </a>
                <span style="margin: 0px 10px; color: #bfbfbf">|</span>
                <button mat-raised-button class="follow-btn">
                  <mat-icon class="material-icons follow-icon">add</mat-icon>
                  <span class="follow-txt">Follow</span>
                </button>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="d-flex bd-highlight" style="width: 100%">
              <div class="py-2 bd-highlight d-flex align-items-center">
                <img
                  src="../../assets/images/user-male2.png"
                  class="user-image"
                  alt="User image"
                />
              </div>
              <div class="py-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight user-name">James Otto</div>
                  <div class="bd-highlight user-location">England</div>
                </div>
              </div>
              <div class="ml-auto py-2 bd-highlight">
                <a class="star-btn">
                  <mat-icon class="material-icons star-icon"
                    >star_rate</mat-icon
                  >
                  <span class="star-txt">77</span>
                </a>
                <span style="margin: 0px 10px; color: #bfbfbf">|</span>
                <button mat-raised-button class="follow-btn">
                  <mat-icon class="material-icons follow-icon">add</mat-icon>
                  <span class="follow-txt">Follow</span>
                </button>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="d-flex bd-highlight" style="width: 100%">
              <div class="py-2 bd-highlight d-flex align-items-center">
                <img
                  src="../../assets/images/user-male.jpg"
                  class="user-image"
                  alt="User image"
                />
              </div>
              <div class="py-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight">
                  <div class="bd-highlight user-name">John Doe</div>
                  <div class="bd-highlight user-location">Miami</div>
                </div>
              </div>
              <div class="ml-auto py-2 bd-highlight">
                <a class="star-btn">
                  <mat-icon class="material-icons star-icon"
                    >star_rate</mat-icon
                  >
                  <span class="star-txt">12</span>
                </a>
                <span style="margin: 0px 10px; color: #bfbfbf">|</span>
                <button mat-raised-button class="follow-btn">
                  <mat-icon class="material-icons follow-icon">add</mat-icon>
                  <span class="follow-txt">Follow</span>
                </button>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div> -->
      <div id="searchCollections" *ngIf="isCollectionSelected">
        <mat-list>
          <div class="search-title">
            Your search results for <span>Weather</span>
          </div>
          <mat-list-item>
            <div class="d-flex bd-highlight mobile-row" style="width: 100%">
              <div class="py-2 bd-highlight d-flex align-items-center">
                <img
                  src="../../assets/images/galaxy.jpg"
                  class="collection-image"
                  alt="User image"
                />
              </div>
              <div class="py-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight pt-2">
                  <div class="bd-highlight user-name">Andrew Devi</div>
                  <div class="bd-highlight user-title">
                    <a href="#">Weather data collection</a>
                  </div>
                  <div class="bd-highlight rounded-star mt-2">
                    <button
                      [class.yellow]="isStarClicked"
                      mat-mini-fab
                      aria-label="Example icon button with a home icon"
                      (click)="clickStar()"
                    >
                      <mat-icon>star_border</mat-icon>
                    </button>
                    <span>24</span>
                  </div>
                </div>
              </div>
              <div class="ml-auto bd-highlight align-self-center">
                <div class="d-flex flex-column bd-highlight text-right">
                  <div class="bd-highlight user-description">
                    Updated 5 min.
                  </div>
                  <div class="bd-highlight user-description">25 packages</div>
                </div>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="d-flex bd-highlight mobile-row" style="width: 100%">
              <div class="py-2 bd-highlight d-flex align-items-center d-none">
                <img src="#" class="collection-image" alt="User image" />
              </div>
              <div class="py-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight pt-2">
                  <div class="bd-highlight user-name">Andrew Devi</div>
                  <div class="bd-highlight user-title">
                    <a href="#">Weather data collection</a>
                  </div>
                  <div class="bd-highlight rounded-star mt-2">
                    <button
                      mat-mini-fab
                      aria-label="Example icon button with a home icon"
                    >
                      <mat-icon>star_border</mat-icon>
                    </button>
                    <span>47</span>
                  </div>
                </div>
              </div>
              <div class="ml-auto bd-highlight align-self-center">
                <div class="d-flex flex-column bd-highlight text-right">
                  <div class="bd-highlight user-description">
                    Updated 5 min.
                  </div>
                  <div class="bd-highlight user-description">25 packages</div>
                </div>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="d-flex bd-highlight mobile-row" style="width: 100%">
              <div class="py-2 bd-highlight d-flex align-items-center d-none">
                <img src="#" class="collection-image" alt="User image" />
              </div>
              <div class="py-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight pt-2">
                  <div class="bd-highlight user-name">Andrew Devi</div>
                  <div class="bd-highlight user-title">
                    <a href="#">Weather data collection</a>
                  </div>
                  <div class="bd-highlight rounded-star mt-2">
                    <button
                      mat-mini-fab
                      aria-label="Example icon button with a home icon"
                    >
                      <mat-icon>star_border</mat-icon>
                    </button>
                    <span>43</span>
                  </div>
                </div>
              </div>
              <div class="ml-auto bd-highlight align-self-center">
                <div class="d-flex flex-column bd-highlight text-right">
                  <div class="bd-highlight user-description">
                    Updated 5 min.
                  </div>
                  <div class="bd-highlight user-description">25 packages</div>
                </div>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="d-flex bd-highlight mobile-row" style="width: 100%">
              <div class="py-2 bd-highlight d-flex align-items-center">
                <img
                  src="../../assets/images/card-img.png"
                  class="collection-image"
                  alt="User image"
                />
              </div>
              <div class="py-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight pt-2">
                  <div class="bd-highlight user-name">Andrew Devi</div>
                  <div class="bd-highlight user-title">
                    <a href="#">Weather data collection</a>
                  </div>
                  <div class="bd-highlight rounded-star mt-2">
                    <button
                      mat-mini-fab
                      aria-label="Example icon button with a home icon"
                    >
                      <mat-icon>star_border</mat-icon>
                    </button>
                    <span>12</span>
                  </div>
                </div>
              </div>
              <div class="ml-auto bd-highlight align-self-center">
                <div class="d-flex flex-column bd-highlight text-right">
                  <div class="bd-highlight user-description">
                    Updated 5 min.
                  </div>
                  <div class="bd-highlight user-description">25 packages</div>
                </div>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="d-flex bd-highlight mobile-row" style="width: 100%">
              <div class="py-2 bd-highlight d-flex align-items-center">
                <img
                  src="../../assets/images/galaxy.jpg"
                  class="collection-image"
                  alt="User image"
                />
              </div>
              <div class="py-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight pt-2">
                  <div class="bd-highlight user-name">Andrew Devi</div>
                  <div class="bd-highlight user-title">
                    <a href="#">Weather data collection</a>
                  </div>
                  <div class="bd-highlight rounded-star mt-2">
                    <button
                      mat-mini-fab
                      aria-label="Example icon button with a home icon"
                    >
                      <mat-icon>star_border</mat-icon>
                    </button>
                    <span>82</span>
                  </div>
                </div>
              </div>
              <div class="ml-auto bd-highlight align-self-center">
                <div class="d-flex flex-column bd-highlight text-right">
                  <div class="bd-highlight user-description">
                    Updated 5 min.
                  </div>
                  <div class="bd-highlight user-description">25 packages</div>
                </div>
              </div>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div class="d-flex bd-highlight mobile-row" style="width: 100%">
              <div class="py-2 bd-highlight d-flex align-items-center d-none">
                <img src="#" class="collection-image" alt="User image" />
              </div>
              <div class="py-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight pt-2">
                  <div class="bd-highlight user-name">Andrew Devi</div>
                  <div class="bd-highlight user-title">
                    <a href="#">Weather data collection</a>
                  </div>
                  <div class="bd-highlight rounded-star mt-2">
                    <button
                      mat-mini-fab
                      aria-label="Example icon button with a home icon"
                    >
                      <mat-icon>star_border</mat-icon>
                    </button>
                    <span>57</span>
                  </div>
                </div>
              </div>
              <div class="ml-auto bd-highlight align-self-center">
                <div class="d-flex flex-column bd-highlight text-right">
                  <div class="bd-highlight user-description">
                    Updated 5 min.
                  </div>
                  <div class="bd-highlight user-description">25 packages</div>
                </div>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <div id="searchPackages" *ngIf="isPackageSelected">
        <mat-list *ngIf="data?.searchPackages?.length; else noPackagesFound">
          <ng-container
            *ngFor="let package of data.searchPackages; first as isFirst"
          >
            <div *ngIf="isFirst" class="search-title">
              Your search results for '{{ urlParams?.params?.q }}'
            </div>

            <mat-list-item>
              <div class="d-flex bd-highlight mobile-row" style="width: 100%">
                <div
                  ngIf="package.imageUrl"
                  class="d-flex bd-highlight mobile-row"
                  style="width: 100%"
                >
                  <img
                    [src]="package.imageUrl"
                    class="collection-image"
                    alt="Image"
                  />
                </div>
                <div class="py-2 bd-highlight">
                  <div class="d-flex flex-column bd-highlight pt-2">
                    <div class="bd-highlight user-name"></div>
                    <div class="bd-highlight user-title">
                      <a
                        routerLink="/{{ package.identifier.catalogSlug }}/{{
                          package.identifier.packageSlug
                        }}"
                        >{{ package.displayName }}</a
                      >
                    </div>
                    <div class="bd-highlight description-wrapper">
                      <span class="user-description">
                        {{ package.description }}
                      </span>
                    </div>
                    <!-- <div class="bd-highlight rounded-star-package mt-2">
                      <button
                      [class.yellow]="isStarClicked"
                      mat-mini-fab
                      aria-label="Example icon button with a home icon"
                      (click)="clickStar()"
                    >
                      <mat-icon>star_border</mat-icon>
                    </button>
                    <span>66</span>
                    </div> -->
                  </div>
                </div>
                <div class="ml-auto py-2 bd-highlight align-self-center">
                  <div class="d-flex flex-column bd-highlight text-right">
                    <div class="bd-highlight user-right-description">
                      {{
                        package?.latestVersion?.updatedAt | date: "d/MM/yyyy t"
                      }}
                    </div>
                    <!-- <div class="bd-highlight user-right-description">
                      2 downloaded
                    </div> -->
                  </div>
                </div>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </div>
    </div>
  </div>
</div>

<ng-template #noPackagesFound>
  <div *ngIf="state === State.SUCCESS" class="not-found">
    <p><span class="material-icons">search</span></p>
    <br />
    <p>We couldn’t find any packages matching '{{ urlParams?.params?.q }}'</p>
    <p class="small-txt">Please search another name</p>
  </div>

  <div *ngIf="state === State.ERROR" class="not-found">
    <p><span class="material-icons">error</span></p>
    <br />
    <p>Something went wrong</p>
  </div>
</ng-template>
