@import "../../styles/variables";
@import "../../styles/colors";

.padding-desktop {
    padding: 50px 30px;
}

.search-icon {
    font-size: 40px;
    color: var(--gray-1-color);
}

p {
    margin-bottom: 10px;
}

@media (max-width: 992px) {
    .padding-desktop {
        padding: 10px 0px !important;
    }
}

@media (max-width: 576px) {
    .padding-desktop {
        padding: 10px 15px !important;
    }
}
