@import '../../styles/variables';

.padding-desktop {
    padding: 50px 30px;
}

::ng-deep .sorting-mat {
    border: 1px solid transparent;
    padding: 15px;
    box-shadow: $outer-shadow-1;
    border-radius: 4px;
    margin-bottom: 20px;

    .bd-highlight {
        .mat-radio-label-content {
            margin-bottom: 0px;
            font-family: $family-roboto-mono;
            font-style: $style-normal;
            font-weight: $weight-400;
            font-size: $text-font;
            line-height: 18px;
            text-align: center;
            color: $gray-1;
        }

        .mat-radio-outer-circle {
            border-color: $gray-3;
            border-width: 0px;
            box-shadow: $radio-outer-shadow;
        }

        .mat-radio-checked {
            .mat-radio-inner-circle {
                background-color: rgb(0 0 0 / 37%);
            }
        }
    }
}

.not-found {
    height: 50vh;
    text-align: center;
    padding-top: 50px;

    p {
        margin: 0 auto;
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: ($default-font + 2);
        line-height: 28px;
        text-align: center;
        padding: 0px 30px;

        span {
            font-size: 40px;
        }
    }

    .small-txt {
        font-size: 14px;
        padding-top: 15px;
    }
}

.navigation-link {
    font-family: $family-roboto-mono;
    font-style: $style-normal;
    font-weight: $weight-300;
    font-size: ($small-font + 1);
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    letter-spacing: -0.28px;
    color: $gray-3;
    text-decoration: none;

    &:hover {
        color: $black;
    }
}

#searchCollections {
    .search-title {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: $default-font;
        color: $gray-2;
        padding-bottom: 20px;
    }

    .mat-list-item {
        height: unset;
        padding: 10px 0px;

        .collection-image {
            width: 75px;
            height: 65px;
            object-fit: cover;
            margin-right: 10px;
            border-radius: 6px;
            box-shadow: $outer-shadow-1;
        }

        .user-name {
            font-family: $family-roboto-mono;
            font-style: $style-normal;
            font-weight: $weight-400;
            font-size: ($xsmall-font + 1);
            line-height: 10px;
            letter-spacing: -0.28px;
            color: $gray-3;
        }

        .user-description {
            font-family: $family-roboto-mono;
            font-style: $style-normal;
            font-weight: $weight-300;
            font-size: $xsmall-font;
            line-height: 14px;
            color: $gray-3;
        }

        .user-title {
            a {
                font-family: $family-roboto-mono;
                font-style: $style-normal;
                font-weight: $weight-400;
                font-size: $text-font;
                color: $gray-2;
            }
        }
    }
}

#searchPackages {
    .search-title {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: $default-font;
        color: $gray-2;
        padding-bottom: 20px;
    }

    .mat-list-item {
        height: unset;
        padding: 10px 0px;

        .collection-image {
            width: 85px;
            height: 87px;
            object-fit: cover;
            margin-right: 10px;
            border-radius: 6px;
            box-shadow: $outer-shadow-1;
        }

        .user-name {
            font-family: $family-roboto-mono;
            font-style: $style-normal;
            font-weight: $weight-400;
            font-size: $xsmall-font;
            line-height: 10px;
            color: $gray-3;
        }

        .user-title {
            a {
                font-family: $family-roboto-mono;
                font-style: $style-normal;
                font-weight: $weight-400;
                font-size: $text-font;
                color: $gray-2;
            }
        }

        .description-wrapper {
            overflow: hidden;
            max-width: 300px;
            height: 27px;
            line-height: 12px;

            .user-description {
                font-family: $family-roboto-mono;
                font-style: $style-normal;
                font-weight: $weight-300;
                font-size: $xsmall-font;
                line-height: 10px !important;
                color: $gray-3;
            }
        }
    }
}

@media (max-width: 992px) {
    .padding-desktop {
        padding: 10px 0px !important;
        #searchPackages {
            .search-title {
                font-size: $text-font;
                text-align: left;
                padding-left: 15px;
                padding-bottom: 10px;
            }
            .mat-list-item {
                padding: 0px 0px;
                .mobile-row {
                    flex-direction: row !important;
                    display: unset !important;
                    .collection-image {
                        width: 160px !important;
                        height: 70px !important;
                    }
                    .user-right-description {
                        line-height: 12px;
                        margin-right: auto;
                    }
                    .rounded-star-package {
                        position: relative;
                        top: 10px;
                        margin-top: 0px !important;
                    }
                }
            }
        }
        #searchCollections {
            .search-title {
                font-size: $text-font;
                text-align: left;
                padding-left: 15px;
                padding-bottom: 0px;
            }
            .mat-list-item {
                .mobile-row {
                    flex-direction: row !important;
                    display: unset !important;
                    .collection-image {
                        width: 160px !important;
                        height: 70px !important;
                    }
                    .user-description {
                        margin-right: auto;
                        line-height: 12px;
                    }
                    .rounded-star {
                        position: relative;
                        top: 5px;
                        margin-top: 0px !important;
                    }
                }
            }
        }
    }
    ::ng-deep .sorting-mat {
        padding: 10px;
        box-shadow: none;
        flex-direction: row !important;
        .mat-radio-group {
            display: flex;
            .mat-radio-label {
                margin-bottom: 0px;
                .mat-radio-label-content {
                    font-size: $small-font;
                }
            }
        }
        .mat-checkbox {
            .mat-checkbox-layout {
                font-size: $small-font;
            }
        }
    }
    .search-title {
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    ::ng-deep .sorting-mat {
        .mat-radio-group {
            .mat-radio-label {
                .mat-radio-label-content {
                    font-size: $xsmall-font;
                }
            }
        }
        .mat-checkbox {
            .mat-checkbox-layout {
                font-size: ($xsmall-font - 1);
            }
        }
    }
}
