.link-button {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.28px;
    color: #017fb9;
    border: 1px solid #ddd;
    padding: 3px 15px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        background-color: rgba(240, 240, 240, 0.783);
    }
}
.raised-button {
    outline: #fff solid 0px;
    box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.5), 0px -4px 4px rgba(255, 255, 255, 0.25),
        0px 4px 4px rgba(183, 183, 183, 0.25), 4px 0px 4px rgba(183, 183, 183, 0.25);
    border-radius: 24px;
    min-width: 200px;
    height: 36px;
    margin: 30px 0 15px;
    border: none;
    background: #fff;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    align-items: center;
    text-align: center;
    color: #828282;

    &:hover {
        background-color: #dddddd9c;
    }

    &:disabled {
        background-color: #cccccc85;
        pointer-events: none;
        opacity: 0.6;
    }
}
