@import "../../../../styles/variables";

#editPassword {
    position: relative;
    min-width: 500px;

    .div-with-errors {
        max-width: 346px;
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-400;
        padding-left: 10px;
        font-size: $xsmall-font;
        color: $color-danger;
        line-height: 12px;
    }
}

@media (max-width: 768px) {
    #editPassword {
        min-width: 400px;
    }
}

@media (max-width: 576px) {
    #editPassword {
        min-width: 260px;
    }
}
