@import "../../../../styles/variables";
@import "../../../../styles/colors";

#editPassword {
    position: relative;
    min-width: 500px;

    .div-with-errors {
        max-width: 346px;
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        padding-left: 2px;
        font-size: $xsmall-font;
        color: var(--danger-color);
        line-height: 12px;
    }
}

@media (max-width: 768px) {
    #editPassword {
        min-width: 400px;
    }
}

@media (max-width: 576px) {
    #editPassword {
        min-width: 260px;
    }
}
