<form id="editPassword">
    <div mat-dialog-title>Change My Password</div>
    <div mat-dialog-content>
        <div class="d-flex bd-highlight shadow-div my-3">
            <div class="px-4 py-2 bd-highlight div-question">current password</div>
            <div class="bd-highlight div-answer">
                <input
                    [formControl]="currentPassword"
                    type="password"
                    class="form-control dpm-input-round"
                    placeholder="Current password"
                />
                <div class="div-with-errors">
                    <div class="alert-warn" *ngIf="state == State.WRONG_CREDENTIALS">
                        Does not match your current password
                    </div>
                    <div class="alert-warn" *ngIf="currentPassword.touched && currentPassword.errors?.REQUIRED">
                        Current password is required
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex bd-highlight shadow-div my-3">
            <div class="px-4 py-2 bd-highlight div-question">new password</div>
            <div class="bd-highlight div-answer">
                <input
                    [formControl]="newPassword"
                    type="password"
                    class="form-control dpm-input-round"
                    placeholder="New password"
                    autocomplete="off"
                />
                <div class="div-with-errors">
                    <div class="alert-warn" *ngIf="newPassword.touched && newPassword.errors?.REQUIRED">
                        New password is required
                    </div>
                    <div class="alert-warn" *ngIf="newPassword.touched && newPassword.errors?.PASSWORD_TOO_LONG">
                        New password is too long
                    </div>
                    <div class="alert-warn" *ngIf="newPassword.touched && newPassword.errors?.PASSWORD_TOO_SHORT">
                        New password must be at least 8 characters
                    </div>
                    <div class="alert-warn" *ngIf="newPassword.touched && newPassword.errors?.INVALID_CHARACTERS">
                        Passwords less than 16 characters must include one number or a special character (@ # $ % !)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="submit()" class="ml-auto save-btn" [class.disabled]="form.invalid">
            <span>save</span>
        </button>
    </div>
</form>
