#detailsPage {
    .up-header {
        div {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 300;
            font-size: 10px;
            line-height: 13px;
            text-align: right;
            letter-spacing: -0.28px;
            color: #828282;
        }
    }

    .person-card-photo {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 1px #666666a1;
    }

    .person-card-name {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.28px;
        color: #828282;
        padding: 4px 10px;
        margin-bottom: 0px !important;
    }

    .content-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.28px;
        color: #333333;
    }

    .no-keys-div {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: -0.28px;
        color: #333333;
        padding: 24px;
        padding-bottom: 0;
    }

    .section-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.28px;
        color: #333333;
        padding: 24px;
    }

    .api-keys-title {
        padding-bottom: 0;
    }

    .delete-icon {
        color: red;
        &:hover {
            cursor: pointer;
        }
    }

    th,
    td,
    p {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        line-height: 26px;
        letter-spacing: -0.28px;
    }

    td,
    p {
        font-size: 12px;
        color: #333333;
    }

    .api-key-form {
        padding: 24px;
        .div-with-errors {
            max-width: 346px;
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 400;
            padding-left: 2px;
            font-size: 10px;
            margin-top: 5px;
            color: #f44336;
            line-height: 12px;
        }
    }

    .command-container {
        padding: 8px;
        border-radius: 4px;
        background-color: rgba(240, 240, 240, 0.783);
        &:hover {
            cursor: pointer;
            background-color: #ddd;
        }
    }

    .content-list {
        ul {
            li {
                font-family: Roboto Mono;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: -0.28px;
                color: #4f4f4f;
                margin-top: 20px;
            }

            li:first-child {
                margin-top: 10px;
            }
        }
    }
    .mat-header-cell {
        padding-left: 24px;
    }
    .content-actions {
        .content-nr {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            text-transform: uppercase;
            color: #828282;
        }

        button {
            width: 32px;
            height: 32px;
            background-color: #fff;
            box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.25), 0px -4px 4px rgba(255, 255, 255, 0.25),
                0px 4px 4px rgba(189, 189, 189, 0.25), 4px 0px 4px rgba(189, 189, 189, 0.25);

            &:focus {
                outline: #fff auto 0px !important;
            }

            ::ng-deep.mat-button-wrapper {
                padding: 0px 0;
                line-height: 20px;

                .mat-icon {
                    height: 30px;
                    color: #828282;

                    &:focus {
                        outline: #fff auto 0px !important;
                    }
                }
            }
        }
        .yellow {
            background-color: #f49636c7 !important;

            .mat-icon {
                color: #fff;
            }
        }
    }

    .edit-button {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: -0.28px;
        color: #017fb9;
        border: 1px solid #ddd;
        padding: 3px 15px;
        border-radius: 4px;
        margin: 24px;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            background-color: rgba(240, 240, 240, 0.783);
        }
    }
    .mat-card {
        box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.25), 0px -4px 4px rgba(255, 255, 255, 0.25),
            0px 4px 4px rgba(189, 189, 189, 0.25), 4px 0px 4px rgba(189, 189, 189, 0.25);

        .mat-card-title {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: -0.28px;
            color: #333333;
            padding: 8px;
        }

        .mat-card-image {
            width: 100%;
            height: 150px;
            object-fit: cover;
            margin: 0px !important;
        }

        .content-description {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.28px;
            color: #4f4f4f;
            max-height: 111px;
            overflow: hidden;
            padding: 8px;
        }

        ::ng-deep.card-header-mat {
            .mat-card-header-text {
                margin: 6px 0px;
            }

            .mat-card-avatar {
                height: 35px;
                width: unset;
            }
        }
    }

    .package-chips {
        ::ng-deep.mat-chip {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 13px;
            letter-spacing: -0.28px;
            color: #000000;
            padding: 0px 9px;
            min-height: 18px;
            border-radius: 24px;
            cursor: pointer;
            margin: 0px 8px;
            background-color: #fff;
            box-shadow: inset -4px 0px 4px rgba(255, 255, 255, 0.25), inset 0px -4px 4px rgba(255, 255, 255, 0.25),
                inset 0px 4px 4px rgba(189, 189, 189, 0.25), inset 4px 0px 4px rgba(189, 189, 189, 0.25);
        }
    }

    .package-div {
        margin-top: 30px;

        .content-text {
            margin-bottom: 15px;
        }
    }

    .panel-div {
        width: 100%;
        box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.25), 0px -4px 4px rgba(255, 255, 255, 0.25),
            0px 4px 4px rgba(189, 189, 189, 0.25), 4px 0px 4px rgba(189, 189, 189, 0.25);
        table {
            width: 100%;
        }
        .div-answer {
            width: 100%;
            display: flex;
            flex-direction: row;
            height: auto;
            // justify-content: center;
            align-items: center;
            input {
                height: 35px;
                // border: none !important;
                border: 0.5px solid rgb(235, 235, 235);
                font-family: Roboto Mono;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                display: flex;
                align-items: flex-end;
                letter-spacing: -0.28px;
                color: #017fb9;

                &:focus {
                    outline: transparent solid 0px;
                    box-shadow: none;
                }

                &::placeholder {
                    font-family: Roboto Mono;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 18px;
                    display: flex;
                    align-items: flex-end;
                    letter-spacing: -0.28px;
                    color: #828282;
                }
            }
        }
        .save-btn {
            padding: 5px 20px;
            box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.5), 0px -4px 4px rgba(255, 255, 255, 0.25),
                0px 4px 4px rgba(183, 183, 183, 0.25), 4px 0px 4px rgba(183, 183, 183, 0.25);
            border-radius: 24px;
            span {
                font-family: Roboto Mono;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: -0.28px;
                color: #828282;
            }
        }
    }

    .section-description {
        padding: 24px;
        width: 66%;
    }
}

@media (max-width: 767px) {
    .package-div,
    .panel-div {
        margin-bottom: 0px !important;
        .table-content {
            padding-right: 24px;
            overflow-wrap: break-word;
            .div-answer {
                flex-direction: column;
            }
            .flex-row {
                flex-direction: column !important;
                div {
                    width: 100% !important;
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                }
            }
            .package-chips {
                .mat-chip {
                    margin: 4px 4px !important;
                }
            }
        }
    }

    .section-description {
        width: 100%;
    }
}

@media (max-width: 480px) {
    #detailsPage {
        .panel-div {
            .div-answer {
                flex-direction: column;
                input {
                    width: 100%;
                }
                div {
                    width: 100%;
                    margin-top: 5px;
                    a {
                        margin: 0;
                    }
                }
            }
            .package-actions {
                .d-flex {
                    flex-direction: column !important;
                    div {
                        padding: 4px 0px !important;
                    }
                }
            }
        }
    }
}
