<div id="detailsPage" class="big-div-package">
    <div class="package-div panel-div">
        <div class="section-title">Actions</div>
        <div class="d-flex flex-row bd-highlight">
            <div class="mb-3">
                <a class="edit-button" (click)="openEditDialog()">Edit My Profile</a>
                <a class="edit-button" (click)="openPasswordDialog()">Change My Password</a>
            </div>
        </div>
    </div>

    <div class="package-div panel-div">
        <div *ngIf="myAPIKeys && myAPIKeys.length > 0" class="section-title api-keys-title">My API Keys</div>
        <div *ngIf="myAPIKeys && myAPIKeys.length === 0" class="section-title api-keys-title">
            Create your first API Key
        </div>
        <div class="section-description">
            API Keys are for authenticating your <a href="/docs/command-line-client/">DataPM Command Line Client</a>,
            and custom software development projects using the <a href="/docs/registry-api/">DataPM Registry API</a>.
        </div>
        <table *ngIf="myAPIKeys && myAPIKeys.length > 0" mat-table [dataSource]="myAPIKeys">
            <!-- Label column -->
            <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef>Label</th>
                <td class="table-content" mat-cell *matCellDef="let apiKey">{{ apiKey.label }}</td>
            </ng-container>

            <!-- Actions column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let apiKey">
                    <a class="edit-button" (click)="deleteApiKey(apiKey.id)"> delete </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>

        <div class="api-key-form">
            <form [formGroup]="createAPIKeyForm">
                <div class="bd-highlight div-answer">
                    <input
                        type="text"
                        placeholder="API Key Label"
                        name="label"
                        formControlName="label"
                        minlength="1"
                        autocomplete="off"
                    />
                    <div [class.disabled]="!createAPIKeyForm.valid">
                        <a class="edit-button" (click)="createAPIKey()">Create API Key</a>
                    </div>
                </div>
            </form>
            <div class="div-with-errors">
                <div *ngIf="createAPIKeyState == State.ERROR_NOT_UNIQUE">
                    You already have a key with that label. <br />
                    Please choose a different label.
                </div>
                <div *ngIf="createAPIKeyState == State.ERROR_NO_LABEL">A label is required.</div>
                <div *ngIf="createAPIKeyState == State.ERROR">
                    There was a problem communicating with the server. Please try again.
                </div>
            </div>
            <div *ngIf="createAPIKeyState == State.SUCCESS" class="div-with-key-command">
                <p>
                    Click to copy the command below. Paste it into your terminal after
                    <a href="/docs/command-line-client/#install-the-datapm-command-line-client"
                        >installing the command line client</a
                    >.
                    <br />
                </p>
                <div class="command-container" (click)="copyKeyToClipboard()" matTooltip="Copy to clipboard">
                    <code>
                        {{ apiKeyCommandString() }}
                    </code>
                </div>
            </div>
        </div>
    </div>
</div>
