<div id="detailsPage" class="big-div-package">
	<div class="package-div">
		<mat-card class="example-card">
			<div class="d-flex bd-highlight up-header mt-1 mb-3">
				<div class="bd-highlight">Updated 5 min.</div>
				<div class="ml-auto bd-highlight">2 downloaded</div>
			</div>
			<mat-card-header class="card-header-mat">
				<div mat-card-avatar class="example-header-image">
					<img src="../../../assets/images/user-female.png" alt="User image card" class="person-card-photo" />
					<span class="person-card-name">Tyler Williams</span>
				</div>
			</mat-card-header>

			<mat-card-content>
				<div class="d-flex flex-row bd-highlight mb-3">
					<div class="bd-highlight" style="width: 50%">
						<img mat-card-image src="../../../assets/images/galaxy.jpg" alt="Photo of a Shiba Inu" />
					</div>
					<div class="bd-highlight px-3 py-1" style="width: 50%">
						<div class="content-title mb-2">nasa/light-polution</div>
						<div class="content-description">
							Short description preview of the product and some, lorem ipsum dolor sit amet, consectetur
							adipiscing elit. Risus orci, sem nullam maecenas sed mauris. Sed turpis lorem vitae sit.
							Amet, in aliquet odio id orci. Risus orci, sem nullam maecenas sed mauris. Sed turpis lorem
							vitae sit. Amet, in aliquet odio id orci...
						</div>
					</div>
				</div>

				<div class="content-actions">
					<div class="package-chips pb-2">
						<mat-chip-list aria-label="Fish selection">
							<mat-chip>weather</mat-chip>
							<mat-chip>oceanic</mat-chip>
							<mat-chip>streaming</mat-chip>
							<mat-chip>weather</mat-chip>
							<mat-chip>oceanic</mat-chip>
							<mat-chip>streaming</mat-chip>
						</mat-chip-list>
					</div>
					<div class="package-actions pt-2">
						<div class="d-flex bd-highlight">
							<div class="p-2 bd-highlight">
								<button mat-fab class="person-menu" aria-label="Example icon button with a delete icon">
									<mat-icon>star_border</mat-icon>
								</button>
								<span class="px-2 content-nr">47</span>
							</div>
							<div class="p-2 bd-highlight">
								<button mat-fab class="person-menu" aria-label="Example icon button with a delete icon">
									<mat-icon>collections</mat-icon>
								</button>
								<span class="px-2 content-nr">add to collection</span>
							</div>
						</div>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<div class="package-div">
		<mat-card class="example-card">
			<div class="d-flex bd-highlight up-header mt-1 mb-3">
				<div class="bd-highlight">Updated 5 min.</div>
				<div class="ml-auto bd-highlight">2 downloaded</div>
			</div>
			<mat-card-header class="card-header-mat">
				<div mat-card-avatar class="example-header-image">
					<img src="../../../assets/images/user-female.png" alt="User image card" class="person-card-photo" />
					<span class="person-card-name">Tyler Williams</span>
				</div>
			</mat-card-header>

			<mat-card-content>
				<div class="d-flex flex-row bd-highlight mb-3">
					<div class="bd-highlight" style="width: 50%">
						<img mat-card-image src="../../../assets/images/galaxy.jpg" alt="Photo of a Shiba Inu" />
					</div>
					<div class="bd-highlight px-3 py-1" style="width: 50%">
						<div class="content-title mb-2">nasa/atmospheric-changes</div>
						<div class="content-description">
							Short description preview of the product and some, lorem ipsum dolor sit amet, consectetur
							adipiscing elit. Risus orci, sem nullam maecenas sed mauris. Sed turpis lorem vitae sit.
							Amet, in aliquet odio id orci...
						</div>
					</div>
				</div>

				<div class="content-actions">
					<div class="package-chips pb-2">
						<mat-chip-list aria-label="Fish selection">
							<mat-chip>weather</mat-chip>
							<mat-chip>oceanic</mat-chip>
							<mat-chip>streaming</mat-chip>
							<mat-chip>weather</mat-chip>
							<mat-chip>oceanic</mat-chip>
							<mat-chip>streaming</mat-chip>
						</mat-chip-list>
					</div>
					<div class="package-actions pt-2">
						<div class="d-flex bd-highlight">
							<div class="p-2 bd-highlight">
								<button mat-fab class="person-menu" aria-label="Example icon button with a delete icon">
									<mat-icon>star_border</mat-icon>
								</button>
								<span class="px-2 content-nr">47</span>
							</div>
							<div class="p-2 bd-highlight">
								<button mat-fab class="person-menu" aria-label="Example icon button with a delete icon">
									<mat-icon>collections</mat-icon>
								</button>
								<span class="px-2 content-nr">add to collection</span>
							</div>
						</div>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<div class="package-div">
		<mat-card class="example-card">
			<div class="d-flex bd-highlight up-header mt-1 mb-3">
				<div class="bd-highlight">Updated 5 min.</div>
				<div class="ml-auto bd-highlight">2 downloaded</div>
			</div>
			<mat-card-header class="card-header-mat">
				<div mat-card-avatar class="example-header-image">
					<img src="../../../assets/images/user-female.png" alt="User image card" class="person-card-photo" />
					<span class="person-card-name">Tyler Williams</span>
				</div>
			</mat-card-header>

			<mat-card-content>
				<div class="content-text">
					<div class="content-title mb-2">noaa/weather-stations</div>
					<div class="content-description">
						Short description preview of the product and some, lorem ipsum dolor sit amet, consectetur
						adipiscing elit. Risus orci, sem nullam maecenas sed mauris. Sed turpis lorem vitae sit. Amet,
						in aliquet odio id orci...
					</div>
				</div>

				<div class="content-actions">
					<div class="package-chips pb-2">
						<mat-chip-list aria-label="Fish selection">
							<mat-chip>weather</mat-chip>
							<mat-chip>oceanic</mat-chip>
							<mat-chip>streaming</mat-chip>
							<mat-chip>weather</mat-chip>
							<mat-chip>oceanic</mat-chip>
							<mat-chip>streaming</mat-chip>
						</mat-chip-list>
					</div>
					<div class="package-actions">
						<div class="d-flex bd-highlight">
							<div class="p-2 bd-highlight">
								<button mat-fab class="person-menu" aria-label="Example icon button with a delete icon">
									<mat-icon>star_border</mat-icon>
								</button>
								<span class="px-2 content-nr">47</span>
							</div>
							<div class="p-2 bd-highlight">
								<button mat-fab class="person-menu" aria-label="Example icon button with a delete icon">
									<mat-icon>collections</mat-icon>
								</button>
								<span class="px-2 content-nr">add to collection</span>
							</div>
						</div>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
