<div class="container">
    <div class="row">
        <div class="col-md-12 p-0" id="clientWizard">
            <div mat-dialog-content id="contentBorder">
                <div class="row">
                    <div class="col-md-12">
                        <div class="progress mb-3">
                            <div
                                class="progress-bar"
                                role="progressbar"
                                (click)="move(0)"
                                [style.width]="currentUser ? '33.5%' : '50%'"
                                style="background-color: #828282a8"
                                [class.active-bar]="currentIndex == 0"
                                aria-valuenow="50"
                                aria-valuemin="0"
                                aria-valuemax="100"
                            >
                                Install
                            </div>
                            <div
                                *ngIf="currentUser"
                                class="progress-bar"
                                role="progressbar"
                                (click)="move(1)"
                                [style.width]="currentUser ? '33.5%' : '50%'"
                                style="background-color: #828282a8"
                                [class.active-bar]="currentIndex == 1"
                                aria-valuenow="75"
                                aria-valuemin="0"
                                aria-valuemax="100"
                            >
                                Authenticate
                            </div>
                            <div
                                class="progress-bar"
                                role="progressbar"
                                (click)="moveToDownloadStep()"
                                [style.width]="currentUser ? '33.5%' : '50%'"
                                style="background-color: #828282a8"
                                [class.active-bar]="isDownloadStepActive()"
                                aria-valuenow="100"
                                aria-valuemin="0"
                                aria-valuemax="100"
                            >
                                Download
                            </div>
                        </div>
                        <mat-horizontal-stepper labelPosition="bottom" #stepper>
                            <mat-step optional>
                                <ng-template matStepLabel>Done</ng-template>
                                <div class="mat-content">
                                    <p class="stepper-title">Download & Install DataPM Client</p>
                                    <div class="stepper-content mb-1">
                                        <p>Choose your system below, download and run the installer.</p>
                                    </div>

                                    <ul class="mb-0">
                                        <li><a href="/client-installers/windows">Windows Installer</a></li>
                                        <li><a href="/client-installers/macos">MacOS Installer</a></li>
                                        <li><a href="/client-installers/debian">Debian & Ubuntu Linux Installer</a></li>
                                        <li><a href="/client-installers/redhat">Redhat & Centos Linux Installer</a></li>

                                    </ul>

                                    <div class="text-left mt-1">
                                        <a target="_blank" href="/docs/command-line-client/"
                                            >Detailed documentation</a
                                        >
                                    </div>
                                </div>
                            </mat-step>
                            <mat-step optional *ngIf="currentUser">
                                <div class="mat-content">
                                    <p class="stepper-title">Login to Registry</p>
                                    <div class="stepper-content mb-1">
                                        <p>Use this command to login to your registry account.</p>
                                    </div>

                                    <div
                                        class="d-flex bd-highlight copy-wrapper"
                                        style="cursor: pointer"
                                        (click)="copyRegistryLogin()"
                                    >
                                        <div class="bd-highlight copy-input">
                                            <span class="copy-txt"
                                                >datapm registry login {{ registryUrl }} {{ username }}</span
                                            >
                                        </div>
                                        <div class="ml-auto bd-highlight">
                                            <button class="copy-btn">
                                                <a><em class="far fa-copy"></em></a>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="text-left mt-1">
                                        <a target="_blank" href="/docs/command-line-client/"
                                            >Detailed documentation</a
                                        >
                                    </div>
                                </div>
                            </mat-step>
                            <mat-step optional>
                                <div class="mat-content">
                                    <p class="stepper-title">Fetch Data</p>
                                    <div class="stepper-content mb-1">
                                        <p>Use this command to fetch the data package</p>
                                    </div>

                                    <div
                                        class="d-flex bd-highlight copy-wrapper"
                                        style="cursor: pointer"
                                        (click)="copyDataFetch()"
                                    >
                                        <div class="bd-highlight copy-input">
                                            <span class="copy-txt">datapm fetch {{ getPackageIdentifier() }}</span>
                                        </div>
                                        <div class="ml-auto bd-highlight">
                                            <button class="copy-btn">
                                                <a><em class="far fa-copy"></em></a>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="stepper-content mt-2">
                                        <a href="/docs/quick-start">Quick Start Documentation</a>
                                    </div>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </div>
                </div>
            </div>
            <div mat-dialog-actions class="d-flex justify-content-end">
                <button
                    class="modal-close-btn mr-2"
                    *ngIf="currentIndex == undefined || currentIndex == 0"
                    mat-dialog-close
                >
                    <span> Close</span>
                </button>
                <button *ngIf="currentIndex != 0" class="modal-close-btn mr-2" (click)="previous()">
                    <span>Back</span>
                </button>
                <button
                    class="modal-submit-btn"
                    *ngIf="(currentIndex != 2 && currentUser) || (currentIndex != 1 && !currentUser)"
                    (click)="next()"
                >
                    <span> Next</span>
                </button>
                <button
                    class="modal-submit-btn"
                    *ngIf="(currentIndex == 2 && currentUser) || (currentIndex == 1 && !currentUser)"
                    mat-dialog-close
                >
                    <span>Finish</span>
                </button>
            </div>
        </div>
    </div>
</div>
