<div class="dialog-wrapper" id="logIn">
    <div class="dialog-close-wrapper">
        <button mat-button mat-dialog-close class="dialog-close">close</button>
    </div>
    <h1 mat-dialog-title class="dialog-title">datapm</h1>
    <p class="dialog-description">Welcome back!</p>
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step>
            <div mat-dialog-content>
                <form [formGroup]="loginForm" (ngSubmit)="formSubmit()">
                    <input
                        cdkFocusInitial
                        type="text"
                        placeholder="username or email address"
                        name="username"
                        formControlName="username"
                        autocomplete="username"
                        class="light-inputs"
                    />
                    <br />
                    <input
                        type="password"
                        placeholder="Password"
                        name="password"
                        formControlName="password"
                        autocomplete="current-password"
                        class="light-inputs"
                    />
                    <p class="forgot-pass"><a href="#">Forgot password?</a></p>
                    <br />
                    <div class="alert-div">
                        <div class="alert-warn" *ngIf="state == State.LOGIN_ERROR_VALIDATE_EMAIL">
                            You have not verified your email address. Check your email inbox for a "Verify Your Account"
                            email, and click the "Verify My Email Address" button. You can then log-in.
                        </div>
                        <div class="alert-warn" *ngIf="state == State.INCORRECT_LOGIN">
                            Your username and password were not correct.
                        </div>
                        <div class="alert-warn" *ngIf="state == State.LOGIN_ERROR">
                            There was a problem communicating with the server. Please try again, or contact support.
                        </div>
                    </div>
                    <div class="content-btn text-center">
                        <button type="submit" [class.disabled]="!loginForm.valid" class="submit-btn">
                            <span *ngIf="state != State.AWAITING_RESPONSE" class="btn-text">Login</span>
                            <span *ngIf="state == State.AWAITING_RESPONSE" class="loading-spinner">
                                <mat-spinner diameter="25"></mat-spinner>
                            </span>
                        </button>
                        <br />
                    </div>
                </form>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
