@import "../../../../styles/variables";
@import "../../../../styles/colors";

.dialog-wrapper-account {
    .dialog-description {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: $text-font;
        text-align: center;
        line-height: 18px;
        letter-spacing: 0.4px;
        color: var(--gray-3-color);
        margin-bottom: 30px;
    }

    .alert-div {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-500;
        font-size: $xsmall-font;
        letter-spacing: 0.4px;
        align-items: center;
        text-align: left;
        color: var(--danger-color);
        max-width: 347px;
        position: relative;
        line-height: 14px;
    }

    .forgot-pass {
        margin-top: 10px;
        a {
            font-size: $text-font;
            color: var(--info-color);
            :hover {
                color: var(--info-color);
            }
        }
    }

    .app-raised-button {
        min-width: 200px;
    }

    ::ng-deep .mat-spinner circle {
        stroke: $white-color !important;
    }

    .mat-spinner {
        stroke: $gray-3-color;
    }
}

@media (max-width: 576px) {
    .dialog-wrapper-account {
        .mat-dialog-actions {
            margin-top: 15px;
            .btn-text {
                font-size: $small-font;
            }
        }
        .forgot-pass {
            a {
                font-size: $small-font;
            }
        }
    }
}
