::ng-deep.dialog-wrapper {
    padding: 20px 30px;

    .dialog-close-wrapper {
        display: flex;
        position: relative;
        bottom: 30px;
        left: 40px;
        margin-bottom: -26px;
        justify-content: flex-end;

        .dialog-close {
            padding: 4px 8px;
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            line-height: 18px;
            letter-spacing: -0.28px;
            color: #828282;
            outline: transparent solid 0px;
        }
    }

    .dialog-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 55px;
        text-align: center;
        margin: 20px 0 10px;
        color: #333333;
        text-shadow: 0px -4px 4px rgba(255, 255, 255, 0.25), -4px 0px 4px rgba(255, 255, 255, 0.25),
            4px 0px 4px rgba(183, 183, 183, 0.25), 0px 4px 4px rgba(183, 183, 183, 0.25);
    }

    .dialog-description {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        line-height: 18px;
        letter-spacing: -0.28px;
        color: #828282;
        margin-bottom: 30px;
    }

    app-input {
        display: block;
        min-width: 348px;
        margin-top: 20px;
    }

    .forgot-pass {
        margin-top: 15px;
        a {
            font-size: 12px;
        }
    }

    .app-raised-button {
        min-width: 200px;
    }

    .alert-div {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        align-items: center;
        text-align: left;
        color: #ce5959;
        max-width: 347px;
        position: relative;
        top: -14px;
        line-height: 14px;
    }
}

::ng-deep.mat-dialog-container {
    border-radius: 24px;
    box-shadow: -4px 0px 4px rgba(130, 130, 130, 0.25), 0px -4px 4px rgba(130, 130, 130, 0.25),
        4px 0px 4px rgba(51, 51, 51, 0.25), 0px 4px 4px rgba(51, 51, 51, 0.25);

    #logIn {
        .mat-spinner {
            stroke: #828282;
        }
    }
    .mat-dialog-actions {
        display: block;
        margin-bottom: 10px;
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    #logIn {
        padding: 0px;
        .dialog-description {
            font-size: 12px;
            text-align: center;
            margin-bottom: 0px;
        }
        .dialog-close-wrapper {
            bottom: 19px;
            left: 22px;
            .dialog-close {
                font-size: 12px;
            }
        }
        .dialog-title {
            font-size: 34px;
            line-height: 40px;
            margin: 15px 0 5px;
        }
        .mat-dialog-actions {
            margin-top: 15px;
            .btn-text {
                font-size: 12px;
            }
        }
        app-input {
            min-width: 208px;
        }
    }
}
