::ng-deep.dialog-wrapper {
    padding: 20px 30px;

    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
        display: none;
    }

    .mat-horizontal-content-container {
        padding: 0px;
    }

    .dialog-close-wrapper {
        display: flex;
        position: relative;
        bottom: 30px;
        left: 40px;
        margin-bottom: -26px;
        justify-content: flex-end;

        .dialog-close {
            padding: 4px 8px;
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            line-height: 18px;
            letter-spacing: -0.28px;
            color: #828282;
            outline: transparent solid 0px;
        }
    }

    .dialog-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 55px;
        text-align: center;
        margin: 20px 0 10px;
        color: #333333;
        text-shadow: 0px -4px 4px rgba(255, 255, 255, 0.25), -4px 0px 4px rgba(255, 255, 255, 0.25),
            4px 0px 4px rgba(183, 183, 183, 0.25), 0px 4px 4px rgba(183, 183, 183, 0.25);
    }

    .dialog-description {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        line-height: 18px;
        letter-spacing: -0.28px;
        color: #828282;
        margin-bottom: 30px;
    }

    ::ng-deep .light-inputs {
        min-width: 348px;
        max-width: 380px;
        border: none;
        border-radius: 24px;
        padding: 10px 20px;
        background-color: #fff;
        -webkit-appearance: none !important;
        box-shadow: inset -4px 0px 4px rgba(255, 255, 255, 0.25), inset 0px -4px 4px rgba(255, 255, 255, 0.25),
            inset 0px 4px 4px rgba(189, 189, 189, 0.25), inset 4px 0px 4px rgba(189, 189, 189, 0.25);
        height: 49px;
        margin-top: 20px;
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.28px;
        outline: solid transparent 0px;

        &::placeholder {
            color: #bdbdbd;
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.28px;
        }
    }

    .forgot-pass {
        margin-top: 15px;
        a {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            padding-left: 15px;
            padding-top: 4px;
            margin-bottom: 0px;
            letter-spacing: -0.3px;
            color: #3a80ca;
        }
    }

    .submit-btn {
        outline: #fff solid 0px;
        box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.5), 0px -4px 4px rgba(255, 255, 255, 0.25),
            0px 4px 4px rgba(183, 183, 183, 0.25), 4px 0px 4px rgba(183, 183, 183, 0.25);
        border-radius: 24px;
        min-width: 200px;
        height: 36px;
        margin: 30px 0 15px;
        border: none;
        background: #fff;

        .btn-text {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            align-items: center;
            text-align: center;
            color: #828282;
        }

        &:hover {
            background-color: #dddddd9c;
        }
    }

    .disabled {
        background-color: #cccccc85;
        pointer-events: none;
        opacity: 0.6;
        .btn-text {
            color: #82828273;
        }
    }

    .back-btn {
        outline: #fff solid 0px;
        box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.5), 0px -4px 4px rgba(255, 255, 255, 0.25),
            0px 4px 4px rgba(183, 183, 183, 0.25), 4px 0px 4px rgba(183, 183, 183, 0.25);
        border-radius: 24px;
        min-width: 200px;
        height: 36px;
        margin-top: 15px;
        margin-bottom: 15px;
        border: none;
        background: #fff;

        &:hover {
            background-color: #dddddd9c;
        }

        .btn-text {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            align-items: center;
            text-align: center;
            color: #828282;
        }
    }

    .alert-div {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        align-items: center;
        text-align: left;
        color: #ce5959;
        max-width: 347px;
        position: relative;
        top: -14px;
        line-height: 14px;
    }
}

::ng-deep.mat-dialog-container {
    border-radius: 24px;
    box-shadow: -4px 0px 4px rgba(130, 130, 130, 0.25), 0px -4px 4px rgba(130, 130, 130, 0.25),
        4px 0px 4px rgba(51, 51, 51, 0.25), 0px 4px 4px rgba(51, 51, 51, 0.25);

    #logIn {
        .button-wrapper {
            button {
                outline: #fff solid 0px;
                box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.5), 0px -4px 4px rgba(255, 255, 255, 0.25),
                    0px 4px 4px rgba(183, 183, 183, 0.25), 4px 0px 4px rgba(183, 183, 183, 0.25);
                border-radius: 24px;
                min-width: 200px;
                height: 36px;
                margin-top: 15px;

                .flex-row {
                    line-height: 27px;

                    .btn-text {
                        font-family: Roboto Mono;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 18px;
                        align-items: center;
                        text-align: center;
                        color: #828282;
                    }

                    .btn-image {
                        margin-right: 30px;
                    }
                }
            }
        }
        .mat-dialog-actions {
            display: block;
            margin-bottom: 10px;
            margin-top: 30px;

            .btn-text {
                font-family: Roboto Mono;
                font-style: normal;
                font-weight: 300;
                font-size: 17px;
                align-items: center;
                text-align: center;
                color: #828282;
            }
        }
        .mat-spinner circle {
            stroke: #828282;
        }
        .loading-spinner {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .mat-dialog-actions.less-pd {
            margin-top: 0px;
        }
    }
}

@media (max-width: 576px) {
    #logIn {
        padding: 0px;
        .light-inputs {
            min-width: 228px;
            max-width: 280px;
            height: 38px;
            font-size: 13px;
            &::placeholder {
                font-size: 12px;
            }
        }
        .submit-btn {
            height: 30px;
            margin: 15px 0 15px;
            .btn-text {
                font-size: 14px;
            }
        }
        .back-btn {
            height: 30px;
            .btn-text {
                font-size: 14px;
            }
        }
        .button-wrapper {
            button {
                min-width: 180px;
                height: unset;
                .flex-row {
                    .btn-text {
                        font-size: 15px;
                    }
                }
            }
        }
        .dialog-description {
            font-size: 12px;
            text-align: center;
            margin-bottom: 0px;
        }
        .dialog-close-wrapper {
            bottom: 19px;
            left: 22px;
            .dialog-close {
                font-size: 12px;
            }
        }
        .dialog-title {
            font-size: 34px;
            line-height: 40px;
            margin: 15px 0 5px;
        }
        .mat-dialog-actions {
            margin-top: 15px;
            .btn-text {
                font-size: 12px;
            }
        }
        .forgot-pass {
            font-size: 10px;
            padding-left: 10px;
        }
    }
}
