<div class="container" id="editProperty">
    <div class="row">
        <div class="col-md-12 p-0">
            <div mat-dialog-title id="contentTitle">Edit Property</div>
            <div mat-dialog-content id="contentBorder">
                <div class="row pb-3">
                    <div class="col-md-12">
                        <div class="permission-div modal-select mb-3">
                            <label class="div-question pl-1">Select property</label>
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-select
                                    [(value)]="selectedProperty"
                                    (selectionChange)="updateSelectedProperty()"
                                    style="border: none !important"
                                >
                                    <mat-option *ngFor="let property of properties" [value]="property">{{
                                        property.title
                                    }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="mb-3">
                            <label class="div-question pl-1">Property title</label>
                            <app-input
                                [control]="titleControl"
                                class="flat-input-parent"
                                placeholder="Property title"
                            ></app-input>
                        </div>
                        <div class="mb-3">
                            <label class="div-question pl-1 mb-0"> Content labels </label>
                            <div *ngFor="let valueTypes of valueTypeValues">
                                <span class="text-dark-gray pl-1">{{ valueTypes.valueType }}</span>
                                <mat-form-field class="w-100 mb-1" id="inviteInput" appearance="outline">
                                    <mat-chip-list #chipList aria-label="Content labels">
                                        <mat-chip
                                            *ngFor="let contentLabel of valueTypes.contentLabels"
                                            [hidden]="contentLabel.hidden"
                                            [selectable]="false"
                                            [removable]="!contentLabel.hidden"
                                            (removed)="removeFromSelection(contentLabel, valueTypes.contentLabels)"
                                        >
                                            {{ contentLabel.label }}
                                            <mat-icon matChipRemove>remove</mat-icon>
                                        </mat-chip>

                                        <input
                                            matInput
                                            #usernameInput
                                            class="flat-input-parent"
                                            controlName="username"
                                            inputStyle="flat"
                                            [disabled]="loading"
                                            [formControl]="contentLabelControl"
                                            placeholder="Content Label"
                                            (blur)="addOnBlur(valueTypes.contentLabels)"
                                            [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="CHIP_SEPARATOR_KEY_CODES"
                                            (matChipInputTokenEnd)="add($event, valueTypes.contentLabels)"
                                        />
                                    </mat-chip-list>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="div-question pl-1">Units</label>
                            <app-input
                                [control]="unitControl"
                                class="flat-input-parent"
                                placeholder="Units"
                            ></app-input>
                        </div>
                        <div class="mb-3">
                            <label class="div-question pl-1">Description</label>
                            <div class="bd-highlight div-answer">
                                <textarea
                                    [(ngModel)]="description"
                                    class="flat-input"
                                    placeholder=""
                                ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div mat-dialog-actions class="d-flex justify-content-between pb-3">
                <button mat-dialog-close class="modal-close-btn">Close</button>
                <button (click)="save()" [disabled]="loading" class="ml-0 modal-submit-btn">
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
</div>
