@import "../../../../../styles/variables";
@import "../../../../../styles/colors";

#editProperty {
    ::ng-deep {
        .permission-div {
            .mat-form-field-wrapper {
                padding: 0px 0px 10px 0px !important;
            }
        }
    }

    #inviteInput {

        input {
            height: 35px;
            font-size: $small-font;

            &::placeholder {
                font-size: $small-font + 1;
                font-family: $family-roboto;
                letter-spacing: 0.5px;
                font-weight: $weight-300;
                color: var(--gray-4-color);
            }
        }

    }

    .modal-select {
        border-bottom: 1px solid var(--custom-gray-9-color);
        padding-bottom: 10px;
    }
}
