<div class="container">
    <div class="row mb-4 pb-2">
        <div class="col-md-8">
            <div class="text-main-title">Followers</div>
            <p class="text-dark-gray col-md-8 p-0">These users follow this .. description.</p>
            <div class="d-flex flex-row bd-highlight followers-div py-2">
                <div class="p-2 bd-highlight align-self-center">
                    <app-avatar class="user-img d-flex align-items-center" [user]="user1" [size]="45"> </app-avatar>
                </div>
                <div class="p-2 bd-highlight align-self-center">
                    <div class="text-dark-gray" style="margin-bottom: 0px !important">
                        <a href="#">Bleona Gjocaj</a>
                    </div>
                    <div class="text-light-gray">bleonagjocaj</div>
                </div>
                <div class="ml-auto p-2 bd-highlight align-self-center">
                    <button class="app-outlined-button">View profile</button>
                </div>
            </div>
            <div class="d-flex flex-row bd-highlight followers-div py-2">
                <div class="p-2 bd-highlight align-self-center">
                    <app-avatar class="user-img d-flex align-items-center" [user]="user" [size]="45"> </app-avatar>
                </div>
                <div class="p-2 bd-highlight align-self-center">
                    <div class="text-dark-gray" style="margin-bottom: 0px !important">
                        <a href="#">John Doe</a>
                    </div>
                    <div class="text-light-gray">johndoe</div>
                </div>
                <div class="ml-auto p-2 bd-highlight align-self-center">
                    <button class="app-outlined-button">View profile</button>
                </div>
            </div>
            <div class="d-flex flex-row bd-highlight followers-div py-2">
                <div class="p-2 bd-highlight align-self-center">
                    <app-avatar class="user-img d-flex align-items-center" [user]="user2" [size]="45"> </app-avatar>
                </div>
                <div class="p-2 bd-highlight align-self-center">
                    <div class="text-dark-gray" style="margin-bottom: 0px !important">
                        <a href="#">Sam Smith</a>
                    </div>
                    <div class="text-light-gray">samsmith</div>
                </div>
                <div class="ml-auto p-2 bd-highlight align-self-center">
                    <button class="app-outlined-button">View profile</button>
                </div>
            </div>
        </div>
    </div>
</div>
