<div class="container" id="editWebsite">
    <div class="row">
        <div class="col-md-12 p-0">
            <div mat-dialog-title id="contentTitle">Edit Website URL</div>
            <div mat-dialog-content id="contentBorder">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-dark-gray">
                            Enter the URL to a website for the data's author or extended information below.
                        </div>
                    </div>
                </div>
                <div class="row pb-3 pt-1">
                    <div class="col-md-12">
                        <div class="text-light-gray pl-1">Website</div>
                        <app-input
                            [control]="control"
                            type="text"
                            placeholder="Ex. pat@example.com"
                            class="rounded-input"
                        >
                        </app-input>
                        <div *ngIf="errorMessage" class="text-danger">
                            {{ errorMessage }}
                        </div>
                    </div>
                </div>
            </div>

            <div mat-dialog-actions class="d-flex justify-content-between pb-2">
                <button mat-dialog-close class="modal-close-btn">Close</button>
                <button (click)="submit()" [disabled]="loading" class="ml-0 modal-submit-btn">
                    <span>Submit</span>
                </button>
            </div>
        </div>
    </div>
</div>
