@import "../../../../../styles/variables";

#packageIssuseDetail {
    white-space: pre;

    .menu-btn {
        padding: 0px;
        min-width: 28px;
        line-height: unset;

        button {
            height: 30px;
        }
    }

    .package-dark-gray {
        margin-bottom: 0px !important;
    }

    .issue-wrapper.comment-bg {
        .issue-header {
            background-color: #0080b921 !important;
        }

        &:after {
            border-color: transparent #e3eef6 transparent transparent;
        }

        .issue-box {
            padding: 18px 20px 10px 20px;
        }

        ::ng-deep {
            .editor-toolbar {
                background: #e3eef6 !important;
                border: none;
                position: relative;
                top: 0px;
            }

            .editor-statusbar {
                display: none;
            }

            .CodeMirror {
                border: none;
                border-bottom: 1px solid #ddd;
            }
        }
    }

    .issue-wrapper.issues-bg {
        ::ng-deep {
            .editor-toolbar {
                background: #ededed !important;
                border: none;
                position: relative;
                top: 0px;
            }

            .editor-statusbar {
                display: none;
            }

            .CodeMirror {
                border: none;
                border-bottom: 1px solid #ddd;
            }
        }
    }

    .issue-wrapper {
        border: 1px solid #e1e1e1;
        border-radius: 3px;
        background: #fff;
        position: relative;

        &:after {
            display: block;
            position: absolute;
            content: "";
            right: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            top: 7px;
            border-color: transparent #ededed transparent transparent;
            border-width: 10px;
        }

        &:before {
            display: block;
            position: absolute;
            content: "";
            right: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            top: 6px;
            border-color: transparent #e1e1e1 transparent transparent;
            border-width: 11px;
        }

        .issue-header {
            padding: 6px 10px;
            border-bottom: 1px solid #cccccc73;
            background-color: #e0e0e094 !important;

            p {
                margin-bottom: 0px !important;
            }
        }

        .issue-box {
            padding: 18px 20px;
        }
    }

    .no-padding {
        padding: 0px !important;
    }

    .button-padding {
        padding: 7px 10px 7px 0px;
        background-color: $gray-6;
    }

    .space-line {
        height: 20px;
        margin-left: 66px;
        border-left: 1px solid #dadada;
    }

    .font-500 {
        font-weight: 500;
    }

    .font-12 {
        font-size: $small-font;
    }

    .app-raised-button {
        font-size: 13px;
        border-radius: 4px;
        border: 1px solid #ddd;
        line-height: 15px;
    }

    .comment-section {
        padding: 20px 0px 0px 6px;
        margin-left: 48px;
    }

    .app-outlined-button {
        line-height: 14px;
        padding: 8px 15px;
    }

    .comment-icon {
        position: relative;
        text-align: right;

        em {
            position: absolute;
            right: 0px;
            font-size: 16px;
            color: #c9c9c9;
            bottom: 6px;
        }
    }

    ::ng-deep {
        markdown {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                margin-bottom: 0px !important;
            }
        }

        .editor-statusbar {
            color: #2c3e50;
            background-color: $gray-6;
            border-bottom: 1px solid $gray-9;
            border-left: 1px solid $gray-9;
            border-right: 1px solid $gray-9;
        }

        .CodeMirror {
            font-family: $family-roboto;
            letter-spacing: 0.4px;
            background-color: #fbfbfb;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

            &:hover {
                background-color: $white;
            }
        }

        .editor-toolbar {
            opacity: 1;
            background-color: $gray-6;
            border-top: 1px solid $gray-9;
            border-left: 1px solid $gray-9;
            border-right: 1px solid $gray-9;

            &::after {
                margin-top: 3px;
            }

            &::before {
                margin-bottom: 3px;
            }
        }
    }

    .open-status {
        background: $color-info;
        padding: 6px 10px;
        border-radius: 14px;
        margin-right: 6px;
        color: #fff;

        &:hover {
            text-decoration: none;
        }

        em {
            margin-right: 3px;
        }
    }

    .closed-status {
        background: #828282;
        padding: 6px 10px;
        border-radius: 14px;
        margin-right: 6px;
        color: #fff;

        &:hover {
            text-decoration: none;
        }

        em {
            margin-right: 3px;
        }
    }
}

#issueBtn {
    height: 38px !important;
}
