<div class="col-md-9 p-0" id="packageIssuseDetail">
    <div class="container p-0 mb-3" id="packageIssues" *ngIf="state === State.SUCCESS; else issueLoadingTemplate">
        <div class="d-flex bd-highlight mb-4">
            <div class="mr-auto bd-highlight">
                <div class="package-details-title mb-2">{{ packageIssue.subject }}</div>
                <p class="package-light-gray">
                    <ng-container *ngIf="packageIssue.status === 'OPEN'; else closedStatusIcon">
                        <a class="open-status">
                            <em class="fas fa-exclamation-circle"></em>
                            <span>open</span>
                        </a>
                        <strong>{{ packageIssue.author.username }}</strong> opened this issue
                        {{ packageIssue.createdAt | timeAgo }}
                    </ng-container>
                    <ng-template #closedStatusIcon>
                        <a class="closed-status">
                            <em class="fas fa-ban"></em>
                            <span>closed</span>
                        </a>
                        <strong>{{ packageIssue.author.username }}</strong> closed this issue
                        {{ packageIssue.updatedAt | timeAgo }}
                    </ng-template>
                </p>
            </div>
            <div class="bd-highlight">
                <button class="app-outlined-button" (click)="deleteIssue()">Delete issue</button>
            </div>
        </div>

        <div class="wrapper">
            <div class="d-flex flex-row bd-highlight">
                <div class="px-2 bd-highlight" style="z-index: 99">
                    <img [src]="getUserAvatar(packageIssue.author.username) | async" class="img-comments" alt="hello" />
                </div>
                <div class="px-2 bd-highlight w-100">
                    <div class="issue-wrapper">
                        <div class="issue-header d-flex bd-highlight">
                            <div class="mr-auto bd-highlight">
                                <p class="package-dark-gray font-12">
                                    <span class="font-500">{{ packageIssue.author.username }}</span>
                                    commented {{ packageIssue.createdAt | timeAgo }}
                                </p>
                            </div>
                            <div class="bd-highlight">
                                <a mat-button [matMenuTriggerFor]="menu" class="menu-btn">
                                    <em class="fas fa-ellipsis-h"></em>
                                </a>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item id="issueBtn" (click)="openIssueEditor()">
                                        <span class="package-dark-gray">Edit</span>
                                    </button>
                                    <button mat-menu-item id="issueBtn">
                                        <span class="package-dark-gray">Copy</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="issue-box">
                            <div class="package-dark-gray">
                                <markdown
                                    *ngIf="!editingIssue; else issueEditor"
                                    [data]="packageIssue.content"
                                ></markdown>
                                <ng-template #issueEditor>
                                    <app-markdown-editor [content]="packageIssue.content"></app-markdown-editor>
                                    <div class="mt-2 text-right">
                                        <button class="app-outlined-button" (click)="closeIssueEditor()">Cancel</button>
                                        <button
                                            class="app-raised-button ml-2"
                                            [disabled]="submittingNewComment || !isValidNewCommentContent()"
                                            (click)="updateIssue()"
                                        >
                                            Save
                                        </button>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pl-5" *ngFor="let comment of packageIssueComments; let i = index">
                <div class="space-line"></div>
                <div class="d-flex flex-row bd-highlight">
                    <div class="px-2 bd-highlight" style="z-index: 99">
                        <img
                            [src]="getUserAvatar(packageIssue.author.username) | async"
                            class="img-comments"
                            alt="hello"
                        />
                    </div>
                    <div class="px-2 bd-highlight w-100">
                        <div class="issue-wrapper comment-bg">
                            <div class="issue-header d-flex bd-highlight">
                                <div class="mr-auto bd-highlight">
                                    <p class="package-dark-gray font-12">
                                        <span class="font-500">{{ comment.author.username }}</span>
                                        commented {{ comment.createdAt | timeAgo }}
                                    </p>
                                </div>
                                <div class="bd-highlight">
                                    <a mat-button [matMenuTriggerFor]="menu" class="menu-btn">
                                        <em class="fas fa-ellipsis-h"></em>
                                    </a>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item id="issueBtn" (click)="openCommentEditor(comment)">
                                            <span class="package-dark-gray">Edit</span>
                                        </button>
                                        <button mat-menu-item id="issueBtn">
                                            <span class="package-dark-gray">Delete</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="issue-box">
                                <div class="package-dark-gray">
                                    <markdown
                                        *ngIf="!comment.isEditing; else commentEditorTemplate"
                                        [data]="comment.content"
                                    ></markdown>
                                    <ng-template #commentEditorTemplate>
                                        <app-markdown-editor [(content)]="comment.editedContent"></app-markdown-editor>
                                        <div class="mt-2 text-right">
                                            <button class="app-outlined-button" (click)="closeCommentEditor(comment)">
                                                Cancel
                                            </button>
                                            <button class="app-raised-button ml-2">Save</button>
                                        </div>
                                        <div *ngIf="comment.errorMessage">
                                            {{ comment.errorMessage }}
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button
                    mat-button
                    *ngIf="hasMoreComments"
                    [disabled]="loadingMoreComments"
                    (click)="loadPackageIssueComments()"
                >
                    Load more
                </button>
            </div>
            <div class="comment-section">
                <app-markdown-editor [(content)]="newCommentContent"></app-markdown-editor>
                <div class="mt-2 text-right">
                    <button class="app-outlined-button">Close issue</button>
                    <button
                        class="app-raised-button ml-2"
                        [disabled]="submittingNewComment || !isValidNewCommentContent()"
                        (click)="createNewComment()"
                    >
                        Comment
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #issueLoadingTemplate> Loading issue data... </ng-template>
</div>
