@import "../../../../../styles/variables";
@import "../../../../../styles/colors";

#packageIssuseDetail {
    .menu-btn {
        padding: 0px;
        min-width: 28px;
        line-height: unset;
        color: var(--gray-1-color) !important;

        button {
            height: 30px;
        }
    }

    .text-dark-gray {
        margin-bottom: 0px !important;
    }

    .issue-wrapper.comment-bg {
        .issue-header {
            background-color: var(--blue-comment-color) !important;
        }

        &:after {
            border-color: transparent var(--blue-comment-color) transparent transparent;
        }

        ::ng-deep {
            .editor-toolbar {
                background: var(--blue-comment-color) !important;
                border: none;
            }
        }
    }

    .issue-wrapper.issues-bg {
        ::ng-deep {
            .editor-toolbar {
                background-color: var(--gray-10-color);
                border: none;
            }
        }
    }

    .issue-wrapper {
        border: 1px solid var(--gray-9-color);
        border-radius: 3px;
        background: var(--secondary-color);
        position: relative;

        &:after {
            display: block;
            position: absolute;
            content: "";
            right: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            top: 7px;
            border-color: transparent var(--gray-10-color) transparent transparent;
            border-width: 10px;
        }

        &:before {
            display: block;
            position: absolute;
            content: "";
            right: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            top: 6px;
            border-color: transparent var(--gray-9-color) transparent transparent;
            border-width: 11px;
        }

        ::ng-deep {
            .editor-statusbar {
                display: none;
            }

            .CodeMirror {
                border: none;
                border-bottom: 1px solid #ddd;
            }
        }

        .issue-header {
            padding: 6px 10px;
            border-bottom: 1px solid #cccccc73;
            background-color: var(--gray-10-color) !important;

            p {
                margin-bottom: 0px !important;
            }
        }

        .issue-box {
            padding: 18px 20px;
        }
    }

    .no-padding {
        padding: 0px !important;
    }

    .button-padding {
        padding: 7px 10px 7px 0px;
        background-color: var(--gray-10-color);
    }

    .space-line {
        height: 20px;
        margin-left: 66px;
        border-left: 1px solid #dadada;
    }

    .font-12 {
        font-size: $small-font;
    }

    .app-raised-button {
        font-size: 13px;
        border-radius: 4px;
        border: 1px solid var(--gray-9-color);
        line-height: 15px;
    }

    .comment-section {
        padding: 20px 0px 0px 6px;
        margin-left: 48px;
    }

    .app-outlined-button {
        line-height: 14px;
        padding: 8px 15px;
    }

    .open-status {
        background: var(--info-color);
        padding: 6px 10px;
        border-radius: 14px;
        margin-right: 6px;
        color: $secondary-color;

        &:hover {
            text-decoration: none;
        }

        em {
            margin-right: 3px;
        }
    }

    .closed-status {
        background: #828288;
        padding: 6px 10px;
        border-radius: 14px;
        margin-right: 6px;
        color: $secondary-color;

        &:hover {
            text-decoration: none;
        }

        em {
            margin-right: 3px;
        }
    }

    .d-block-mobile {
        display: flex !important;
    }
}

#issueBtn {
    height: 38px !important;
}

@media (max-width: 576px) {
    #packageIssuseDetail {
        .comment-section {
            margin-left: 0px;
        }
        .d-block-mobile {
            display: block !important;
        }
        .app-outlined-button {
            padding: 7px 10px;
            margin-top: 16px;
        }
        .no-p-mobile {
            padding-left: 0px !important;
        }
        .app-raised-button {
            width: unset;
            padding: 7px 15px;
        }
    }
}
