@import "../../../../../styles/variables";

#packageIssuseDetail {
    ::ng-deep .tox {
        .tox-statusbar {
            display: none !important;
        }

        .tox-toolbar,
        .tox-toolbar__overflow,
        .tox-toolbar__primary {
            background: none !important;
            border-bottom: 1px solid #cccccc73;
            background-color: #e0e0e0 !important;
        }

        .tox-toolbar__group {
            &:first-child {
                display: none;
            }
        }
    }

    .wrapper {
        padding: 15px 5px;
        margin-bottom: 30px;
        border: 1px solid #cccccc73;
    }

    .menu-btn {
        padding: 0px;
        min-width: 28px;
        line-height: unset;

        button {
            height: 30px;
        }
    }

    .issue-wrapper.comment-bg {
        .issue-header {
            background-color: #037fb91a !important;
        }

        &:after {
            border-color: transparent #e9eff2 #d4262600 transparent;
        }
    }

    .issue-wrapper {
        border: 1px solid #e1e1e1;
        border-radius: 3px;
        background: #fff;
        position: relative;

        &:after {
            display: block;
            position: absolute;
            content: "";
            right: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            top: 7px;
            border-color: transparent #e0e0e0 #d4262600 transparent;
            border-width: 10px;
        }

        &:before {
            display: block;
            position: absolute;
            content: "";
            right: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            top: 6px;
            border-color: transparent #e1e1e1 transparent #f3f3f3;
            border-width: 11px;
        }

        .issue-header {
            padding: 6px 10px;
            border-bottom: 1px solid #cccccc73;
            background-color: $gray-5 !important;

            p {
                margin-bottom: 0px !important;
            }
        }

        .issue-box {
            padding: 18px 20px;
        }
    }

    .img-comments {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .space-line {
        height: 20px;
        margin-left: 66px;
        border-left: 1px solid #dadada;
    }

    .font-500 {
        font-weight: 500;
    }

    .font-12 {
        font-size: $small-font;
    }

    .app-raised-button {
        font-size: 13px;
        border-radius: 4px;
        border: 1px solid #ddd;
        line-height: 15px;
    }

    .comment-section {
        border: 1px solid #cccccc73;
        padding: 10px 15px;
    }

    .app-outlined-button {
        line-height: 14px;
        padding: 8px 15px;
    }

    ::ng-deep .tox-tinymce {
        border: 1px solid #cccccc73;
        border-radius: 6px;
    }

    .open-status {
        background: $color-info;
        padding: 6px 10px;
        border-radius: 14px;
        margin-right: 6px;
        color: #fff;

        &:hover {
            text-decoration: none;
        }

        em {
            margin-right: 3px;
        }
    }

    .closed-status {
        background: #828282;
        padding: 6px 10px;
        border-radius: 14px;
        margin-right: 6px;
        color: #fff;

        &:hover {
            text-decoration: none;
        }

        em {
            margin-right: 3px;
        }
    }
}

#issueBtn {
    height: 38px !important;
}
