@import "../../../../../styles/variables";
@import "../../../../../styles/colors";

#packageIssuseDetail {
    .menu-btn {
        padding: 0px;
        min-width: 28px;
        line-height: unset;
        color: var(--gray-1-color) !important;

        button {
            height: 30px;
        }
    }

    .package-dark-gray {
        margin-bottom: 0px !important;
    }

    .issue-wrapper.comment-bg {
        .issue-header {
            background-color: var(--blue-comment-color) !important;
        }

        &:after {
            border-color: transparent var(--blue-comment-color) transparent transparent;
        }

        ::ng-deep {
            .editor-toolbar {
                background: var(--blue-comment-color) !important;
                border: none;
            }
        }
    }

    .issue-wrapper.issues-bg {
        ::ng-deep {
            .editor-toolbar {
                background-color: var(--gray-10-color);
                border: none;
            }
        }
    }

    .issue-wrapper {
        border: 1px solid var(--gray-9-color);
        border-radius: 3px;
        background: var(--secondary-color);
        position: relative;

        &:after {
            display: block;
            position: absolute;
            content: "";
            right: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            top: 7px;
            border-color: transparent var(--gray-10-color) transparent transparent;
            border-width: 10px;
        }

        &:before {
            display: block;
            position: absolute;
            content: "";
            right: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            top: 6px;
            border-color: transparent var(--gray-9-color) transparent transparent;
            border-width: 11px;
        }

        ::ng-deep {
            .editor-statusbar {
                display: none;
            }

            .CodeMirror {
                border: none;
                border-bottom: 1px solid #ddd;
            }
        }

        .issue-header {
            padding: 6px 10px;
            border-bottom: 1px solid #cccccc73;
            background-color: var(--gray-10-color) !important;

            p {
                margin-bottom: 0px !important;
            }
        }

        .issue-box {
            padding: 18px 20px;
        }
    }

    .no-padding {
        padding: 0px !important;
    }

    .button-padding {
        padding: 7px 10px 7px 0px;
        background-color: var(--gray-10-color);
    }

    .space-line {
        height: 20px;
        margin-left: 66px;
        border-left: 1px solid #dadada;
    }

    .font-500 {
        font-weight: 500;
    }

    .font-12 {
        font-size: $small-font;
    }

    .app-raised-button {
        font-size: 13px;
        border-radius: 4px;
        border: 1px solid var(--gray-9-color);
        line-height: 15px;
    }

    .comment-section {
        padding: 20px 0px 0px 6px;
        margin-left: 48px;
    }

    .app-outlined-button {
        line-height: 14px;
        padding: 8px 15px;
    }

    ::ng-deep {
        markdown {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                margin-bottom: 0px !important;
                white-space: normal;
            }
        }

        .editor-statusbar {
            color: var(--gray-1-color) !important;
            background-color: var(--gray-10-color);
            border-bottom: 1px solid var(--gray-9-color);
            border-left: 1px solid var(--gray-9-color);
            border-right: 1px solid var(--gray-9-color);
        }

        .CodeMirror {
            font-family: $family-roboto;
            letter-spacing: 0.4px;
            color: var(--gray-1-color);
            background-color: var(--secondary-color);
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border: 1px solid var(--gray-9-color);
        }

        .editor-toolbar {
            opacity: 1;
            background-color: var(--gray-10-color);
            border-top: 1px solid var(--gray-9-color);
            border-left: 1px solid var(--gray-9-color);
            border-right: 1px solid var(--gray-9-color);

            a {
                color: var(--gray-1-color) !important;

                &:hover {
                    background-color: var(--custom-secondary-color);
                }
            }

            &::after {
                margin-top: 3px;
            }

            &::before {
                margin-bottom: 3px;
            }
        }
    }

    .open-status {
        background: var(--info-color);
        padding: 6px 10px;
        border-radius: 14px;
        margin-right: 6px;
        color: var(--secondary-1-color);

        &:hover {
            text-decoration: none;
        }

        em {
            margin-right: 3px;
        }
    }

    .closed-status {
        background: #828288;
        padding: 6px 10px;
        border-radius: 14px;
        margin-right: 6px;
        color: #fff;

        &:hover {
            text-decoration: none;
        }

        em {
            margin-right: 3px;
        }
    }
}

#issueBtn {
    height: 38px !important;
}
