@import "../../../../styles/variables";

#schema {
    .schema-text {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: $xsmall-font;
        line-height: 13px;
        letter-spacing: 0.6px;
        color: $gray-2;
    }

    .schema-property {
        .mat-expansion-panel {
            box-shadow: none;

            .mat-expanded {
                height: 46px;
            }

            .mat-expansion-panel-header {
                padding: 4px 8px;
                border-radius: 4px;
                margin-bottom: 2px;
                border: 1px solid #33333314;

                .mat-expansion-panel-header-title {
                    flex-basis: 0;
                    font-family: $family-roboto;
                    font-style: $style-normal;
                    font-weight: $weight-400;
                    font-size: $small-font;
                    line-height: 18px;
                    flex-grow: 100;
                    letter-spacing: 0.6px;
                    color: $gray-2;
                }
            }
            .mat-expansion-panel-header-description {
                flex-basis: 0;
                justify-content: flex-end;
                align-items: center;
                margin-right: 4px;

                span {
                    flex-basis: 0;
                    font-family: $family-roboto;
                    font-style: $style-normal;
                    font-weight: $weight-400;
                    font-size: $small-font;
                    line-height: 18px;
                    letter-spacing: 0.6px;
                    color: $gray-2;
                    padding-right: 10px;
                }

                a {
                    font-family: $family-roboto;
                    font-style: $style-normal;
                    font-weight: $weight-400;
                    font-size: $text-font;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    text-align: right;
                    letter-spacing: 0.6px;
                    color: $gray-3;
                    padding-right: 6px;
                    border-bottom: 1px solid $gray-9;
                }
            }
            ::ng-deep {
                .mat-expansion-panel-content {
                    border: 1px solid $gray-9;
                    border-radius: 6px;

                    .mat-expansion-panel-body {
                        padding: 16px 22px 16px 22px;
                        font-weight: $weight-400;
                        font-size: $small-font;
                    }
                }

                .mat-expansion-indicator::after {
                    position: relative;
                    bottom: 3px;
                }
            }
        }
    }
}
