.schema {
    .schema-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.28px;
        color: #828282;
        margin-bottom: 5px;
    }

    .schema-text {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 13px;
        letter-spacing: -0.28px;
        color: #4f4f4f;
    }
}

.schema-property {
    .mat-expansion-panel {
        box-shadow: none;
        .mat-expansion-panel-header {
            padding: 0px 4px 0px 0px;
            .mat-expansion-panel-header-title {
                flex-basis: 0;
                font-family: Roboto Mono;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: -0.28px;
                color: #4f4f4f;
            }
        }
        .mat-expansion-panel-header-description {
            flex-basis: 0;
            justify-content: flex-end;
            align-items: center;
            margin-right: 4px;
            span {
                flex-basis: 0;
                font-family: Roboto Mono;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: -0.28px;
                color: #4f4f4f;
                padding-right: 30px;
            }
            a {
                font-family: Roboto Mono;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                display: flex;
                align-items: center;
                text-align: right;
                letter-spacing: -0.28px;
                color: #828282;
                padding-right: 6px;
                border-bottom: 1px solid #ddd;
            }
        }
        .mat-form-field {
            + {
                .mat-form-field {
                    margin-left: 8px;
                }
            }
        }
        ::ng-deep {
            .mat-expansion-panel-content {
                border: 1px solid #ddd;
                border-radius: 6px;
                .mat-expansion-panel-body {
                    padding: 16px 22px 16px 22px;
                }
            }
            .mat-expansion-indicator::after {
                position: relative;
                bottom: 3px;
            }
        }
    }
}
