<div class="schema" id="schema">
    <div class="schema-content">
        <div class="schema-stats">
            <span class="schema-samples text-light-gray mb-0" *ngIf="schema.recordCount > 0">
                {{ schema.recordCount | number }} {{ schema.unit || "" }} records<br />
            </span>
            <span class="text-light-gray mb-0">{{ schemaPropertiesLength(schema) | number }} Properties</span>
        </div>

        <div class="accordions-group mt-2">
            <mat-accordion class="schema-property" multi>
                <mat-expansion-panel
                    *ngFor="let property of schema?.properties | values | sortBy: 'asc':'title'; let i = index"
                    [id]="getPropertyId(property)"
                    [expanded]="getPropertyId(property) == focusedPropertyId"
                    [hidden]="propertiesToShowCount < i + 1"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-dark-gray weight-500">
                            <div class="d-flex flex-column bd-highlight">
                                <div class="bd-highlight">
                                    {{ property.title }}
                                </div>
                                <div class="bd-highlight">
                                    <mat-chip-list class="header-chips">
                                        <mat-chip *ngFor="let cl of getAllPropertyChips(property)" [hidden]="cl.hidden">{{
                                            cl.label
                                        }}</mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                        </mat-panel-title>
                        <mat-panel-description class="text-dark-gray">
                            <span>{{ getPropertyTypes(property) }}</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>
                        <div class="text-dark-gray mb-2">
                            <ng-container *ngIf="hasEditPermissions">
                                <a class="cursor-pointer doc-link" (click)="editPropertyDialog(property)"
                                    >Edit Property</a
                                >
                                <span class="px-2">|</span>
                            </ng-container>
                            <a class="cursor-pointer doc-link" (click)="createIssue(property)">Create Issue</a>
                            <span class="px-2">|</span>
                            <a class="cursor-pointer doc-link" (click)="copyLink(property)">Copy Link</a>
                        </div>
                        <div *ngIf="property.description?.length > 0" class="text-dark-gray weight-400 mt-2 mb-2">
                            {{ property.description }}
                        </div>
                        <div
                            class="d-flex align-items-center justify-content-between"
                            *ngFor="let entry of property.types | entries"
                            [ngSwitch]="entry.key"
                        >
                            <div *ngSwitchCase="'number'">
                                <div class="text-dark-gray">
                                    <div class="weight-500">{{ entry.key }}</div>
                                    <ul>
                                        <li *ngIf="getPropertyChips(entry.value).length">
                                            content labels:
                                            <mat-chip *ngFor="let cl of getPropertyChips(entry.value); last as isLast" [hidden]="cl.hidden">{{
                                                cl.label
                                                }}</mat-chip>
                                     
                                        </li>
                                        <li>
                                            present in {{ entry.value.recordCount | number }} ({{
                                                entry.value.recordCount / schema.recordCount | percent
                                            }}) {{ schema.unit }} records
                                        </li>
                                        <li *ngIf="property.unit">unit: {{ property.unit }}</li>
                                        <li>max value: {{ entry.value.numberMaxValue | number }}</li>
                                        <li>min value: {{ entry.value.numberMinValue | number }}</li>
                                    </ul>
                                </div>
                            </div>

                            <div *ngSwitchCase="'integer'">
                                <div class="text-dark-gray">
                                    <div class="weight-500">{{ entry.key }}</div>
                                    <ul>
                                        <li *ngIf="getPropertyChips(entry.value).length">
                                            content labels:
                                            <mat-chip *ngFor="let cl of getPropertyChips(entry.value); last as isLast" [hidden]="cl.hidden">{{
                                                cl.label
                                                }}</mat-chip>
                            
                                        </li>
                                        <li>
                                            present in {{ entry.value.recordCount | number }} ({{
                                            entry.value.recordCount / schema.recordCount | percent
                                            }}) {{ schema.unit }} records
                                        </li>
                                        <li *ngIf="property.unit">unit: {{ property.unit }}</li>
                                        <li>max value: {{ entry.value.numberMaxValue | number }}</li>
                                        <li>min value: {{ entry.value.numberMinValue | number }}</li>
                                    </ul>
                                </div>
                            </div>

                            <div *ngSwitchCase="'boolean'">
                                <div class="text-dark-gray">
                                    <div class="weight-500">{{ entry.key }}</div>
                                    <ul>
                                        <li *ngIf="getPropertyChips(entry.value).length">
                                            content labels:
                                            <mat-chip *ngFor="let cl of getPropertyChips(entry.value); last as isLast" [hidden]="cl.hidden">{{
                                                cl.label
                                                }}</mat-chip>
                                        </li>
                                        <li>
                                            present in {{ entry.value.recordCount | number }} ({{
                                                entry.value.recordCount / schema.recordCount | percent
                                            }}) records
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div *ngSwitchCase="'null'">
                                <div class="text-dark-gray">
                                    <div class="weight-500">{{ entry.key }}</div>
                                    <ul>
                                        <li *ngIf="getPropertyChips(entry.value).length">
                                            content labels:
                                            <mat-chip *ngFor="let cl of getPropertyChips(entry.value); last as isLast" [hidden]="cl.hidden">{{
                                                cl.label
                                                }}</mat-chip>
                                        </li>
                                        <li>
                                            present in {{ entry.value.recordCount | number }} ({{
                                                entry.value.recordCount / schema.recordCount | percent
                                            }}) records
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div *ngSwitchCase="'object'">
                                <div class="text-dark-gray">
                                    <div class="weight-500">{{ entry.key }}</div>
                                    <ul>
                                        <li *ngIf="getPropertyChips(entry.value).length">
                                            content labels:
                                            <mat-chip *ngFor="let cl of getPropertyChips(entry.value); last as isLast" [hidden]="cl.hidden">{{
                                                cl.label
                                                }}</mat-chip>
                                        </li>
                                        <li>
                                            present in {{ entry.value.recordCount | number }} ({{
                                            entry.value.recordCount / schema.recordCount | percent
                                            }}) records
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div *ngSwitchCase="'string'">
                                <div class="text-dark-gray">
                                    <div class="weight-500">{{ entry.key }}</div>
                                    <ul>
                                        <li *ngIf="getPropertyChips(entry.value).length">
                                            content labels:
                                            <mat-chip *ngFor="let cl of getPropertyChips(entry.value); last as isLast" [hidden]="cl.hidden">{{
                                                cl.label
                                                }}</mat-chip>
                                        </li>
                                        <li>
                                            present in {{ entry.value.recordCount | number }} records ({{
                                                entry.value.recordCount / schema.recordCount | percent
                                            }}
                                            of total)
                                        </li>
                                        <li>max length: {{ entry.value.stringMaxLength | number }} characters</li>
                                        <li>min length: {{ entry.value.stringMinLength | number }} characters</li>
                                        <li *ngIf="entry.value.stringOptions">
                                            enumerated values:
                                            <ul>
                                                <li *ngFor="let value of stringOptions(entry.value.stringOptions)">
                                                    {{ value.name }}: {{ value.value | number }} record<span
                                                        *ngIf="value.value > 1"
                                                        >s</span
                                                    > ({{ value.value / entry.value.recordCount | percent }})
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div *ngSwitchCase="'date'">
                                <div class="text-dark-gray">
                                    <div class="weight-500">{{ entry.key }}</div>
                                    <ul>
                                        <li *ngIf="getPropertyChips(entry.value).length">
                                            content labels:
                                            <mat-chip *ngFor="let cl of getPropertyChips(entry.value); last as isLast" [hidden]="cl.hidden">{{
                                                cl.label
                                                }}</mat-chip>
                                        </li>
                                        <li>
                                            present in {{ entry.value.recordCount | number }} ({{
                                                entry.value.recordCount / schema.recordCount | percent
                                            }}) records
                                        </li>
                                        <li>max date: {{ entry.value.dateMaxValue | date }}</li>
                                        <li>min date: {{ entry.value.dateMinValue | date }}</li>
                                    </ul>
                                </div>
                            </div>

                            <div *ngSwitchCase="'date-time'">
                                <div class="text-dark-gray">
                                    <div class="weight-500">{{ entry.key }}</div>
                                    <ul>
                                        <li *ngIf="getPropertyChips(entry.value).length">
                                            content labels:
                                            <mat-chip *ngFor="let cl of getPropertyChips(entry.value); last as isLast" [hidden]="cl.hidden">{{
                                                cl.label
                                                }}</mat-chip>
                                        </li>
                                        <li>
                                            present in {{ entry.value.recordCount | number }} ({{
                                            entry.value.recordCount / schema.recordCount | percent
                                            }}) records
                                        </li>
                                        <li>max date: {{ entry.value.dateMaxValue | date:'long' }}</li>
                                        <li>min date: {{ entry.value.dateMinValue | date:'long' }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <div
                    class="fade-out"
                    [class.d-none]="!shouldShowMorePropertiesButton || isShowingMorePropertiesText"
                ></div>

                <p class="text-center mt-3" *ngIf="shouldShowMorePropertiesButton">
                    <a class="app-outlined-button" (click)="toggleShowMoreProperties()">
                        {{ isShowingMorePropertiesText ? "Show Less" : "Show More" }}
                    </a>
                </p>
            </mat-accordion>
        </div>
    </div>
</div>
