@import "../../../../styles/variables";
@import "../../../../styles/colors";

#schema {
    .schema-text {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: $xsmall-font;
        line-height: 13px;
        letter-spacing: 0.6px;
        color: var(--gray-2-color);
    }

    .schema-property {
        .mat-expansion-panel {
            box-shadow: none;
            margin: 5px 0px !important;
            border: 1px solid var(--gray-9-color);

            .mat-expanded {
                height: 48px;
            }

            .header-chips {
                .mat-standard-chip {
                    padding: 6px 6px;
                    font-size: 10px;
                    min-height: 16px;
                }
            }

            .mat-expansion-panel-header-description {
                flex-basis: 0;
                justify-content: flex-end;
                align-items: center;
                margin-right: 4px;

                span {
                    flex-basis: 0;
                    font-family: $family-roboto;
                    font-style: $style-normal;
                    font-weight: $weight-400;
                    font-size: $small-font;
                    line-height: 18px;
                    letter-spacing: 0.6px;
                    color: var(--gray-2-color);
                    padding-right: 10px;
                }

                a {
                    font-family: $family-roboto;
                    font-style: $style-normal;
                    font-weight: $weight-400;
                    font-size: $text-font;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    text-align: right;
                    letter-spacing: 0.6px;
                    color: var(--gray-3-color);
                    padding-right: 6px;
                    border-bottom: 1px solid var(--gray-9-color);
                }
            }
            ::ng-deep {
                .mat-expansion-indicator::after {
                    position: relative;
                    color: var(--gray-2-color);
                    bottom: 3px;
                }
            }
        }
    }
    .fade-out {
        background: var(--fade-out-shadow);
        height: 150px;
        margin-top: -150px;
        position: relative;
        pointer-events: none;
    }
}
