<div class="container my-3" id="adminUsers">
    <div class="row">
        <div class="col-12">
            <h1>Users</h1>
            <p>Manage users, set their account status, and set their administrator permission.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field appearance="fill">
                <input
                    matInput
                    type="text"
                    [(ngModel)]="searchValue"
                    (ngModelChange)="searchUsers()"
                    placeholder="Search for users.."
                />
                <button
                    mat-button
                    *ngIf="searchValue"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearUserSearch()"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="col-md-12">
            <div class="col-md-12 p-0">
                <div class="loading-shade" *ngIf="loading">
                    <mat-spinner diameter="50"></mat-spinner>
                </div>

                <div class="table-responsive">
                    <table
                        mat-table
                        [dataSource]="displayedUsers"
                        class="gray-table gray-responsive"
                        aria-describedby="userAdmin"
                    >
                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef scope="col">Username</th>
                            <td mat-cell *matCellDef="let element">
                                <a [routerLink]="['/' + element.username]"> {{ element.username }} </a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef scope="col">Name</th>
                            <td mat-cell *matCellDef="let element">{{ element.firstName }} {{ element.lastName }}</td>
                        </ng-container>

                        <ng-container matColumnDef="emailAddress">
                            <th mat-header-cell *matHeaderCellDef scope="col">Email Address</th>
                            <td mat-cell *matCellDef="let element">
                                <a href="mailto: + {{ element.emailAddress }}">{{ element.emailAddress }}</a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="isAdmin">
                            <th scope="col" mat-header-cell *matHeaderCellDef>Admin</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-slide-toggle
                                    class="app-slide-toggle"
                                    [checked]="element.isAdmin"
                                    (change)="updateAdmin($event, element)"
                                    [disabled]="disabled"
                                >
                                </mat-slide-toggle>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef scope="col">Actions</th>
                            <td mat-cell *matCellDef="let element" class="btn-wrapper">
                                <button
                                    (click)="openUserStatusChangeConfirmationDialog(element)"
                                    class="app-outlined-button mr-3"
                                >
                                    <span class="info-txt">Change status</span>
                                </button>
                                <button (click)="openDeleteUserConfirmationDialog(element)" class="app-outlined-button">
                                    <span class="delete-txt">Delete</span>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="DISPLAYED_COLUMNS"></tr>
                        <tr mat-row *matRowDef="let row; columns: DISPLAYED_COLUMNS"></tr>
                    </table>
                </div>

                <mat-paginator [pageSize]="USERS_PER_PAGE" [disabled]="loading" class="gray-paginator"></mat-paginator>
            </div>
        </div>
    </div>
</div>
