@import '../../../styles/variables';

#userDetails {
    hr {
        position: relative;
        top: -8px;
    }

    .tabs {
        list-style-type: none;
        margin-top: 30px;
        margin-bottom: 3px;
        display: flex;

        li {
            a {
                font-family: $family-roboto-mono;
                font-style: $style-normal;
                font-weight: $weight-300;
                font-size: $text-font;
                line-height: 16px;
                text-align: center;
                letter-spacing: -0.28px;
                text-transform: uppercase;
                color: $gray-3;
                cursor: pointer;
                text-decoration: none;
                padding: 0px 10px 7px 10px;
                margin: 0px 40px 0px 10px;
            }
        }

        .active {
            opacity: 1;
            color: $gray-1 !important;
            border-bottom: 2px solid $gray-1;
        }
    }
}
