@import "../../../styles/variables";

#userDetails {
    hr {
        top: -16px;
    }

    .tabs {
        list-style-type: none;
        margin-top: 15px;
        margin-bottom: 3px;
        display: flex;

        li {
            a {
                font-family: $family-roboto;
                font-style: $style-normal;
                font-weight: $weight-300;
                font-size: ($text-font - 1);
                line-height: 16px;
                text-align: center;
                text-transform: uppercase;
                color: $gray-3;
                cursor: pointer;
                text-decoration: none;
                padding: 0px 10px 7px 10px;
                margin: 0px 40px 0px 10px;
            }
        }

        .active {
            opacity: 1;
            color: $gray-1 !important;
            border-bottom: 2px solid $gray-1;
        }
    }
}

@media (max-width: 768px) {
    #userDetails {
        .tabs {
            li {
                a {
                    font-size: $small-font;
                    margin: 0px 8px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #userDetails {
        .tabs {
            margin-top: 15px;
            li {
                a {
                    margin: 0px 2px;
                    padding: 0px 5px 1px 5px;
                }
            }
        }
    }
}
