.fixed-height {
    min-height: 450px;
    padding-bottom: 100px;
}

.user-routes {
    padding: 0px 16px;
}

@media (max-width: 576px) {
    .fixed-height {
        min-height: 300px;
    }
    .user-routes {
        padding: 0px 0px 0px 4px;
    }
}
