@import "../../../styles/variables";

.collection-details {
    position: relative;
    color: $gray-1;
}

app-cover {
    display: block;
    height: $cover-height;
    min-height: 100px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.container {
    z-index: 1;
}

.collection-header {
    box-shadow: $outer-shadow-3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: $page-header-height;
    margin-top: -$page-header-height;
    background-color: $gray-6;
    position: relative;
    z-index: 1;
}

.collection-tabs {
    background-color: $gray-6;
    box-shadow: $outer-shadow-1;
    display: block;
    position: relative;
    z-index: 2;

    ::ng-deep {
        .mat-tab-header {
            border-bottom: none;
        }
        .mat-tab-label {
            min-width: 0px;
            height: 32px;
            padding: 0;
            margin: 0 24px;
            font-size: 12px;
            text-transform: uppercase;
        }
        .mat-ink-bar {
            background-color: $gray-1;
        }
    }
}

.collection-slug {
    color: $custom-gray-1;
}

.collection-description {
    color: $gray-2;
}
