<div class="container mt-4 pt-2">
    <div class="text-main-title">Catalogs Permissions for Group</div>
    <p *ngIf="group.catalogPermissions?.length > 0">This group has the following permissions to these catalogs.</p>
    <p *ngIf="!(group.catalogPermissions?.length > 0)">
        This group has no direct catalog permissions. Check the catalog tab for more permissions.
    </p>
</div>
<div class="container mt-4 pt-2">
    <a class="app-outlined-button mt-2" (click)="addCatalog()" *ngIf="group.myPermissions.includes(Permission.MANAGE)"
        >Add Catalog Permission</a
    >
</div>
<div class="container mt-4 pt-2">
    <table
        mat-table
        [dataSource]="group.catalogPermissions"
        *ngIf="group.catalogPermissions.length > 0"
        class="gray-table"
        aria-labelledby="permissions"
    >
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef scope="col">Catalog</th>
            <td class="table-content" mat-cell *matCellDef="let catalogPermission">
                <div style="display: flex; justify-content: start; align-content: center">
                    <a class="ml-2" [routerLink]="'/' + catalogPermission.catalog.identifier.catalogSlug">
                        <app-avatar class="align-top user-img" [catalog]="catalogPermission.catalog" [size]="40">
                        </app-avatar>
                        <app-avatar
                            class="align-top user-img"
                            [catalog]="catalogPermission.catalog"
                            [circled]="false"
                            [size]="40"
                            *ngIf="catalogPermission.catalog.unclaimed"
                        >
                        </app-avatar>
                    </a>

                    <a
                        class="pt-2 color-info ml-2"
                        [routerLink]="'/' + catalogPermission.catalog.identifier.catalogSlug"
                        >{{ catalogPermission.catalog.identifier.catalogSlug }}</a
                    >
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="packagePermission">
            <th mat-header-cell *matHeaderCellDef scope="col">Packages Permission</th>
            <td class="table-content" mat-cell *matCellDef="let catalogPermission">
                <mat-form-field
                    appearance="fill"
                    class="permission-div"
                    *ngIf="catalogPermission.catalog.myPermissions.includes(Permission.MANAGE)"
                >
                    <mat-select
                        [value]="highestPermission(catalogPermission.packagePermissions)"
                        (selectionChange)="
                            updatePermission(
                                catalogPermission.catalog,
                                getHighestPermission(catalogPermission.permissions),
                                $event.value
                            )
                        "
                    >
                        <mat-option value="NONE">None</mat-option>
                        <mat-option value="VIEW">View</mat-option>
                        <mat-option value="EDIT">Edit</mat-option>
                        <mat-option value="MANAGE">Manage</mat-option>
                    </mat-select>
                </mat-form-field>
                <span *ngIf="!catalogPermission.catalog.myPermissions.includes(Permission.MANAGE)">{{
                    permissionString(catalogPermission.packagePermissions)
                }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="permission">
            <th mat-header-cell *matHeaderCellDef scope="col">Catalog Permission</th>
            <td class="table-content" mat-cell *matCellDef="let catalogPermission">
                <mat-form-field
                    appearance="fill"
                    class="permission-div"
                    *ngIf="catalogPermission.catalog.myPermissions.includes(Permission.MANAGE)"
                >
                    <mat-select
                        [value]="highestPermission(catalogPermission.permissions)"
                        (selectionChange)="
                            updatePermission(
                                catalogPermission.catalog,
                                $event.value,
                                getHighestPermission(catalogPermission.packagePermissions)
                            )
                        "
                    >
                        <mat-option value="VIEW">View</mat-option>
                        <mat-option value="EDIT">Edit</mat-option>
                        <mat-option value="MANAGE">Manage</mat-option>
                    </mat-select>
                </mat-form-field>
                <span *ngIf="!catalogPermission.catalog.myPermissions.includes(Permission.MANAGE)">{{
                    permissionString(catalogPermission.permissions)
                }}</span>
            </td>
        </ng-container>

        <!-- Actions column -->
        <ng-container matColumnDef="actions" *ngIf="group.myPermissions.includes(Permission.MANAGE)">
            <th mat-header-cell *matHeaderCellDef scope="col">Actions</th>
            <td mat-cell *matCellDef="let catalogPermission">
                <a class="app-outlined-button mr-3" (click)="removeCatalog(catalogPermission.catalog)">Remove</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
</div>
