<div id="editAccount">
  <div mat-dialog-content>
    <div class="big-img-dialog text-center">
      <button class="add-img-btn">
        <span class="material-icons"> add_a_photo </span>
      </button>
    </div>

    <div class="dialog-content-text">
      <div class="img-wrapper">
        <div class="profile-img">
          <button class="add-img-btn">
            <span class="material-icons"> add_a_photo </span>
          </button>
        </div>
      </div>

      <p class="small-paragraph">public</p>

      <div class="d-flex bd-highlight shadow-div mb-3">
        <div class="px-4 py-2 bd-highlight div-question">first name </div>
        <div class="bd-highlight div-answer">
          <input [formControl]="firstName" type="text" class="form-control" placeholder="First name">
        </div>
        <div class="ml-auto px-4 py-2 bd-highlight slide-right">
          <mat-slide-toggle [formControl]="nameIsPublic" isChecked="nameIsPublic"></mat-slide-toggle>
        </div>
      </div>

      <div class="d-flex bd-highlight shadow-div mb-3">
        <div class="px-4 py-2 bd-highlight div-question">last name </div>
        <div class="bd-highlight div-answer">
          <input [formControl]="lastName" type="text" class="form-control" placeholder="Last name">
        </div>
        <div class="ml-auto px-4 py-2 bd-highlight slide-right">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>

      <div class="d-flex bd-highlight shadow-div mb-3">
        <div class="px-4 py-2 bd-highlight div-question">username </div>
        <div class="bd-highlight div-answer">
          <input [formControl]="username" type="text" class="form-control" placeholder="Add your username">
        </div>
        <div class="ml-auto px-4 py-2 bd-highlight slide-right">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>

      <div class="d-flex bd-highlight shadow-div mb-3">
        <div class="pl-4 py-2 bd-highlight div-question">bio</div>
        <div class="bd-highlight div-answer">
          <textarea class="form-control" placeholder="Add your bio"></textarea>
        </div>
        <div class="ml-auto px-4 py-2 bd-highlight slide-right">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>

      <div class="d-flex bd-highlight shadow-div mb-3">
        <div class="px-4 py-2 bd-highlight div-question">location </div>
        <div class="bd-highlight div-answer">
          <input [formControl]="location" type="email" class="form-control" placeholder="Add your location">
        </div>
        <div class="ml-auto px-4 py-2 bd-highlight slide-right">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>

      <div class="d-flex bd-highlight shadow-div mb-3">
        <div class="px-4 py-2 bd-highlight div-question">website </div>
        <div class="bd-highlight div-answer">
          <input [formControl]="website" type="email" class="form-control" placeholder="Add your website">
        </div>
        <div class="ml-auto px-4 py-2 bd-highlight slide-right">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>

      <div class="d-flex bd-highlight shadow-div mb-3">
        <div class="px-4 py-2 bd-highlight div-question">email </div>
        <div class="bd-highlight div-answer">
          <input [formControl]="emailAddress" type="email" class="form-control" placeholder="Add your email">
        </div>
        <div class="ml-auto px-4 py-2 bd-highlight slide-right">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>

      <div class="d-flex bd-highlight shadow-div mb-3">
        <div class="pl-4 py-2 bd-highlight div-question">company</div>
        <div class="bd-highlight div-answer">
          <input type="email" class="form-control" placeholder="Add your company" />
        </div>
        <div class="ml-auto px-4 py-2 bd-highlight slide-right">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>

      <div class="d-flex bd-highlight shadow-div">
        <div class="pl-4 py-2 bd-highlight div-question">title</div>
        <div class="bd-highlight div-answer">
          <input type="email" class="form-control" placeholder="Add your title" />
        </div>
        <div class="ml-auto px-4 py-2 bd-highlight slide-right">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" class="ml-auto save-btn">
      <span>save</span>
    </button>
  </div>
</div>