<form id="editAccount" [formGroup]="form">
    <div mat-dialog-content>
        <div class="big-img-dialog text-center">
            <button class="add-img-btn">
                <span class="material-icons"> add_a_photo </span>
            </button>
        </div>

        <div class="dialog-content-text">
            <div class="img-wrapper">
                <div class="profile-img">
                    <button class="add-img-btn">
                        <span class="material-icons"> add_a_photo </span>
                    </button>
                </div>
            </div>

            <p class="small-paragraph">public</p>

            <div class="d-flex bd-highlight shadow-div mb-3">
                <div class="px-4 py-2 bd-highlight div-question">email</div>
                <div class="bd-highlight div-answer">
                    <input
                        formControlName="emailAddress"
                        type="email"
                        class="form-control"
                        placeholder="Add your email"
                    />
                </div>
                <div class="ml-auto px-4 py-2 bd-highlight slide-right">
                    <mat-slide-toggle formControlName="emailAddressIsPublic"></mat-slide-toggle>
                </div>
            </div>

            <div class="d-flex bd-highlight shadow-div mb-3">
                <div class="px-4 py-2 bd-highlight div-question">username</div>
                <div class="bd-highlight div-answer">
                    <input
                        (focus)="openConfirmDialog()"
                        formControlName="username"
                        type="text"
                        class="form-control"
                        placeholder="Add your username"
                    />
                    <div class="div-with-errors">
                        <div class="alert-warn" *ngIf="username.errors?.REQUIRED">Username is required.</div>
                        <div class="alert-warn" *ngIf="username.errors?.INVALID_CHARACTERS">
                            Username must contain only numbers, letters, hyphens, and may not start or end with a
                            hyphen.
                        </div>
                        <div class="alert-warn" *ngIf="username.errors?.USERNAME_TOO_LONG">
                            Username must be less than 40 characters long.
                        </div>
                        <div class="alert-warn" *ngIf="username.errors?.NOT_AVAILABLE">
                            That username is not available.
                        </div>
                    </div>
                </div>
                <div class="ml-auto px-4 py-2 bd-highlight slide-right">
                    <mat-slide-toggle [checked]="true" [disabled]="true"></mat-slide-toggle>
                </div>
            </div>

            <div class="d-flex bd-highlight shadow-div mb-3">
                <div class="px-4 py-2 bd-highlight div-question">first name</div>
                <div class="bd-highlight div-answer">
                    <input formControlName="firstName" type="text" class="form-control" placeholder="First name" />
                </div>
                <div class="ml-auto px-4 py-2 bd-highlight slide-right">
                    <mat-slide-toggle [checked]="nameIsPublic" (change)="toggleNameIsPublic($event)"></mat-slide-toggle>
                </div>
            </div>

            <div class="d-flex bd-highlight shadow-div mb-3">
                <div class="px-4 py-2 bd-highlight div-question">last name</div>
                <div class="bd-highlight div-answer">
                    <input formControlName="lastName" type="text" class="form-control" placeholder="Last name" />
                </div>
                <div class="ml-auto px-4 py-2 bd-highlight slide-right">
                    <mat-slide-toggle [checked]="nameIsPublic" (change)="toggleNameIsPublic($event)"></mat-slide-toggle>
                </div>
            </div>

            <div class="d-flex bd-highlight shadow-div mb-3">
                <div class="px-4 py-2 bd-highlight div-question">bio</div>
                <div class="bd-highlight div-answer">
                    <textarea formControlName="description" class="form-control" placeholder="Add your bio"></textarea>
                </div>
                <div class="ml-auto px-4 py-2 bd-highlight slide-right">
                    <mat-slide-toggle [checked]="true" [disabled]="true"></mat-slide-toggle>
                </div>
            </div>

            <div class="d-flex bd-highlight shadow-div mb-3">
                <div class="px-4 py-2 bd-highlight div-question">location</div>
                <div class="bd-highlight div-answer">
                    <input
                        formControlName="location"
                        type="email"
                        class="form-control"
                        placeholder="Add your location"
                    />
                </div>
                <div class="ml-auto px-4 py-2 bd-highlight slide-right">
                    <mat-slide-toggle formControlName="locationIsPublic"></mat-slide-toggle>
                </div>
            </div>

            <div class="d-flex bd-highlight shadow-div mb-3">
                <div class="px-4 py-2 bd-highlight div-question">website</div>
                <div class="bd-highlight div-answer">
                    <input formControlName="website" type="email" class="form-control" placeholder="Add your website" />
                </div>
                <div class="ml-auto px-4 py-2 bd-highlight slide-right">
                    <mat-slide-toggle formControlName="websiteIsPublic"></mat-slide-toggle>
                </div>
            </div>

            <div class="d-flex bd-highlight shadow-div mb-3">
                <div class="px-4 py-2 bd-highlight div-question">twitter</div>
                <div class="bd-highlight div-answer">
                    <input
                        formControlName="twitterHandle"
                        type="email"
                        class="form-control"
                        placeholder="Add your twitter handle"
                    />
                </div>
                <div class="ml-auto px-4 py-2 bd-highlight slide-right">
                    <mat-slide-toggle formControlName="twitterHandleIsPublic"></mat-slide-toggle>
                </div>
            </div>

            <div class="d-flex bd-highlight shadow-div mb-3">
                <div class="px-4 py-2 bd-highlight div-question">github</div>
                <div class="bd-highlight div-answer">
                    <input
                        formControlName="gitHubHandle"
                        type="email"
                        class="form-control"
                        placeholder="Add your twitter handle"
                    />
                </div>
                <div class="ml-auto px-4 py-2 bd-highlight slide-right">
                    <mat-slide-toggle formControlName="gitHubHandleIsPublic"></mat-slide-toggle>
                </div>
            </div>

            <!-- <div class="d-flex bd-highlight shadow-div mb-3">
                <div class="pl-4 py-2 bd-highlight div-question">company</div>
                <div class="bd-highlight div-answer">
                    <input type="email" class="form-control" placeholder="Add your company" />
                </div>
                <div class="ml-auto px-4 py-2 bd-highlight slide-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>

            <div class="d-flex bd-highlight shadow-div">
                <div class="pl-4 py-2 bd-highlight div-question">title</div>
                <div class="bd-highlight div-answer">
                    <input type="email" class="form-control" placeholder="Add your title" />
                </div>
                <div class="ml-auto px-4 py-2 bd-highlight slide-right">
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div> -->
        </div>
    </div>
    <div mat-dialog-actions>
        <button
            mat-button
            [mat-dialog-close]="true"
            (click)="submit()"
            class="ml-auto save-btn"
            [class.disabled]="form.invalid || form.pending"
            [disabled]="form.invalid || form.pending"
        >
            <span>save</span>
        </button>
    </div>
</form>
