@import "../../../styles/variables";
@import "../../../styles/colors";

.cover {
    height: 150px;
    position: relative;
    background-color: var(--gray-9-color);
}

img {
    min-width: 100%;
    width: unset;
    height: 100%;
    object-fit: cover;
}

.add-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 0;
    border: none;
    left: 0;
    top: 0;
    transition: background-color 0.5s linear;

    &:hover {
        background-color: rgba($black-color, 0.45);
    }

    mat-icon {
        font-size: 48px;
        width: 48px;
        height: 48px;
        color: $white-1-color;
    }
}

@media (max-width: 576px) {
    img {
        width: 100%;
    }
    .add-btn {
        mat-icon {
            font-size: 35px;
            width: 35px;
            height: 35px;
            color: $white-color;
        }
    }
}
