<div *ngIf="catalog">
    <b>{{ catalog.displayName }}</b>
    <div *ngIf="catalog.identifier.catalogSlug != catalog.displayName">
        {{ catalog.identifier.catalogSlug }}
    </div>
    <a class="app-outlined-button ml-3" *ngIf="canEdit" (click)="editCatalog()">Edit</a>
    <p>{{ catalog.description }}</p>
    <h3>Packages</h3>
    <ul>
        <li *ngFor="let package of catalog.packages">
            <a routerLink="/{{ catalog.identifier.catalogSlug }}/{{ package.identifier.packageSlug }}">
                {{ package.displayName || package.identifier.packageSlug }}
            </a>
        </li>
    </ul>
</div>
