.input-row {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
}
.input-label {
    width: 100%;
    padding-top: 12px;
}
.input-control {
    width: 100%;
}
.app-raised-button {
    background-color: #fff;
}

.mat-option {
    height: 75px;
    padding: 5px 5px;
    line-height: 75px;
    ::ng-deep.avatar {
        line-height: 20px;
        margin-right: 10px;
    }
}
