<div>
    <a (click)="goBack()" class="cursor-pointer ml-3 back-btn"> <em class="fas fa-arrow-left"></em> Back</a>
</div>

<div class="container mt-3" id="editMarkdown">
    <div class="row">
        <div class="col-md-12">
            <div class="text-main-title mb-3">License</div>
            <app-markdown-editor></app-markdown-editor>
            <div class="text-right mt-2">
                <button class="app-raised-button ml-2">Save</button>
            </div>
        </div>
    </div>
</div>
