<div class="container pl-0 pr-0">
    <div class="row pl-0 pt-3 pr-0 pb-3 desktop-menu">
        <div class="pl-0 col-md-10 col-sm-12">
            <div class="d-flex flex-row bd-highlight">
                <div class="pr-2 pt-2 pb-2 bd-highlight align-self-center">
                    <h1 class="mr-4 mb-0"><a class="dpm-text-logo" (click)="goHome()">datapm</a></h1>
                </div>
                <div class="p-2 bd-highlight w-100">
                    <div class="input-group mt-1 search-box">
                        <form (ngSubmit)="search()" class="search-form">
                            <app-input
                                placeholder="Search For Data"
                                [control]="searchControl"
                                matInput
                                [matAutocomplete]="auto"
                            ></app-input>
                            <mat-autocomplete
                                #auto="matAutocomplete"
                                class="search-autocomplete"
                                (optionSelected)="autoCompleteOptionSelected($event)"
                            >
                                <mat-option *ngIf="!autoCompleteResult && searchControl.value.length > 1">
                                    <mat-spinner [diameter]="30" class="ml-3"></mat-spinner>
                                </mat-option>
                                <ng-container *ngIf="autoCompleteResult">
                                    <mat-option
                                        *ngFor="let option of autoCompleteResult.packages"
                                        [value]="option.identifier.catalogSlug + '/' + option.identifier.packageSlug"
                                    >
                                        <div class="d-flex">
                                            <div>
                                                <app-avatar
                                                    class="align-top user-img"
                                                    [user]="option.creator"
                                                    [size]="40"
                                                >
                                                </app-avatar>
                                            </div>

                                            <div class="autocomplete-contents">
                                                <div class="autocomplete-title">
                                                    {{
                                                        option.identifier.catalogSlug +
                                                            " / " +
                                                            option.identifier.packageSlug
                                                    }}
                                                </div>

                                                <div class="autocomplete-description">{{ option.description }}</div>
                                            </div>
                                        </div>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 header-right">
            <div class="d-flex flex-row bd-highlight">
                <div class="pl-4 bd-highlight main-menu-title d-flex align-items-end">
                    <a href="/docs/publish-data/">Publish</a>
                </div>
                <div class="ml-4 bd-highlight avatar">
                    <app-avatar
                        [user]="currentUser"
                        [matMenuTriggerFor]="beforeMenu"
                        *ngIf="currentUser"
                        [size]="40"
                    ></app-avatar>
                    <button
                        mat-fab
                        class="app-fab-button app-raised-button"
                        [matMenuTriggerFor]="beforeMenu"
                        aria-label="Person"
                        *ngIf="!currentUser"
                    >
                        <mat-icon>person</mat-icon>
                    </button>
                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                        <button *ngIf="currentUser" mat-menu-item (click)="goToMyDetails()">My Profile</button>
                        <button *ngIf="!currentUser" mat-menu-item (click)="openLoginDialog()">Log In</button>
                        <button *ngIf="!currentUser" mat-menu-item (click)="openSignUpDialog()">Sign Up</button>
                        <button *ngIf="currentUser" mat-menu-item (click)="logout()">Log Out</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-menu">
    <div class="row pt-3 px-3">
        <div class="col-7">
            <h1 routerLink="/"><a class="dpm-text-logo" (click)="goHome()">datapm</a></h1>
        </div>

        <div class="col-5 text-right">
            <div class="d-flex flex-row bd-highlight d-flex justify-content-end">
                <div class="bd-highlight mobile-person">
                    <app-avatar [user]="currentUser" [matMenuTriggerFor]="beforeMenu" *ngIf="currentUser"></app-avatar>
                    <button
                        mat-fab
                        class="app-fab-button app-raised-button"
                        [matMenuTriggerFor]="beforeMenu"
                        aria-label="Person"
                        *ngIf="!currentUser"
                    >
                        <mat-icon>person</mat-icon>
                    </button>
                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                        <button *ngIf="currentUser" mat-menu-item (click)="goToMyDetails()">My Profile</button>
                        <button *ngIf="!currentUser" mat-menu-item (click)="openLoginDialog()">Log In</button>
                        <button *ngIf="!currentUser" mat-menu-item (click)="openSignUpDialog()">Sign Up</button>
                        <button *ngIf="currentUser" mat-menu-item (click)="logout()">Log Out</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3 px-3">
        <div class="col-12 mobile-search-box mt-3">
            <app-input
                placeholder="Search For Data"
                [control]="searchControl"
                [matAutocomplete]="autoCompleteMobile"
                (keyEnter)="search()"
            ></app-input>
            <mat-autocomplete
                #autoCompleteMobile="matAutocomplete"
                class="search-autocomplete"
                (optionSelected)="autoCompleteOptionSelected($event)"
            >
                <mat-option *ngIf="!autoCompleteResult && searchControl.value.length > 1">
                    <mat-spinner [diameter]="30" class="ml-3"></mat-spinner>
                </mat-option>
                <ng-container *ngIf="autoCompleteResult">
                    <mat-option
                        *ngFor="let option of autoCompleteResult.packages"
                        [value]="option.identifier.catalogSlug + '/' + option.identifier.packageSlug"
                    >
                        <div class="d-flex">
                            <div>
                                <app-avatar class="align-top user-img" [user]="option.creator" [size]="40">
                                </app-avatar>
                            </div>

                            <div class="autocomplete-contents">
                                <div class="autocomplete-title">
                                    {{ option.identifier.catalogSlug + " / " + option.identifier.packageSlug }}
                                </div>

                                <div class="autocomplete-description">{{ option.description }}</div>
                            </div>
                        </div>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
            <button mat-icon-button (onclick)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
</div>
