@import "../../../styles/mixins";
@import "../../../styles/variables";

.desktop-menu {
    max-width: 1450px;
    margin: 0 auto 15px auto;

    .main-menu-title {
        a {
            font-family: $family-roboto-mono;
            font-style: $style-normal;
            font-weight: $weight-300;
            font-size: $default-font;
            line-height: 21px;
            text-align: center;
            cursor: pointer;
            letter-spacing: -0.28px;
            color: $gray-3;
        }
    }

    .search-form {
        display: flex;
        width: 100%;
        position: relative;

        app-input {
            width: 100%;
        }

        button {
            position: absolute;
            top: 2px;
            right: 8px;
        }
    }
}

.mobile-menu {
    display: none;

    .mobile-search-box {
        display: flex;

        app-input {
            width: 100%;
        }

        button {
            position: absolute;
            right: 24px;
            top: 2px;
        }
    }

    .mobile-person {
        .app-fab-button {
            width: 30px;
            height: 30px;

            ::ng-deep .mat-button-wrapper {
                .mat-icon {
                    font-size: ($default-font + 10) !important;
                    height: 36px;
                }
            }
        }
    }

    .header-right {
        position: relative;
        top: 6px;
        padding-right: 0px;
    }
}

.dpm-text-logo {
    color: $gray-1;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

button.mat-menu-item {
    &:focus {
        outline: transparent solid 0px !important;
    }
}

.avatar {
    position: relative;
    top: 10px;
}

app-avatar {
    cursor: pointer;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
        padding-bottom: 15px;
    }
    .desktop-menu {
        display: none;
    }
    h1 {
        margin-bottom: 0px;
    }
    .dpm-text-logo  {
        font-size: ($title-font + 8);
        line-height: 31px;
        margin-bottom: 0px;
    }
}
