@import "../../../styles/mixins";
@import "../../../styles/variables";

.search-form {
    display: flex;
    width: 100%;
    max-width: 699px;
    position: relative;

    app-input {
        width: 100%;
    }

    button {
        position: absolute;
        top: 2px;
        right: 8px;
    }
}

app-avatar {
    cursor: pointer;
}

a.dpm-text-logo {
    color: $gray-1;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

button.mat-menu-item {
    &:focus {
        outline: transparent solid 0px !important;
    }
}

.desktop-menu {
    max-width: 1450px;
    margin: 0 auto 15px auto;
}

.main-menu-title {
    a {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        cursor: pointer;
        letter-spacing: -0.28px;
        color: #828282;
    }
}

.mobile-search-box {
    display: flex;

    app-input {
        width: 100%;
    }

    button {
        position: absolute;
        right: 24px;
        top: 2px;
    }
}

.mobile-person {
    .app-fab-button {
        width: 30px;
        height: 30px;

        ::ng-deep .mat-button-wrapper {
            .mat-icon {
                font-size: 26px !important;
                height: 36px;
            }
        }
    }
}

.mobile-collection {
    .mat-fab.collection-menu {
        width: 30px;
        height: 30px;
        background: #fff;
        box-shadow: 0px 1px 7px 4px rgb(90 88 88 / 15%);

        ::ng-deep .mat-button-wrapper {
            padding: 0 !important;

            .mat-icon {
                font-size: 20px !important;
                height: 30px;
                color: #828282;
                width: unset;
            }
        }
    }
}

.mobile-menu {
    display: none;
}

.header-right {
    position: relative;
    top: 6px;
    padding-right: 0px;
}

.avatar {
    position: relative;
    top: 10px;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
        padding-bottom: 15px;
    }
    .desktop-menu {
        display: none;
    }
    h1.title {
        font-size: 28px;
        line-height: 31px;
        margin-bottom: 0px;
    }
}

.autocomplete-title {
    line-height: normal;
}

.autocomplete-description {
    line-height: normal;
    font-size: 0.75em;
    color: $gray-3;
}

.mat-option {
    border-bottom: 1px solid $gray-6;
}
