<div id="activityPage" class="big-div-collection">
    <div class="collection-div">
        <div class="container">
            <div class="col-lg-9 col-md-12 col-sm-12 mt-5">
                <div class="row big-div-latest mb-3">
                    <div class="section-title col-md-12 col-lg-12">
                        <span>My Collections</span>
                    </div>
                    <div class="section-description col-md-12 col-lg-12">
                        <span>
                            These are the collections of data you have created. You may choose to share them publicly,
                            or not.
                        </span>
                        <a href="https://test.datapm.io/docs/concepts/#collections">Learn more about collections</a>
                    </div>

                    <!-- Package without thumbnail -->
                    <div class="col-md-12 col-lg-12 pb-2 mb-4" *ngIf="collections.length">
                        <div *ngFor="let collection of collections">
                            <app-collection-item [item]="collection.allCollections"></app-collection-item>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 pb-2 mb-4 not-found" *ngIf="!collections.length">
                        <p>
                            Either no packages have been published to this registry, or you do not have access to any of
                            the published packages
                        </p>
                        <a href="https://test.datapm.io/docs/publish-data/">Learn how to publish packages</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
