<form id="editPassword">
    <div mat-dialog-title>Change My Password</div>
    <div mat-dialog-content>
        <div class="d-flex bd-highlight shadow-div mb-3">
            <div class="px-4 py-2 bd-highlight div-question">current password</div>
            <div class="bd-highlight div-answer">
                <input
                    [formControl]="currentPassword"
                    type="password"
                    class="form-control"
                    placeholder="Current password"
                />
                <div class="div-with-errors">
                    <div
                        class="alert-warn"
                        *ngIf="currentPassword.touched && currentPassword.errors?.NO_PASSWORD_MATCH"
                    >
                        Does not match your current password
                    </div>
                    <div class="alert-warn" *ngIf="currentPassword.touched && currentPassword.errors?.REQUIRED">
                        Current password is required
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex bd-highlight shadow-div mb-3">
            <div class="px-4 py-2 bd-highlight div-question">new password</div>
            <div class="bd-highlight div-answer">
                <input
                    [formControl]="newPassword"
                    type="password"
                    class="form-control"
                    placeholder="New password"
                    autocomplete="off"
                />
                <div class="div-with-errors">
                    <div class="alert-warn" *ngIf="newPassword.touched && newPassword.errors?.REQUIRED">
                        New password is required
                    </div>
                    <div class="alert-warn" *ngIf="newPassword.touched && newPassword.errors?.PASSWORD_TOO_LONG">
                        New password is too long
                    </div>
                    <div class="alert-warn" *ngIf="newPassword.touched && newPassword.errors?.PASSWORD_TOO_SHORT">
                        New password is too short
                    </div>
                    <div class="alert-warn" *ngIf="newPassword.touched && newPassword.errors?.INVALID_CHARACTERS">
                        Invalid characters
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button
            mat-button
            [mat-dialog-close]="true"
            (click)="submit()"
            class="ml-auto save-btn"
            [class.disabled]="form.invalid"
        >
            <span>save</span>
        </button>
    </div>
</form>
