<h3 *ngIf="state == State.LOADING">Loading</h3>

<div *ngIf="state == State.SUCCESS">
    <h3>{{packageQuery.package.displayName}}</h3>
    <div *ngIf="packageQuery.package.identifier.packageSlug != packageQuery.package.displayName">{{packageQuery.package.identifier.packageSlug}}</div>

    <p>{{packageQuery.package.description}}</p>

    <p>{{packageQuery.package.latestVersion.identifier.versionMajor}}.{{packageQuery.package.latestVersion.identifier.versionMinor}}.{{packageQuery.package.latestVersion.identifier.versionPatch}}</p>

    <p>Use the following command to fetch this package</p>
    <p>{{generateFetchCommand()}}</p>


</div>
