
<div class="container text-dark-gray">


    <div class="row">

        <div class="col-md-3 col-xs-12">

        </div>
        <div class="col-md-9">
            <h1>Client Downloads</h1>
            <div class="mb-3">Version {{ version }}</div>
            
            Click a link below to download the latest version of the DataPM client.
            
            <ul class="mt-3">
                <li><a href="/client-installers/windows">Windows Installer</a></li>
                <li><a href="/client-installers/macos">MacOS Installer</a></li>
                <li><a href="/client-installers/debian">Debian & Ubuntu Linux Installer</a></li>
                <li><a href="/client-installers/redhat">Redhat & Centos Linux Installer</a></li>
            </ul>

            Read the <a href="/docs/command-line-client">detailed client documentation.</a>


            <div class="mt-5">
                <a [routerLink]="'/'" class="app-outlined-button mt-3">Explore the Data</a>
            </div>

        </div>
    </div>



</div>
