@import "../../../../styles/variables";

:host {
    ::ng-deep .avatar {
        display: inline-block;
    }
}

.identifier {
    font-family: $family-roboto;
    position: relative;
    display: flex;
    color: $gray-2;
    justify-content: left;
    align-items: center;
    font-weight: $weight-400;
    font-size: $title-font;
    letter-spacing: 0.18px;
}

.package-privacy {
    display: block;
}

.package-title {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-500;
    font-size: $title-font;
    line-height: 26px;
    letter-spacing: 0.4px;
    color: $gray-2;
    margin-bottom: 5px;
}

.package-identifier {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $text-font;
    line-height: 26px;
    letter-spacing: -0.28px;
    color: $gray-3;
}

#packageDetails {
    min-height: 450px;

    .left-div {
        padding-right: 30px;
    }
}

.share-data {
    button {
        border-radius: 26px;
        width: 58px;
        height: 52px;
        line-height: 15px;
        padding: 2px;
        border: none;
        background-color: transparent;

        &:hover {
            background-color: #e8e8e8;
        }

        .bd-text {
            font-size: 11px;
            font-family: Roboto, "Helvetica Neue", sans-serif;
            font-style: normal;
            font-weight: 300;
            letter-spacing: -0.28px;
            color: $gray-2;
        }

        p {
            margin-bottom: 0px;
            a {
                color: $gray-2;
                font-size: 18px;
            }
        }
    }
}

.derivedFromSubtitle {
    top: -15px;
    position: relative;
    font-size: ($small-font - 1);
    left: 12px;
}

.loading {
    margin: 25px auto 100px;
}

.contentContainer {
    overflow: hidden;
    border-radius: 4px;

    ::ng-deep .cover img {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

@media (max-width: 992px) {
    .left-div {
        padding-right: 15px !important;
    }
    .identifier {
        font-size: ($default-font + 1);
    }
}

@media (max-width: 768px) {
    #packageDetails {
        .right-div {
            padding-top: 10px !important;
            display: none;
        }
    }
    #contentContainer {
        padding-bottom: 10px !important;
    }
    .identifier {
        font-size: $title-font;
    }
}

@media (max-width: 575px) {
    #packagePage {
        position: relative;
        top: 0px;
    }
    .identifier {
        font-size: $default-font;
    }
}
