@import "../../../../styles/variables";

:host {
    ::ng-deep .avatar {
        display: inline-block;
    }
}

.identifier {
    font-family: $family-roboto-mono;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: ($title-font - 2);

    .identifier-text {
        position: relative;
        top: -6px;
        left: 10px;
    }
}

hr {
    position: relative;
    top: -8px;
}

.package-privacy {
    margin-bottom: 10px;
    display: block;
}

.package-title {
    font-family: $family-roboto-mono;
    font-style: $style-normal;
    font-weight: $weight-500;
    font-size: $title-font;
    line-height: 26px;
    letter-spacing: -0.28px;
    color: $gray-2;
    margin-bottom: 5px;
}

.package-identifier {
    font-family: $family-roboto-mono;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $text-font;
    line-height: 26px;
    letter-spacing: -0.28px;
    color: $gray-3;
    margin-bottom: 10px;
}

#packageDetails {
    min-height: 500px;

    .left-div {
        padding-right: 30px;
    }
}

.derivedFromSubtitle {
    top: -15px;
    position: relative;
    font-size: ($small-font - 1);
    left: 12px;
}

.loading {
    margin: 25px auto 100px;
}

.contentContainer {
    overflow: hidden;
    border-radius: 4px;

    ::ng-deep .cover img {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    #packageRoutes {
        list-style-type: none;
        margin-bottom: 0px;
        display: flex;

        li:first-of-type > a {
            margin-left: 0px;
        }

        li {
            a {
                font-family: $family-roboto-mono;
                font-style: $style-normal;
                font-weight: $weight-300;
                font-size: $default-font;
                line-height: 21px;
                text-align: center;
                letter-spacing: -0.28px;
                color: $gray-3;
                text-decoration: none;
                padding: 0px 10px 7px 10px;
                margin: 0px 10px;
                cursor: pointer;
            }
        }

        .active {
            opacity: 1;
            color: $gray-1 !important;
            border-bottom: 2px solid $gray-1;
        }
    }
}

@media (max-width: 480px) {
    #packageRoutes {
        li {
            &:first-child {
                a {
                    margin-left: 0px !important;
                    padding-left: 0px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .left-div {
        padding-right: 15px !important;
    }
    .identifier {
        font-size: ($default-font + 1);
    }
}

@media (max-width: 768px) {
    #packageDetails {
        .right-div {
            padding-top: 10px !important;
        }
    }
    #contentContainer {
        padding-bottom: 10px !important;
    }
    .identifier {
        font-size: $title-font;
    }
}

@media (max-width: 575px) {
    .contentContainer {
        #packageRoutes {
            li {
                a {
                    font-size: ($text-font - 1);
                    padding: 0px 8px 4px 8px;
                    margin: 0px 6px;
                }
            }
        }
    }
    #packagePage {
        position: relative;
        top: 0px;
    }
    .identifier {
        font-size: $default-font;
    }
}
