<div>
    <div *ngIf="state == State.LOADING">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="loading-spinner loading-pane">
                        <mat-spinner class="" [diameter]="60"></mat-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="state == State.ERROR">
        <div class="row">
            <div class="col-12 mt-5 pt-3">
                <div class="alert-warning alert">
                    There was a problem loading this page. Please refresh your browser. If that doesn't work, please
                    contact support.
                </div>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="state == State.ERROR_NOT_AUTHENTICATED">
        <div class="row text-center">
            <div class="col-12 mt-5 pt-3">
                <div class="package-title">
                    <a [routerLink]="'/' + getCatalogSlugFromURL()"> {{ getCatalogSlugFromURL() }}</a
                    >/{{ getPackageSlugFromURL() }}
                </div>
                <p class="text-dark-gray mt-3">
                    You must <a href="javascript:void(0);" (click)="loginClicked()">login to view this package</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="state == State.ERROR_NOT_AUTHORIZED">
        <div class="row text-center">
            <div class="col-12 mt-5 pt-3">
                <div class="package-title">
                    <a [routerLink]="'/' + getCatalogSlugFromURL()"> {{ getCatalogSlugFromURL() }}</a
                    >/{{ getPackageSlugFromURL() }}
                </div>
                <p class="text-dark-gray mt-3">
                    You do not have permission to view this package. Please contact the author.
                </p>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="state == State.ERROR_NOT_FOUND">
        <div class="row text-center">
            <div class="col-12 mt-5 pt-3">
                <div class="package-title">
                    <a [routerLink]="'/' + getCatalogSlugFromURL()"> {{ getCatalogSlugFromURL() }}</a
                    >/{{ getPackageSlugFromURL() }}
                </div>
                <p class="text-dark-gray mt-3">
                    The package was not found. Use the search bar above to find additional data.
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="state == State.LOADED || state == State.ERROR_PACKAGE_FILE_NOT_FOUND">
        <div class="container-fluid px-0">
            <div class="row" id="packagePage">
                <div class="col-xl-12 col-12 contentContainer pl-0 pr-0">
                    <app-cover
                        class="cover-image"
                        [catalogSlug]="package?.identifier.catalogSlug"
                        [packageSlug]="package?.identifier.packageSlug"
                    ></app-cover>

                    <div class="p-2">
                        <div class="container m-0-mobile mb-4">
                            <div class="row" *ngIf="package">
                                <div class="col-12 package-info">
                                    <div class="d-flex">
                                        <div class="package-identifier w-100">
                                            <div class="identifier">
                                                <a
                                                    [routerLink]="['/' + package?.identifier.catalogSlug]"
                                                    style="width: 40px; height: 40px; border-radius: 50%"
                                                    *ngIf="package"
                                                >
                                                    <app-avatar class="align-top user-img" [user]="package.creator" [size]="40" *ngIf="!package.catalog.unclaimed"> </app-avatar>
                                                    <app-avatar class="align-top user-img" [catalog]="package.catalog" [circled]="false" [size]="40"
                                                                            *ngIf="package.catalog.unclaimed"> 
                                                    </app-avatar>
                                                </a>
                                                <div class="d-flex flex-column bd-highlight ml-2">
                                                    <div class="bd-highlight">
                                                        <span
                                                            class="pt-2 package-privacy"
                                                            *ngIf="package.myPermissions.includes('MANAGE')"
                                                            [class.public-text]="package?.isPublic"
                                                            [class.not-public-text]="!package?.isPublic"
                                                        >
                                                            {{ package?.isPublic ? "public" : "not public" }}
                                                        </span>
                                                    </div>
                                                    <div class="bd-highlight">
                                                        <a
                                                            class="color-info"
                                                            [routerLink]="['/' + package?.identifier.catalogSlug]"
                                                            >{{ package?.identifier.catalogSlug }}</a
                                                        >/{{ package?.identifier.packageSlug }}
                                                        <a class="copy-link" (click)="copyCommand()">
                                                            <em class="far fa-copy"></em>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column bd-highlight ml-auto mr-2">
                                                    <button class="app-raised-button follow-btn" (click)="follow()">
                                                        <span *ngIf="isFollowing"
                                                            ><em class="fas fa-bell-slash"></em>Following</span
                                                        >
                                                        <span *ngIf="!isFollowing"
                                                            ><em class="fas fa-bell"></em>Follow</span
                                                        >
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="derivedFromSubtitle" *ngIf="derivedFromCount(packageFile) > 0">
                                                Derived from
                                                <span>
                                                    <a
                                                        href="javascript:void(0)"
                                                        (click)="openDerivedFromModal(packageFile)"
                                                        >{{ derivedFromCount(packageFile) }} upstream data sets</a
                                                    >
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-lg-none mt-3">
                                <div class="col-12">
                                    <app-package-info
                                        [package]="package"
                                        [packageFile]="packageFile"
                                    ></app-package-info>

                                    <div class="alert-warning alert" *ngIf="state == State.ERROR_PACKAGE_FILE_NOT_FOUND">
                                        There was a problem loading loading the package file. Please re-publish the package file or contact support.
                                    </div>

                                </div>
                            </div>
                            <div class="row mt-2" *ngIf="package?.latestVersion?.identifier == null">
                                <div class="col-12 alert alert-warning">
                                    No version of this package has been published.
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="package?.latestVersion?.identifier != null">
                            <div class="col-md-12">
                                <hr style="width: 100%" class="header-border" />
                                <div class="container">
                                    <ul class="p-0" id="homeRoutes">
                                        <li *ngFor="let r of routes" class="list-names" [hidden]="r.isHidden">
                                            <a
                                                class="cursor-pointer"
                                                (click)="tabClick(r.url)"
                                                [ngClass]="{ active: isActiveTab(r) }"
                                            >
                                                {{ r.linkName }}
                                                <span
                                                    class="span-nr"
                                                    *ngIf="r.linkName === 'issues' && issuesCount > 0"
                                                >
                                                    {{ issuesCount }}
                                                </span>
                                                <span
                                                    class="span-nr"
                                                    *ngIf="r.linkName === 'followers' && followersCount > 0"
                                                >
                                                    {{ followersCount }}
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="container mt-3 px-4">
                            <div class="row" >
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-12" id="packageDetails">
                                            <div class="row flex-lg-row-reverse">
                                                <div
                                                    class="col-lg-5 col-md-12 col-lg-push-7 right-div d-lg-block d-sm-none"
                                                    *ngIf="shouldShowDetails()"
                                                >
                                                    <app-package-info
                                                        [package]="package"
                                                        [packageFile]="packageFile"
                                                    ></app-package-info>
                                                </div>
                                                <div
                                                    [ngClass]="{
                                                        'col-lg-7 col-md-12 col-lg-pull-5 left-div': shouldShowDetails(),
                                                        'col-12': !shouldShowDetails()
                                                    }"
                                                >
                                                    <div>
                                                        <router-outlet></router-outlet>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #derivedFrom let-package>
        <h2 mat-dialog-title>Provenance for {{ package.displayName }}</h2>
        <mat-dialog-content>
            <div *ngFor="let schema of package.schemas">
                <h3>{{ schema.title }}</h3>
                {{ schema.derivedFromDescription }}
                <br /><br />
                <h3>Derived From</h3>
                <ul>
                    <li *ngFor="let derivedFrom of schema.derivedFrom">
                        <a href="{{ derivedFrom.url }}" target="_blank">{{ derivedFrom.displayName }}</a>
                    </li>
                </ul>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
            <button mat-button [mat-dialog-close]="true">Close</button>
        </mat-dialog-actions>
    </ng-template>
</div>
