@import "../../../../styles/variables";
@import "../../../../styles/colors";

:host {
    ::ng-deep .avatar {
        display: inline-block;
    }
}

.identifier {
    font-family: $family-roboto;
    position: relative;
    display: flex;
    color: var(--gray-2-color);
    justify-content: left;
    align-items: center;
    font-weight: $weight-400;
    font-size: $title-font;
    letter-spacing: 0.18px;
}

.package-privacy {
    display: block;
}

.package-title {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $title-font;
    line-height: 26px;
    letter-spacing: 0.4px;
    color: var(--gray-2-color);
    margin-bottom: 5px;
}

.package-identifier {
    font-family: $family-roboto;
    font-style: $style-normal;
    font-weight: $weight-400;
    font-size: $text-font;
    line-height: 26px;
    letter-spacing: -0.28px;
    color: var(--gray-3-color);
}

#packageDetails {
    min-height: 450px;

    .left-div {
        padding-right: 30px;
    }
}

.copy-link {
    color: var(--gray-3-color);
    cursor: pointer;
    bottom: 1px;
    position: relative;
    font-size: $default-font;
}

.derivedFromSubtitle {
    top: -15px;
    position: relative;
    font-size: ($small-font - 1);
    left: 12px;
}

.loading {
    margin: 25px auto 100px;
}

.contentContainer {
    overflow: hidden;
    border-radius: 4px;

    ::ng-deep .cover img {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

@media (max-width: 992px) {
    .left-div {
        padding-right: 15px !important;
    }
    .identifier {
        font-size: ($default-font + 1);
    }
}

@media (max-width: 768px) {
    #packageDetails {
        .right-div {
            padding-top: 10px !important;
            display: none;
        }
    }
    #contentContainer {
        padding-bottom: 10px !important;
    }
    .identifier {
        font-size: $title-font;
    }
}

@media (max-width: 575px) {
    #packagePage {
        position: relative;
        top: 0px;
    }
    .identifier {
        font-size: $default-font;
    }
}
