::ng-deep .cover {
    height: 150px;
}

::ng-deep .avatar {
    display: inline-block;
}

.identifier {
    position: relative;
    top: -10px;
    display: inline-block;
    margin-left: 10px;
}

hr {
    position: relative;
    top: -8px;
}

.contentContainer {
    overflow: hidden;
    border-radius: 4px;

    background-color: #fff;

    ::ng-deep .cover img {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    ::ng-deep #matTabs .mat-tab-header {
        border-bottom: none;

        .mat-ink-bar {
            display: none;
            width: 90px !important;
            background-color: white;
        }

        .mat-tab-labels {
            .mat-tab-label {
                height: 30px;
                padding: 0 10px;
                margin: 0px 10px;
                min-width: 90px;

                .mat-tab-label-content {
                    font-family: Roboto Mono;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 21px;
                    text-align: center;
                    letter-spacing: -0.28px;
                    color: #828282;
                }
            }

            .mat-tab-label-active {
                opacity: 1;
                border-bottom: 2px solid #000;

                &:active {
                    color: #000 !important;
                }

                .mat-tab-label-content {
                    color: #000 !important;
                }
            }
        }
    }
}

#packageRoutes {
    list-style-type: none;
    margin-bottom: 0px;
    display: flex;

    li:first-of-type > a {
        margin-left: 0px;
    }
    li {
        a {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            letter-spacing: -0.28px;
            color: #828282;
            text-decoration: none;
            padding: 0px 10px 7px 10px;
            margin: 0px 10px;
            cursor: pointer;
        }
    }

    .active {
        opacity: 1;
        color: #333333 !important;
        border-bottom: 2px solid #333333;
    }
}

.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

.example-large-box {
    height: 300px;
    width: 300px;
}

.header-border {
    border-bottom: none;
    position: relative;
    top: 2.18rem;
    height: 14px;
    border: 0;
    margin: 6px 0px;
    box-shadow: 0 6px 8px -2px rgba(189, 189, 189, 0.25);
}

.loading {
    margin: 100px auto;
}

@media (max-width: 576px) {
    #contentContainer {
        #packageRoutes {
            li {
                a {
                    font-size: 13px;
                    padding: 0px 8px 4px 8px;
                    margin: 0px 6px;
                }
            }
        }
        ::ng-deep #matTabs .mat-tab-header {
            border-bottom: none;
            .mat-ink-bar {
                display: none;
                width: 90px !important;
            }
            .mat-tab-labels {
                .mat-tab-label {
                    height: 20px !important;
                    padding: 0 0px !important;
                    margin: 0px 10px !important;
                    min-width: 50px !important;
                    .mat-tab-label-content {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    ::ng-deep #matTabs .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
        display: none;
    }

    .header-border {
        top: 1.6rem;
        height: 9px;
        border: 0;
        margin: 3px;
    }
}

@media (max-width: 480px) {
    #packageRoutes {
        li {
            &:first-child {
                a {
                    margin-left: 0px !important;
                    padding-left: 0px;
                }
            }
        }
    }
}

.package-details {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.28px;
    color: #828282;
}

.package-privacy {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.28px;
    color: #828282;

    &.public {
        color: #00a896;
    }
}

.package-title {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.28px;
    color: #4f4f4f;
    margin-bottom: 5px;
}

.package-identifier {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.28px;
    color: #828282;
    margin-bottom: 10px;
}

#packageDetails {
    .left-div {
        padding-right: 30px;
    }

    .package-actions {
        .content-nr {
            font-family: Roboto Mono;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            text-transform: uppercase;
            color: #828282;
        }

        button {
            width: 32px;
            height: 32px;
            background-color: #fff;
            box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.25), 0px -4px 4px rgba(255, 255, 255, 0.25),
                0px 4px 4px rgba(189, 189, 189, 0.25), 4px 0px 4px rgba(189, 189, 189, 0.25);

            &:focus {
                outline: #fff auto 0px !important;
            }

            ::ng-deep .mat-button-wrapper {
                padding: 0px 0;
                line-height: 20px;

                .mat-icon {
                    height: 30px;
                    color: #828282;

                    &:focus {
                        outline: #fff auto 0px !important;
                    }
                }
            }
        }
    }
    .margin-30 {
        margin-right: 30px;
    }
}

@media (max-width: 992px) {
    .left-div {
        padding-right: 15px !important;
    }
}

@media (max-width: 768px) {
    #packageDetails {
        .right-div {
            padding-top: 10px !important;
        }
    }

    #contentContainer {
        padding-bottom: 10px !important;
    }
}

@media (max-width: 575px) {
    ::ng-deep .cover {
        height: 75px;
    }
    #packagePage {
        position: relative;
        top: 0px;
    }
}
