@import "../../../styles/variables";

#verifyEmail {
    .dialog-title {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: ($title-font + 2);
        line-height: 55px;
        text-align: center;
        margin: 10px 0 30px;
        color: $gray-1;
        text-shadow: $text-shadow;
    }

    .dialog-subtitle {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: ($text-font - 1);
        line-height: 18px;
        padding-left: 10px;
        padding-bottom: 5px;
        letter-spacing: -0.28px;
        color: $gray-3;
        text-align: center;
    }

    .success-icon,
    .failed-icon {
        width: 60px;
        height: 60px;
        font-size: $icon-font;
    }

    .success-icon {
        color: $color-success;
    }

    .failed-icon {
        color: $color-danger;
    }
}

.disabled {
    background-color: $gray-color-8 !important;
    pointer-events: none;
    opacity: 0.6;
    .btn-text {
        color: $gray-color-3;
    }
}

@media (max-width: 576px) {
    #verifyEmail {
        .dialog-title {
            font-size: ($title-font - 2);
            line-height: 44px;
            font-weight: $weight-400;
            margin: 14px 0 15px;
        }
        .dialog-subtile {
            margin-bottom: 0px;
            padding-top: 18px;
        }
    }
}
