@import "../../../styles/variables";
@import "../../../styles/colors";

#verifyEmail {
    .dialog-title {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: ($title-font + 2);
        line-height: 55px;
        text-align: center;
        margin: 10px 0 10px;
        color: var(--gray-1-color);
        letter-spacing: 0.6px;
        text-shadow: var(--text-shadow);
    }

    .dialog-subtitle {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: ($text-font - 1);
        line-height: 18px;
        padding-left: 10px;
        padding-bottom: 5px;
        letter-spacing: 0.6px;
        color: var(--gray-3-color);
        text-align: center;
    }

    .success-icon,
    .failed-icon {
        width: 60px;
        height: 60px;
        font-size: $icon-font;
    }

    .success-icon {
        color: $success-color;
    }

    .failed-icon {
        color: var(--danger-color);
    }
}

.disabled {
    background-color: $custom-gray-8-color !important;
    pointer-events: none;
    opacity: 0.6;
    .btn-text {
        color: $custom-gray-3-color;
    }
}

@media (max-width: 576px) {
    #verifyEmail {
        .dialog-title {
            font-size: ($title-font - 2);
            line-height: 44px;
            font-weight: $weight-400;
            margin: 14px 0 15px;
        }
        .dialog-subtile {
            margin-bottom: 0px;
            padding-top: 18px;
        }
    }
}
