<hr style="width: 100%;" class="header-border">
<div class="container pb-5" id="packagePage">
  <div class="row">
    <div class="col-md-12 no-pd-mobile">
      <mat-tab-group id="matTabs" mat-align-tabs="left">
        <mat-tab label="detail">
          <app-package-detail></app-package-detail>
        </mat-tab>
        <mat-tab label="schema">
          <package-schema></package-schema>
        </mat-tab>
        <mat-tab label="version">
          <package-version></package-version>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
