@import '../../../../styles/variables';

.slug {
    color: $color-danger;
}

div[mat-dialog-title] {
    max-width: 400px;
    font-weight: $weight-400;
    font-size: $default-font;
}

div[mat-dialog-content] {
    font-size: $default-font;
}

div[mat-dialog-actions] {
    justify-content: flex-end;
}

mat-form-field {
    width: 100%;
}

input {
    width: 100%;
    margin-top: 1em;
}
