/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: #f2f2f2;
}

a {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: -0.28px;
    color: #017fb9;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-spinner circle {
    stroke: #828282 !important;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-pane {
    min-height: 500px;
    padding-top: 50px;
}

.mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mat-menu-content {
    button.mat-menu-item {
        border-bottom: 1px solid rgb(0 0 0 / 5%) !important;
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.28px;
        color: #4f4f4f;
        &:last-child {
            border-bottom: none !important;
        }
    }
}

.notification-error {
    background-color: #b0003a;
    color: white;
}

.notification-success {
    background-color: #388e3c;
    color: white;
}

.text-overflow-elipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {
    html {
        touch-action: none;
        body {
            touch-action: none;
        }
    }
}
