/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: #f2f2f2;
}

a {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: -0.28px;
    color: #017fb9;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-spinner circle {
    stroke: #828282 !important;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-table,
.cdk-overlay-pane,
.mat-expansion-panel,
.mat-stepper-horizontal,
.mat-card {
    background-color: inherit;
}
.mat-dialog-container {
    background-color: #f2f2f2;
}
.mat-header-row {
    background-color: white;
}

.loading-pane {
    min-height: 500px;
    padding-top: 50px;
}

.mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mat-menu-content {
    button.mat-menu-item {
        border-bottom: 1px solid rgb(0 0 0 / 5%) !important;
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.28px;
        color: #4f4f4f;
        &:last-child {
            border-bottom: none !important;
        }
    }
}

.notification-error {
    background-color: #b0003a;
    color: white;
}

.notification-success {
    background-color: #388e3c;
    color: white;
}

.submit-btn {
    background-color: inherit;
    transition: background-color ease 0.5s;

    &:hover {
        background-color: #f9f9f9;
        transition: background-color ease 0.5s;
    }

    &:focus {
        background-color: #ddd;
    }

    .disabled {
        background-color: #ddd;
        pointer-events: none;
        opacity: 0.6;
        .btn-text {
            color: #82828273;
        }
    }
}

.text-overflow-elipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {
    html {
        touch-action: none;
        body {
            touch-action: none;
        }
    }
}

.app-slide-toggle.mat-checked {
    .mat-slide-toggle-bar,
    .mat-ripple-element {
        background-color: #00a896;
    }
    .mat-slide-toggle-thumb {
        background-color: #fff;
    }
}

.app-input-round {
    border-radius: 24px;
    padding: 10px 23px;
    width: 100%;
    height: 44px;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    box-shadow: inset -4px 0px 4px rgba(255, 255, 255, 0.25), inset 0px -4px 4px rgba(255, 255, 255, 0.25),
        inset 0px 4px 4px rgba(189, 189, 189, 0.25), inset 4px 0px 4px rgba(189, 189, 189, 0.25);
    transition: background-color ease 0.5s;
    &:hover {
        background-color: white;
        transition: background-color ease 0.5s;
    }
    &::placeholder {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: -0.28px;
        color: #bdbdbd;
    }
}

.app-raised-button {
    outline: none !important;
    box-shadow: -4px 0px 4px rgba(255, 255, 255, 0.5), 0px -4px 4px rgba(255, 255, 255, 0.25),
        0px 4px 4px rgba(183, 183, 183, 0.25), 4px 0px 4px rgba(183, 183, 183, 0.25) !important;
    border-radius: 24px;
    height: 36px;
    border: none;
    background: #fff;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    align-items: center;
    text-align: center;
    color: #828282;
    padding: 0 1.5em;

    &:hover {
        background-color: #f9f9f9;
    }
    &:active {
        box-shadow: none !important;
    }

    &:disabled {
        background-color: #cccccc85;
        pointer-events: none;
        opacity: 0.6;
    }
}

.app-fab-button.app-fab-button {
    width: 40px;
    height: 40px;
    background: white;

    &:focus {
        outline: none !important;
    }

    .mat-button-wrapper {
        padding: 0 !important;

        .mat-icon {
            color: #828282;
            font-size: 26px;
            width: unset;
            height: 32px;

            &:focus {
                outline: transparent solid 0px !important;
            }
        }
    }
}

.app-outlined-button {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.28px;
    color: #017fb9;
    border: 1px solid #ddd;
    padding: 3px 15px;
    border-radius: 4px;
    cursor: pointer;

    &.block {
        display: block;
        text-align: center;
    }

    &:hover {
        text-decoration: none;
        background-color: rgba(240, 240, 240, 0.783);
    }
}
