<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12" id="followingTab">
            <div class="row big-div-following mb-3">

                <div class="col-md-12 col-lg-12 following-div">
                  <div class="h1-title">All activity</div>
                </div>

                <div class="col-md-12 col-lg-12 pb-2 following-div">
                  <div class="d-flex flex-row bd-highlight up-header mb-1">
                    <div class="px-2 bd-highlight">
                      <img src='../../../assets/images/user-female.jpg' alt="User image card" class="person-card-photo">
                      <span class="person-card-name">Andrew Smith</span>
                      <span class="info-div">
                        updated
                      </span>
                    </div>
                    <div class="bd-highlight d-flex align-items-center last-row">
                      <div class="info-div">
                        <span>activity/update description</span> 6 min ago.
                      </div>
                    </div>
                  </div>
                <mat-card class="example-card">
                  <mat-card-content>
                    <div class="d-flex flex-row bd-highlight mb-3 d-none">
                      <div class="bd-highlight" style="width: 25%;">
                        <img mat-card-image src="../../../assets/images/galaxy.jpg" alt="Photo of a Shiba Inu">
                      </div>
                      <div class="bd-highlight px-2" style="width: 75%;">
                        <div class="info-div-download">12 downloaded</div>
                        <div class="content-title">activity/update description</div>
                        <div class="content-description">
                          Short description preview of the product and some, lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus orci, sem nullam maecenas sed mauris. Sed turpis lorem vitae sit. Amet, in aliquet odio id orci...
                        </div>
                      </div>
                    </div>

                    <div class="d-flex flex-row bd-highlight mb-3">
                      <div class="bd-highlight px-2" style="width: 100%;">
                        <div class="info-div-download">12 downloaded</div>
                        <div class="content-title">activity/update description</div>
                      </div>
                    </div>

                    <div class="content-actions">
                      <div class="following-chips px-2">
                        <mat-chip-list aria-label="Fish selection">
                          <mat-chip>weather</mat-chip>
                          <mat-chip>oceanic</mat-chip>
                          <mat-chip>streaming</mat-chip>
                        </mat-chip-list>
                      </div>
                      <div class="following-actions pt-2">
                        <div class="d-flex bd-highlight">
                          <div class="px-2 bd-highlight">
                            <button mat-fab class="person-menu" [class.yellow]="isFavorite" aria-label="Example icon button with a delete icon"
                            (click)="makeFavorite()">
                              <mat-icon>star_border</mat-icon>
                            </button>
                            <span class="px-2 content-nr">47</span>
                          </div>
                          <div class="px-2 bd-highlight">
                            <button mat-fab class="person-menu" aria-label="Example icon button with a delete icon"
                            (click)="makeFavorite()">
                              <mat-icon>collections</mat-icon>
                            </button>
                            <span class="px-2 content-nr">add to collection</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
                </div>

                <div class="col-md-12 col-lg-12 pb-2 following-div">
                  <div class="d-flex flex-row bd-highlight up-header mb-1">
                    <div class="px-2 bd-highlight">
                      <img src='../../../assets/images/user-male.jpg' alt="User image card" class="person-card-photo">
                      <span class="person-card-name">Tyler Williams</span>
                      <span class="info-div">
                        updated
                      </span>
                    </div>
                    <div class="bd-highlight d-flex align-items-center last-row">
                      <div class="info-div">
                        <span>Catalog name/package</span> 15 min ago.
                      </div>
                    </div>
                  </div>
                    <mat-card class="example-card">
                      <mat-card-content>
                        <div class="d-flex flex-row bd-highlight mb-3">
                          <div class="bd-highlight px-2" style="width: 25%;">
                            <img mat-card-image src="../../../assets/images/galaxy.jpg" alt="Photo of a Shiba Inu">
                          </div>
                          <div class="bd-highlight px-2" style="width: 75%;">
                            <div class="info-div-download">13 downloaded</div>
                            <div class="content-title"><a>Catalog name/package</a></div>
                            <div class="content-description">
                              Short description preview of the product and some, lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus orci, sem nullam maecenas sed mauris. Sed turpis lorem vitae sit. Amet, in aliquet odio id orci...
                            </div>
                          </div>
                        </div>

                        <div class="content-actions">
                          <div class="following-chips px-2">
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>weather</mat-chip>
                              <mat-chip>oceanic</mat-chip>
                              <mat-chip>streaming</mat-chip>
                              <mat-chip>weather</mat-chip>
                              <mat-chip>oceanic</mat-chip>
                              <mat-chip>streaming</mat-chip>
                            </mat-chip-list>
                          </div>
                          <div class="following-actions pt-2">
                            <div class="d-flex bd-highlight">
                              <div class="px-2 bd-highlight">
                                <button mat-fab class="person-menu" [class.yellow]="isFavorite" aria-label="Example icon button with a delete icon"
                                (click)="makeFavorite()">
                                  <mat-icon>star_border</mat-icon>
                                </button>
                                <span class="px-2 content-nr">47</span>
                              </div>
                              <div class="px-2 bd-highlight">
                                <button mat-fab class="person-menu" aria-label="Example icon button with a delete icon"
                                (click)="makeFavorite()">
                                  <mat-icon>collections</mat-icon>
                                </button>
                                <span class="px-2 content-nr">add to collection</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                </div>

                <div class="col-md-12 col-lg-12 pb-2 following-div">
                  <div class="d-flex flex-row bd-highlight up-header mb-1">
                    <div class="px-2 bd-highlight">
                      <img src='../../../assets/images/user-male2.png' alt="User image card" class="person-card-photo">
                      <span class="person-card-name">Bleona Gjocaj</span>
                      <span class="info-div">
                        updated
                      </span>
                    </div>
                    <div class="bd-highlight d-flex align-items-center last-row">
                      <div class="info-div">
                        <span>Collection update description</span> 38 min ago.
                      </div>
                    </div>
                  </div>
                  <mat-card class="example-card">
                    <mat-card-content>
                      <div class="d-flex flex-row bd-highlight">
                        <div class="bd-highlight px-2">
                          <div class="info-div-download">12 packages</div>
                          <div class="content-title">Collection update description</div>
                            <div class="content-list">
                              <ul style="list-style-type: none; padding-left: 0px; margin-bottom: 0.4rem;">
                                <li>package title 1</li>
                                <li>package title 2</li>
                                <li><a href="#">more...</a></li>
                              </ul>
                            </div>
                        </div>
                      </div>

                      <div class="content-actions">
                        <div class="following-actions pt-2">
                          <div class="d-flex bd-highlight">
                            <div class="px-2 bd-highlight">
                              <button mat-fab class="person-menu" aria-label="Example icon button with a delete icon"
                              (click)="makeFavorite()">
                                <mat-icon>star_border</mat-icon>
                              </button>
                              <span class="px-2 content-nr">47</span>
                            </div>
                            <div class="px-2 bd-highlight">
                              <button mat-fab class="person-menu" [class.yellow]="isFavorite" aria-label="Example icon button with a delete icon"
                              (click)="makeFavorite()">
                                <mat-icon>collections</mat-icon>
                              </button>
                              <span class="px-2 content-nr">add to collection</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="col-md-12 col-lg-12 pb-2 following-div">
                  <div class="d-flex flex-row bd-highlight up-header mb-1">
                    <div class="px-2 bd-highlight">
                      <img src='../../../assets/images/user-male2.png' alt="User image card" class="person-card-photo">
                      <span class="person-card-name">Bleona Gjocaj</span>
                      <span class="info-div">
                        updated
                      </span>
                    </div>
                    <div class="bd-highlight d-flex align-items-center last-row">
                      <div class="info-div">
                        <span>Collection update description</span> 38 min ago.
                      </div>
                    </div>
                  </div>
                  <mat-card class="example-card">
                    <mat-card-content>
                      <div class="d-flex flex-row bd-highlight">
                        <div class="d-flex flex-row bd-highlight">
                          <div class="bd-highlight px-2" style="width: 25%;">
                            <img mat-card-image src="../../../assets/images/galaxy.jpg" alt="Photo of a Shiba Inu">
                          </div>
                          <div class="bd-highlight px-2" style="width: 75%;">
                            <div class="info-div-download">12 packages</div>
                            <div class="content-title">Collection update description</div>
                              <div class="content-list">
                                <ul style="list-style-type: none; padding-left: 0px; margin-bottom: 0.4rem;">
                                  <li>package title 1</li>
                                  <li>package title 2</li>
                                  <li><a href="#">more...</a></li>
                                </ul>
                              </div>
                          </div>
                        </div>
                      </div>

                      <div class="content-actions">
                        <div class="following-actions pt-2">
                          <div class="d-flex bd-highlight">
                            <div class="px-2 bd-highlight">
                              <button mat-fab class="person-menu" aria-label="Example icon button with a delete icon"
                              (click)="makeFavorite()">
                                <mat-icon>star_border</mat-icon>
                              </button>
                              <span class="px-2 content-nr">47</span>
                            </div>
                            <div class="px-2 bd-highlight">
                              <button mat-fab class="person-menu" [class.yellow]="isFavorite" aria-label="Example icon button with a delete icon"
                              (click)="makeFavorite()">
                                <mat-icon>collections</mat-icon>
                              </button>
                              <span class="px-2 content-nr">add to collection</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="col-md-12 col-lg-12 pb-2 following-div">
                  <div class="div-shadow">
                    <div class="topics-title">
                      Suggested topics for you
                    </div>
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 big-chips mb-2">
                        <mat-chip-list aria-label="Fish selection">
                          <mat-chip>weather</mat-chip>
                          <mat-chip>oceanic</mat-chip>
                          <mat-chip>oceanic</mat-chip>
                        </mat-chip-list>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 big-chips mb-2">
                        <mat-chip-list aria-label="Fish selection">
                          <mat-chip>weather</mat-chip>
                          <mat-chip>oceanic</mat-chip>
                          <mat-chip>oceanic</mat-chip>
                        </mat-chip-list>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 big-chips mb-2">
                        <mat-chip-list aria-label="Fish selection">
                          <mat-chip>weather</mat-chip>
                          <mat-chip>oceanic</mat-chip>
                          <mat-chip>oceanic</mat-chip>
                        </mat-chip-list>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 big-chips mb-2">
                        <mat-chip-list aria-label="Fish selection">
                          <mat-chip>weather</mat-chip>
                          <mat-chip>oceanic</mat-chip>
                          <mat-chip>oceanic</mat-chip>
                        </mat-chip-list>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 d-flex align-items-end mb-2">
                        <button mat-stroked-button class="big-chip-btn">finished</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
