<!-- <button *ngIf="currentUser" (click)="logoutClicked()" >Logout</button>

<h3>My API Keys</h3>
<ul>
    <li *ngFor="let apiKey of myAPIKeys">{{apiKey.label}} <button (click)="deleteApiKey(apiKey.id)">Delete</button></li>
</ul>

<form [formGroup]="createAPIKeyForm" (ngSubmit)="createAPIKey()">
    <input type="text" placeholder="Label" name="label" formControlName="label" minlength="1" autocomplete="off">
    <input type="submit" value="Create API Key" [disabled]="!createAPIKeyForm.valid">
</form>
<div *ngIf="createAPIKeyState == State.ERROR_NOT_UNIQUE">
    You already have a key with that label. Please choose a different label.
</div>
<div *ngIf="createAPIKeyState == State.ERROR">
    There was a problem communicating with the server. Please try again.
</div>

<div *ngIf="createAPIKeyState == State.SUCCESS">
    The command to use your new key is below
    <br/><br/>
    {{apiKeyCommandString()}}
</div>


<h3>My Catalogs</h3>
<ul>
    <li *ngFor="let catalog of myCatalogs"><a routerLink="/{{catalog.identifier.catalogSlug}}">{{catalog.displayName || catalog.identifier.catalogSlug}}</a></li>
</ul> -->

<div class="container-fluid cover-image">
  <div class="row">
    <div class="col-md-12"></div>
  </div>
</div>

<div class="container" id="userProfile">
  <div class="row top-row">
    <div class="col-lg-10 col-md-12 col-sm-12 profile-div">
      <div class="d-flex bd-highlight user-header" style="height: 80px">
        <div class="p-2 bd-highlight">
          <a class="user-img"
            ><img src="../../assets/images/user-female.jpg" alt="User profile image"
          /></a>
        </div>
        <div class="p-2 bd-highlight">
          <span class="user-fullname">Jossilyn Edwards</span><br />
          <span class="user-name">@jossedwards</span>
        </div>
        <div class="ml-auto p-2 bd-highlight">
          <button mat-button class="follow-btn">
            <span>follow</span>
          </button>
        </div>
      </div>
      <p class="user-bio pl-3">
        bio description, lorem ipsum dolor sit amet, consectetur adipiscing
        elit.
      </p>
      <a class="edit-profile ml-3" (click)="openEditDialog()">Edit profile</a>
      <div class="d-flex flex-row bd-highlight user-following pl-3">
        <div class="py-2 bd-highlight">196 followers</div>
        <div class="p-2 bd-highlight">·</div>
        <div class="py-2 bd-highlight">125 following</div>
        <div class="p-2 bd-highlight">·</div>
        <div class="py-2 bd-highlight">
          <span class="material-icons">star_outline</span>27
        </div>
      </div>
      <div class="user-menu">
        <ul class="p-0" id="homeRoutes">
          <li *ngFor="let route of routes; let i = index" class="list-names" (click)="selectTab(i)">
                <a class="cursor-pointer" [class.active]="i == selectedTab">
                  {{route.linkName}}
                </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
