<div class="container" *ngIf="state === State.INITIAL_PARAMETERS">
    <div class="row">
        <div class="col-md-12 p-0" id="sharePackage">
            <form [formGroup]="form" (submit)="submit($event)" >
                <div mat-dialog-title id="contentTitle">Create Package</div>
                    <div class="dialog-close-wrapper">
                        <button mat-button mat-dialog-close class="dialog-close">close</button>
                    </div>
                <div mat-dialog-content id="contentBorder">
                    <div class="bd-highlight shadow-div">
                        <label class="mt-3 mb-3 pl-1">Catalog</label>
                        <app-catalog-autocomplete [form]="form"></app-catalog-autocomplete>

                        <label class="mt-3 mb-3 pl-1">Package Name</label>
                        <app-input
                            placeholder=""
                            [group]="form"
                            class="rounded-input mb-3"
                            controlName="packageName"
                            [error]="form | inputError: 'packageName' | async"
                            (keyup)="packageNameKeyUp()"
                        >
                        </app-input>

                        <label class="mt-3 mb-3 pl-1">Package Shortname</label>
                        <app-input
                            placeholder=""
                            [group]="form"
                            class="rounded-input mb-3"
                            controlName="packageSlug"
                            [error]="form | inputError: 'packageSlug' | async"
                        >
                        </app-input>

                        <div class="bd-highlight w-100">
                            <div class="text-danger mt-3" *ngIf="state === 'ERROR'">
                                <ng-container [ngSwitch]="error">
                                    <ng-container *ngSwitchCase="'CANNOT_SET_COLLECTION_CREATOR_PERMISSIONS'">
                                        You can not change the permissions of the collection owner.
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'GROUP_NOT_FOUND'">
                                        There is no group with that name on this registry.
                                    </ng-container>
                                    <ng-container *ngSwitchDefault> Error occured while adding a group permission </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div mat-dialog-actions class="mat-dialog-actions">
                    <button type="submit" class="ml-auto modal-submit-btn" [disabled]="loading || hasErrors">
                        <span>Add</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-command #command *ngIf="state === State.RUNNING"></app-command>