@import '../../../styles/variables';

#editCatalog {
    min-width: 700px;
    position: relative;
    top: -24px;

    .mat-dialog-actions {
        display: flex;
        justify-content: flex-end;
    }

    .mat-dialog-content {
        max-height: calc(100vh - 130px);
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;

        app-cover {
            display: block;
            height: 150px;

            ::ng-deep > div {
                height: 100%;
            }
        }

        .form-field {
            padding-right: 10px;

            .label {
                font-family: $family-roboto-mono;
                font-style: $style-normal;
                font-weight: $weight-400;
                font-size: $text-font;
                line-height: 18px;
                letter-spacing: -0.28px;
                color: $gray-2;
                width: 275px;
            }

            app-input {
                width: 100%;

                ::ng-deep .dpm-input-round {
                    color: $color-info;
                }
            }
        }
    }
}
