@import "./src/styles/variables.scss";

#changeStatus {
    #username-label {
        color: $color-info;
    }

    ::ng-deep.mat-select {
        width: 60%;
        padding: 6px 14px;
        letter-spacing: unset;
    }

    .one-line-input {
        ::ng-deep input.mat-input-element {
            border: none;
            width: unset;
            border-bottom: 2px solid $color-info;
            background: transparent;
            outline: transparent solid 1px;
        }
    }
}

@media (max-width: 576px) {
    #changeStatus {
        ::ng-deep.mat-select {
            width: 100%;
        }
    }
}
