<div class="fixActionRow">
    <h1 mat-dialog-title>Confirm user status change</h1>
    <mat-dialog-content>
        <div class="content">
            <p>
                Are you sure you want to change this <span id="username-label">{{ user.username }}</span
                >'s status?
            </p>
            <p>They will be notified for this change via email.</p>

            <mat-select [(value)]="status">
                <mat-option [value]="UserStatus.ACTIVE">Active</mat-option>
                <mat-option [value]="UserStatus.SUSPENDED">Suspended</mat-option>
            </mat-select>

            <div>
                Type your message here.
                <div class="one-line-input py-3">
                    <input matInput [(ngModel)]="message" autocomplete="off" />
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <div class="spacer"></div>
    <mat-dialog-actions>
        <button mat-button [disabled]="loading" (click)="confirm()" class="mat-flat-button confirm-button">
            Confirm
        </button>
        <button mat-button (click)="cancel()" class="mat-flat-button cancel-button">Cancel</button>
    </mat-dialog-actions>
</div>
