@import "../../../../styles/variables";

#packageIssues {
    ::ng-deep {
        .mat-checkbox-checked.mat-accent {
            .mat-checkbox-background {
                background-color: $color-info;
            }
        }
        .mat-checkbox-inner-container {
            height: 14px;
            width: 14px;
            margin: 6px 10px 0px 0px;
        }
    }

    .open-issue {
        em {
            color: $color-info;
            font-size: 8px;
            border: 2px solid $color-info;
            border-radius: 50%;
            padding: 2px 4px;
            margin-right: 10px;
            position: relative;
            bottom: 2px;
        }
    }

    .closed-issue {
        em {
            color: $color-danger;
            font-size: 8px;
            border: 2px solid $color-danger;
            border-radius: 50%;
            padding: 2px 2px;
            margin-right: 10px;
            position: relative;
            bottom: 2px;
        }
    }

    .main-wrapper {
        margin-top: 15px;

        .issue-header {
            border-bottom: 0px !important;
        }

        .issue-wrapper {
            padding: 10px 20px;
            border: 1px solid $gray-5;

            .package-details-title {
                font-size: $default-font;

                &:hover {
                    text-decoration: none;
                    color: $color-info;
                }
            }

            .issue-tab {
                font-family: $family-roboto;
                font-weight: $weight-400;
                font-size: $text-font;
                letter-spacing: 0.4px;
                margin-right: 10px;
                cursor: pointer;
                color: $gray-3;

                &:hover {
                    text-decoration: none;
                    color: $color-info;
                }
            }

            .right-tab {
                font-family: $family-roboto;
                font-weight: $weight-400;
                letter-spacing: 0.4px;
                cursor: pointer;
                color: $gray-3;
                float: right;
                margin-right: 0px;
                margin-top: 3px;
                font-size: ($text-font - 1);

                &:hover {
                    color: $gray-3;
                    text-decoration: none;
                }

                a {
                    color: $gray-3;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .clickable-text {
                color: $color-info;
                cursor: pointer;
            }

            .active {
                color: $gray-1;
            }

            .img-comments {
                width: 25px;
                height: 25px;
                margin-right: 25px;
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 576px) {
    #packageIssues {
        .main-wrapper {
            .issue-wrapper {
                padding: 6px 6px;
                .issue-tab {
                    font-size: $small-font;
                    margin-right: 2px;
                }
                .right-tab {
                    margin-top: 3px;
                    font-size: ($small-font - 1);
                }
            }
        }
        ::ng-deep {
            .mat-checkbox-inner-container {
                height: 12px;
                width: 12px;
                margin: 6px 6px 0px 0px;
            }
        }
    }
}
