@import "../../../../styles/variables";
@import "../../../../styles/colors";

#packageIssues {
    ::ng-deep {
        .mat-checkbox-checked.mat-accent {
            .mat-checkbox-background {
                background-color: $info-color;
            }
        }
        .mat-checkbox-inner-container {
            height: 14px;
            width: 14px;
            margin: 6px 10px 0px 0px;
        }
    }

    .open-status {
        background: $info-color;
        padding: 5px 9px;
        border-radius: 14px;
        margin-right: 12px;
        margin-left: 8px;
        font-size: $small-font;
        color: #fff;
        position: relative;
        top: 4px;

        &:hover {
            text-decoration: none;
        }

        em {
            margin-right: 3px;
        }
    }

    .closed-status {
        background: #828282;
        padding: 5px 6px;
        border-radius: 14px;
        margin-right: 12px;
        margin-left: 8px;
        font-size: $small-font;
        color: #fff;
        position: relative;
        top: 4px;

        &:hover {
            text-decoration: none;
        }

        em {
            margin-right: 3px;
        }
    }

    .main-wrapper {
        margin-top: 15px;

        .issue-header {
            border-bottom: 0px !important;
        }

        .issue-wrapper {
            padding: 10px 20px;
            border: 1px solid $gray-5-color;

            .package-details-title {
                font-size: $default-font;

                &:hover {
                    text-decoration: none;
                    color: $info-color;
                }
            }

            .issue-tab {
                font-family: $family-roboto;
                font-weight: $weight-400;
                font-size: $text-font;
                letter-spacing: 0.4px;
                margin-right: 10px;
                cursor: pointer;
                color: $gray-3-color;

                &:hover {
                    text-decoration: none;
                    color: $info-color;
                }
            }

            .right-tab {
                font-family: $family-roboto;
                font-weight: $weight-400;
                letter-spacing: 0.4px;
                cursor: pointer;
                color: $gray-3-color;
                float: right;
                margin-right: 3px;
                margin-left: 10px;
                margin-top: 3px;
                font-size: ($text-font - 1);

                &:hover {
                    color: $gray-3-color;
                    text-decoration: none;
                }

                a {
                    color: $gray-3-color;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .clickable-text {
                color: $info-color;
                cursor: pointer;
            }

            .active {
                color: $gray-1-color;
            }

            .img-comments {
                width: 25px;
                height: 25px;
                margin-right: 25px;
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 576px) {
    #packageIssues {
        .main-wrapper {
            .issue-wrapper {
                padding: 6px 6px;
                .issue-tab {
                    font-size: $small-font;
                    margin-right: 2px;
                }
                .right-tab {
                    margin-top: 3px;
                    font-size: ($small-font - 1);
                }
            }
        }
        ::ng-deep {
            .mat-checkbox-inner-container {
                height: 12px;
                width: 12px;
                margin: 6px 6px 0px 0px;
            }
        }
    }
}
