@import "../../../../styles/variables";
@import "../../../../styles/colors";

#packageIssues {
    ::ng-deep {
        .mat-checkbox-checked.mat-accent {
            .mat-checkbox-background {
                background-color: var(--info-color);
            }
        }
        .mat-checkbox-inner-container {
            height: 14px;
            width: 14px;
            margin: 6px 12px 0px 0px;

            .mat-checkbox-frame {
                border-color: var(--gray-3-color);
            }
        }
    }

    .open-status {
        background: var(--info-color);
        padding: 5px 9px;
        border-radius: 14px;
        margin-right: 12px;
        font-size: $small-font;
        color: var(--secondary-color);
        position: relative;
        top: 4px;

        &:hover {
            text-decoration: none;
        }

        em {
            margin-right: 3px;
        }
    }

    .closed-status {
        background: var(--gray-3-color);
        padding: 5px 6px;
        border-radius: 14px;
        margin-right: 12px;
        font-size: $small-font;
        color: var(--secondary-color);
        position: relative;
        top: 4px;

        &:hover {
            text-decoration: none;
        }

        em {
            margin-right: 3px;
        }
    }

    .main-wrapper {
        margin-top: 15px;

        .issue-header {
            padding: 10px 20px;
            border: 1px solid var(--gray-5-color);
            background-color: var(--custom-table-color);

            .text-main-title {
                font-size: $default-font;

                &:hover {
                    text-decoration: none;
                    color: var(--info-color);
                }
            }

            .issue-tab {
                font-family: $family-roboto;
                font-weight: $weight-400;
                font-size: ($text-font - 1);
                letter-spacing: 0.4px;
                margin-right: 10px;
                cursor: pointer;
                color: var(--gray-3-color);

                &:hover {
                    text-decoration: none;
                    color: var(--info-color);
                }
            }

            .right-tab {
                font-family: $family-roboto;
                font-weight: $weight-400;
                letter-spacing: 0.4px;
                cursor: pointer;
                color: var(--gray-3-color);
                float: right;
                margin-right: 3px;
                margin-left: 10px;
                font-size: ($text-font - 1);

                &:hover {
                    color: var(--gray-3-color);
                    text-decoration: none;
                }

                a {
                    color: var(--gray-3-color);

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .clickable-text {
                color: var(--info-color);
                cursor: pointer;
            }

            .active {
                color: var(--gray-1-color);
            }
        }

        .diff-bg {
            background-color: var(--gray-11-color);

            &:hover {
                background-color: var(--custom-secondary-color);
                transition: background-color 0.5s ease;
            }

            &:nth-child(2n) {
                background-color: var(--gray-7-color);

                &:hover {
                    background-color: var(--custom-secondary-color);
                    transition: background-color 0.5s ease;
                }
            }
        }

        .issue-wrapper {
            padding: 10px 20px;
            border: 1px solid var(--gray-5-color);
            border-top: none;
            cursor: pointer;

            &:first-child {
                cursor: default;
            }

            .text-main-title {
                font-size: ($default-font - 1);
                color: var(--info-color);

                &:hover {
                    text-decoration: none;
                }
            }

            .img-comments {
                width: 25px;
                height: 25px;
                margin-right: 25px;
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 576px) {
    #packageIssues {
        .closed-status {
            padding: 4px 4px;
            margin-right: 2px;
            font-size: $xsmall-font;
        }
        .open-status {
            padding: 4px 8px;
            margin-right: 2px;
            font-size: $xsmall-font;
        }
        .text-light-gray {
            overflow: hidden;
            line-height: 14px;
            text-overflow: ellipsis;
            font-size: $xsmall-font;
        }
        .main-wrapper {
            .issue-wrapper {
                padding: 6px 6px;
                line-height: 18px;
                .text-main-title {
                    font-size: ($text-font - 2);
                }
            }
            .issue-header {
                padding: 8px 6px;
                .issue-tab {
                    font-size: $small-font;
                    margin-right: 4px;
                }
                .right-tab {
                    margin-top: 0px;
                    font-size: ($small-font - 1);
                }
            }
        }
        ::ng-deep {
            .mat-checkbox-inner-container {
                height: 11px;
                width: 11px;
                margin: 6px 6px 0px 0px;
            }
        }
    }
}
