@import "../../../../../styles/variables";

#createIssue {
    .btn-div {
        display: flow-root;
    }

    .app-raised-button {
        font-size: 13px;
        border-radius: 4px;
        border: 1px solid $gray-9;
        line-height: 15px;

        &:disabled {
            color: $gray-4;
            background-color: #efefef;
        }
    }

    .app-outlined-button {
        padding: 8px 20px;
        line-height: 15px;
        color: $gray-2;
    }

    ::ng-deep {
        .editor-statusbar {
            color: #2c3e50;
            background-color: $gray-6;
            border-bottom: 1px solid $gray-9;
            border-left: 1px solid $gray-9;
            border-right: 1px solid $gray-9;
        }

        .CodeMirror {
            font-family: $family-roboto;
            letter-spacing: 0.4px;
            background-color: #fbfbfb;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

            &:hover {
                background-color: $white;
            }
        }

        .editor-toolbar {
            opacity: 1;
            background-color: $gray-6;
            border-top: 1px solid $gray-9;
            border-left: 1px solid $gray-9;
            border-right: 1px solid $gray-9;

            &::after {
                margin-top: 3px;
            }

            &::before {
                margin-bottom: 3px;
            }
        }
    }
}

@media (max-width: 576px) {
    #createIssue {
        .btn-div {
            display: flex;
        }
        .app-raised-button,
        .app-outlined-button {
            width: 50%;
        }
    }
}
