@import "../../../../../styles/variables";
@import "../../../../../styles/colors";

#createIssue {
    .btn-div {
        display: flow-root;
    }

    .app-raised-button {
        font-size: 13px;
        border-radius: 4px;
        border: 1px solid var(--gray-9-color);
        line-height: 15px;

        &:disabled {
            color: var(--gray-4-color);
            background-color: var(--gray-5-color);
        }
    }

    .app-outlined-button {
        padding: 8px 20px;
        line-height: 15px;
        color: var(--gray-2-color);
    }
}

@media (max-width: 576px) {
    #createIssue {
        .btn-div {
            display: flex;
        }
        .app-raised-button,
        .app-outlined-button {
            width: 50%;
        }
    }
}
