@import "../../../../../styles/variables";
@import "../../../../../styles/colors";

#createIssue {
    .btn-div {
        display: flow-root;
    }

    .app-raised-button {
        font-size: 13px;
        border-radius: 4px;
        border: 1px solid var(--gray-9-color);
        line-height: 15px;

        &:disabled {
            color: var(--gray-4-color);
            background-color: var(--gray-5-color);
        }
    }

    .app-outlined-button {
        padding: 8px 20px;
        line-height: 15px;
        color: var(--gray-2-color);
    }

    ::ng-deep {
        .editor-statusbar {
            color: var(--gray-1-color) !important;
            background-color: var(--gray-10-color);
            border-bottom: 1px solid var(--gray-9-color);
            border-left: 1px solid var(--gray-9-color);
            border-right: 1px solid var(--gray-9-color);
        }

        .CodeMirror {
            font-family: $family-roboto;
            letter-spacing: 0.4px;
            color: var(--gray-1-color);
            background-color: var(--secondary-color);
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border: 1px solid var(--gray-9-color);
        }

        .editor-toolbar {
            opacity: 1;
            background-color: var(--gray-10-color);
            border-top: 1px solid var(--gray-9-color);
            border-left: 1px solid var(--gray-9-color);
            border-right: 1px solid var(--gray-9-color);

            a {
                color: var(--gray-1-color) !important;

                &:hover {
                    background-color: var(--custom-secondary-color);
                }
            }

            &::after {
                margin-top: 3px;
            }

            &::before {
                margin-bottom: 3px;
            }
        }
    }
}

@media (max-width: 576px) {
    #createIssue {
        .btn-div {
            display: flex;
        }
        .app-raised-button,
        .app-outlined-button {
            width: 50%;
        }
    }
}
