<div class="container" id="createIssue">
    <div class="row">
        <div class="col-md-12 p-0">
            <ng-container *ngIf="!loading">
                <div class="package-details-title mb-2">Describe Issue for {{ package.displayName }}</div>
                <div class="package-light-gray">Describe the issue in enough detail for others to help you</div>
                <br />
                <div class="col-md-9 rounded-input p-0">
                    <div class="comment-section p-2">
                        <input
                            type="text"
                            class="dpm-input-square mb-2"
                            style="height: 40px;"
                            autofocus
                            placeholder="Issue title"
                            name="subject"
                            [(ngModel)]="subject"
                        />

                        <br />

                        <app-markdown-editor [(content)]="content"> </app-markdown-editor>

                        <div class="mt-2 text-right">
                            <button
                                class="app-raised-button ml-2"
                                (click)="submitNewIssue()"
                                [disabled]="isInvalidIssue()"
                            >
                                Submit new issue
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
