@import "../../../styles/variables";
@import "../../../styles/colors";

#deletePackage {
    width: 500px;
    position: relative;

    p {
        font-size: $text-font;
        margin-bottom: 0px;
        color: $gray-1-color;
    }

    .oneline-input {
        ::ng-deep input.mat-input-element {
            width: unset;
            border-radius: 0px;
            border-color: transparent;
            border-bottom: 2px solid var(--danger-color);
            background: transparent;
            outline: transparent solid 0px;
        }
    }
}

@media (max-width: 768px) {
    #deletePackage {
        min-width: 400px;
    }
}

@media (max-width: 576px) {
    #deletePackage {
        min-width: 260px;
        top: -2px;
    }
}
