<form [formGroup]="form" (submit)="submit($event)" id="addUser">
    <div mat-dialog-title id="contentTitle" class="pb-3">Share {{ collection.name }}</div>
    <div mat-dialog-content id="contentBorder">
        <div class="d-flex flex-row bd-highlight py-4 shadow-div">
            <div class="bd-highlight w-100">
                <app-user-invite-input
                    [usernameControl]="usernameControl"
                    (userInputChange)="onUserInputChange($event)"
                    (loadingStateChange)="onLoadingStatusChange($event)"
                >
                </app-user-invite-input>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Message</mat-label>
                        <textarea [formControl]="messageControl" matInput></textarea>
                    </mat-form-field>
                </div>
                <div>
                    <select (change)="updateSelectedPermission($event.target.value)">
                        <option value="VIEW">View</option>
                        <option value="EDIT">Edit</option>
                        <option value="MANAGE">Manage</option>
                    </select>
                </div>
                <div class="text-danger mt-3" *ngIf="state === 'ERROR'">
                    <ng-container [ngSwitch]="error">
                        <ng-container *ngSwitchCase="'CANNOT_SET_COLLECTION_CREATOR_PERMISSIONS'">
                            You can not change the permissions of the collection owner.
                        </ng-container>
                        <ng-container *ngSwitchCase="'USER_NOT_FOUND'">
                            There is no user with that username on this registry.
                        </ng-container>
                        <ng-container *ngSwitchCase="'INVALID_EMAIL_ADDRESS'">
                            Invalid email address used as an input.
                        </ng-container>
                        <ng-container *ngSwitchCase="'MESSAGE_TOO_LONG'">
                            Message is too long. Please use fewer than 250 characters.</ng-container
                        >
                        <ng-container *ngSwitchCase="'MESSAGE_CANNOT_CONTAIN_EMAIL_ADDRESS'">
                            Message cannot contain email addresses.
                        </ng-container>
                        <ng-container *ngSwitchCase="'MESSAGE_CANNOT_CONTAIN_URL'">
                            Message cannot contain URLs.
                        </ng-container>
                        <ng-container *ngSwitchCase="'MESSAGE_CANNOT_CONTAIN_HTML_TAGS'">
                            Message cannot contain HTML tags.
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            Error occured while adding a user permission to the collection
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="text-right pt-3">
        <button mat-button type="submit" class="ml-auto save-btn" [disabled]="loading || hasErrors">
            <span>add</span>
        </button>
    </div>
</form>
