<form [formGroup]="form" (submit)="submit($event)">
    <div class="dpm-text-title" mat-dialog-title>Add User</div>
    <div mat-dialog-content class="py-4">
        <div class="d-flex input-row">
            <div class="input-label">Username</div>
            <div class="input-control">
                <app-input
                    placeholder="username"
                    [group]="form"
                    controlName="username"
                    inputStyle="flat"
                    [error]="form | inputError: 'username' | async"
                ></app-input>
            </div>
        </div>
        <div class="text-danger mt-3" *ngIf="state === 'ERROR'">
            <ng-container [ngSwitch]="error">
                <ng-container *ngSwitchCase="'CANNOT_SET_COLLECTION_CREATOR_PERMISSIONS'">
                    You can not change the permissions of the collection owner.
                </ng-container>
                <ng-container *ngSwitchCase="'USER_NOT_FOUND'">
                    There is no user with that username on this registry.
                </ng-container>
                <ng-container *ngSwitchDefault>
                    Error occured while adding a user permission to the collection
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-end">
        <button type="submit" class="ml-auto app-raised-button" [disabled]="form.invalid">
            <span>Add</span>
        </button>
    </div>
</form>
