#myCollections {
    .section-title {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.28px;
        color: #333333;
        padding: 24px;
    }

    table {
        width: 100%;
    }

    .mat-column-name {
        width: 40%;
    }

    .mat-column-actions app-button {
        margin-right: 10px;
    }

    ::ng-deep.mat-checked {
        .mat-slide-toggle-bar {
            background-color: #00a896;
        }

        .mat-slide-toggle-thumb {
            background-color: #fff;
        }
    }

    .loading-container {
        display: flex;
        justify-content: center;
        padding: 20px 0 40px;
        width: 100%;
    }

    .mat-column-actions app-button {
        display: inline-block;
        width: 80px;
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .collection-div {
        margin-bottom: 0px !important;
        .flex-row {
            flex-direction: column !important;
            div {
                width: 100% !important;
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
        }
        .collection-chips {
            .mat-chip {
                margin: 4px 4px !important;
            }
        }
    }
}

@media (max-width: 480px) {
    .collection-actions {
        .d-flex {
            flex-direction: column !important;
            div {
                padding: 4px 0px !important;
            }
        }
    }
}
