<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 mt-5 py-2 no-mt-mobile" id="followingTab">
            <div class="row big-div-following mb-3">
                <div class="col-md-12 col-lg-12 pb-2 mb-4">
                    <div class="text-main-title pl-2 mb-4">All activity</div>
                    <ng-container *ngIf="logs.length">
                        <div class="d-flex px-2 flex-row bd-highlight mb-4" *ngFor="let log of logs">
                            <div class="bd-highlight">
                                <app-avatar
                                    class="cursor-pointer"
                                    [user]="log.author"
                                    [routerLink]="'/' + log.author.username"
                                    [size]="30"
                                >
                                </app-avatar>
                            </div>
                            <div class="following-box bd-highlight">
                                <a class="person-card-name" [routerLink]="'/' + log.author.username"
                                    >{{ log.authorFullName }}
                                </a>
                                <span class="text-light-gray">
                                    <span>{{ log.changeTypeLabel }}</span>
                                    <span *ngIf="log.changedEntityInformation?.affectedEntityInformation">
                                        {{ log.changedEntityInformation.affectedEntityInformation.type }}
                                        <a
                                            [routerLink]="log.changedEntityInformation.affectedEntityInformation.url"
                                            class="weight-500"
                                            >{{ log.changedEntityInformation.affectedEntityInformation.name }}</a
                                        ></span
                                    >
                                    {{ log.entitiesBinderLabel }}
                                    <ng-container *ngIf="log.changedEntityInformation">
                                        {{ log.changedEntityInformation.type }}
                                        <a [routerLink]="log.changedEntityInformation.url" class="weight-500">{{
                                            log.changedEntityInformation.name
                                        }}</a>
                                    </ng-container>
                                    {{ log.timeAgoLabel }}.
                                </span>
                            </div>
                        </div>
                    </ng-container>

                    <div class="pb-3" *ngIf="loadingLogs">
                        <mat-spinner diameter="25"></mat-spinner>
                    </div>

                    <div *ngIf="hasMore" class="px-2 text-left">
                        <button
                            class="app-outlined-button ctaButton"
                            [class.disabled]="loadingLogs"
                            (click)="loadMoreLogs()"
                        >
                            Show More
                        </button>
                    </div>
                    <div class="px-2">
                        <span *ngIf="errorLoadingLogs">
                            An error occurred when trying to load updates. Please refresh the page and try again or
                            contact support.</span
                        >
                    </div>
                    <div class="px-2">
                        <span class="text-dark-gray" *ngIf="!loadingLogs && !logs.length"> No updates were made recently. </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
