<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12" id="followingTab">
            <div class="row big-div-following mb-3">
                <div class="col-md-12 col-lg-12 following-div">
                    <div class="h1-title">All activity</div>
                </div>
                <div class="col-md-12 col-lg-12 pb-2 following-div" *ngFor="let log of logs">
                    <div class="d-flex flex-row bd-highlight up-header mb-1">
                        <div class="px-2 bd-highlight">
                            <img
                                src="../../../assets/images/user-male.jpg"
                                alt="User image card"
                                class="person-card-photo"
                            />
                            <span class="person-card-name">{{ getUserName(log) }}</span>
                            <span class="info-div"> updated </span>
                        </div>
                        <div class="bd-highlight d-flex align-items-center last-row">
                            <div class="info-div"><span>Catalog name/package</span> 15 min ago.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
