@import "../../../styles/colors";
@import "../../../styles/variables";

#followingTab {
    .following-box {
        top: 1px;
        position: relative;
        .person-card-name {
            font-family: $family-roboto;
            font-style: $style-normal;
            font-weight: 500;
            font-size: $small-font;
            line-height: 28px;
            padding-left: 10px;
            letter-spacing: 0.4px;
            cursor: pointer;
            color: var(--gray-1-color);
            margin-bottom: 0px !important;
        }
    }
}

@media (max-width: 576px) {
    #followingTab {
        padding: 40px 10px 0px 10px;
        .big-div-following {
            margin-bottom: 0px !important;
            .person-card-name {
                font-size: 12px;
            }
        }
    }
}
