<div *ngIf="!loadingCollections; else collectionsLoadingTemplate">
    <div *ngIf="collections.length">
        <h3 class="sub-title">{{ subtitlesPrefix }} Collections</h3>
        <app-collections-horizontal-list [collections]="collections"></app-collections-horizontal-list>
    </div>
</div>

<div *ngIf="packages.length">
    <h3 class="sub-title">{{ subtitlesPrefix }} Packages</h3>
    <div *ngFor="let package of packages">
        <app-package-item [item]="package"></app-package-item>
    </div>

    <a
        *ngIf="hasMorePackages"
        class="app-outlined-button ctaButton"
        [class.disabled]="loadingPackages"
        (click)="requestMorePackages()"
    >
        Load More
    </a>
</div>

<div class="loading-spinner" *ngIf="loadingPackages">
    <mat-spinner [diameter]="60"></mat-spinner>
</div>

<ng-template #emptyStateTemplate><ng-content select="[packagesEmptyState]"></ng-content></ng-template>

<div *ngIf="!loadingPackages && !packages.length && !hasPackageErrors">
    <ng-container *ngTemplateOutlet="emptyStateTemplate"></ng-container>
</div>

<ng-template #errorStateTemplate><ng-content select="[packagesErrorState]"></ng-content></ng-template>

<div *ngIf="!loadingPackages && !packages.length && hasPackageErrors">
    <ng-container *ngTemplateOutlet="errorStateTemplate"></ng-container>
</div>

<ng-template #collectionsLoadingTemplate> <mat-spinner [diameter]="60"></mat-spinner> </ng-template>
