<div *ngIf="getCatalogQuery">
    <b>{{ getCatalogQuery.catalog.displayName }}</b>
    <div *ngIf="getCatalogQuery.catalog.identifier.catalogSlug != getCatalogQuery.catalog.displayName">
        {{ getCatalogQuery.catalog.identifier.catalogSlug }}
    </div>
    <p>{{ getCatalogQuery.catalog.description }}</p>
    <h3>Packages</h3>
    <ul>
        <li *ngFor="let package of getCatalogQuery.catalog.packages">
            <a
                routerLink="/{{ getCatalogQuery.catalog.identifier.catalogSlug }}/{{ package.identifier.packageSlug }}"
                >{{ package.displayName || package.identifier.packageSlug }}</a
            >
        </li>
    </ul>
</div>
