<hr style="width: 100%;" class="header-border">
<div class="container pb-5">
  <div class="row">
    <div class="col-md-12 no-pd-mobile">
      <mat-tab-group id="matPages" mat-align-tabs="left">
        <!-- <mat-tab label="trending">
          <trending></trending>
        </mat-tab> -->
        <mat-tab label="latest">
          <latest></latest>
        </mat-tab>
        <mat-tab label="following">
          <following></following>
        </mat-tab>
        <mat-tab label="premium"> premium </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>