<div id="collectionList">
    <div class="mb-4 pb-1">
        <div class="collections-container">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let collection of collections" class="collection-cell slide">
                    <div class="collection-item" (click)="goToCollection(collection.identifier.collectionSlug)">
                        {{ collection.name }}
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</div>
