<div id="collectionList">
    <div class="mb-4 pb-1">
        <div class="collections-container">
            <carousel style="height: 53px; z-index: 999" arrowsTheme="light">
                <div class="carousel-cell" *ngFor="let collection of collections">
                    <div class="collection-item" (click)="goToCollection(collection.identifier.collectionSlug)">
                        {{ collection.name }}
                    </div>
                </div>
            </carousel>
        </div>
    </div>
</div>
