@import "../../../../styles/variables";
@import "../../../../styles/colors";

.collections-container {
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 15px;
    border-radius: 6px;
    padding: 20px 10px;
    background-color: var(--gray-10-color);
}

.collection-item {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid var(--tranparent-border);
    background-color: var(--gray-7-color);
    padding: 10px 10px;
    border-radius: 6px;
    font-family: $family-roboto;
    font-weight: $weight-400;
    letter-spacing: 0.6px;
    font-size: $small-font;
    color: var(--gray-1-color);

    &:hover {
        background-color: var(--custom-secondary-color);
    }
}

@media (max-width: 576px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
}
