<div class="container">
    <div class="row">
        <div class="col-md-12 p-0" id="downloadPackage">
            <div mat-dialog-title id="contentTitle">Comparing versions</div>
            <div mat-dialog-content id="contentBorder">
                <div class="row m-0">
                    <div class="text-dark-gray">New version</div>
                    <mat-select (selectionChange)="compareVersions()" [(value)]="newVersion">
                        <mat-option *ngFor="let version of versions" [value]="version.identifier">
                            {{ version.identifier | version }}
                        </mat-option>
                    </mat-select>

                    <div class="text-dark-gray mt-3">Old version</div>
                    <mat-select (selectionChange)="compareVersions()" [(value)]="oldVersion">
                        <mat-option *ngFor="let version of versions" [value]="version.identifier">
                            {{ version.identifier | version }}
                        </mat-option>
                    </mat-select>

                    <div class="text-dark-gray mt-3 w-100">Differences</div>

                    <div class="mt-1" *ngIf="!loading; else loadingTemplate">
                        <ul *ngIf="changes.length; else noDifferencesTemplate">
                            <li *ngFor="let change of changes" class="text-dark-gray">
                                {{ change.changeLabel }}
                                <strong *ngIf="change.changeFieldName">"{{ change.changeFieldName }}"</strong>
                            </li>
                        </ul>
                    </div>

                    <ng-template #loadingTemplate>Loading...</ng-template>
                    <ng-template #noDifferencesTemplate>No differences found.</ng-template>
                </div>
            </div>

            <div mat-dialog-actions class="d-flex justify-content-end pt-2">
                <button mat-dialog-close class="modal-close-btn" (click)="close()" type="submit">Close</button>
            </div>
        </div>
    </div>
</div>
