<h1>Comparing versions</h1>

<h3>New version</h3>
<mat-select (selectionChange)="compareVersions()" [(value)]="newVersion">
    <mat-option *ngFor="let version of versions" [value]="version.identifier">
        {{ version.identifier | version }}
    </mat-option>
</mat-select>

<h3>Old version</h3>
<mat-select (selectionChange)="compareVersions()" [(value)]="oldVersion">
    <mat-option *ngFor="let version of versions" [value]="version.identifier">
        {{ version.identifier | version }}
    </mat-option>
</mat-select>

<h3 class="mt-3">Differences</h3>

<div class="mt-3" *ngIf="!loading; else loadingTemplate">
    <ul *ngIf="differences.length; else noDifferencesTemplate">
        <li *ngFor="let difference of differences">{{ difference.pointer }} - {{ difference.type }}</li>
    </ul>
</div>

<button type="submit" class="app-outlined-button" (click)="close()">Close</button>

<ng-template #loadingTemplate>Loading...</ng-template>
<ng-template #noDifferencesTemplate>No differences found.</ng-template>
