<app-input
    placeholder="collection"
    [group]="form"
    class="flat-input px-0"
    controlName="collectionSlug"
    inputStyle="flat"
    [matAutocomplete]="auto"
    (keydown)="collectionInputKeyDown()"
    [error]="form | inputError: 'collectionSlug' | async"
></app-input>
<mat-autocomplete #auto="matAutocomplete" class="search-autocomplete">
    <mat-option *ngIf="collectionKeyDownHasHappened && !autoCompleteResult && form.value.length > 1">
        <mat-spinner [diameter]="30" class="ml-3"></mat-spinner>
    </mat-option>
    <ng-container *ngIf="autoCompleteResult">
        <mat-option *ngFor="let option of autoCompleteResult.collections" [value]="option.identifier.collectionSlug">
            <div class="d-flex">
                <div class="autocomplete-contents">
                    <div class="autocomplete-title">
                        {{ option.identifier.collectionSlug }}
                    </div>

                    <div class="autocomplete-description">{{ option.description }}</div>
                </div>
            </div>
        </mat-option>
    </ng-container>
</mat-autocomplete>
