<mat-card class="package-item my-3" (click)="goToComponent()">
    <mat-card-content>
        <div
            class="mb-2 package-privacy"
            *ngIf="this.item?.myPermissions?.includes('MANAGE')"
            [class.public-text]="item?.isPublic"
            [class.not-public-text]="!item?.isPublic"
        >
            {{ item?.isPublic ? "public" : "not public" }}
        </div>
        <div class="d-flex">
            <div class="d-flex align-items-start">
                <app-avatar class="align-top user-img" [user]="item.creator" [size]="40"> </app-avatar>
            </div>
            <div class="">
                <div class="package-identifier mb-2 ml-2">
                    {{ item.identifier.catalogSlug }}/{{ item.identifier.packageSlug }}
                </div>
                <div class="flex-1 ml-2">
                    <div class="package-description">
                        {{ truncatedDescription }}
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="package-chips pb-2">
            <mat-chip-list>
                <mat-chip *ngFor="let tag of tags">{{ tag }}</mat-chip>
            </mat-chip-list>
        </div> -->
        <!--<div class="package-actions pt-2">
            <div class="d-flex bd-highlight">
                 <div class="p-2 bd-highlight">
                    <button mat-fab>
                        <mat-icon>star_border</mat-icon>
                    </button>
                    <span class="px-2 content-nr">47</span>
                </div> 
                 <div class="p-2 bd-highlight">
                    <button mat-fab>
                        <mat-icon>collections</mat-icon>
                    </button>
                    <span class="px-2 content-nr">add to collection</span>
                </div> 
            </div>
        </div>-->
        <a class="app-outlined-button ctaButton" *ngIf="showCta" (click)="handleAction($event)">{{ ctaText }}</a>
    </mat-card-content>
</mat-card>
