@import "../../../styles/variables";

.package-item {
    cursor: pointer;
    box-shadow: $outer-shadow-1;
    background-color:$gray-7;
    transition: background-color 0.5s ease;

    &:hover {
        background-color:$white;
        transition: background-color 0.5s ease;
    }

    .package-identifier {
        font-family: $family-roboto-mono;
        font-size: $default-font;
        line-height: 26px;
        color: $color-info;
        letter-spacing: -0.28px;
        margin-bottom: 0px !important;
        margin-left: 10px;
    }

    .package-description {
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: $text-font;
        line-height: 18px;
        letter-spacing: -0.28px;
        color: $gray-2;
        max-height: 111px;
        overflow: hidden;
    }

    .ctaButton {
        position: absolute;
        top: 20px;
        right: 16px;
    }
}

@media (max-width: 992px) {
    .package-item {
        .package-identifier {
            font-size: $text-font;
        }
    }
}

@media (max-width: 575px) {
    .package-item {
        .package-identifier {
            font-size: $small-font;
        }
    }
}
