@import "../../../styles/variables";

.package-item {
    cursor: pointer;
    box-shadow: $outer-shadow-1;
    background-color: $gray-7;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: $white;
        transition: background-color 0.5s ease;
    }

    .package-identifier {
        font-family: $family-roboto-mono;
        font-size: ($default-font - 1);
        color: $color-info;
        margin-bottom: 0px !important;
    }

    .package-description {
        font-family: $family-roboto;
        font-style: $style-normal;
        font-weight: $weight-300;
        font-size: ($text-font - 1);
        color: $gray-1;
        max-height: 111px;
        overflow: hidden;
    }

    .ctaButton {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    .img-cover {
        margin-top: 6px;
        margin-right: 6px;
    }
}

@media (max-width: 992px) {
    .package-item {
        .package-identifier {
            font-size: $text-font;
        }
    }
}

@media (max-width: 575px) {
    .package-item {
        .package-identifier {
            font-size: $small-font;
        }
    }
}
