@import "../../../styles/variables";
@import "../../../styles/colors";

.package-item {
    cursor: pointer;
    border: 1px solid var(--gray-9-color);
    box-shadow: none;
    background-color: var(--gray-7-color);
    transition: background-color 0.5s ease;

    &:hover {
        background-color: var(--custom-secondary-color);
        transition: background-color 0.5s ease;
    }

    .package-identifier {
        font-family: $family-roboto-mono;
        font-size: ($default-font - 1);
        color: var(--info-color);
        margin-bottom: 2px !important;
    }

    .img-cover {
        margin-right: 6px;
    }

    .package-wrapper {
        max-width: 850px;
    }
}

@media (max-width: 1200px) {
    .package-wrapper {
        max-width: 650px !important;
    }
}

@media (max-width: 992px) {
    #packageItem {
        display: block !important;
    }
    .package-btn {
        padding-left: 47px;
        padding-top: 7px;
    }
    .package-item {
        .package-identifier {
            font-size: $text-font;
        }
    }
}

@media (max-width: 575px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .package-item {
        padding: 15px 10px;
        .package-identifier {
            margin: 1px 7px 5px 7px !important;
            line-height: 15px;
        }
        .img-cover {
            margin-top: 0px;
            margin-right: 0px;
        }
    }
}
