<mat-card class="package-item" (click)="goToComponent()">
    <div class="d-flex bd-highlight mt-1 package-item-header">
        <mat-card-header>
            <div mat-card-avatar class="d-flex">
                <!-- TODO: Store user profile image somewhere -->
                <img src="../../../assets/images/user-female.png" alt="User image card" class="author-avatar" />
                <!-- TODO: Validate that every package should be a published latest version -->
                <span class="category-slug">
                    {{ item.identifier.catalogSlug }}
                </span>
            </div>
        </mat-card-header>
        <div class="ml-auto bd-highlight">
            <div>Updated {{ lastActivityLabel }}</div>
            <div>2 downloaded</div>
        </div>
    </div>

    <mat-card-content>
        <div class="d-flex flex-row bd-highlight content-text">
            <div class="bd-highlight" style="width: 100%">
                <div class="content-title mb-2">
                    {{ item.displayName }}
                </div>
                <div class="content-description package-height">
                    {{ item.description }}
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
