<div class="container">
    <div class="row">
        <div class="col-lg-11 col-md-12" id="packageVersion">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 left-div">
                    <div class="d-flex bd-highlight mb-3">
                        <div class="py-2 bd-highlight package-details">3.4.0</div>
                        <div class="p-2 bd-highlight package-privacy">·</div>
                        <div class="py-2 bd-highlight package-privacy">public</div>
                        <div class="ml-auto p-2 bd-highlight package-details">Updated 5 min.</div>
                    </div>
                    <div class="package-info">
                        <div class="package-title">catalog-name/package-name</div>
                        <div class="div-table pb-2">
                            <table style="width: 100%">
                                <thead>
                                    <tr>
                                        <th scope="row" class="package-light-gray">current tags</th>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="package-dark-gray">1.0.4</th>
                                        <th scope="row" class="package-dark-gray">latest</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="package-light-gray">version history</td>
                                    </tr>
                                    <tr>
                                        <td class="package-dark-gray">1.0.4</td>
                                        <td class="package-dark-gray">3 months ago</td>
                                    </tr>
                                    <tr>
                                        <td class="package-dark-gray">1.0.4</td>
                                        <td class="package-dark-gray">5 months ago</td>
                                    </tr>
                                    <tr>
                                        <td class="package-dark-gray">1.0.4</td>
                                        <td class="package-dark-gray">1 year ago</td>
                                    </tr>
                                    <tr>
                                        <td class="package-dark-gray">1.0.4</td>
                                        <td class="package-dark-gray">2 year ago</td>
                                    </tr>
                                    <tr>
                                        <td class="package-dark-gray">1.0.4</td>
                                        <td class="package-dark-gray">4 year ago</td>
                                    </tr>
                                    <tr>
                                        <td class="package-dark-gray">1.0.4</td>
                                        <td class="package-dark-gray">6 year ago</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 right-div">
                    <div class="package-light-gray">Install</div>
                    <div class="rounded-div">
                        <span class="install-txt">> sample code?</span>
                    </div>

                    <div class="package-actions py-2">
                        <div class="d-flex bd-highlight py-2">
                            <div class="bd-highlight mr-4">
                                <button mat-fab class="person-menu" aria-label="Example icon button with a delete icon">
                                    <mat-icon>star_border</mat-icon>
                                </button>
                                <span class="px-2 content-nr">47</span>
                            </div>
                            <div class="bd-highlight">
                                <button mat-fab class="person-menu" aria-label="Example icon button with a delete icon">
                                    <mat-icon>collections</mat-icon>
                                </button>
                                <span class="px-2 content-nr">add to collection</span>
                            </div>
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col-lg-6 col-md-6 col-sm-4 mb-4">
                            <p class="package-light-gray">version</p>
                            <p class="package-dark-gray">3.4.0</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8 mb-4">
                            <p class="package-light-gray">license</p>
                            <p class="package-dark-gray">MIT</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-4 mb-4">
                            <p class="package-light-gray">unpacked size</p>
                            <p class="package-dark-gray">24.7 kB</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8 mb-4">
                            <p class="package-light-gray">data types</p>
                            <p class="package-dark-gray">5</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                            <p class="package-light-gray">issues</p>
                            <p class="package-dark-gray">4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
