<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="catalogsPage">
                <div class="catalogs-div panel-div">
                    <ng-container *ngIf="catalogState !== State.LOADING">
                        <div class="text-main-title col-md-12 no-pd-mobile">
                            {{ isCurrentUser ? "My Catalogs" : "Catalogs" }}
                        </div>
                        <p class="col-lg-8 no-pd-mobile">
                            <span *ngIf="isCurrentUser" class="text-dark-gray"
                                >Catalogs represent a single individual or organization. All data packages belong to one
                                and only one catalog.</span
                            >
                            <span *ngIf="!isCurrentUser && myCatalogs.length > 0" class="text-dark-gray"
                                >Catalogs created or contributed to by
                                <span style="font-weight: 500">{{ username }}</span>
                            </span>

                            <span *ngIf="!isCurrentUser && myCatalogs.length == 0" class="text-dark-gray">
                                Either <span style="font-weight: 500">{{ username }}</span> has not created any
                                catalogs, or you do not have permission to view any of the catalogs they have created.
                                <a target="_blank" href="/docs/catalogs">
                                    <span style="font-size: 13px"> Learn more about catalogs.</span>
                                </a>
                            </span>
                        </p>

                        <div
                            class="mb-4 col-md-12 no-pd-mobile"
                            *ngIf="catalogState !== State.LOADING && isCurrentUser"
                        >
                            <a class="app-outlined-button" (click)="createCatalog()">Create A Catalog</a>
                        </div>
                    </ng-container>

                    <div class="col-lg-10 col-md-12 no-pd-mobile">
                        <mat-card
                            class="box-line my-3"
                            *ngFor="let catalog of myCatalogs"
                            [routerLink]="'/' + catalog.identifier.catalogSlug"
                        >
                            <mat-card-content>
                                <div class="d-flex bd-highlight d-flex align-items-top">
                                    <div class="p-1 pl-2 flex-grow-1 bd-highlight align-self-center">
                                        <div
                                            [class.public-text]="catalog?.isPublic"
                                            [class.not-public-text]="!catalog?.isPublic"
                                        >
                                            {{ catalog.isPublic ? "public" : "not public" }}
                                        </div>
                                        <a class="box-name">{{ catalog.displayName }}</a>
                                        <div class="text-light-gray">{{ catalog.description }}</div>
                                    </div>
                                    <div class="p-1 bd-highlight action-div text-center">
                                        <div class="text-light-gray mb-2">
                                            {{ catalogPermission(catalog) }} Permission
                                        </div>

                                        <button
                                            class="app-outlined-button mr-1"
                                            [class.disabled]="!canModifyCatalog(catalog)"
                                            (click)="editCatalog($event, catalog)"
                                        >
                                            Edit
                                        </button>
                                        <button
                                            class="app-outlined-button"
                                            [class.disabled]="!canModifyCatalog(catalog)"
                                            (click)="deleteCatalog($event, catalog)"
                                        >
                                            <span class="delete-txt">Delete</span>
                                        </button>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <div class="loading-container" *ngIf="catalogState === State.LOADING">
                            <mat-spinner [diameter]="40"></mat-spinner>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #deleteMyUsercatalog>
                <h2 matDialogTitle>Cannot delete your user catalog</h2>
                <mat-dialog-content>
                    <p>You can not delete the catalog that's the same as your username.</p>
                </mat-dialog-content>
                <mat-dialog-actions align="end">
                    <button mat-button matDialogClose>Close</button>
                </mat-dialog-actions>
            </ng-template>
        </div>
    </div>
</div>
