#catalogsPage {
    .catalogs-div {
        margin-top: 30px;

        .content-text {
            margin-bottom: 15px;
        }
    }

    .mat-header-row {
        background-color: inherit;
    }
    .panel-div {
        width: 100%;

        table {
            width: 100%;
        }
    }

    .loading-container {
        display: flex;
        justify-content: center;
        padding: 20px 0 40px;
        width: 100%;
    }

    .mat-column-actions app-button {
        display: inline-block;
        width: 80px;
        margin-right: 10px;
    }
}
