@import "../../../../styles/variables";
@import "../../../../styles/colors";

#catalogsPage {
    .catalogs-div {
        width: 100%;
        margin-top: 30px;

        .loading-container {
            display: flex;
            justify-content: center;
            padding: 20px 0 40px;
            width: 100%;
        }
    }
}

.mat-tooltip-trigger {
    background: transparent;
    border: none;
}

@media (max-width: 768px) {
    .action-div {
        display: flex;
        flex-direction: column;
        a {
            width: 112px;
            margin-top: 6px;
            text-align: center;
        }
    }
}

@media (max-width: 576px) {
    #catalogsPage {
        .catalogs-div {
            margin-top: 15px;
        }
    }
}
