#catalogsPage {
    .catalogs-div {
        width: 100%;
        margin-top: 30px;

        table {
            width: 100%;
        }

        .loading-container {
            display: flex;
            justify-content: center;
            padding: 20px 0 40px;
            width: 100%;
        }

        .mat-header-row {
            background-color: inherit;
        }
    }
}
