<div id="packageInfo">
    <div *ngIf="package?.latestVersion?.identifier != null">
        <div class="row pb-3 pt-1 mb-4 share-data">
            <div class="col-12 three-btn-div" style="display: flex">
                <div class="px-1 d-flex flex-column bd-highlight">
                    <button class="app-outlined-button" (click)="downloadPackage()">
                        <a>Download</a>
                    </button>
                </div>
                <div
                    class="px-1 d-flex flex-column bd-highlight share-btn"
                    [matTooltip]="
                        'This package is not public, and you do not have the Manage permission for this package'
                    "
                    matTooltipClass="disabled-tooltip"
                    [matTooltipDisabled]="canShare()"
                >
                    <button
                        mat-raised-button
                        style="pointer-events: all !important"
                        class="app-outlined-button"
                        (click)="sharePackage()"
                        [disabled]="!canShare()"
                    >
                        <a>Share</a>
                    </button>
                </div>
                <div class="px-1 d-flex flex-column bd-highlight" *ngIf="currentUser">
                    <button class="app-outlined-button" (click)="addToCollection($event)">
                        <a>Add To Collection</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-md-block pb-3">
            <div class="d-flex justify-content-between">
                <div class="text-light-gray">click to copy fetch command</div>
            </div>
            <div class="d-flex bd-highlight copy-wrapper" (click)="copyCommand()" style="cursor: pointer">
                <div class="bd-highlight copy-input">
                    <span class="copy-txt">{{ generatedFetchCommand }}</span>
                </div>
                <div class="ml-auto bd-highlight">
                    <button class="copy-btn">
                        <a><em class="far fa-copy"></em></a>
                    </button>
                </div>
            </div>
            <a class="doc-link" (click)="openWizard()"> How to install the datapm client </a>
        </div>

        <div class="row mb-3">



            <div class="col-6 col-sm-6 mb-3">
                <p class="text-light-gray">version</p>
                <p class="text-dark-gray">
                    {{ package?.latestVersion.identifier | version }}
                </p>
            </div>


            <div class="col-6 col-sm-6 mb-3" *ngIf="(packageFile | packageFileUpdateMethod) !== ''">
                <p class="text-light-gray">update method</p>
                <p class="text-dark-gray">
                    {{ packageFile | packageFileUpdateMethod }}
                </p>
            </div>

            <div class="col-6 mb-3">
                <p class="text-light-gray">record count</p>
                <p class="text-dark-gray">{{ getRecordCount(packageFile) }} {{ packageUnit }} records</p>
            </div>

            <div class="col-6 mb-3">
                <p class="text-light-gray">last refreshed</p>
                <p class="text-dark-gray">
                    {{ package?.latestVersion?.updatedAt | timeAgo }}
                </p>
                <a class="doc-link" (click)="refreshData()" *ngIf="package?.myPermissions.includes(Permission.EDIT)">refresh data</a>
            </div>
            <div class="col-6 mb-3" *ngIf="packageSizeBytes > 0">
                <p class="text-light-gray">unpacked size</p>
                <p class="text-dark-gray">{{ packageFile | packageSize }}</p>
            </div>

            <div class="col-12 mb-3"  *ngIf="packageFile?.website">
                <p class="text-light-gray">website</p>
                <p class="text-dark-gray text-overflow-elipses">
                    <a class="color-info" target="_blank" href="{{ packageFile?.website }}">{{
                        packageFile?.website
                    }}</a>
                </p>
                <a *ngIf="canManage()" class="text-light-gray doc-link edit-link" (click)="editLink()">(edit link)</a>
            </div>
        </div>
        <div class="row" *ngIf="packageFile?.contactEmail">
            <div class="col-12 mb-4">
                <p class="text-light-gray">contact</p>
                <p class="text-dark-gray text-overflow-elipses">
                    <a href="mailto:{{ packageFile?.contactEmail }}">{{ packageFile?.contactEmail }}</a>
                </p>
            </div>
        </div>

        <div *ngIf="package.catalog.unclaimed" class="text-dark-gray pb-3">
            This listing is not managed by DataPM. Are you the data originator?
            <a href="/docs/unclaimed-listings">Click here to learn more.</a>
        </div>
    </div>
</div>
