<div>
    <div *ngIf="package?.latestVersion?.identifier != null">
        <div class="d-none d-md-block pb-3">
            <div class="d-flex justify-content-between">
                <div class="package-light-gray">click to copy fetch command</div>
            </div>
            <div class="rounded-div mb-2" (click)="copyCommand()">
                <span class="install-txt">> {{ generatedFetchCommand }}</span>
            </div>
            <a
                target="_blank"
                class="doc-link"
                href="/docs/command-line-client/#install-the-datapm-command-line-client"
            >
                How to install datapm client
            </a>
        </div>

        <!-- <div class="package-actions py-2">
                <div class="d-flex bd-highlight py-2">
                    <div class="bd-highlight mr-4 d-flex align-items-center">
                        <button mat-fab class="person-menu" aria-label="Example icon button with a delete icon">
                            <mat-icon>star_border</mat-icon>
                        </button>
                        <span class="px-2 content-nr">47</span>
                    </div>
                    <div class="bd-highlight d-flex align-items-center">
                        <button mat-fab class="person-menu" aria-label="Example icon button with a delete icon">
                            <mat-icon>collections</mat-icon>
                        </button>
                        <span class="px-2 content-nr">add to collection</span>
                    </div>
                </div>
            </div> -->

        <div class="row">
            <div class="col-6 col-sm-6">
                <p class="package-light-gray">version</p>
                <p class="package-dark-gray">
                    {{ package?.latestVersion.identifier | version }}
                </p>
            </div>
            <div class="col-6">
                <p class="package-light-gray">record count</p>
                <p class="package-dark-gray">{{ getRecordCount(packageFile) | number }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-2">
                <p class="package-light-gray">last refreshed</p>
                <p class="package-dark-gray">
                    {{ package?.latestVersion?.createdAt | timeAgo }}
                </p>
            </div>
            <div class="col-6 mb-2">
                <p class="package-light-gray">unpacked size</p>
                <p class="package-dark-gray">{{ packageFile?.schemas | packageSize }}</p>
            </div>
        </div>

        <div class="row" *ngIf="packageFile?.website">
            <div class="col-12 mb-2">
                <p class="package-light-gray">website</p>
                <p class="package-dark-gray text-overflow-elipses">
                    <a target="_blank" href="{{ packageFile?.website }}">{{ packageFile?.website }}</a>
                </p>
            </div>
        </div>
        <div class="row" *ngIf="packageFile?.contactEmail">
            <div class="col-12 mb-4">
                <p class="package-light-gray">contact</p>
                <p class="package-dark-gray text-overflow-elipses">
                    <a href="mailto:{{ packageFile?.contactEmail }}">{{ packageFile?.contactEmail }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
