@import "../../../../styles/variables";
@import "../../../../styles/colors";

#packageInfo {
    .share-data {
        border-bottom: 1px solid var(--gray-9-color);

        .three-btn-div {
            justify-content: flex-end;
        }
    }

    .share-btn {
        ::ng-deep .mat-raised-button {
            box-shadow: none;
            line-height: 10px;
            padding: 9px 10px;
            border: 1px solid var(--gray-9-color);
        }
    }

    .edit-link {
        float: left;
        margin-top: -4px;
    }

    .doc-link {
        font-size: $small-font;
        cursor: pointer;
        line-height: 18px;
        font-weight: $weight-400;
        color: var(--info-color);

        &:hover {
            text-decoration: none;
        }
    }
}

@media (max-width: 768px) {
    .d-md-block {
        display: none !important;
    }
    #packageInfo {
        padding: 0px 12px;
        .share-data {
            border-bottom: none;
            margin-bottom: 0px !important;
            .three-btn-div {
                justify-content: flex-start;
                padding-left: 10px;
            }
        }
    }
}
