@import "../../../../styles/variables";

#packageInfo {
    .share-data {
        border-bottom: 1px solid #bdbdbd54;

        .three-btn-div {
            justify-content: flex-end;
        }
    }

    .share-btn {
        ::ng-deep .mat-raised-button {
            box-shadow: none;
            line-height: 13px;
            padding: 6px 10px;
            border: 1px solid #ddd;
        }
    }

    .doc-link {
        font-size: $small-font;
        cursor: pointer;
        line-height: 18px;
    }

    .rounded-div {
        box-shadow: $inner-shadow-1;
        background-color: $white;
        border-radius: 24px;
        padding: 8px 15px;
        color: $black;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            background-color: $gray-10;
        }
        &:active {
            background-color: $gray-9;
        }

        .install-txt {
            font-family: $family-roboto-mono;
            font-style: $style-normal;
            font-weight: $weight-400;
            font-size: $text-font;
            line-height: 18px;
            letter-spacing: -0.28px;
            color: $gray-1;
        }
    }
}

@media (max-width: 768px) {
    .d-md-block {
        display: none !important;
    }
    #packageInfo {
        padding-left: 8px;
        .share-data {
            border-bottom: none;
            margin-bottom: 0px !important;
            .three-btn-div {
                justify-content: flex-start;
                padding-left: 10px;
            }
        }
    }
}
