@import "../../../../styles/variables";

#editAccount {
    position: relative;
    min-width: 800px;
    top: -14px;

    ::ng-deep.mat-checked {
        .mat-slide-toggle-bar {
            background-color: $color-1;
        }

        .mat-slide-toggle-thumb {
            background-color: $white;
        }
    }

    .mat-dialog-content {
        border-top: none;
        .dialog-content-text {
            position: relative;

            .user-img {
                display: block;
                margin-left: 30px;
                width: 100px;
                height: 55px;
                transform: translateY(-45px);
            }

            .small-paragraph {
                margin-bottom: 3px;
                font-family: $family-roboto-mono;
                font-style: $style-normal;
                font-weight: $weight-400;
                font-size: $xsmall-font;
                line-height: 13px;
                text-align: right;
                letter-spacing: -0.28px;
                padding-right: 24px;
                color: $gray-4;
            }
        }
    }

    .mat-dialog-actions {
        min-height: unset;
    }
}

@media (max-width: 1076px) {
    #editAccount {
        min-width: 600px;
    }
}

@media (max-width: 992px) {
    #editAccount {
        min-width: 400px;
    }
}

@media (max-width: 768px) {
    .div-question {
        padding-left: 0px !important;
    }
}

@media (max-width: 576px) {
    #editAccount {
        min-width: 200px;
    }
}
