@import "../../../../styles/variables";
@import "../../../../styles/colors";

#editAccount {
    position: relative;
    min-width: 800px;

    ::ng-deep.mat-checked {
        .mat-slide-toggle-bar {
            background-color: $green-1-color;
        }

        .mat-slide-toggle-thumb {
            background-color: $secondary-color;
        }
    }

    .mat-dialog-content {
        border-top: none;
        max-height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;

        app-cover {
            img {
                min-width: 100%;
                width: unset;
                height: 100%;
                object-fit: cover;
            }
        }

        .dialog-content-text {
            position: relative;
        }
    }

    .user-img {
        display: block;
        margin-left: 30px;
        width: 100px;
        height: 55px;
        transform: translateY(-45px);
    }

    .small-paragraph {
        margin-bottom: 3px;
        font-family: $family-roboto-mono;
        font-style: $style-normal;
        font-weight: $weight-400;
        font-size: $xsmall-font;
        line-height: 13px;
        text-align: right;
        letter-spacing: -0.28px;
        padding-right: 24px;
        color: var(--gray-4-color);
    }
}

@media (max-width: 1076px) {
    #editAccount {
        min-width: 600px;
    }
}

@media (max-width: 992px) {
    #editAccount {
        min-width: 400px;
    }
}

@media (max-width: 768px) {
    #editAccount {
        .div-question {
            padding-left: 0px !important;
        }
        .slide-right {
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            position: absolute;
            float: right;
            right: 0px;
        }
        .small-paragraph {
            padding-right: 0px;
        }
    }
}

@media (max-width: 576px) {
    #editAccount {
        min-width: 200px;
        .user-img {
            height: 20px;
            margin-left: 10px;
            ::ng-deep.avatar {
                width: 70px !important;
                height: 70px !important;
            }
        }
    }
}
