.loading-container {
    display: flex;
    justify-content: center;
    padding: 20px 0 40px;
    width: 100%;
}

.big-div-package {
    margin-top: 30px;
}

.section-description {
    padding: 0px 0px 10px 0px;
    position: relative;
}
