.loading-container {
    display: flex;
    justify-content: center;
    padding: 20px 0 40px;
    width: 100%;
}

.big-div-package {
    margin-top: 30px;
}

@media (max-width: 576px) {
    .big-div-package {
        margin-top: 15px;
    }
}
